<div class="contract-preview-tabs" ng-init="contract = ngPopUp.params.createdContract; contract.showedTab = 'info'">
    <div class="contract-preview-one-tab"
         ng-click="contract.showedTab = 'info'"
         ng-class="{'active': contract.showedTab == 'info'}">
        <span>Preview</span>
    </div>
    <div class="contract-preview-one-tab"
         ng-click="contract.showedTab = 'code'"
         ng-class="{'active': contract.showedTab == 'code'}">
        <span>Source</span>
    </div>
    <div class="contract-preview-one-tab"
         ng-click="contract.showedTab = 'description'"
         ng-class="{'active': contract.showedTab == 'description'}">
        <span>Description</span>
    </div>
</div>

<div ng-if="contract.showedTab == 'code'" class="contract-preview-code">
    <div class="github-link">
        <a href="https://github.com/MyWishPlatform/ico-crowdsale" target="_blank">https://github.com/MyWishPlatform/ico-crowdsale</a>
    </div>
</div>

<div ng-if="contract.showedTab == 'description'" class="contract-preview-code">
    <h1>Description</h1>
</div>

<div ng-if="contract.showedTab == 'info'" class="contract-preview-wrapper" ng-init="details = contract.contract_details">
    <div class="contract-status-information" ng-if="contract.stateValue">
        <br/><br/>
        <div class="contract-preview-status-block">
            <span class="contract-name-block">
                <div class="contract-name-text" ng-attr-title="{{contract.name}}">{{ contract.name || 'Not defined'}}</div>
            </span>
            <div class="contract-status-buttons">
                <!-- Payment instruction button -->
                <a ui-sref="main.contracts.preview.pay({id: ngPopUp.params.createdContract.id})"
                   ng-pop-up="{
                            template: '/templates/popups/pay-instruction.html',
                            params: ngPopUp.params,
                            actions: ngPopUp.actions,
                            onClose: ngPopUp.onClose
                        }"
                   ng-click="closeCurrentPopup(true)"
                   ng-if="(contract.stateValue == 1) || (contract.stateValue == 2)"
                   class="btn btn-transparent">
                    <span>Pay</span>
                </a>

                <!-- Refresh status -->
                <a ng-if="contract.stateValue == 4"
                   ui-sref="main.contracts.preview.finalize({id: contract.id})"
                   ng-pop-up="{
                            template: '/templates/popups/finalize-instruction.html',
                            params: ngPopUp.params,
                            actions: ngPopUp.actions,
                            onClose: ngPopUp.onClose
                        }"
                   ng-click="closeCurrentPopup(true)"
                   class="btn btn-transparent">
                    <span>Finalize</span>
                </a>&nbsp;

                <!-- Refresh status -->
                <button class="btn only-icon" ng-click="ngPopUp.actions.refreshContract(contract)" ng-if="!((ngPopUp.params.createdContract.stateValue == 6) || (ngPopUp.params.createdContract.stateValue == 7))">
                    <i class="icon-refresh-new"></i>
                </button>
                <!-- Delete contract button -->
                <button class="btn only-icon" type="button"
                        ng-if="(contract.stateValue == 1) || (contract.stateValue == 2) || (contract.stateValue == 5) || (contract.stateValue == 6) || (contract.stateValue == 7)"
                        ng-pop-up="{
                                template: '/templates/popups/delete-contract.html',
                                params: ngPopUp.params.createdContract,
                                class: 'deleting-contract',
                                actions: ngPopUp.actions,
                                onClose: updateList
                            }">
                    <i class="icon-trash"></i>
                </button>
            </div>
            <div class="contract-status-name" ng-class="'contract-status-' + contract.stateValue">
                <div class="contract-status-text">
                    <span>{{contract.stateTitle}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="contract-preview-content">

        <div class="grid-row contract-preview-info-block min-padding with-border"
             ng-if="(contract.stateValue == 4) && (details.eth_contract_crowdsale.address)">
            <div class="grid-cell grid-cell-1">
                <div class="form-control-label">Crowdsale contract (All contributions shall be sent to this address)</div>
                <br class="show-ls"/>
                <span class="identicon-container">
                    <img class="identicon-image" ng-src="{{$root.generateIdenticon(details.eth_contract_crowdsale.address)}}"/>
                </span>
                <div class="contract-wallet-information-wallet">
                    <a href="https://etherscan.io/address/{{details.eth_contract_crowdsale.address}}"
                       target="_blank"
                       ng-bind="details.eth_contract_crowdsale.address"></a>
                </div>
            </div>
        </div>
        <div class="grid-row contract-preview-info-block min-padding with-border"
             ng-if="(contract.stateValue == 4) && details.eth_contract_token.address">
            <div class="grid-cell grid-cell-1">
                <div class="form-control-label">Token address</div>
                <br class="show-ls"/>
                <span class="identicon-container">
                    <img class="identicon-image" ng-src="{{$root.generateIdenticon(details.eth_contract_token.address)}}"/>
                </span>
                <div class="contract-wallet-information-wallet">
                    <a href="https://etherscan.io/address/{{details.eth_contract_token.address}}"
                       target="_blank"
                       ng-bind="details.eth_contract_token.address"></a>
                </div>
            </div>
        </div>

        <!--- Base token info --->
        <div class="grid-row contract-preview-info-block with-border">
            <div class="grid-cell grid-cell-1-3 grid-cell-s-1-2 grid-cell-ls-1">
                <div class="contract-preview-base-font">
                    <span class="contract-preview-grey-font-color">Token name:</span>
                    {{ ngPopUp.params.createdContract.contract_details.token_name }}
                </div>
            </div>
            <div class="clearfix show-ls"><br/></div>
            <div class="grid-cell grid-cell-1-3 grid-cell-s-1-2 grid-cell-ls-1">
                <div class="contract-preview-base-font">
                    <span class="contract-preview-grey-font-color">Token symbol:</span>
                    {{ ngPopUp.params.createdContract.contract_details.token_short_name }}
                </div>
            </div>
            <div class="clearfix show-s"><br/></div>
            <div class="grid-cell grid-cell-1-3 grid-cell-s-1-2 grid-cell-ls-1">
                <div class="contract-preview-base-font">
                    <span class="contract-preview-grey-font-color">Decimals:</span>
                    {{ ngPopUp.params.createdContract.contract_details.decimals }}
                </div>
            </div>
        </div>

        <!-- ICO info -->
        <div class="contract-preview-fieldset contract-form-fieldset-grey">
            <div class="grid-row contract-preview-info-block">
                <div class="grid-cell grid-cell-2-7 grid-cell-s-1">
                    <div class="form-control-label">
                        <i class="icon-bitcoin-exchange-rate-symbol form-control-label-icon"></i>
                        Token rate
                    </div>
                    <div class="contract-preview-base-font contract-preview-base-value">
                        {{details.rate|separateNumber}}
                        {{details.token_short_name}} = 1ETH
                    </div>
                </div>
                <div class="clearfix show-s"><br/></div>
                <div class="grid-cell grid-cell-2-7 grid-cell-s-1-2 grid-cell-ls-1">
                    <div class="form-control-label">
                        <i class="icon-hard-cap form-control-label-icon"></i>
                        Hard cap tokens
                    </div>
                    <div class="contract-preview-base-font contract-preview-base-value">
                        <div class="contract-preview-base-value-string">
                            {{details.hard_cap|separateNumber}}
                            {{details.token_short_name}}
                        </div>
                        <div class="contract-preview-grey-font-color contract-preview-base-value-string">
                            {{details.hard_cap / details.rate|separateNumber:2}} ETH
                        </div>
                    </div>
                </div>
                <div class="clearfix show-ls"><br/></div>
                <div class="grid-cell grid-cell-2-7 grid-cell-s-1-2 grid-cell-ls-1">
                    <div class="form-control-label">
                        <i class="icon-soft-cap form-control-label-icon"></i>
                        Soft cap tokens
                    </div>
                    <div class="contract-preview-base-font contract-preview-base-value">
                        <div class="contract-preview-base-value-string">
                            {{details.soft_cap|separateNumber}}
                            {{details.token_short_name}}
                        </div>
                        <div class="contract-preview-grey-font-color contract-preview-base-value-string">
                            {{details.soft_cap / details.rate|number:2}} ETH
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-row contract-preview-info-block">
                <div class="grid-cell grid-cell-2-7 grid-cell-s-1-2 grid-cell-ls-1">
                    <div class="form-control-label">
                        <i class="icon-waiting-2 form-control-label-icon"></i>
                        Start date
                    </div>
                    <div class="contract-preview-base-font contract-preview-base-value">
                        <div class="contract-preview-base-value-string">
                            {{details.start_date * 1000 | date : 'yyyy-MM-dd&nbsp;&nbsp;h:mm a'}}
                        </div>
                    </div>
                </div>
                <div class="clearfix show-ls"><br/></div>
                <div class="grid-cell grid-cell-2-7 grid-cell-s-1-2 grid-cell-ls-1">
                    <div class="form-control-label">
                        <i class="icon-waiting-1 form-control-label-icon"></i>
                        Finish date
                    </div>
                    <div class="contract-preview-base-font contract-preview-base-value">
                        <div class="contract-preview-base-value-string">
                            {{details.stop_date * 1000 | date : 'yyyy-MM-dd&nbsp;&nbsp;h:mm a'}}
                        </div>
                    </div>
                </div>
                <div class="clearfix show-s"><br/></div>
                <div class="grid-cell grid-cell-1-5 grid-cell-s-1-2 grid-cell-ls-1">
                    <div class="form-control-label">
                        <i class="icon-padlock form-control-label-icon"></i>
                        Transferable
                    </div>
                    <div class="contract-preview-base-font contract-preview-base-value">
                        <div class="contract-preview-base-value-string te">
                            <i ng-class="{'icon-check_circle': details.is_transferable_at_once, 'icon-cancel': !details.is_transferable_at_once}"></i>
                            <span ng-if="details.is_transferable_at_once">YES</span>
                            <span ng-if="!details.is_transferable_at_once">NO</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix show-ls"><br/></div>
                <div class="grid-cell grid-cell-1-5 grid-cell-s-1-2 grid-cell-ls-1">
                    <div class="form-control-label">
                        <i class="icon-settings form-control-label-icon"></i>
                        Finalize auto
                    </div>
                    <div class="contract-preview-base-font contract-preview-base-value">
                        <div class="contract-preview-base-value-string">
                            <i ng-class="{'icon-check_circle': details.platform_as_admin, 'icon-cancel': !details.platform_as_admin}"></i>
                            <span ng-if="details.platform_as_admin">YES</span>
                            <span ng-if="!details.platform_as_admin">NO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Holders info -->
        <div class="contract-preview-info-block">
            <div class="form-control-label">
                <i class="icon-wallet form-control-label-icon"></i>
                Investments Storage Address
            </div>
            <br class="show-ls"/>
            <div class="contract-preview-base-value float-left contract-preview-base-font hide-ls"></div>

            <span class="identicon-container">
                <img class="identicon-image" ng-src="{{$root.generateIdenticon(details.admin_address)}}"/>
            </span>
            <div class="contract-wallet-information-wallet">
                <b ng-bind="details.admin_address"></b>
            </div>
        </div>

        <div class="contract-preview-info-block" ng-if="details.token_holders.length">
            <div class="contract-preview-holders-list">

                <div class="contract-preview-holders-item grid-row"
                     ng-repeat="holder in details.token_holders">
                    <div class="grid-cell grid-cell-1">
                        <div class="form-control-label bold">Address</div>

                        <br class="show-ls"/>
                        <div class="contract-preview-base-value float-left contract-preview-base-font hide-ls"></div>

                        <span class="identicon-container">
                            <img class="identicon-image" ng-src="{{$root.generateIdenticon(holder.address)}}"/>
                        </span>
                        <div class="contract-wallet-information-wallet">
                            <span ng-bind="holder.address"></span>
                        </div>

                    </div>
                    <div class="clearfix"><br/></div>
                    <div class="grid-cell grid-cell-2-5 grid-cell-ps-1-2 grid-cell-vs-1">
                        <div class="form-control-label bold">Name</div>
                        <div class="form-control-preview-value">{{holder.name || '-'}}</div>
                    </div>
                    <div class="clearfix show-vs"><br/></div>
                    <div class="grid-cell grid-cell-2-5 grid-cell-ps-1-2 grid-cell-vs-1">
                        <div class="form-control-label bold">Token</div>
                        <div class="form-control-preview-value" ng-bind="holder.amount|separateNumber"></div>
                    </div>
                    <div class="clearfix show-ps"><br/></div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1">
                        <div class="form-control-label bold">Frozen till</div>
                        <div class="form-control-preview-value">
                            {{holder.freeze_date ? (holder.freeze_date * 1000 | date : 'yyyy-MM-dd') : '-'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contract-preview-info-block">
            <div class="form-control-label">
                <i class="icon-distribution form-control-label-icon"></i>
                Token distribution
            </div>

            <div class="grid-row">
                <div class="grid-cell grid-cell-1">
                    <div class="form-control-label">Total supply: {{contract.totalSupply.tokens|separateNumber}} {{details.token_short_name}} ({{contract.totalSupply.eth|separateNumber}} ETH)</div>
                    <div class="form-control-description one-line without-padding">
                        <span>Max possible emission of token, no more tokens can be minted.</span>
                    </div>
                </div>
                <div class="grid-cell grid-cell-4-7 grid-cell-ps-1">
                    <div class="chart-container" style="height: 240px"
                         ng-chart
                         ng-chart-data="ngPopUp.params.createdContract.chartData"
                         ng-chart-options="ngPopUp.params.createdContract.chartOptions"></div>
                </div>
                <div class="grid-cell grid-cell-3-7 grid-cell-ps-1">
                    <div class="chart-legend">
                        <div class="chart-legend-item" ng-repeat="chartDataItem in contract.chartData">
                            <span class="chart-legend-item_color" style="background-color: {{chartDataItem.color}}"></span>
                            <span class="chart-legend-item_name" ng-attr-title="{{chartDataItem.address}}">{{chartDataItem.name || chartDataItem.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contract-preview-fieldset contract-form-fieldset-grey" ng-if="!ngPopUp.params.createdContract.state">
            <div class="contract-preview-info-block">
                <div class="costs-info-block">
                    <span class="costs-info-title">Contract`s cost: </span>
                    <span class="costs-info-value">{{ngPopUp.params.createdContract.cost}}</span>
                    <span class="costs-info-currency">ETH</span>
                </div>

                <div class="grid-row">
                    <div class="grid-cell grid-cell-1-3 grid-cell-sm-1-2 grid-cell-vs-1 grid-cell-ps-2-3 ">
                        <div class="form-control" ng-init="ngPopUp.params.createdContract.name = 'MyCrowdSale' + ($root.currentUser.contracts + 1)">
                            <label class="form-control-label">Enter contract name:</label>
                            <input type="text" class="form-control-input small-input" ng-model="ngPopUp.params.createdContract.name"/>
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-2-3 grid-cell-sm-1-2 grid-cell-vs-1 grid-cell-ps-2-3 ">
                        <div class="form-control">
                            <label class="form-control-label">&nbsp;</label>
                            <button class="btn btn-submit mobile-width-100"
                                    ng-click="ngPopUp.params.createContract()" ng-if="!$root.currentUser.is_ghost">
                                <span>Create and pay</span>
                            </button>

                            <button class="btn btn-submit mobile-width-100" ng-pop-up="{
                                class: 'deleting-contract',
                                template: '/templates/popups/ghost-user-alarm.html',
                                actions: {
                                    createContract: ngPopUp.params.createContract,
                                    goToRegistration: ngPopUp.params.goToRegistration,
                                    goToLogin: ngPopUp.params.goToLogin
                                }
                            }" ng-if="$root.currentUser.is_ghost">
                                <span>Create and pay</span>
                            </button>

                            <button class="btn btn-back mobile-width-100 with-icon initial-padding"
                                    ng-click="closeCurrentPopup()">
                                <i class="icon-edit"></i>
                                <span>Edit</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
