
<div class="contract-preview-information">
    <div class="contract-status-information" ng-if="ngPopUp.params.createdContract.stateValue">
        <div class="contract-preview-status-block">
                <span class="contract-name-block">
                    <div class="contract-name-text">Pizza</div>
                </span>

            <div class="contract-status-buttons">

                <!-- Refresh status -->
                <button class="btn only-icon" ng-click="ngPopUp.actions.refreshContract(ngPopUp.params.createdContract)" ng-if="!((ngPopUp.params.createdContract.stateValue == 6) || (ngPopUp.params.createdContract.stateValue == 7))">
                    <i class="icon-refresh"></i>
                </button>
            </div>

            <div class="contract-status-name" ng-class="'contract-status-' + ngPopUp.params.createdContract.stateValue">
                <div class="contract-status-text">
                    <span>{{ngPopUp.params.createdContract.stateTitle}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="contract-shopping-info">
        <div class="contract-shopping-timer">
            {{ngPopUp.params.createdContract.timer}}
        </div>
        <div class="contract-shopping-code">
            <div class="contract-shopping-code-title">
                Сообщите код курьеру:
            </div>
            <div class="contract-shopping-code-value">
                {{ ngPopUp.params.createdContract.contract_details.code }}
            </div>
        </div>
    </div>
    <div class="contract-wallets-information">
        <div class="contract-wallets-information-one-block" ng-if="ngPopUp.params.createdContract.address">
            <span class="identicon-container">
                <img ng-src="{{$root.generateIdenticon(ngPopUp.params.createdContract.address)}}"/>
            </span>
            <div class="contract-wallet-information-title">Contract address:</div>
            <div class="contract-wallet-information-wallet">
                <a ng-attr-href="{{'https://etherscan.io/address/' + ngPopUp.params.createdContract.address}}"
                   target="_blank"
                   ng-bind="ngPopUp.params.createdContract.address"></a>
                <button class="instruction-for-copy-button"
                        clipboard supported="supported"
                        ng-class="{copied: ngPopUp.params.createdContract.copied['address']}"
                        text="ngPopUp.params.createdContract.address"
                        on-copied="ngPopUp.params.successCodeCopy(ngPopUp.params.createdContract, 'address')" on-error="ngPopUp.params.failCodeCopy(err)">
                    <i class="icon-content_copy"></i>
                </button>
            </div>
        </div>

        <div class="contract-wallets-information-one-block">
            <i class="icon-wallet contract-information-icon"></i>
            <div class="contract-wallet-information-title">Send fund to</div>
            <span class="identicon-container">
                    <img class="identicon-image" ng-src="{{$root.generateIdenticon(ngPopUp.params.createdContract.contract_details.user_address)}}"/>
                </span>
            <div class="contract-wallet-information-wallet" ng-bind="ngPopUp.params.createdContract.contract_details.user_address"></div>
        </div>

        <div class="contract-wallets-information-one-block">
            <!--<i class="icon-in-wallet contract-information-icon"></i>-->
            <div class="contract-wallet-information-title">Заказ совершен на сайте <a class="" href="http://delivery.mywish.io" target="_blank">delivery.mywish.io</a></div>
            <div class="contract-wallet-information-float contract-wallet-information">

            </div>
        </div>
    </div>
    <div class="contract-wallets-information clearfix">
        <div class="contract-wallets-information-one-block contract-dates-information">
            <i class="icon-conditions contract-information-icon"></i>
            <div class="contract-information-dates-content">
                <div class="contract-wallet-information-table">
                    <div class="contract-wallet-information-row">
                        <div class="contract-wallet-information-cell contract-wallet-information-title">Outcome&nbsp;</div>
                        <div class="contract-wallet-information-cell contract-wallet-information-date">
                            <span>Due date</span>
                            {{ngPopUp.params.createdContract.contract_details.dueDate|date:'yyyy-MM-dd HH:mm'}}
                        </div>
                        <div class="contract-wallet-information-cell contract-wallet-information-date">
                            <span>Cost&nbsp;</span>
                            <strong>{{ngPopUp.params.createdContract.fullCost }} ETH</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
