<svg style="width: 100%;" width="1000px" height="200px">
    <polygon ng-repeat="bonus in amountBonusChartData"
             ng-attr-points="{{bonus.left + ',200 ' + bonus.left + ',' + (200 - bonus.height) + ' ' + bonus.width + ',' + (200 - bonus.height) + ' ' + bonus.width + ',200'}}"
             ng-attr-fill="{{'rgba('+bonus.color[0]+','+bonus.color[1]+','+bonus.color[2]+', 0.6)'}}" stroke-width="1" ng-attr-stroke="{{'rgb('+bonus.color[0]+','+bonus.color[1]+','+bonus.color[2]+')'}}"/>

</svg>