<div class="form-control-input-container">
    <input id="{{ngEosAccountOptions.name}}" type="text"
           ng-eos-account-validator
           placeholder="qwertyuiopas"
           pattern="[a-zA-Z1-5_.]{12}"
           maxlength="12"
           ng-disabled="ngEosAccountOptions.disabled"
           ng-model="ngModel"
           name="{{ngEosAccountOptions.name}}"
           required
           ng-change="checkAddress()"
           class="form-control-input lowercase"/>
    <div class="lds-dual-ring" ng-if="field.$error['not-checked']"></div>
    <div class="input-after dynamic-info">{{field.$viewValue.length||0}}/12</div>


    <span class="field-success"
          ng-if="ngEosAccountOptions.invert && field.$valid"
          translate="CONTRACTS.FORMS.EOS_WALLET.FIELDS.ACCOUNT_NAME.SUCCESS_TEXT"></span>

    <span class="field-error form-field_error-check-sum"
          ng-if="ngEosAccountOptions.invert"
          translate="CONTRACTS.FORMS.EOS_WALLET.FIELDS.ACCOUNT_NAME.ALREADY_NAME_TEXT"></span>

    <span class="field-error form-field_error-check-sum"
          ng-if="!ngEosAccountOptions.invert"
          translate="CONTRACTS.FORMS.EOS_CROWDSALE.ERRORS.ACCOUNT_DOES_NOT_EXIST"></span>
</div>
