<div class="contract-popup-wrapper">
    <div class="condition-text-wrapper">
        <div class="main-section-chapter-fieldset custom-fieldset">
            <div class="main-section-chapter-title">
                <i class="main-section-chapter-title_icon icon-warning"></i>
                <span class="main-section-chapter-title_text">Disclaimer</span>
            </div>
            <ul class="condition-text">
                <li class="condition-text-item">MyWish is NOT responsible for the use of the contract</li>
                <li class="condition-text-item">MyWish is ONLY responsible for creation & launch it on Ethereum network</li>
                <li class="condition-text-item">MyWish is NOT responsible for incorrect contract behaviour in case of wrong parameters entered by users</li>
                <li class="condition-text-item">MyWish is NOT responsible for errors in the code, but will do everything to eliminate it asap if they are detected</li>
                <li class="condition-text-item">MyWish does NOT have access to the management functions of the contract and will not be able to stop it, continue and do anything else, except of finalisation after end date</li>
            </ul>
            <div class="condition-text-buttons">
                <div class="text-center">
                    <button class="btn btn-transparent" ng-click="closeCurrentPopup()">
                        <span>Cancel</span>
                    </button>
                    <button class="btn btn-submit"
                            ng-pop-up="{
                            template: '/templates/popups/contract-confirm-pay.html',
                            class: 'deleting-contract',
                            params: ngPopUp.params.endPay,
                            onClose: closeCommonPopup
                        }">
                        <span>I Accept</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
