<div class="contract-popup-wrapper">
    <div class="alert-window-title">
        Please confirm contract launch
        ({{- $root.bigNumber(ngPopUp.params.contractCost).times(ngPopUp.params.contract.discount / 100).minus(ngPopUp.params.contractCost).round(2)}} WISH)
    </div>
    <div class="alert-window-buttons text-center">
        <button type="button"
                ng-click="ngPopUp.params.confirmPayment(ngPopUp.params.contract);"
                class="btn btn-submit">
            <span>Confirm</span>
        </button>
        <button ng-click="closeCurrentPopup()" class="btn btn-transparent">
            <span>Cancel</span>
        </button>
    </div>
</div>
