<div class="contract-popup-wrapper">
    <div class="condition-text-wrapper">
        <div class="main-section-chapter-fieldset custom-fieldset">
            <div class="main-section-chapter-title">
                <span class="main-section-chapter-title_text">Enabling 2fa</span>
            </div>
            <ul class="condition-text">
                <li class="condition-text-item">
                    Отсканируйте qr-код
                    <div class="text-center">
                        <img ng-src="{{ngPopUp.params.imgUrl}}"/>
                    </div>
                </li>
                <li class="condition-text-item">Добавьте аккаунт в Google Authenticator, кликнув по полученной ссылке</li>
                <li class="condition-text-item">Используйте сгенерированный код при входе в сервис</li>
                <li class="condition-text-item">Нажмите Done</li>
            </ul>
            <div class="condition-text-buttons">
                <div class="text-center">
                    <button class="btn btn-transparent" ng-click="closeCurrentPopup()">
                        <span>Cancel</span>
                    </button>
                    <button class="btn btn-submit"
                            ng-click="closeCurrentPopup()"
                            ng-pop-up="ngPopUp.params.confirmEnablePopUp">
                        <span>Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
