<div class="contract-popup-wrapper">
    <div class="condition-text-wrapper">
        <div class="main-section-chapter-fieldset custom-fieldset">
            <div class="main-section-chapter-title">
                <span class="main-section-chapter-title_text">Enable 2FA</span>
            </div>
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <ul class="condition-text">
                        <li class="condition-text-item">Scan QR-code</li>
                        <li class="condition-text-item">Add mywish app in your Google Authenticator or in similar app</li>
                        <li class="condition-text-item">Use code everytime when login to MyWish</li>
                    </ul>
                </div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <div class="text-center">
                        <a href="{{ngPopUp.params.url}}">
                            <img src="{{ngPopUp.params.imgUrl}}"/>
                        </a>
                    </div>
                </div>
            </div>
            <br/><br/>

            <div class="condition-text-buttons">
                <div class="text-center">
                    <button class="btn btn-transparent" ng-click="closeCurrentPopup()">
                        <span>Cancel</span>
                    </button>
                    <button class="btn btn-submit"
                            ng-click="closeCurrentPopup()"
                            ng-pop-up="ngPopUp.params.confirmEnablePopUp">
                        <span>Enable</span>
                    </button>
                </div>
            </div>
            <div class="show-ls">&nbsp;</div>
        </div>
    </div>
</div>
