<div class="contract-popup-wrapper">
    <div class="alert-window-title">
        Please sign in/sign up to add the contract<br/>
        to your personal account
    </div>
    <div class="alert-window-buttons text-center">
        <button class="btn btn-transparent"  ng-click="ngPopUp.actions.goToLogin()" type="button">
            <span>Sign in</span>
        </button>
        <button class="btn btn-white" type="button" ng-click="ngPopUp.actions.goToRegistration()">
            <span>Sign Up</span>
        </button>
        <button ng-click="ngPopUp.actions.createContract()" class="btn btn-as-link" type="button">
            <span>Skip</span>
        </button>
    </div>
</div>
