<div class="contract-popup-wrapper">
    <div class="alert-window-title">
        Please sign in/sign up to replenish your account
    </div>
    <div class="alert-window-buttons text-center">

        <button class="btn btn-submit uppercase"
                ng-click="$root.openAuthWindow('registration')">
            <span>Sign Up</span>
        </button>
        <button class="btn btn-transparent uppercase"
                ng-click="$root.openAuthWindow('auth')">
            <span>Sign in</span>
        </button>
    </div>
</div>
