<div class="contract-popup-wrapper">
    <div class="alert-window-title">
        Please sign in/sign up to replenish your account
    </div>
    <div class="alert-window-buttons text-center">
        <button class="btn btn-submit uppercase"
                type="button" ng-click="ngPopUp.actions.goToRegistration()">
            <span>Sign Up</span>
        </button>
        <button class="btn btn-transparent uppercase"
                ng-click="ngPopUp.actions.goToLogin()" type="button">
            <span>Sign in</span>
        </button>
    </div>
</div>
