<div class="shadow-block" ng-controller="authController">
    <div class="shadow-block__content">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1">
                <ul class="auth-form-menu">
                    <li ng-class="{active: ngPopUp.params.page === 'auth'}">
                        <span ng-click="ngPopUp.params.page = 'auth'" translate="HEADER.BUTTONS.SIGN_IN"></span>
                    </li>
                    <li ng-class="{active: ngPopUp.params.page === 'registration'}">
                        <span ng-click="ngPopUp.params.page = 'registration'" translate="HEADER.BUTTONS.SIGN_UP"></span>
                    </li>
                </ul>

                <div ng-if="((ngPopUp.params.page === 'registration') || (ngPopUp.params.page === 'auth')) && !socialAuthError">
                    <div ng-if="ngPopUp.params.page === 'auth'">
                        <form class="login-form" ng-submit="sendLoginForm(loginForm, false, true)" name="loginForm" novalidate ng-if="!socialAuthError">
                            <div class="form-control contract-form-row">
                                <div class="form-control-label" translate="AUTH_POPUP.FIELDS.EMAIL"></div>
                                <input type="email"
                                       required
                                       ng-model="loginRequest.username"
                                       ng-class="{'ng-invalid ng-invalid-server': logInServerErrors.username}"
                                       class="form-control-input">
                                <span class="field-error form-field_error-required"
                                      translate="FIELDS_ERRORS.REQUIRED"></span>
                                <span class="field-error form-field_error-email"
                                      translate="FIELDS_ERRORS.YOUR_EMAIL"></span>
                                <span class="field-error form-field_error-server">
                                    {{logInServerErrors.username.join(' ')}}
                                </span>
                            </div>
                            <div class="form-control contract-form-row">
                                <div class="form-control-label" translate="AUTH_POPUP.FIELDS.PASSWORD"></div>
                                <input type="password"
                                       required
                                       ng-model="loginRequest.password"
                                       ng-class="{'ng-invalid ng-invalid-server': logInServerErrors.password}"
                                       class="form-control-input">
                                <span class="field-error form-field_error-required"
                                      translate="FIELDS_ERRORS.REQUIRED"></span>
                                <span class="field-error form-field_error-server">{{logInServerErrors.password.join(', ')}}</span>
                            </div>

                            <div class="form-control contract-form-row" ng-if="twoFAEnabled">
                                <div class="form-control-label" translate="AUTH_POPUP.FIELDS.2FA"></div>
                                <input type="text"
                                       required
                                       ng-model="loginRequest.totp"
                                       ng-class="{'ng-invalid ng-invalid-server': logInServerErrors.totp}"
                                       class="form-control-input">
                                <span class="field-error form-field_error-required"
                                      translate="FIELDS_ERRORS.REQUIRED"></span>
                                <span class="field-error form-field_error-server">{{logInServerErrors.totp}}</span>
                            </div>
                            <span class="field-error" style="display: block"
                                  ng-if="logInServerErrors.non_field_errors">{{logInServerErrors.non_field_errors.join(', ')}}</span>

                            <div class="form-control contract-form-row text-right clearfix"><br/>
                                <button type="submit" class="btn btn-submit float-left">
                                    <span translate="AUTH_POPUP.BUTTONS.LOG_IN"></span>
                                </button>
                                <span class="restore-link"
                                      translate="AUTH_POPUP.BUTTONS.FORGOT_PASSWORD"
                                      ng-click="ngPopUp.params.page = 'forgot-password'"></span>
                            </div>
                        </form>
                    </div>
                    <div ng-if="ngPopUp.params.page === 'registration'">
                    <form class="login-form" ng-submit="sendRegForm(regForm)" name="regForm" novalidate>

                        <div class="form-control contract-form-row">
                            <div class="form-control-label" translate="AUTH_POPUP.FIELDS.EMAIL"></div>
                            <input type="email"
                                   autocomplete="new-password"
                                   ng-class="{'ng-invalid ng-invalid-server': regServerErrors.username || regServerErrors.email}"
                                   ng-model="regRequest.username" required
                                   class="form-control-input">
                            <span class="field-error form-field_error-required"
                                  translate="FIELDS_ERRORS.REQUIRED"></span>
                            <span class="field-error form-field_error-email"
                                  translate="FIELDS_ERRORS.YOUR_EMAIL"></span>
                            <span class="field-error form-field_error-server">
                                {{regServerErrors.username.join(' ')}}
                                {{regServerErrors.email.join(' ')}}
                            </span>
                        </div>

                        <div class="form-control contract-form-row">
                            <div class="form-control-label" translate="AUTH_POPUP.FIELDS.PASSWORD"></div>
                            <input pattern=".+"
                                   type="password"
                                   minlength="8"
                                   ng-model="regRequest.password1"
                                   ng-class="{'ng-invalid ng-invalid-server': regServerErrors.password1}"
                                   autocomplete="new-password"
                                   name="password"
                                   required
                                   class="form-control-input">
                            <span class="field-error form-field_error-pattern"
                                  translate="FIELDS_ERRORS.INCORRECT_PASSWORD"></span>
                            <span class="field-error form-field_error-minlength"
                                  translate="FIELDS_ERRORS.MIN_LENGTH_PASSWORD"></span>
                            <span class="field-error form-field_error-required"
                                  translate="FIELDS_ERRORS.REQUIRED"></span>
                            <span class="field-error form-field_error-server">{{regServerErrors.password1.join(' ')}}</span>
                        </div>

                        <div class="form-control contract-form-row">
                            <div class="form-control-label" translate="AUTH_POPUP.FIELDS.CONFIRM_PASSWORD"></div>
                            <input type="password"
                                   ng-match="regRequest.password1"
                                   autocomplete="new-password"
                                   ng-class="{'ng-invalid ng-invalid-server': regServerErrors.password2}"
                                   ng-model="regRequest.password2" required
                                   class="form-control-input">
                            <span class="field-error form-field_error-required"
                                  ng-if="regForm.password.$valid"
                                  translate="FIELDS_ERRORS.REQUIRED"></span>
                            <span class="field-error form-field_error-pattern"
                                  ng-if="regForm.password.$valid"
                                  translate="FIELDS_ERRORS.NO_MATCH_PASSWORD"></span>
                            <span class="field-error form-field_error-server">{{regServerErrors.password2.join(' ')}}</span>
                            <span class="field-error" style="display: block"
                                  ng-if="regServerErrors.non_field_errors">{{regServerErrors.non_field_errors.join(' ')}}</span>
                        </div>
                        <div class="form-control contract-form-row"><br/>
                            <span style="color: black">By using the service, you accept the <a ng-click="closeCurrentPopup()" style="font-weight: 500; cursor: pointer" ui-sref="main.terms" >Terms or Service</a> </span>
                        </div>
                        <div class="form-control contract-form-row"><br/>
                            <button type="submit" class="btn btn-submit">
                                <span translate="AUTH_POPUP.BUTTONS.CREATE_ACCOUNT"></span>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="network-auth-buttons" ng-if="!$root.eoslynx">
                    <button class="network-auth-button network-auth-button-mm width-100" type="button"
                            ng-disabled="!$root.MMInited" ng-click="mmLogin(undefined, false, true)">
                        <i>
                            <img src="/static/images/web3clients/metamask.svg" class="as-icon"/>
                        </i>
                        <span translate="AUTH_POPUP.BUTTONS.LOGIN_METAMASK"></span>
                    </button>
<!--                    <a href="#" class="network-auth-button network-auth-button-fb width-100" ng-if="$root.FBInited" ng-click="fbLogin(undefined, false, true);">-->
<!--                        <i class="icon-network-facebook"></i>-->
<!--                        <span translate="AUTH_POPUP.BUTTONS.LOGIN_FACEBOOK"></span>-->
<!--                    </a>-->
                    <a href="#" class="network-auth-button network-auth-button-g width-100" ng-if="$root.GAInited" ng-click="googleLogin(undefined, false, true);">
                        <i class="icon-network-google"></i>
                        <span translate="AUTH_POPUP.BUTTONS.LOGIN_GOOGLE"></span>
                    </a>
                </div>
            </div>

                <div ng-if="ngPopUp.params.page === 'forgot-password'">
                    <form class="login-form" ng-submit="sendResetPassForm(resetForm, false, true)" name="resetForm" novalidate>
                        <div class="form-control contract-form-row">
                            <div class="form-control-label" translate="AUTH_POPUP.FIELDS.RESET_EMAIL"></div>
                            <input type="email"
                                   required
                                   ng-model="forgotRequest.email"
                                   ng-class="{'ng-invalid ng-invalid-server': forgotServerErrors.email}"
                                   ng-change="forgotSuccessText ? forgotSuccessText = undefined : false;"
                                   class="form-control-input">
                            <span class="field-error form-field_error-required"
                                  translate="FIELDS_ERRORS.REQUIRED"></span>
                            <span class="field-error form-field_error-email"
                                  translate="FIELDS_ERRORS.YOUR_EMAIL"></span>
                            <span class="field-error form-field_error-server">{{forgotServerErrors.email.join(', ')}}</span>
                            <span class="field-success" ng-if="forgotSuccessText">{{forgotSuccessText}}</span>
                            <span class="field-error" style="display: block"
                                  ng-if="forgotServerErrors.non_field_errors">{{forgotServerErrors.non_field_errors.join(', ')}}</span>
                        </div>

                        <div class="form-control contract-form-row"><br/>
                            <button type="submit" class="btn btn-submit">
                                <span translate="BUTTONS.SEND"></span>
                            </button>
                        </div>
                    </form>

                </div>


                <div class="form-control contract-form-row" ng-if="ngPopUp.params.page === 'email-confirm'">
                    <p class="email-confirm-text">
                        <span translate="AUTH_POPUP.CONFIRM_EMAIL_FORM.BASE_TEXT" translate-values="{currEmail: regRequest.email}"></span><br/><br/>
                        <span class="red-color" translate="AUTH_POPUP.CONFIRM_EMAIL_FORM.NOTICE_TEXT"></span>
                    </p>
                    <br/>

                    <div class="text-center" ng-if="!resendError && !emailConfirmProgress">
                        <button class="btn btn-transparent" ng-click="getConfirmEmail()">
                            <span translate="AUTH_POPUP.CONFIRM_EMAIL_FORM.RESEND_BUTTON"></span>
                        </button>
                    </div>

                    <div ng-if="allTimerSeconds && (allTimerSeconds != 0)" class="email-confirm-timer-text text-center">
                        <span class="email-confirm-text"
                          translate="AUTH_POPUP.CONFIRM_EMAIL_FORM.TIMER"
                          translate-values="{timerMinutes: timerMinutes, timerSeconds: timerSeconds}"></span>
                    </div>

                    <div ng-if="resendError == 1" class="email-confirm-timer-text">
                        <span class="email-confirm-text red-color" translate="AUTH_POPUP.CONFIRM_EMAIL_FORM.ERRORS.ERROR_1"></span>
                    </div>
                    <div ng-if="resendError == 2" class="email-confirm-timer-text">
                        <span class="email-confirm-text red-color" translate="AUTH_POPUP.CONFIRM_EMAIL_FORM.ERRORS.ERROR_2"></span>
                    </div>
                </div>

                <form ng-if="(socialAuthError == '1032') || (socialAuthError == '1033')"
                      ng-submit="continueSocialAuth(socialContinueForm)" name="socialContinueForm" novalidate >
                    <div class="form-control contract-form-row">
                        <div class="form-control-label" translate="AUTH_POPUP.FIELDS.2FA"></div>
                        <input type="text"
                               required
                               ng-model="socialAuthInfo.request.totp"
                               ng-class="{'ng-invalid ng-invalid-server': serverErrors.totp}"
                               class="form-control-input">
                        <span class="field-error form-field_error-required"
                              translate="FIELDS_ERRORS.REQUIRED"></span>
                        <span class="field-error form-field_error-server">{{serverErrors.totp}}</span>
                    </div>
                    <div class="form-control contract-form-row"><br/>
                        <button type="submit" class="btn btn-submit">
                            <span translate="BUTTONS.CONTINUE"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
