<div class="contract-popup-wrapper">
    <div class="instruction-title clearfix">
        <div class="instruction-title-text">
            <div class="instruction-title-text__content">Add a contract the Lost key in Parity</div>
        </div>
    </div>
    <ul class="instruction-steps-list">
        <li class="clearfix">
            <div class="instruction-item-text">Open Parity</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">Enter Settings and click the Contracts checkbox.</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">Go to folder "Contracts" and click "+ WATCH".</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">In the "Choose contract type" choose "Custom contracts".</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">
                In the "Network address" field, enter the Management add-on (your Wallet address)
                <div class="instruction-for-copy">
                    <button class="instruction-for-copy-button relative"
                            clipboard supported="supported"
                            text="ngPopUp.params.contract.contract_details.eth_contract.address"
                            ng-class="{copied: ngPopUp.params.contract.copied['address']}"
                            on-copied="ngPopUp.actions.successCodeCopy(ngPopUp.params.contract, 'address')"
                            on-error="ngPopUp.actions.failCodeCopy(err)">&nbsp;&nbsp;
                        <i class="icon-content_copy"></i>&nbsp;
                    </button>

                    <div class="instruction-for-copy-text">{{ngPopUp.params.contract.contract_details.eth_contract.address}}</div>
                </div>
                <ul class="instruction-second-steps-list">
                    <li>
                        Specify the name of the contract (the name that you specified in MyWish service is recommended )
                    </li>
                    <li>Enter the contract description (optionally)</li>
                    <li>
                        Copy ABI contract from MyWish instruction
                        <div class="instruction-for-copy">
                            <button class="instruction-for-copy-button relative"
                                    clipboard supported="supported"
                                    text="ngPopUp.params.contract.willCode"
                                    ng-class="{copied: ngPopUp.params.contract.copied['willCode']}"
                                    on-copied="ngPopUp.actions.successCodeCopy(ngPopUp.params.contract, 'willCode')"
                                    on-error="ngPopUp.actions.failCodeCopy(err)">&nbsp;&nbsp;
                                <i class="icon-content_copy"></i>
                            </button>
                            <div class="instruction-for-copy-text">{{ngPopUp.params.contract.willCode}}</div>
                        </div>
                    </li>
                </ul>
            </div>

        </li>
        <li class="clearfix">
            <div class="instruction-item-text">Then click "+ ADD CONTRACT"</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">Now this contract is available to you in the list of contracts and you can transfer funds from it.</div>
        </li>
    </ul>
    <div class="instruction-action-buttons">
        <button class="btn btn-submit" ng-click="closeCurrentPopup()">
            <span>Done</span>
        </button>
    </div>
</div>
