<div class="contract-popup-wrapper">
    <div class="instruction-title clearfix">
        <div class="instruction-title-text">Add a contract the Lost key in Parity</div>
    </div>
    <ul class="instruction-steps-list">
        <li class="clearfix">
            <div class="instruction-item-text">Log into Parity under an account that has been specified as a manager of the wallet.</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text"> On the accounts tab, click "+ WALLET"</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">In the WALLET TYPE window, select "Watch Wallet" and press NEXT</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">In the WALLET INFORMATION window, click DONE</div>
        </li>
    </ul>
    <div class="instruction-action-buttons">
        <button class="btn btn-submit" ng-click="closeCurrentPopup()">
            <span>Done</span>
        </button>
    </div>
</div>
