<div class="contract-popup-wrapper" ng-controller="instructionsController">
    <div class="instruction-title clearfix">
        <div class="contract-name-block">
            <div class="contract-name-text uppercase">Cancel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>

        <div class="instruction-title-text">
            <div class="instruction-title-text__content">
                To <span class="instruction-text-alert">stop</span> the contract, follow the steps in the instruction.
            </div>
        </div>
    </div>


    <div class="instruction-steps-list">
        <a ng-attr-href="{{
            'https://www.myetherwallet.com/?data=' + killSignature +
            '&value=0&to=' + ngPopUp.params.contract.contract_details.eth_contract.address}}#send-transaction"
           target="_blank" class="btn btn-payment btn-payment--wallet text-center">
            <span>MyEtherwallet</span>
        </a>
        <button ng-click="killContract()"
                ng-if="currentWallet && (currentWallet.type === 'parity')"
                class="btn btn-payment btn-payment--parity text-center">
            <span>Parity</span>
        </button>
        <button  ng-click="killContract()"
                 ng-if="currentWallet && (currentWallet.type === 'metamask')"
                 class="btn btn-payment btn-payment--metamask text-center">
            <span>Metamask</span>
        </button>
    </div>

    <div class="form-fieldset-delimiter"><span>OR</span></div>

    <ul class="instruction-steps-list">
        <li class="clearfix">
            <div class="instruction-item-text">Open your wallet (Parity, <a ng-attr-href="{{ngPopUp.params.contract.killUrl}}" target="_blank">MyEtherWallet</a>)</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">Click the contracts tab in your wallet</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">
                Copy the contract address to the Contract Address
                <div class="instruction-for-copy">
                    <button class="instruction-for-copy-button relative"
                            clipboard supported="supported"
                            text="ngPopUp.params.contract.contract_details.eth_contract.address"
                            ng-class="{copied: ngPopUp.params.contract.copied['address']}"
                            on-copied="ngPopUp.actions.successCodeCopy(ngPopUp.params.contract, 'address')"
                            on-error="ngPopUp.actions.failCodeCopy(err)">&nbsp;
                        <i class="icon-content_copy"></i>
                    </button>
                    <div class="instruction-for-copy-text">{{ngPopUp.params.contract.contract_details.eth_contract.address}}</div>
                </div>
            </div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">
                Copy MyWill data to ABI/JSON interface
                <div class="instruction-for-copy">
                    <button class="instruction-for-copy-button relative"
                            clipboard supported="supported"
                            text="ngPopUp.params.contract.willCode"
                            ng-class="{copied: ngPopUp.params.contract.copied['willCode']}"
                            on-copied="ngPopUp.actions.successCodeCopy(ngPopUp.params.contract, 'willCode')"
                            on-error="ngPopUp.actions.failCodeCopy(err)">&nbsp;
                        <i class="icon-content_copy"></i>
                    </button>
                    <div class="instruction-for-copy-text">{{ngPopUp.params.contract.willCode}}</div>
                </div>
            </div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">Select the KILL function</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">Make the transaction</div>
        </li>
    </ul>
    <div class="instruction-action-buttons">
        <button class="btn btn-submit" ng-click="closeCurrentPopup()">
            <span>Done</span>
        </button>
    </div>
</div>
