<div class="contract-popup-wrapper">
    <div class="instruction-title clearfix">
        <div class="contract-name-block">
            <div class="contract-name-text uppercase">Cancel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>

        <div class="instruction-title-text">To <span class="instruction-text-alert">stop</span> the contract, follow the steps in the instruction.</div>
    </div>
    <ul class="instruction-steps-list">
        <li class="clearfix">
            <div class="instruction-item-text">Open your wallet (Parity, <a ng-attr-href="{{ngPopUp.params.createdContract.killUrl}}" target="_blank">MyEtherWallet</a>)</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">Click the contracts tab in your wallet</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">
                Copy the contract address to the Contract Address
                <div class="instruction-for-copy">
                    <button class="instruction-for-copy-button"
                            clipboard supported="supported"
                            text="ngPopUp.params.createdContract.address"
                            ng-class="{copied: ngPopUp.params.createdContract.copied['address']}"
                            on-copied="ngPopUp.params.successCodeCopy(ngPopUp.params.createdContract, 'address')" on-error="ngPopUp.params.failCodeCopy(err)">
                        <i class="icon-content_copy"></i>
                    </button>
                    <div class="instruction-for-copy-text">{{ngPopUp.params.createdContract.address}}</div>
                </div>
            </div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">
                Copy MyWill data to ABI/JSON interface
                <div class="instruction-for-copy">
                    <button class="instruction-for-copy-button"
                            clipboard supported="supported"
                            text="ngPopUp.params.address"
                            ng-class="{copied: ngPopUp.params.createdContract.copied['myWillCode']}"
                            on-copied="ngPopUp.params.successCodeCopy(ngPopUp.params.createdContract, 'myWillCode')" on-error="ngPopUp.params.failCodeCopy(err)">
                        <i class="icon-content_copy"></i>
                    </button>
                    <div class="instruction-for-copy-text">{{ngPopUp.params.createdContract.myWillCode}}</div>
                </div>
            </div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">Select the KILL function</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">Click send transaction</div>
        </li>
        <li class="clearfix">
            <div class="instruction-item-text">Confirm the steps and press Done button</div>
        </li>
    </ul>
    <div class="instruction-action-buttons">
        <button class="btn btn-submit">
            <span>Done</span>
        </button>
    </div>
</div>
