<div class="contract-popup-wrapper">
    <div class="condition-text-wrapper">
        <div class="main-section-chapter-fieldset custom-fieldset">
            <div class="main-section-chapter-title">
                <i class="main-section-chapter-title_icon icon-warning"></i>
                <span class="main-section-chapter-title_text">Disclaimer</span>
            </div>
            <ul class="condition-text">
                <li class="condition-text-item">Contracts in Test Net are free for use (you can create & deploy it to test network)</li>
                <li class="condition-text-item">Please accept low speed for deployment (up to 3 hours)</li>
                <li class="condition-text-item">Contracts in Test/ Main network have identical code</li>
                <li class="condition-text-item">Please use Test Net addresses (Ropsten for ETH) while working with contracts</li>
            </ul>
            <div class="condition-text-buttons">
                <div class="text-center">
                    <button class="btn btn-transparent" ng-click="closeCurrentPopup()">
                        <span>Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
