$main-color: #206EFF;
$white-color: #fff;
$blocks-background: #F4F4F4;

$white-color: #fff;
$black-color: #000;
@if($env == 'eos') {
  $main-color: #556577;
  $blocks-background: #F3F5F7;
}
@import 'common/awesome.scss';
@import 'common/social-buttons.scss';
@import 'common/buttons.scss';
@import 'common/new_styles/base_blocks';
html {
  width: 100%;
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  background-color: #f0f0f0;
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
  &:not(.visible) {
    header, .auth-form {
      display: none;
    }
  }
}
input, button {
  font-family: inherit;
}
header {
  padding: 2.7em 3.15em;
  img {
    width: 16.5em;
    height: 3.675em;
    display: block;
  }
}

a img {
  border: 0 none;
  text-decoration: none;
}

.auth-form, .email-confirm-message {
  width: 48em;
  margin: 0 auto;
  max-width: 96%;
  .btn {
    padding: 0 3em;
    height: 4.8em;
    line-height: 4.8em;
    border-radius: 2.5em;
    float: left;
    &.btn-transparent {
      line-height: 4.4em;
    }
  }
}

.auth-form, .email-confirm-message {
  margin-top: 6vh;
  margin-bottom: 6vh;
}
.login-form {
  width: 38.65em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.field-container {
  position: relative;
  margin-bottom: 2em;
}

.field-error, .field-success {
  font-size: 1.3em;
  line-height: 1.2em;
  min-height: 1.2em;
  margin-top: 0.5em;
}
.field-error {
  display: none;
  color: #f91c1c;
}
.field-success {
  display: block;
  color: #06b01f;
}

.static-field-error {
  display: block;
  margin: -1.5em 0 2em;
  color: #f91c1c;
  font-size: 1.2em;
  padding: 0.5em 0;
}
.field-input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #E4E4E4;
  background: #fff;
  font-size: 1.8em;
  line-height: 1.2em;
  padding: 0.75em 1em;
  color: #000;
  border-radius: 0.3em;
  outline: none;
  form.ng-submitted &, &.ng-touched {
    &.ng-invalid {
      border-color: #f91c1c;
      ~ {
        .field-label {
          //color: #ffa2a8;
        }
      }

      &.ng-invalid-required {
        ~ .form-field_error-required {
          display: block;
          ~ .field-error {
            display: none;
          }
        }
      }
      &.ng-invalid-email {
        ~ {
          .form-field_error-email {
            display: block;
            ~ .field-error {
              display: none;
            }
          }
        }
      }
      &.ng-invalid-pattern {
        ~ {
          .form-field_error-pattern {
            display: block;
            ~ .field-error {
              display: none;
            }
          }
        }
      }
      &.ng-invalid-minlength {
        ~ {
          .form-field_error-minlength {
            display: block;
            ~ .field-error {
              display: none;
            }
          }
        }
      }

      &.ng-invalid-server {
        ~ {
          .form-field_error-server {
            display: block;
            ~ .field-error {
              display: none;
            }
          }
        }
      }
    }
  }
}
.field-label {
  font-size: 1.6em;
  color: #000;
  line-height: 1.25em;
  margin-bottom: 0.3em;
  display: block;
}
.auth-form-menu {
  list-style-type: none;
  padding: 0 0 2em;
  width: 38.65em;
  max-width: 100%;
  margin: 0 auto;
  visibility: hidden;
  .auth-form & {
    visibility: visible;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0.225em;
    border-bottom: 2px solid transparent;
    &.active {
      border-bottom: 2px solid $main-color;
      a {
        cursor: default;
        color: $main-color;
      }
    }
    + li {
      margin-left: 3em;
    }
    a {
      font-size: 2em;
      color: rgba(0, 0, 0, 1);
      line-height: 1.25em;
      &, &:hover, &:focus {
        text-decoration: none;
      }
      &:hover {
        color: $main-color;
      }
    }
  }
}
.field-submit-container {
  margin-bottom: 1.5em;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.restore-link {
  font-size: 1.3em;
  color: $main-color;
  line-height: 1.2em;
  cursor: pointer;
  display: block;
  padding: 1.2em 0;
  white-space: nowrap;
  text-align: right;
  &.advanced-field-open {
    span {
      border-bottom: 1px dotted;
    }
  }
}
.text-center {
  text-align: center;
}


b {
  font-weight: 500;
}
.email-confirm-title, .email-confirm-text {
  color: #4c4c4c;
  text-shadow: 0 1px 1px #fff;
}
.email-confirm-title {
  font-size: 2.5em;
  text-align: center;
  margin-top: 0.3em;
}
.email-confirm-text {
  font-size: 1.75em;
  line-height: 1.35em;
}
.red-color {
  color: #ff5f73;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}
.dark-red-color {
  color: #a00;
  a {
    color: inherit;
  }
}
.email-confirm-timer-text {
  display: block;
  line-height: 5.2em;
  color: #4c4c4c;
  span {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
}


.main-content-holder {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  //border-top: 1px solid #eaeaea;
  padding: 1em 0;
  background-color: #fff;
  ul {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
    li {
      display: inline-block;
      + li {
        margin-left: 1em;
      }
    }
  }
  .footer-menu {
    margin-left: 2em;
  }
  .footer-text {
    color: #aaa;
    font-size: 1.2em;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .languages-menu {
    white-space: nowrap;
    float: right;
    li span {
      text-decoration: underline;
      cursor: pointer;
      &.selected, &:hover {
        text-decoration: none;
      }
      &.selected {
        color: #000;
      }
    }
  }
}
