@import 'common/awesome.scss';
@import 'common/social-buttons.scss';
html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  background-color: #F5F3F3;
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
  &:not(.visible) {
    header, .auth-form {
      display: none;
    }
  }
}
input, button {
  font-family: inherit;
}
header {
  padding: 2.7em 3.15em;
  img {
    width: 16.5em;
    height: 3.675em;
    display: block;
  }
}

.auth-form {
  width: 34.65em;
  margin: 0 auto;
  max-width: 90%;
}
.field-container {
  position: relative;
  margin-bottom: 2em;
  &:not(.without-padding) {
    padding-top: 2.775em;
  }
}

.field-error, .field-success {
  font-size: 1.3em;
  line-height: 1.2em;
  min-height: 1.2em;
  margin-top: 0.5em;
}
.field-error {
  display: none;
  color: #206EFF;
}
.field-success {
  display: block;
  color: #06b01f;
}

.static-field-error {
  display: block;
  margin: -1.5em 0 2em;
  color: #f91c1c;
  font-size: 1.2em;
  padding: 0.5em 0;
}
.field-input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #E4E4E4;
  background: #fff;
  font-size: 1.8em;
  line-height: 1.2em;
  padding: 0.75em 1em;
  color: #000;
  border-radius: 0.65em;
  outline: none;
  form.ng-submitted &, &.ng-touched {
    &.ng-invalid {
      border-color: #206EFF;
      ~ {
        .field-label {
          //color: #ffa2a8;
        }
      }

      &.ng-invalid-required {
        ~ .form-field_error-required {
          display: block;
          ~ .field-error {
            display: none;
          }
        }
      }
      &.ng-invalid-email {
        ~ {
          .form-field_error-email {
            display: block;
            ~ .field-error {
              display: none;
            }
          }
        }
      }
      &.ng-invalid-pattern {
        ~ {
          .form-field_error-pattern {
            display: block;
            ~ .field-error {
              display: none;
            }
          }
        }
      }
      &.ng-invalid-minlength {
        ~ {
          .form-field_error-minlength {
            display: block;
            ~ .field-error {
              display: none;
            }
          }
        }
      }

      &.ng-invalid-server {
        ~ {
          .form-field_error-server {
            display: block;
            ~ .field-error {
              display: none;
            }
          }
        }
      }
    }
  }
}
.field-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.8em;
  color: #000;
  line-height: 1.25em;
}
.auth-form-menu {
  list-style-type: none;
  padding: 0 0 4.875em;
  margin: 0;
  li {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0.225em;
    &.active {
      border-bottom: 2px solid #206EFF;
    }
    + li {
      margin-left: 1.5em;
    }
    a {
      font-size: 2em;
      color: rgba(0, 0, 0, 1);
      line-height: 1.25em;
      &, &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}
.field-submit-container {
  margin-bottom: 2.775em;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  button {
    background-color: #206EFF;
    color: #fff;
    font-size: 1.8em;
    line-height: 1.2em;
    border: 0 none;
    padding: 0.75em 2.5em;
    cursor: pointer;
    border-radius: 1.5em;
    outline: none;
    float: left;
  }
}
.restore-link {
  font-size: 1.3em;
  color: #206EFF;
  line-height: 1.2em;
  cursor: pointer;
  display: block;
  padding: 1.2em 0;
  white-space: nowrap;
  text-align: right;
  &.advanced-field-open {
    span {
      border-bottom: 1px dotted;
    }
  }
}


.email-confirm-title, .email-confirm-text {
  color: #206EFF;
}
.email-confirm-title {
  font-size: 2.5em;
}
.email-confirm-text {
  font-size: 2em;
  line-height: 1.35em;
}
