@import "common/base";
@import "common/awesome";
@import "common/main";
@import "common/menu";
@import "common/header";
@import "common/grid";
@import "common/form-elements";
@import "common/buttons";
@import "common/contract-statuses";
@import "common/preloader";
@import "common/simple_form";
@import "common/social-buttons";
@import "common/login-form";
@import "common/new-instruction-style";
@import "common/new_styles/base_blocks";
@import "common/csv-parsered-table";

@import "common/contract-preview";
@import "common/funny";

@import "directives";
@import "popups";
@import "pages";

.icon-padlock:before {
  margin-left: 0.1em;
}

.cookies-info {
  position: fixed;
  left: 2em;
  bottom: 2em;
  padding: 1.5em;
  width: 28em;
  background-color: rgba(10, 10, 10, 0.9);
  border-radius: 0.5em;
  z-index: 10;
  box-shadow: 0 0.2em 1em rgba(10, 10, 10, 0.5);
  &_content {
    color: #fff;
    &_text {
      font-size: 1.4em;
      line-height: 1.45em;
    }
    &_button {
      margin-top: 1.5em;
      .btn {
        float: right;
        width: 50%;
      }
    }
  }
}