@import "common/base";
@import "common/awesome";
@import "common/main";
@import "common/menu";
@import "common/header";
@import "common/grid";
@import "common/form-elements";
@import "common/buttons";
@import "common/contract-statuses";
@import "common/preloader";
@import "common/simple_form";
@import "common/social-buttons";
@import "common/login-form";
@import "common/new-instruction-style";
@import "common/new_styles/base_blocks";
@import "common/csv-parsered-table";

@import "common/contract-preview";
@import "common/funny";

@import "directives";
@import "popups";
@import "pages";

.icon-padlock:before {
  margin-left: 0.1em;
}

.cookies-info {
  position: fixed;
  left: 2em;
  bottom: 2em;
  padding: 1.5em;
  width: 29em;
  background-color: rgba(30, 30, 30, 0.9);
  border-radius: 0.5em;
  z-index: 10;
  box-shadow: 0 0.2em 1em rgba(10, 10, 10, 0.5);
  &_content {
    color: #fff;
    position: relative;
    padding-right: 1em;
    &_text {
      font-size: 1.4em;
      line-height: 1.45em;
    }
    &_button {
      margin-top: 1.5em;
      .btn {
        float: right;
        width: 50%;
        background: none;
        border: 2px solid #fff;
        color: #fff;
      }
    }

    &_close {
      position: absolute;
      top: -1em;
      right: -1em;
      cursor: pointer;
      height: 1.6em;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
      &:after, &:before {
        content: '';
        display: block;
        width: 1.6em;
        height: 3px;
        border-radius: 1px;
        background-color: rgb(255, 255, 255);
        position: relative;
        top: 0.8em;
      }
      &:after {
        margin-top: -3px;
        transform: rotate(45deg);
      }
      &:before {
        transform: rotate(-45deg);
      }
    }
  }
}



.birthday-block {
  font-size: 22px;
  line-height: 33px;
  color: #333;
  text-align: center;
  &__text {
    padding: 40px 0 20px;
  }
  &__image {
    width: 90%;
    max-width: 480px;
    vertical-align: middle;
  }
}
.jssocials {
  padding: 20px 0;
}
.jssocials-share {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin: 0 10px;
}
.jssocials-share-label {
  display: none;
}
.jssocials-share-logo {
  &.fa {
    display: block;
    width: 48px;
    height: 48px;
    background: no-repeat center center;
    background-size: contain;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    &-twitter {
      background-image: url('images/social/twitter.png');
    }
    &-facebook {
      background-image: url('images/social/facebook.png');
    }
    &-linkedin {
      background-image: url('images/social/linkedin.png');
    }
  }
}
