<div class="contract-form-fieldset without-padding">
    <div class="contract-form-information-btns">
        <div class="grid-row">
            <div class="grid-cell grid-cell-vs-1-2 float-right"
                 ng-if="(contract.stateValue == 0) || (contract.stateValue == 1) || (contract.stateValue == 2)">
                <button class="btn btn-transparent btn-transparent-red with-icon mobile-width-100 with-icon initial-padding text-center"
                        ng-pop-up="{
                            template: '/templates/popups/confirmations/delete-contract.html',
                            newPopupContent: true,
                            params: contract,
                            class: 'deleting-contract',
                            actions: {
                                deleteContract: deleteContract
                            }
                        }">
                    <i class="icon-trash"></i>
                    <span translate="CONTRACTS_BUTTONS.DELETE"></span>
                </button><br/><br/>
            </div>

            <!-- Launch button -->
            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 0) || (contract.stateValue == 1) || (contract.stateValue == 2)">
                <button class="btn btn-transparent mobile-width-100 text-center"
                        ng-click="payContract(contract)">
                    <i class="icon-rocket-ship"></i>
                    <span translate="CONTRACTS_BUTTONS.LAUNCH" ng-if="contract.stateValue != 0"></span>
                    <span translate="CONTRACTS_BUTTONS.CREATE" ng-if="contract.stateValue == 0"></span>
                </button><br/><br/>
            </div>

            <!-- Mint form button -->
            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 4) && ((contract.contract_type == 10) || (contract.contract_type == 14))">
                <button ng-pop-up="{
                            template: '/templates/popups/forms/eos/mint-token-form.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            },
                            class: 'page-size',
                            onClose: returnToList
                        }"
                        class="btn btn-transparent mobile-width-100 text-center">
                    <span>&nbsp;&nbsp;{{'CONTRACTS_BUTTONS.MINT'|translate}}&nbsp;&nbsp;</span>
                </button><br/><br/>
            </div>

            <!-- Airdrop Deposit button -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-if="(contract.stateValue == 4) && (contract.contract_type == 13)">
                <button ng-pop-up="{
                            template: '/templates/popups/forms/eos/deposit-airdrop.html',
                            newPopupContent: true,
                            params: {
                                contract: contract,
                                tokenInfo: tokenInfo
                            },
                            class: 'page-size',
                            onClose: returnToList
                        }"
                        type="button"
                        class="btn btn-transparent mobile-width-100">
                    <span translate="CONTRACTS_BUTTONS.DEPOSIT"></span>
                </button><br/><br/>
            </div>

            <!-- Airdrop add addresses button -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-if="(contract.stateValue == 4) && (contract.contract_type == 13) && !contract.contract_details.sent_count">
                <button ng-pop-up="{
                            template: '/templates/popups/forms/eos/airdrop-addresses-form.html',
                            newPopupContent: true,
                            actions: {
                                updateBalanceInfo: updateBalanceInfo,
                            },
                            params: {
                                contract: contract,
                                tokenInfo: tokenInfo
                            }
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span translate="CONTRACTS_BUTTONS.ADD_ADDRESSES"></span>
                </button><br/><br/>
            </div>

            <!-- Airdrop send table instruction button -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-if="(contract.stateValue == 4) && (contract.contract_type == 13) && contract.contract_details.added_count">

                <button ng-pop-up="{
                            template: '/templates/popups/data-preview/eos-airdrop-next-send-table.html',
                            newPopupContent: true,
                            class: 'page-size',
                            params: {
                                filter: 'added',
                                contract: contract,
                                tokenInfo: tokenInfo
                            }
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span translate="CONTRACTS_BUTTONS.SEND_AIRDROP_ADDRESSES"></span>
                </button><br/><br/>
            </div>

            <!-- Date changing form button -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-if="(getNowDateTime(true).format('X') * 1 < contract.contract_details.stop_date) && (contract.stateValue == 4) && (contract.contract_type == 12) && contract.contract_details.allow_change_dates">
                <button ng-pop-up="{
                            template: '/templates/popups/forms/eth/change-dates-form.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            },
                            class: 'page-size',
                            onClose: returnToList
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span translate="CONTRACTS_BUTTONS.CHANGE_DATES"></span>
                </button><br/><br/>
            </div>

            <!-- Withdraw button -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-controller="eosWithdrawController"
                 ng-if="contract.contract_details.buttons.withdraw">
                <button class="btn btn-transparent mobile-width-100" ng-click="generateWithdrawTx()">
                    <span translate="CONTRACTS_BUTTONS.WITHDRAW"></span>
                </button><br/><br/>
            </div>


            <!-- Finalize button -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-controller="eosFinalizeController"
                 ng-if="contract.contract_details.buttons.finalize && !contract.contract_details.is_transferable_at_once">
                <button class="btn btn-transparent mobile-width-100" ng-click="generateFinalizeTx()">
                    <span translate="CONTRACTS_BUTTONS.FINALIZE"></span>
                </button><br/><br/>
            </div>


            <!-- Edit button -->
            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 0) || (contract.stateValue == 1)">
                <a ui-sref="main.createcontract.edit({id: contract.id})" class="text-center btn btn-transparent mobile-width-100 with-icon initial-padding">
                    <i class="icon-edit"></i>
                    <span translate="CONTRACTS_BUTTONS.EDIT"></span>
                </a><br/><br/>
            </div>
        </div>
    </div>
    <div ng-include="'/templates/popups/forms/eos/scatter-alerts.html'"></div>

<!--    <div ng-include="'/templates/pages/contracts/preview/elements/birthday.html'"></div>-->
</div>
