<div class="contract-form-fieldset without-padding">
    <div class="contract-form-information-btns">
        <div class="grid-row">
            <div class="grid-cell grid-cell-vs-1-2 float-right"
                 ng-if="(contract.stateValue == 1) || (contract.stateValue == 2)">
                <button class="btn btn-red with-icon mobile-width-100 with-icon initial-padding text-center"
                        ng-pop-up="{
                            template: '/templates/popups/confirmations/delete-contract.html',
                            newPopupContent: true,
                            params: contract,
                            class: 'deleting-contract',
                            actions: {
                                deleteContract: deleteContract
                            }
                        }">
                    <i class="icon-trash"></i>
                    <span translate="CONTRACTS_BUTTONS.DELETE"></span>
                </button><br/><br/>
            </div>
            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 1) || (contract.stateValue == 2)">
                <button class="btn btn-transparent mobile-width-100 text-center"
                        ng-click="payContract(contract)">
                    <i class="icon-rocket-ship"></i>
                    <span translate="CONTRACTS_BUTTONS.LAUNCH"></span>
                </button><br/><br/>
            </div>

            <div class="grid-cell grid-cell-vs-1-2" ng-if="contract.stateValue == 10">
                <button class="btn btn-transparent mobile-width-100 text-center"
                        ng-pop-up="{
                            template: '/templates/popups/disclaimers/eth/activate-disclaimer.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            },
                            class: 'conditions',
                            onClose: returnToList
                        }">
                    <span translate="CONTRACTS_BUTTONS.ACTIVATE"></span>
                </button><br/><br/>
            </div>

            <!-- Mint form button -->
            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 4) && (contract.contract_type == 5) && contract.contract_details.future_minting">
                <button ng-pop-up="{
                            template: '/templates/popups/forms/eth/mint-token-form.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            },
                            class: 'page-size',
                            onClose: returnToList
                        }"
                        class="btn btn-transparent mobile-width-100 text-center">
                    <span translate="CONTRACTS_BUTTONS.MINT"></span>
                </button>
            </div>

            <!-- Finalize token contract form button -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-if="(contract.stateValue == 4) && (contract.contract_type == 5) && contract.contract_details.future_minting">
                <button ng-pop-up="{
                            template: '/templates/popups/disclaimers/eth/mint-finalize-disclaimer.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            },
                            class: 'conditions',
                            onClose: returnToList
                        }"
                        class="btn btn-transparent mobile-width-100 text-center">
                    <span translate="CONTRACTS_BUTTONS.FINALIZE"></span>
                </button>
            </div>

            <div class="grid-cell grid-cell-vs-1-2" ng-if="contract.stateValue == 1">
                <!-- Edit button -->
                <a ui-sref="main.createcontract.edit({id: contract.id})" class="text-center btn btn-transparent mobile-width-100 with-icon initial-padding">
                    <i class="icon-edit"></i>
                    <span translate="CONTRACTS_BUTTONS.EDIT"></span>
                </a><br/><br/>
            </div>
            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 4) && (contract.contract_type != 4) && (contract.contract_type != 5)">
                <!-- Deposit instruction button -->
                <button ng-pop-up="{
                            template: '/templates/popups/instructions/eth/deposit-instruction.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            }
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span translate="CONTRACTS_BUTTONS.DEPOSIT"></span>
                </button><br/><br/>
            </div>

            <!-- Cancel instruction button (Deferred, Lost Key) -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-if="(contract.stateValue == 4) && ((contract.contract_type == 1) || (contract.contract_type == 2))">
                <button ng-pop-up="{
                            template: '/templates/popups/instructions/eth/cancel-instruction.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            }
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span translate="CONTRACTS_BUTTONS.CANCEL"></span>
                </button><br/><br/>
            </div>

            <!-- I Alive instruction button (Will | platform_alive == false) -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-if="(contract.stateValue == 4) && (contract.contract_type == 0)">
                <button ng-pop-up="{
                            template: !contract.contract_details.platform_alive ?
                                '/templates/popups/instructions/eth/i-alive-instruction.html' :
                                '/templates/popups/instructions/networks/i-alive-instruction.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            }
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span translate="CONTRACTS_BUTTONS.I_ALIVE"></span>
                </button><br/><br/>
            </div>

            <!-- Cancel instruction button (Will | platform_cancel == false) -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-if="(contract.stateValue == 4) && (contract.contract_type == 0)">
                <button ng-pop-up="{
                            template: !contract.contract_details.platform_cancel ?
                                '/templates/popups/instructions/eth/will-cancel-instruction.html' :
                                '/templates/popups/instructions/networks/will-cancel-instruction.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            }
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span translate="CONTRACTS_BUTTONS.CANCEL"></span>
                </button><br/><br/>
            </div>
            <!-- Withdraw instruction button (Will | platform_cancel == false) -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-if="(contract.stateValue == 5) && (contract.contract_type == 0)">
                <button ng-pop-up="{
                            template: !contract.contract_details.platform_cancel ?
                                '/templates/popups/instructions/eth/will-withdraw-instruction.html' :
                                '/templates/popups/instructions/networks/will-withdraw-instruction.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            }
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span translate="CONTRACTS_BUTTONS.WITHDRAW"></span>
                </button><br/><br/>
            </div>



            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 4) && (contract.contract_type == 4)">
                <button ng-pop-up="{
                            template: '/templates/popups/instructions/eth/finalize-instruction.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            }
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span translate="CONTRACTS_BUTTONS.FINALIZE"></span>
                </button><br/><br/>
            </div>

            <!-- Date changing form button -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-if="(getNowDateTime(true).format('X') * 1 < contract.contract_details.stop_date) && (contract.stateValue == 4) && (contract.contract_type == 4) && contract.contract_details.allow_change_dates">
                <button ng-pop-up="{
                            template: '/templates/popups/forms/eth/change-dates-form.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            },
                            class: 'page-size',
                            onClose: returnToList
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span translate="CONTRACTS_BUTTONS.CHANGE_DATES"></span>
                </button>
            </div>

            <!-- Whitelist form button -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-if="(contract.stateValue == 4) && (contract.contract_type == 4) && contract.contract_details.whitelist">
                <button ng-pop-up="{
                            template: '/templates/popups/forms/eth/whitelist-form.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            },
                            class: 'page-size',
                            onClose: returnToList
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span translate="CONTRACTS_BUTTONS.WHITELIST"></span>
                </button>
            </div>


        </div>
    </div>
</div>
