<div class="contract-form-fieldset without-padding">
    <div class="contract-form-information-btns">
        <div class="grid-row">
            <div class="grid-cell grid-cell-vs-1-2 float-right"
                 ng-if="(contract.stateValue == 1) || (contract.stateValue == 2)">
                <button class="btn btn-red with-icon mobile-width-100 with-icon initial-padding text-center"
                        ng-pop-up="{
                            template: '/templates/popups/confirmations/delete-contract.html',
                            newPopupContent: true,
                            params: contract,
                            class: 'deleting-contract',
                            actions: {
                                deleteContract: deleteContract
                            }
                        }">
                    <i class="icon-trash"></i>
                    <span translate="CONTRACTS_BUTTONS.DELETE"></span>
                </button><br/><br/>
            </div>
            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 1) || (contract.stateValue == 2)">
                <button class="btn btn-transparent mobile-width-100 text-center"
                        ng-click="payContract(contract)">
                    <i class="icon-rocket-ship"></i>
                    <span translate="CONTRACTS_BUTTONS.LAUNCH"></span>
                </button><br/><br/>
            </div>


            <!-- Mint form button -->
            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 4) && (contract.contract_type == 6) && contract.contract_details.future_minting">
                <button ng-pop-up="{
                            template: '/templates/popups/instructions/neo/mint-instruction.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            },
                            class: 'conditions',
                            actions: {
                                successCodeCopy: successCodeCopy
                            },
                            onClose: returnToList
                        }"
                        class="btn btn-transparent mobile-width-100 text-center">
                    <span translate="CONTRACTS_BUTTONS.MINT"></span>
                </button>
            </div>

            <!-- Finalize token contract form button -->
            <div class="grid-cell grid-cell-vs-1-2"
                 ng-if="(contract.stateValue == 4) && (contract.contract_type == 6) && contract.contract_details.future_minting">
                <button ng-pop-up="{
                            template: '/templates/popups/instructions/neo/mint-finalize-instruction.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            },
                            class: 'conditions',
                            actions: {
                                successCodeCopy: successCodeCopy
                            },
                            onClose: returnToList
                        }"
                        class="btn btn-transparent mobile-width-100 text-center">
                    <span translate="CONTRACTS_BUTTONS.FINALIZE"></span>
                </button>
            </div>

            <div class="grid-cell grid-cell-vs-1-2" ng-if="contract.stateValue == 1">
                <!-- Edit button -->
                <a ui-sref="main.createcontract.edit({id: contract.id})" class="text-center btn btn-transparent mobile-width-100 with-icon initial-padding">
                    <i class="icon-edit"></i>
                    <span translate="CONTRACTS_BUTTONS.EDIT"></span>
                </a><br/><br/>
            </div>
        </div>
    </div>
</div>
