<form class="login-form" ng-submit="sendLoginForm(loginForm)"
      name="loginForm" novalidate ng-if="!socialAuthError">
    <div class="shadow-block">
        <div class="shadow-block__content">
            <div class="field-container">
                <span class="field-label" translate="FIELDS.EMAIL"></span>
                <input type="email"
                       required
                       ng-model="loginRequest.username"
                       ng-class="{'ng-invalid ng-invalid-server': logInServerErrors.username}"
                       class="field-input">
                <span class="field-error form-field_error-required" translate="FIELDS_ERRORS.REQUIRED"></span>
                <span class="field-error form-field_error-email" translate="FIELDS_ERRORS.YOUR_EMAIL"></span>
                <span class="field-error form-field_error-server">{{logInServerErrors.username.join(', ')}}</span>
            </div>

            <div class="field-container">
                <span class="field-label" translate="FIELDS.PASSWORD"></span>
                <input type="password"
                       required
                       ng-model="loginRequest.password"
                       ng-class="{'ng-invalid ng-invalid-server': logInServerErrors.password}"
                       class="field-input">
                <span class="field-error form-field_error-required" translate="FIELDS_ERRORS.REQUIRED"></span>
                <span class="field-error form-field_error-server">{{logInServerErrors.password.join(', ')}}</span>
            </div>
            <div class="field-container" ng-if="twoFAEnabled">
                <span class="field-label" translate="FIELDS.2FA"></span>
                <input type="text"
                       required
                       ng-model="loginRequest.totp"
                       ng-class="{'ng-invalid ng-invalid-server': logInServerErrors.totp}"
                       class="field-input">
                <span class="field-error form-field_error-required" translate="FIELDS_ERRORS.REQUIRED"></span>
                <span class="field-error form-field_error-server">{{logInServerErrors.totp}}</span>
            </div>

            <span class="static-field-error"
                  ng-if="logInServerErrors.non_field_errors">{{logInServerErrors.non_field_errors.join(', ')}}</span>

            <div class="field-submit-container">
                <button type="submit" class="btn btn-submit">
                    <span translate="BUTTONS.LOG_IN"></span>
                </button>
                <a ui-sref="main.forgot" class="restore-link" translate="BUTTONS.FORGOT_PASSWORD"></a>
            </div>

            <div class="network-auth-buttons" ng-if="!$root.eoslynx">
                <button class="network-auth-button network-auth-button-mm width-100" type="button"
                   ng-disabled="!$root.MMInited" ng-click="mmLogin()">
                    <i>
                        <img src="/static/images/web3clients/metamask.svg" class="as-icon"/>
                    </i>
                    <span translate="BUTTONS.LOGIN_METAMASK"></span>
                </button>
                <a href="#" class="network-auth-button network-auth-button-fb width-100" ng-if="$root.FBInited" ng-click="fbLogin()">
                    <i class="icon-network-facebook"></i>
                    <span translate="BUTTONS.LOGIN_FACEBOOK"></span>
                </a>
                <a href="#" class="network-auth-button network-auth-button-g width-100" ng-if="$root.GAInited" ng-click="googleLogin()">
                    <i class="icon-network-google"></i>
                    <span translate="BUTTONS.LOGIN_GOOGLE"></span>
                </a>
            </div>
        </div>
    </div>

</form>

<form ng-if="(socialAuthError == '1032') || (socialAuthError == '1033')"
      ng-submit="continueSocialAuth(socialContinueForm)" name="socialContinueForm" novalidate >
    <div class="field-container">
        <span class="field-label" translate="FIELDS.2FA"></span>
        <input type="text"
               required
               ng-model="socialAuthInfo.request.totp"
               ng-class="{'ng-invalid ng-invalid-server': logInServerErrors.totp}"
               class="field-input">
        <span class="field-error form-field_error-required" translate="FIELDS_ERRORS.REQUIRED"></span>
        <span class="field-error form-field_error-server">{{logInServerErrors.totp}}</span>
    </div>

    <div class="field-submit-container">
        <button type="submit" class="btn btn-submit">
            <span translate="BUTTONS.CONTINUE"></span>
        </button>
    </div>
</form>
