<form class="login-form" ng-submit="sendLoginForm(loginForm)" name="loginForm" novalidate>
    <div class="field-container">
        <input type="email"
               required
               ng-model="request.username"
               ng-class="{'ng-invalid ng-invalid-server': serverErrors.email}"
               class="field-input">
        <span class="field-label">E-mail</span>
        <span class="field-error form-field_error-required">Field is required</span>
        <span class="field-error form-field_error-email">Enter your e-mail</span>
        <span class="field-error form-field_error-server">{{serverErrors.email.join(', ')}}</span>
    </div>

    <div class="field-container">
        <input type="password"
               required
               ng-model="request.password"
               ng-class="{'ng-invalid ng-invalid-server': serverErrors.password}"
               class="field-input">
        <span class="field-label">Password</span>
        <span class="field-error form-field_error-required">Field is required</span>
        <span class="field-error form-field_error-server">{{serverErrors.password.join(', ')}}</span>
    </div>
    <!-- div class="field-container without-padding">
        <span class="restore-link advanced-field-open" ng-click="twoFAEnabled = !twoFAEnabled">
            <i ng-class="{'icon-keyboard_arrow_down': !twoFAEnabled, 'icon-keyboard_arrow_up': twoFAEnabled}"></i>
            <span>2-х факторная аутентификация</span>
        </span>
    </div -->
    <div class="field-container" ng-if="twoFAEnabled">
        <input type="text"
               required
               ng-model="request.totp"
               ng-class="{'ng-invalid ng-invalid-server': serverErrors.totp}"
               class="field-input">
        <span class="field-label">2FA code</span>
        <span class="field-error form-field_error-required">Field is required</span>
        <span class="field-error form-field_error-server">{{serverErrors.totp}}</span>
    </div>

    <span class="static-field-error"
          ng-if="serverErrors.non_field_errors">{{serverErrors.non_field_errors.join(', ')}}</span>

    <div class="field-submit-container">
        <button type="submit">Log in</button>
        <a ui-sref="main.forgot" class="restore-link">Forgot your password?</a>
    </div>

    <div class="social-network-buttons">
        <a href="#" class="social-button social-button-fb width-100" ng-click="fbLogin()">
            <i class="icon-facebook"></i>
            <span>Log in via Facebook</span>
        </a>
        <a href="#" class="social-button social-button-g width-100" ng-click="googleAuth()">
            <i class="icon-google"></i>
            <span>Log in via Google</span>
        </a>
    </div>

</form>