<form class="login-form" ng-submit="sendResetPassForm(resetForm)" name="resetForm" novalidate>
    <div class="field-container">
        <input type="email"
               required
               ng-model="request.email"
               ng-class="{'ng-invalid ng-invalid-server': serverErrors.email}"
               class="field-input">
        <span class="field-label">Enter e-mail for password reset</span>
        <span class="field-error form-field_error-required">Field is required</span>
        <span class="field-error form-field_error-email">Enter your e-mail</span>
        <span class="field-error form-field_error-server">{{serverErrors.email.join(', ')}}</span>
        <span class="field-success" ng-if="successText">{{successText}}</span>
    </div>
    <span class="static-field-error"
          ng-if="serverErrors.non_field_errors">{{serverErrors.non_field_errors.join(', ')}}</span>
    <div class="field-submit-container">
        <button type="submit">Send</button>
    </div>
</form>
