<form class="login-form" ng-submit="sendResetPassForm(resetForm)" name="resetForm" novalidate>
    <div class="shadow-block">
        <div class="shadow-block__content">
            <div class="field-container">
                <span class="field-label" translate="FIELDS.RESET_EMAIL"></span>
                <input type="email"
                       required
                       ng-model="request.email"
                       ng-class="{'ng-invalid ng-invalid-server': serverErrors.email}"
                       class="field-input">
                <span class="field-error form-field_error-required" translate="FIELDS_ERRORS.REQUIRED"></span>
                <span class="field-error form-field_error-email" translate="FIELDS_ERRORS.YOUR_EMAIL"></span>
                <span class="field-error form-field_error-server">{{serverErrors.email.join(', ')}}</span>
                <span class="field-success" ng-if="successText">{{successText}}</span>
            </div>
            <span class="static-field-error"
                  ng-if="serverErrors.non_field_errors">{{serverErrors.non_field_errors.join(', ')}}</span>


            <button type="submit" class="btn btn-submit">
                <span translate="BUTTONS.SEND"></span>
            </button>
        </div>
    </div>
</form>
