<form class="login-form" ng-submit="sendRegForm(regForm)" name="regForm" novalidate>
    <div class="field-container">
        <input type="email" class="field-input"
               autocomplete="new-password"
               ng-class="{'ng-invalid ng-invalid-server': serverErrors.email}"
               ng-model="request.email" required>
        <span class="field-label">E-mail</span>
        <span class="field-error form-field_error-required">Field is required</span>
        <span class="field-error form-field_error-email">Enter your e-mail</span>
        <span class="field-error form-field_error-email">Enter your e-mail</span>
        <span class="field-error form-field_error-server">{{serverErrors.email.join(', ')}}</span>
    </div>
    <div class="field-container">
        <input class="field-input"
               pattern="[\da-zA-Z!#$%&'*+—/=?^_`{|}~]+"
               type="password"
               minlength="8"
               ng-model="request.password1"
               ng-class="{'ng-invalid ng-invalid-server': serverErrors.password1}"
               autocomplete="new-password"
               required>
        <span class="field-label">Password</span>
        <span class="field-error form-field_error-pattern">Incorrect password</span>
        <span class="field-error form-field_error-minlength">Minimum password length 8 characters</span>
        <span class="field-error form-field_error-required">Field is required</span>
        <span class="field-error form-field_error-server">{{serverErrors.password1.join(', ')}}</span>
    </div>
    <div class="field-container">
        <input class="field-input"
               type="password"
               ng-pattern="{{request.password1}}"
               autocomplete="new-password"
               ng-class="{'ng-invalid ng-invalid-server': serverErrors.password2}"
               ng-model="request.password2" required>
        <span class="field-label">Repeat password</span>
        <span class="field-error form-field_error-required">Field is required</span>
        <span class="field-error form-field_error-pattern">Passwords do not match</span>
        <span class="field-error form-field_error-server">{{serverErrors.password2.join(', ')}}</span>
    </div>

    <span class="static-field-error"
          ng-if="serverErrors.non_field_errors">{{serverErrors.non_field_errors.join(', ')}}</span>

    <div class="field-submit-container">
        <button type="submit">Registration</button>
    </div>
</form>