<form class="login-form" ng-submit="sendConfirmPass(passForm)" name="passForm" novalidate>
    <div class="field-container">
        <input class="field-input"
               pattern="[\da-zA-Z!#$%&'*+—/=?^_`{|}~]+"
               type="password"
               minlength="8"
               ng-model="request.new_password1"
               ng-class="{'ng-invalid ng-invalid-server': serverErrors.new_password1}"
               autocomplete="new-password"
               required>
        <span class="field-label">Password</span>
        <span class="field-error form-field_error-pattern">Incorrect password</span>
        <span class="field-error form-field_error-minlength">Minimum password length 8 characters</span>
        <span class="field-error form-field_error-required">Field is required</span>
        <span class="field-error form-field_error-server">{{serverErrors.new_password1.join(', ')}}</span>
    </div>
    <div class="field-container">
        <input class="field-input"
               type="password"
               ng-pattern="{{request.new_password1}}"
               autocomplete="new-password"
               ng-class="{'ng-invalid ng-invalid-server': serverErrors.new_password2}"
               ng-model="request.new_password2" required>
        <span class="field-label">Repeat password</span>
        <span class="field-error form-field_error-required">Field is required</span>
        <span class="field-error form-field_error-pattern">Passwords do not match</span>
        <span class="field-error form-field_error-server">{{serverErrors.new_password2.join(', ')}}</span>
    </div>

    <div class="field-container" ng-if="twoFAEnabled">
        <input type="text"
               required
               ng-model="request.totp"
               ng-class="{'ng-invalid ng-invalid-server': serverErrors.totp}"
               class="field-input">
        <span class="field-label">2FA code</span>
        <span class="field-error form-field_error-required">Field is required</span>
        <span class="field-error form-field_error-server">{{serverErrors.totp}}</span>
    </div>

    <span class="static-field-error"
          ng-if="serverErrors.non_field_errors">{{serverErrors.non_field_errors.join(', ')}}</span>

    <div class="field-submit-container">
        <button type="submit">Change password</button>
    </div>
</form>