<div ng-if="TRONExtensionInfo.extensionNotInstalled" ng-pop-up="{
                    template: '/templates/popups/alerts/extension-install.html',
                    class: 'deleting-contract',
                    params: {},
                    opened: true,
                    onClose: closeExtensionAlert,
                    newPopupContent: true
                }"></div>

<div ng-if="TRONExtensionInfo.extensionNotAuthorized" ng-pop-up="{
                    template: '/templates/popups/alerts/extension-not-authorized.html',
                    class: 'deleting-contract',
                    params: {},
                    opened: true,
                    onClose: closeExtensionAlert,
                    newPopupContent: true
                }"></div>

<div ng-if="TRONExtensionInfo.extensionOtherUser" ng-pop-up="{
                    template: '/templates/popups/alerts/extension-other-user.html',
                    class: 'deleting-contract',
                    params: {},
                    opened: true,
                    onClose: closeExtensionAlert,
                    newPopupContent: true
                }"></div>


<div ng-if="TRONExtensionInfo.successTx" ng-pop-up="{
                    template: '/templates/popups/alerts/tron-minting-success.html',
                    class: 'deleting-contract',
                    params: {
                        contract: {
                            network: TRONExtensionInfo.network || 14
                        },
                        tx: TRONExtensionInfo.successTx
                    },
                    opened: true,
                    onClose: closeExtensionAlert,
                    newPopupContent: true
                }"></div>

<div ng-if="TRONExtensionInfo.txServerError" ng-pop-up="{
                    template: '/templates/popups/alerts/transaction-error.html',
                    class: 'deleting-contract',
                    params: {},
                    opened: true,
                    onClose: closeExtensionAlert,
                    newPopupContent: true
                }"></div>

<div ng-if="TRONExtensionInfo.extensionNotSelectedNetwork" ng-pop-up="{
                    template: '/templates/popups/alerts/tron-ext-network-error.html',
                    class: 'deleting-contract',
                    params: {},
                    opened: true,
                    onClose: closeExtensionAlert,
                    newPopupContent: true
                }"></div>
