<div class="just-text">
    <i class="icon-help"></i>
    <a href="https://www.youtube.com/watch?v=VxBOoeDQY9k"
       target="_blank"
       translate="CONTRACTS.FORMS.WATCH_INSTRUCTION">
    </a>
</div>
<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="contract-info__network"
             ng-class="'contract-info__network_' + network">
            <span>{{('CONTRACTS_NETWORKS.NETWORK_' + network)|translate}}</span>
        </div>
        <div class="shadow-block__content__blue-title">
            <i class="shadow-block__content__blue-title__icon icon-airdrop"></i>
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size" translate="CONTRACTS.FORMS.AIRDROP.TITLE"></span>
            </div>
        </div>
    </div>
    <form class="shadow-block__content shadow-block__content_no-tb-padding no-border" name="contractNameForm">
        <div class="grid-row">
            <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control">
                    <label for="contract-name" class="form-control-label"
                           translate="CONTRACTS.FORMS.FIELDS.ENTER_CONTRACT_NAME.LABEL"></label>
                    <input id="contract-name" type="text"
                           ng-model="request.name"
                           required
                           class="form-control-input"/>
                </div>
            </div>
        </div><br/><br/>
    </form>
</div>


<form class="shadow-block" name="managementAddressForm">
    <div class="shadow-block__content">
        <div class="grid-row">
            <div class="grid-cell grid-cell-2-3 grid-cell-ps-4-5 grid-cell-ls-1">
                <div class="form-control">
                    <label for="wallet-key"
                           class="form-control-label"
                           translate="CONTRACTS.FORMS.AIRDROP.FIELDS.MANAGEMENT_ADDR.LABEL"></label>
                    <input id="wallet-key" type="text"
                           ng-model="request.contract_details.admin_address"
                           required
                           placeholder="{{'CONTRACTS.FORMS.AIRDROP.FIELDS.MANAGEMENT_ADDR.PLACEHOLDER'|translate}}"
                           ng-checksum-address-validator="{'network': 'ETH'}"
                           class="form-control-input"/>
                    <span class="field-error form-field_error-check-sum"
                          ng-if="request.contract_details.admin_address ? !web3Utils.checkAddressChecksum(request.contract_details.admin_address) : false"
                          style="display: block" translate="FIELDS_ERRORS.ADDRESS_NOT_CHECKSUMMED"></span>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-3 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text"
                      translate="CONTRACTS.FORMS.AIRDROP.FIELDS.MANAGEMENT_ADDR.DESCRIPTION"></span>
            </div>
        </div>
    </div>
</form>

<form class="shadow-block" name="tokenAddressForm"
      ng-class="{'no-active': !managementAddressForm.$valid}" novalidate>
    <div class="shadow-block__content">
        <div class="grid-row">
            <div class="grid-cell grid-cell-2-3 grid-cell-ps-4-5 grid-cell-ls-1">
                <div class="form-control">
                    <label for="token-key"
                           class="form-control-label"
                           translate="CONTRACTS.FORMS.AIRDROP.FIELDS.TOKEN_ADDR.LABEL"></label>
                    <input id="token-key" type="text"
                           name="token_address"
                           ng-change="checkTokenAddress(tokenAddressForm.token_address)"
                           ng-model="request.contract_details.token_address"
                           required
                           ng-checksum-address-validator="{'network': 'ETH'}"
                           ng-class="{'ng-invalid': tokenAddressError}"
                           class="form-control-input"/>

                    <span class="field-error form-field_error-contract-address" translate="CONTRACTS.FORMS.AIRDROP.FIELDS.ERRORS.WRONG_TOKEN_ADDRESS"></span>

                    <span class="field-error form-field_error-check-sum"
                          ng-if="request.contract_details.token_address ? !web3Utils.checkAddressChecksum(request.contract_details.token_address) : false"
                          style="display: block" translate="FIELDS_ERRORS.ADDRESS_NOT_CHECKSUMMED"></span>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-3 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text"
                      ng-init="checkTokenAddress(tokenAddressForm.token_address)"
                      translate="CONTRACTS.FORMS.AIRDROP.FIELDS.TOKEN_ADDR.DESCRIPTION"></span>
            </div>
        </div>
        <div class="grid-row" ng-if="checkedTokenAddress">
            <div class="grid-cell grid-cell-1-3 grid-cell-ps-1-2 grid-cell-ls-1">
                <div class="form-control-label">{{'CONTRACTS.FORMS.TOKEN.FIELDS.TOKEN_SYMBOL.LABEL'|translate}}{{checkedTokenAddress.symbol}}</div>
            </div>
            <div class="grid-cell grid-cell-1-3 grid-cell-ps-1-2 grid-cell-ls-1">
                <div class="form-control-label">{{'CONTRACTS.FORMS.TOKEN.FIELDS.DECIMALS.LABEL'|translate}}{{checkedTokenAddress.decimals}}</div>
            </div>
        </div>
    </div>
</form>

<br/><br/><br/>

<div class="grid-row">
    <div class="grid-cell grid-cell-vs-1-2">
        <button class="uppercase btn btn-submit mobile-width-100"
                type="button" ng-disabled="!(managementAddressForm.$valid && tokenAddressForm.$valid && checkedTokenAddress)"
                ng-click="createContract()">
            <span ng-if="!editContractMode">&nbsp;&nbsp;&nbsp;{{ "BUTTONS.CREATE"|translate }}&nbsp;&nbsp;&nbsp;</span>
            <span ng-if="editContractMode">&nbsp;&nbsp;&nbsp;{{ "BUTTONS.UPDATE"|translate }}&nbsp;&nbsp;&nbsp;</span>
        </button>
    </div>
    <div class="grid-cell grid-cell-vs-1-2">
        <button class="btn btn-red with-icon mobile-width-100" ng-click="resetForms($event)">
            <i class="icon-delete-button"></i>
            <span ng-if="!editContractMode" translate="BUTTONS.CLEAN"></span>
            <span ng-if="editContractMode" translate="BUTTONS.RESET"></span>
        </button>
    </div>
</div>