<a ui-sref="main.createcontract.form({selectedType: 'lastWill'})" class="main-section-chapter">
    <div class="main-section-chapter-fieldset clearfix contract-type-link">
        <img src="/static/images/contract-types/lastwill.svg" class="contract-type-icon"/>
        <div class="contract-type-description">
            <div class="contract-type-description_title">Will</div>
            <div class="contract-type-description_text">
                Is the first smart contract developed in the framework of the platform and realizing the transfer of the user`s savings to his family or friends, in case of his sudden or death.
            </div>
        </div>
    </div>
</a>

<a ui-sref="main.createcontract.form({selectedType: 'lostKey'})" class="main-section-chapter">
    <div class="main-section-chapter-fieldset clearfix contract-type-link">
        <img src="/static/images/contract-types/key.svg" class="contract-type-icon"/>
        <div class="contract-type-description">
            <div class="contract-type-description_title">Lost key</div>
            <div class="contract-type-description_text">
                The smart contract has all the same features as the standart Ethereum wallet and, in addition, redirecting your founds to the backup wallet, if you will lose the privat key.
            </div>
        </div>
    </div>
</a>

<a ui-sref="main.createcontract.form({selectedType: 'deffered'})" class="main-section-chapter">
    <div class="main-section-chapter-fieldset clearfix contract-type-link">
        <img src="/static/images/contract-types/deffered.svg" class="contract-type-icon"/>
        <div class="contract-type-description">
            <div class="contract-type-description_title">Deffered payment</div>
            <div class="contract-type-description_text">
                A smart contract that provides the ability to automate the transfer of funds or payment on a specified date.
            </div>
        </div>
    </div>
</a>

<a ui-sref="main.createcontract.form({selectedType: 'wedding'})" class="main-section-chapter">
    <div class="main-section-chapter-fieldset clearfix contract-type-link">
        <img src="/static/images/contract-types/wedding.svg" class="contract-type-icon"/>
        <div class="contract-type-description">
            <div class="contract-type-description_title">Wedding</div>
            <div class="contract-type-description_text">
                Smart contract alloving to have two users a common crypto-currency account with a multisig function and disribtion of fund between the heirs.
            </div>
        </div>
    </div>
</a>
