<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="shadow-block__content__blue-title">
            <div class="shadow-block__content__blue-title__name" ng-attr-title="{{contract.name}}">
                <span class="big-size"
                      ng-if="sitemode === 'default'"
                      translate="PAGES.CREATE_CONTRACT.BLOCKCHAIN_BLOCK.TITLE"></span>
                <!-- span class="big-size"
                      ng-if="sitemode === 'eos'"
                      translate="PAGES.CREATE_CONTRACT.BLOCKCHAIN_BLOCK.EOS_TITLE"></span>
                <span class="big-size"
                      ng-if="sitemode === 'tron'"
                      translate="PAGES.CREATE_CONTRACT.BLOCKCHAIN_BLOCK.TRON_TITLE"></span -->
            </div>
        </div>
    </div>

    <div class="shadow-block__content shadow-block__content_min-padding" ng-if="sitemode === 'default'">
        <div class="grid-row">
            <div class="grid-cell grid-cell grid-cell-ps-1-2 cell-min-padding mb-1">
                <a ui-sref="main.createcontract.types({blockchain: 'ETH'})"
                   ng-click="blockChainNetwork.type = 'ETH'"
                   class="btn btn-gray with-icon width-100 nowrap" ng-class="{'active': blockChainNetwork.type === 'ETH'}">
                    <img src="/static/images/blockchain/ethereum.png" width="20"  style="vertical-align: middle">
                    &nbsp;&nbsp;
                    <span translate="BLOCKCHAIN_NETWORKS.ETH"></span>
                </a>
            </div>

            <div class="grid-cell grid-cell grid-cell-ps-1-2 cell-min-padding mb-1">
                <a ui-sref="main.createcontract.types({blockchain: 'BNB'})"
                   ng-click="blockChainNetwork.type = 'BNB'"
                   class="btn btn-gray with-icon width-100" ng-class="{'active': blockChainNetwork.type === 'BNB'}">
                    <img src="/static/images/blockchain/binance-coin-logo.svg" width="20" style="vertical-align: middle">
                    &nbsp;&nbsp;
                    <span translate="BLOCKCHAIN_NETWORKS.BINANCE"></span>
                </a>
            </div>

            <div class="grid-cell grid-cell grid-cell-ps-1-2 cell-min-padding mb-1">
                <a ui-sref="main.createcontract.types({blockchain: 'MATIC'})"
                   ng-click="blockChainNetwork.type = 'MATIC'"
                   class="btn btn-gray with-icon width-100" ng-class="{'active': blockChainNetwork.type === 'MATIC'}">
                    <img src="/static/images/blockchain/polygon.svg" width="20"
                         style="vertical-align: middle">
                    &nbsp;&nbsp;
                    <span translate="BLOCKCHAIN_NETWORKS.MATIC"></span>
                </a>
            </div>

            <div class="grid-cell grid-cell grid-cell-ps-1-2 cell-min-padding mb-1">
                <a ui-sref="main.createcontract.types({blockchain: 'XINFIN'})"
                   ng-click="blockChainNetwork.type = 'XINFIN'"
                   class="btn btn-gray with-icon width-100" ng-class="{'active': blockChainNetwork.type === 'XINFIN'}">
                    <img src="/static/images/blockchain/xinfin.svg" width="20"
                         style="vertical-align: middle">
                    <span translate="BLOCKCHAIN_NETWORKS.XINFIN"></span>
                </a>
            </div>

            <div class="grid-cell grid-cell grid-cell-ps-1-2 cell-min-padding mb-1">
                <a ui-sref="main.createcontract.types({blockchain: 'HECOCHAIN'})"
                   ng-click="blockChainNetwork.type = 'HECOCHAIN'"
                   class="btn btn-gray with-icon width-100" ng-class="{'active': blockChainNetwork.type === 'HECOCHAIN'}">
                    <img src="/static/images/blockchain/hecochain.svg" width="20" height="20"
                         style="vertical-align: middle">
                    &nbsp;&nbsp;
                    <span translate="BLOCKCHAIN_NETWORKS.HECOCHAIN"></span>
                </a>
            </div>

            <div class="grid-cell grid-cell grid-cell-ps-1-2 cell-min-padding mb-1">
                <a ui-sref="main.createcontract.types({blockchain: 'TRON'})"
                   ng-click="blockChainNetwork.type = 'TRON'"
                   class="btn btn-gray with-icon width-100" ng-class="{'active': blockChainNetwork.type === 'TRON'}">
                    <img src="/static/images/blockchain/tron.png" width="20" style="vertical-align: middle">
                    <span translate="BLOCKCHAIN_NETWORKS.TRON"></span>
                </a>
            </div>
            <div class="grid-cell grid-cell grid-cell-ps-1-2 cell-min-padding mb-1">
                <a ui-sref="main.createcontract.types({blockchain: 'EOS'})"
                   ng-click="blockChainNetwork.type = 'EOS'"
                   class="btn btn-gray with-icon width-100" ng-class="{'active': blockChainNetwork.type === 'EOS'}">
                    <img src="/static/images/blockchain/eos.png" width="20" style="vertical-align: middle">
                    &nbsp;&nbsp;
                    <span translate="BLOCKCHAIN_NETWORKS.EOS"></span>
                </a>
            </div>
            <div class="grid-cell grid-cell grid-cell-ps-1-2 cell-min-padding mb-1">
                <a ui-sref="main.createcontract.types({blockchain: 'NEO'})"
                   ng-click="blockChainNetwork.type = 'NEO'"
                   style="padding-left: 1.7em;"
                   class="btn btn-gray with-icon width-100" ng-class="{'active': blockChainNetwork.type === 'NEO'}">
                    <img src="/static/images/blockchain/neo.svg" width="20" style="vertical-align: middle">
                    &nbsp;&nbsp;
                    <span translate="BLOCKCHAIN_NETWORKS.NEO"></span>
                </a>
            </div>

            <div class="grid-cell grid-cell-1-5 grid-cell-ps-1-2 cell-min-padding mb-1">
                <a ui-sref="main.createcontract.types({blockchain: 'WAVES'})"
                   ng-click="blockChainNetwork.type = 'WAVES'"
                   class="btn btn-gray with-icon width-100" ng-class="{'active': blockChainNetwork.type === 'WAVES'}"
                   ng-pop-up="{
                    template: '/templates/popups/alerts/waves-under-maintanance.html',
                    newPopupContent: true,
                }"
                >
                    <img src="/static/images/blockchain/waves.svg" width="20" style="vertical-align: middle">
                    &nbsp;&nbsp;
                    <span translate="BLOCKCHAIN_NETWORKS.WAVES"></span>
                </a>
            </div>

            <div class="grid-cell grid-cell grid-cell-ps-1-2 cell-min-padding mb-1">
                <a ui-sref="main.createcontract.types({blockchain: 'MOONRIVER'})"
                   ng-click="blockChainNetwork.type = 'MOONRIVER'"
                   class="btn btn-gray with-icon width-100" ng-class="{'active': blockChainNetwork.type === 'MOONRIVER'}">
                    <img src="/static/images/blockchain/moonriver.svg" width="20" height="20"
                         style="vertical-align: middle">
                    &nbsp;&nbsp;
                    <span translate="BLOCKCHAIN_NETWORKS.MOONRIVER"></span>
                </a>
            </div>

            <div class="grid-cell grid-cell grid-cell-ps-1-2 cell-min-padding mb-1">
                <a ui-sref="main.createcontract.types({blockchain: 'SOLANA'})"
                   ng-click="blockChainNetwork.type = 'SOLANA'"
                   class="btn btn-gray with-icon width-100" ng-class="{'active': blockChainNetwork.type === 'SOLANA'}">
                    <img src="/static/images/blockchain/solana.svg" width="20" height="20"
                         style="vertical-align: middle">
                    &nbsp;&nbsp;
                    <span translate="BLOCKCHAIN_NETWORKS.SOLANA"></span>
                </a>
            </div>

            <!-- div class="grid-cell grid-cell-1-5 grid-cell-ps-1-2 cell-min-padding mb-1">
                <a ui-sref="main.createcontract.types({blockchain: 'RSK'})"
                   ng-click="blockChainNetwork.type = 'RSK'"
                   class="btn btn-gray with-icon width-100" ng-class="{'active': blockChainNetwork.type === 'RSK'}">
                    <img src="/static/images/blockchain/bitcoin.png" width="20" style="vertical-align: middle">
                    &nbsp;&nbsp;
                    <span translate="BLOCKCHAIN_NETWORKS.BTC"></span>
                </a>
            </div -->
        </div>
    </div>

    <div class="shadow-block__content no-border shadow-block__content_no-tb-padding" ng-if="blockChainNetwork.type === 'BNB'">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1 cell-min-padding">
                <div class="binance-trust">
                    <img class="binance-trust_icon" src="/static/images/blockchain/binance-coin-logo.svg">
                    <div class="binance-trust_text">
                        <div class="binance-trust_title">
                            Binance Partner since 2018
                        </div>
                        <div class="binance-trust_description">
                            Infrastructure Tool of the Binance Smart Chain Ecosystem.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shadow-block__content shadow-block__content_min-tb-padding" ng-class="{'no-border': blockChainNetwork.type === 'BNB'}"
         ng-if="blockChainNetwork.type !== 'XINFIN' && blockChainNetwork.type !== 'MOONRIVER'">
        <div class="grid-row">
            <div class="grid-cell">
                <div class="checkbox-decoration">
                    <div class="form-control-label-checkbox">
                        <span>
                            <b translate="PAGES.CREATE_CONTRACT.BLOCKCHAIN_BLOCK.TEST_NETWORK_LABEL"></b>
                        </span>
                    </div>
                </div>
            </div>
            <div class="grid-cell" ng-if="blockChainNetwork.type !== 'XINFIN'">
                <label class="checkbox-decoration">
                    <input type="checkbox" ng-model="blockChainNetwork.isTest"
                           ng-change="$state.go('main.createcontract.types', {isTestNet: blockChainNetwork.isTest || undefined})"
                           ng-checked="(blockChainNetwork.isTest || blockChainNetwork.type === 'NEO' || blockChainNetwork.type === 'SOLANA') && blockChainNetwork.type !== 'MOONRIVER'"
                           ng-disabled="(blockChainNetwork.type === 'NEO' || blockChainNetwork.type === 'XINFIN' || blockChainNetwork.type === 'MOONRIVER' || blockChainNetwork.type === 'SOLANA')">
                    <span class="checkbox-decoration-displaying for-buttons-height">
                        <span class="checkbox-decoration-val checkbox-decoration-val_on"
                              translate="YES"></span>
                        <span class="checkbox-decoration-val checkbox-decoration-val_off"
                              translate="NO"></span>
                    </span>
                    <div ng-if="blockChainNetwork.type == 'NEO'"
                         class="disclaimer-btn"
                         ng-pop-up="{
                            newPopupContent: true,
                            template: '/templates/popups/disclaimers/neo-network.html'
                        }"></div>
                </label>
            </div>


            <!-- div ng-if="blockChainNetwork.isTest" ng-pop-up="{
                opened: true,
                newPopupContent: true,
                template: '/templates/popups/disclaimers/all/test-net-disclaimer.html'
            }"></div>
            <div ng-if="blockChainNetwork.type == 'RSK'" ng-pop-up="{
                opened: true,
                newPopupContent: true,
                template: '/templates/popups/disclaimers/btc-how-it-works.html',
                params: {
                    slides: [
                        {
                            image: '/static/images/btc-how-it-works/sh_01.png'
                        }, {
                            image: '/static/images/btc-how-it-works/sh_02.png'
                        }
                    ]
                }
            }"></div -->
            <div class="grid-cell grid-cell-1">
                <span class="normal-text" translate="PAGES.CREATE_CONTRACT.BLOCKCHAIN_BLOCK.TEST_NETWORK_DESCRIPTION"></span>
            </div>
        </div>
    </div>
</div><br/><br/>

<div ng-repeat="(key, blockChainData) in contractsTypes" ng-if="blockChainNetwork.type === key">
    <div></div>
    <div ng-repeat="contractForCreate in blockChainData.list"
         ui-sref-disabled="blockChainNetwork.type === 'WAVES'"
         ng-click="
         contractForCreate.directLink && blockChainNetwork.type !== 'WAVES' ? redirectTo(contractForCreate.directLink + (blockChainNetwork.isTest ? '?network=testnet' : ''), $event) : false"
         ui-sref="main.createcontract.form({selectedType: contractForCreate.type, network: blockChainData.networks[blockChainNetwork.isTest ? 1 : 0]})"
         class="shadow-block shadow-block_hovered" ng-class="{contractForCreate: true, 'contract-disabled': blockChainNetwork.type === 'WAVES'}"
         ng-if="!((contractForCreate.title | translate).includes('Crowdsale') && blockChainNetwork.isTest && (blockChainNetwork.type === 'EOS'))"
    >
        <div class="shadow-block__content">
            <div class="contract-price-block" ng-if="!blockChainNetwork.isTest && contractForCreate.price">
                <div class="contract-price-block_content" ng-if="(contractForCreate.fixPrice || allCosts[contractForCreate.typeNumber])">
                    <i class="price-icon icon-mywish">
                        <span class="path1"></span><span class="path2"></span>
                    </i>
                    <span>
                        {{(contractForCreate.fixPrice || allCosts[contractForCreate.typeNumber]['WISH'])|separateNumber}}
                    </span>
                    <span>/</span>&nbsp;
                    <i class="price-icon icon-dollar"></i><span>
                        {{(contractForCreate.fixPrice || allCosts[contractForCreate.typeNumber]['USDT'])|separateNumber}}
                    </span>
                    <!--<img src="/static/images/blockchain/ethereum.png" ng-if="sitemode === 'default'">-->
                    <!-- img src="/static/images/blockchain/eos-counter.svg" style="width: 1.2em" ng-if="sitemode === 'eos'">
                    <img src="/static/images/blockchain/tron.svg" style="width: 1.8em" ng-if="sitemode === 'tron'" -->
                </div>
                <div class="contract-price-block_content" ng-if="contractForCreate.simplePrice">
                    <span>from&nbsp;</span>
                    <i class="price-icon icon-dollar"></i><span>{{contractForCreate.simplePrice}}</span>
                    <!--<img src="/static/images/blockchain/ethereum.png" ng-if="sitemode === 'default'">-->
                    <!-- img src="/static/images/blockchain/eos-counter.svg" style="width: 1.2em" ng-if="sitemode === 'eos'">
                    <img src="/static/images/blockchain/tron.svg" style="width: 1.8em" ng-if="sitemode === 'tron'" -->
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-cell grid-cell-1">
                    <div class="shadow-block__content__title">
                        <i class="shadow-block__content__title__icon"
                           ng-if="contractForCreate.icon"
                           ng-class="contractForCreate.icon"></i>
                        <img  class="shadow-block__content__title__icon image"
                              style="color: #206eff"
                              ng-src="{{contractForCreate.iconImg}}" ng-if="contractForCreate.iconImg"/>
                        <span class="shadow-block__content__title__text">
                            {{contractForCreate.title | translate}}
                        </span>
                    </div>
                    <div class="shadow-block__content__text shadow-block__content__text_description">
                        <span>{{contractForCreate.description | translate}}</span>
                    </div>
                </div>
            </div>
            <div ng-if="contractForCreate.additional_link"
                 ng-click="$event.preventDefault(); $event.stopPropagation()"
                 ng-pop-up="{
                    template: '/templates/popups/additional-link.html',
                    class: 'deleting-contract',
                    params: {
                        content: contractForCreate.additional_link.content
                    },
                    newPopupContent: true
                }"
                 class="contract-type_additional-link">
                {{ contractForCreate.additional_link.text }}
            </div>
        </div>
    </div>
</div>
