<div class="main-section-chapter">
    <form class="main-section-chapter-fieldset" name="contractNameForm">
        <div class="main-section-chapter-title">
            <i class="main-section-chapter-title_icon icon-crowdsale"></i>
            <span class="main-section-chapter-title_text">Crowdsale contract</span>
        </div>
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control">
                    <label for="contract-name" class="form-control-label">Enter contract name:</label>
                    <input id="contract-name" type="text"
                           ng-model="contractName"
                           required
                           class="form-control-input"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="main-section-chapter" ng-class="{'no-active': !contractNameForm.$valid}">
    <form name="tokenInfoForm" class="main-section-chapter-fieldset">
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control">
                    <label for="token-name" class="form-control-label">Token name</label>
                    <input id="token-name" type="text"
                           placeholder="MyNewProjectToken"
                           ng-model="request.token_name"
                           pattern='^[^"]+$'
                           required
                           maxlength="512"
                           class="form-control-input"/>
                </div>
            </div>
            <div class="grid-cell grid-cell-2-5 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text">Enter name of the project without spaces, usually 5-25 symbols. Lower and uppercase can be used</span>
            </div>
        </div>
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control">
                    <label for="token-symbol" class="form-control-label">Token symbol</label>
                    <input id="token-symbol" type="text"
                           placeholder="NEW"
                           pattern='^[^"]+$'
                           ng-model="request.token_short_name"
                           maxlength="64"
                           required
                           class="form-control-input"/>
                </div>
            </div>
            <div class="grid-cell grid-cell-2-5 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text">
                    Usually 3-4 Letters like ETH, BTC, NEO, WISH etc.. Please check that it’s unique before submission (<a href="https://etherscan.io/tokens" target="_blank">https://etherscan.io/tokens</a>)
                </span>
            </div>
        </div>
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-1-8 grid-cell-ps-1-5 grid-cell-vs-1-4">
                <div class="form-control">
                    <label for="decimals" class="form-control-label">Decimals</label>
                    <input id="decimals" type="text"
                           placeholder="18"
                           ng-model="request.decimals"
                           commaseparator="{regexp: '^(0|([1-9]{1})|([1-4]{1}[0-9]{1})|(50))$'}"
                           required
                           class="form-control-input text-center"/>
                </div>
            </div>
            <div class="grid-cell grid-cell-2-5 grid-cell-ps-3-5 grid-cell-vs-1 form-control-description">
                <div class="form-control-label hide-vs">&nbsp;</div>
                <span class="form-control-description__text">Defines the number of decimals for the token. 0-50 numerals are accepted. 18 as common practice</span>
            </div>
        </div>
    </form>
</div>

<form class="main-section-chapter" ng-class="{'no-active': !tokenInfoForm.$valid}" name="saleTokensParamsForm">
    <div class="main-section-chapter-fieldset">
        <div class="contract-form-fieldset with-padding">
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="rate" class="form-control-label">
                            <i class="icon-bitcoin-exchange-rate-symbol form-control-label-icon"></i>
                            Token rate
                        </label>
                        <input id="rate" type="text"
                               ng-model="request.rate"
                               commaseparator="{regexp: '^(([1-9][0-9]{0,11})|1[0]{12})$'}"
                               required
                               class="form-control-input"/>
                        <div class="grid-row" ng-if="request.rate">
                            <div class="grid-cell grid-cell-1-2">
                                <div class="field-advanced-description">per 1 ETH</div>
                            </div>
                            <div class="grid-cell grid-cell-1-2">
                                <div class="field-advanced-description">
                                    1 {{ request.token_short_name }} = ${{ (currencyRate.USD / request.rate).toFixed(2) * 1 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-2-5 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                    <div class="form-control-label hide-ps">&nbsp;</div>
                    <span class="form-control-description__text">Defines the rate of your token. 1-100000 numerals are accepted. Usually 500-5000 tokens per 1 ETH</span>
                </div>
            </div>
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="hard-cap" class="form-control-label">
                            <i class="icon-hard-cap form-control-label-icon"></i>
                            Hard cap tokens
                        </label>
                        <input id="hard-cap" type="text"
                               ng-change="checkTokensAmount()"
                               commaseparator="{regexp: '^(([1-9][0-9]{0,25})|(1[0]{26}))$'}"
                               ng-model="request.hard_cap"
                               required
                               class="form-control-input"/>

                        <div class="grid-row" ng-if="request.hard_cap && request.rate">
                            <div class="grid-cell grid-cell-1-2">
                                <div class="field-advanced-description">
                                    ETH {{(request.hard_cap / request.rate)| number:2}}
                                </div>
                            </div>
                            <div class="grid-cell grid-cell-1-2">
                                <div class="field-advanced-description">
                                    ${{(request.hard_cap / request.rate * currencyRate.USD)| number:2}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-2-5 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                    <div class="form-control-label hide-ps">&nbsp;</div>
                    <span class="form-control-description__text">
                        Defines how many tokens can be sold. After reaching this number sale will be stopped automatically. 1-100,000,000,000,000 Numerals are accepted.
                    </span>
                </div>
            </div>
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="soft-cap" class="form-control-label">
                            <i class="icon-soft-cap form-control-label-icon"></i>
                            Soft cap tokens
                        </label>
                        <input id="soft-cap" type="text"
                               ng-model="request.soft_cap"
                               ng-change="checkTokensAmount()"
                               required
                               commaseparator="{regexp: '^(0|([1-9][0-9]{0,25})|(1[0]{26}))$', fullModel: request, checkWith: 'hard_cap'}"
                               class="form-control-input"/>

                        <div class="grid-row" ng-if="request.soft_cap && request.rate">
                            <div class="grid-cell grid-cell-1-2">
                                <div class="field-advanced-description">ETH {{(request.soft_cap / request.rate)| number:2}}</div>
                            </div>
                            <div class="grid-cell grid-cell-1-2">
                                <div class="field-advanced-description">
                                    ${{(request.soft_cap / request.rate * currencyRate.USD)| number:2}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-2-5 grid-cell-ps-4-5 grid-cell-vs-1 form-control-description">
                    <div class="form-control-label hide-ps">&nbsp;</div>
                    <span class="form-control-description__text">
                        Defines the minimum number of tokens that needs to be sold for the project continuation. If soft cap is not reached - contributors get their vestments back, project gets nothing. You can set it to 0 (no soft cap)
                    </span>
                </div>
            </div>
        </div>
        <div class="contract-form-fieldset contract-form-fieldset-grey with-padding">
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="start-date" class="form-control-label">
                            <i class="icon-waiting-2 form-control-label-icon"></i>
                            Start date&nbsp;&nbsp;&nbsp;&nbsp;<span class="form-control-label-grey-text">UTC{{currentTimezone}}</span>
                        </label>
                        <input class="input-for-group-fields"
                               readonly
                               name="checkStartDate"
                               ng-model="request.start_date"
                               tabindex="-1"
                               type="number"
                               ng-attr-min="{{minStartDate.format('X')}}"
                               ng-attr-max="{{dates.endDate.clone().add(-1, 'months').format('X')}}"/>

                        <input type="datetime" required
                               id="start-date"
                               ng-model="dates.startDate"
                               date-change="onChangeStartDate"
                               auto-close="true"
                               min-date="minStartDate"
                               readonly
                               date-time
                               min-view="date"
                               view="year"
                               format="YYYY-MM-DD"
                               position="fixed"
                               ng-attr-invalid="{{!saleTokensParamsForm.checkStartDate.$valid}}"
                               class="form-control-input form-control-input-date"/>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="start-date" class="form-control-label hide-vs">&nbsp;</label>
                        <div class="form-control-input"
                             ng-model="startTime" ng-time-picker
                             ng-attr-invalid="{{!saleTokensParamsForm.checkStartDate.$valid}}"
                             ng-change="onChangeStartTime">&nbsp;</div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-3 form-control-description grid-cell-ps-4-5 grid-cell-ls-1">
                    <label for="start-date" class="form-control-label hide-ps">&nbsp;</label>
                    <span class="form-control-description__text">Start date/time for sale. No contributions will be accepted before that time</span>
                </div>
            </div>
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="end-date" class="form-control-label">
                            <i class="icon-waiting-1 form-control-label-icon"></i>
                            Finish date&nbsp;&nbsp;&nbsp;&nbsp;<span class="form-control-label-grey-text">UTC{{currentTimezone}}</span>
                        </label>

                        <input class="input-for-group-fields"
                               tabindex="-1"
                               readonly
                               name="checkStopDate"
                               ng-model="request.stop_date"
                               type="number"
                               step="1"
                               ng-attr-min="{{dates.startDate.clone().add(1, 'months').seconds(0).format('X')}}"/>

                        <input type="datetime" required
                               id="end-date"
                               ng-model="dates.endDate"
                               date-change="onChangeEndDate"
                               auto-close="true"
                               min-date="minStartDate"
                               readonly
                               date-time
                               min-view="date"
                               view="year"
                               format="YYYY-MM-DD"
                               position="fixed"
                               ng-attr-invalid="{{!saleTokensParamsForm.checkStopDate.$valid}}"
                               class="form-control-input form-control-input-date"/>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="start-date" class="form-control-label hide-vs">&nbsp;</label>
                        <div class="form-control-input"
                             ng-time-picker
                             ng-attr-invalid="{{!saleTokensParamsForm.checkStopDate.$valid}}"
                             ng-change="onChangeStopTime"
                             ng-model="endTime">&nbsp;</div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-3 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                    <label for="start-date" class="form-control-label hide-ps">&nbsp;</label>
                    <span class="form-control-description__text">Finish date/time. No contributions will be accepted after the set time. Can be finished before if hard cap is reached</span>
                </div>
            </div><br/><br/>
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-3 grid-cell-ls-1-2">
                    <div class="form-control">
                        <div class="checkbox-decoration">
                            <label for="is_transferable_at_once" class="form-control-label inline-label">
                                <i class="icon-padlock form-control-label-icon"></i>
                                Transferable:
                            </label>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-6 grid-cell-ps-2-5 grid-cell-ls-1-2">
                    <div class="form-control">
                        <label class="checkbox-decoration">
                            <input type="checkbox" id="is_transferable_at_once" ng-model="request.is_transferable_at_once"/>
                            <span class="checkbox-decoration-displaying">
                                <span class="checkbox-decoration-val checkbox-decoration-val_on">Yes</span>
                                <span class="checkbox-decoration-val checkbox-decoration-val_off">No</span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-2 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                    <span class="form-control-description__text">User can limit transfer of tokens from Contributors until token completion to reduce the speculations. Off is recommended</span>
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-3 grid-cell-ls-1-2">
                    <div class="form-control">
                        <div class="checkbox-decoration">
                            <label for="auto_finalize" class="form-control-label inline-label">
                                <i class="icon-settings form-control-label-icon"></i>
                                Finalize auto:
                            </label>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-6 grid-cell-ps-2-5 grid-cell-ls-1-2">
                    <div class="form-control">
                        <label class="checkbox-decoration">
                            <input type="checkbox" ng-model="request.platform_as_admin" id="auto_finalize"/>
                            <span class="checkbox-decoration-displaying">
                                <span class="checkbox-decoration-val checkbox-decoration-val_on">Yes</span>
                                <span class="checkbox-decoration-val checkbox-decoration-val_off">No</span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-2 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                    <span class="form-control-description__text">Our system can finalize the contract (to make tokens transferable) automatically or you can do it manually</span>
                </div>
            </div>
        </div>
    </div>
</form>

<form class="main-section-chapter" name="timeBonusForm" ng-class="{'no-active': !saleTokensParamsForm.$valid}">
    <div class="main-section-chapter-fieldset">
        <div class="relative contract-form-fieldset with-padding"
             ng-repeat="bonus in request.tokens_bonuses"
             ng-init="prevBonus = $index ? request.tokens_bonuses[$index-1] : false">
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-1-6 grid-cell-ps-1-4 grid-cell-vs-1-3">
                    <div class="form-control">
                        <label class="form-control-label">Bonus</label>
                        <input class="form-control-input" type="number"
                               placeholder="50"
                               ng-change="createTokensBonusChartData()"
                               step="0.1" max="100" min="0.1" required ng-model="bonus.percentage"/>
                        <div class="input-after">%</div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-2-5 grid-cell-ps-3-5 grid-cell-vs-1 form-control-description">
                    <div class="form-control-label hide-vs">&nbsp;</div>
                    <span class="form-control-description__text">Usually 0.1-100%.  How many extra tokens will be sent to contributor.</span>
                </div>
            </div><br/><br/>

            <div class="grid-row">
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-1-3 grid-cell-ls-1-2">
                    <div class="form-control">
                        <div class="checkbox-decoration">
                            <label class="form-control-label inline-label">
                                <i class="icon-padlock form-control-label-icon"></i>
                                Sold tokens bonus:
                            </label>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-6 grid-cell-ps-2-5 grid-cell-ls-1-2">
                    <div class="form-control">
                        <label class="checkbox-decoration">
                            <input type="checkbox"
                                   ng-required="!bonus.isTimesAmount" ng-model="bonus.isTokensAmount"/>
                            <span class="checkbox-decoration-displaying">
                                <span class="checkbox-decoration-val checkbox-decoration-val_on">Yes</span>
                                <span class="checkbox-decoration-val checkbox-decoration-val_off">No</span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-2 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                    <span class="form-control-description__text">Specify how many tokens shall be sold before bonus activation and when bonus deactivated</span>
                </div>
            </div>
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <label class="form-control-label">
                            Tokens from&nbsp;&nbsp;
                            <img src="/static/images/right-arrow.svg" alt="">
                        </label>

                        <input type="text"
                               ng-model="bonus.amount_from"
                               ng-required="bonus.isTokensAmount"
                               ng-disabled="!bonus.isTokensAmount"
                               commaseparator="{min: !$index ? '0.1' : request.tokens_bonuses[$index-1].amount_to}"
                               class="form-control-input"/>
                        <div class="input-after">{{request.token_short_name}}</div>
                    </div>
                </div>

                <div class="grid-cell grid-cell-1-3 grid-cell-ps-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <label class="form-control-label">
                            <img src="/static/images/right-arrow.svg" alt="">&nbsp;&nbsp;
                            Tokens to
                        </label>
                        <input type="text"
                               ng-disabled="!bonus.isTokensAmount"
                               ng-model="bonus.amount_to"
                               ng-required="bonus.isTokensAmount"
                               commaseparator="{min: bonus.amount_from}"
                               class="form-control-input"/>
                        <div class="input-after">{{request.token_short_name}}</div>
                    </div>
                </div>
            </div><br/><br/>

            <div class="grid-row">
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-1-3 grid-cell-ls-1-2">
                    <div class="form-control">
                        <div class="checkbox-decoration">
                            <label class="form-control-label inline-label">
                                <i class="icon-padlock form-control-label-icon"></i>
                                Time bonus:
                            </label>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-6 grid-cell-ps-2-5 grid-cell-ls-1-2">
                    <div class="form-control">
                        <label class="checkbox-decoration">
                            <input type="checkbox" ng-model="bonus.isTimesAmount" ng-required="!bonus.isTokensAmount"/>
                            <span class="checkbox-decoration-displaying">
                                <span class="checkbox-decoration-val checkbox-decoration-val_on">Yes</span>
                                <span class="checkbox-decoration-val checkbox-decoration-val_off">No</span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-2 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                    <span class="form-control-description__text">Specify the time frame when bonus is active for everyone</span>
                </div>
            </div>
            <div ng-if="bonus.isTimesAmount">
                <div class="grid-row contract-form-row">
                    <div class="grid-cell grid-cell-1-3 grid-cell-ps-1-2 grid-cell-vs-1">
                        <div class="form-control" ng-init="">
                            <label class="form-control-label">
                                Time from
                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="form-control-label-grey-text">UTC{{currentTimezone}}</span>
                            </label>

                            <input class="input-for-group-fields"
                                   tabindex="-1"
                                   readonly
                                   ng-attr-name="{{'bonus-time-from-' + $index}}"
                                   type="number"
                                   ng-attr-min="{{prevBonus ? prevBonus.date_to.format('X') * 1 : dates.startDate.format('X') }}"
                                   ng-attr-max="{{dates.endDate.format('X')}}"
                                   ng-if="bonus.isTimesAmount"
                                   ng-model="bonus.check_from"/>

                            <input type="text"
                                   ng-model="bonus.date_from"
                                   date-change="onChangeBonusDate"
                                   auto-close="true"
                                   ng-required="bonus.isTimesAmount"
                                   readonly
                                   date-time
                                   min-view="date"
                                   view="year"
                                   format="YYYY-MM-DD"
                                   position="fixed"
                                   ng-disabled="!bonus.isTimesAmount"
                                   ng-attr-invalid="{{!timeBonusForm['bonus-time-from-' + $index].$valid}}"
                                   class="form-control-input form-control-input-date"/>
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-1-3 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                        <div class="form-control">
                            <label for="start-date" class="form-control-label hide-vs">&nbsp;</label>
                            <div class="form-control-input"
                                 ng-model="bonus.time_from" ng-time-picker
                                 ng-disabled="!bonus.isTimesAmount"
                                 ng-change-data="{model: bonus, field: 'time_from'}"
                                 ng-attr-invalid="{{bonus.isTimesAmount && !timeBonusForm['bonus-time-from-' + $index].$valid}}"
                                 ng-change="onChangeBonusTime">&nbsp;</div>
                        </div>
                    </div>
                </div>

                <div class="grid-row contract-form-row">
                    <div class="grid-cell grid-cell-1-3 grid-cell-ps-1-2 grid-cell-vs-1">
                        <div class="form-control">
                            <label class="form-control-label">
                                Time to
                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="form-control-label-grey-text">UTC{{currentTimezone}}</span>
                            </label>

                            <input class="input-for-group-fields"
                                   tabindex="-1"
                                   readonly
                                   ng-if="bonus.isTimesAmount"
                                   ng-attr-name="{{'bonus-time-to-' + $index}}"
                                   type="number"
                                   ng-attr-min="{{bonus.date_from.format('X') * 1}}"
                                   ng-attr-max="{{dates.endDate.format('X') * 1}}"
                                   ng-model="bonus.check_to"/>


                            <input type="text"
                                   ng-model="bonus.date_to"
                                   date-change="onChangeBonusDate"
                                   auto-close="true"
                                   readonly
                                   date-time
                                   min-view="date"
                                   view="year"
                                   format="YYYY-MM-DD"
                                   position="fixed"
                                   ng-required="bonus.isTimesAmount"
                                   ng-attr-invalid="{{!timeBonusForm['bonus-time-to-' + $index].$valid}}"
                                   ng-disabled="!bonus.isTimesAmount"
                                   class="form-control-input form-control-input-date"/>
                        </div>
                    </div>

                    <div class="grid-cell grid-cell-1-3 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                        <div class="form-control">
                            <label class="form-control-label hide-vs">&nbsp;</label>
                            <div class="form-control-input"
                                 ng-disabled="!bonus.isTimesAmount"
                                 ng-model="bonus.time_to" ng-time-picker
                                 ng-change-data="{model: bonus, field: 'time_to'}"
                                 ng-attr-invalid="{{bonus.isTimesAmount && !timeBonusForm['bonus-time-to-' + $index].$valid}}"
                                 ng-change="onChangeBonusTime">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>

            <i class="icon-cancel float-right form-fieldset-info-button"
               ng-click="deleteTokenBonus(bonus)"
               ng-if="request.tokens_bonuses.length"></i>
        </div>
        <div class="contract-form-fieldset with-padding" ng-if="request.tokens_bonuses.length < 10">
            <div class="grid-row">
                <div class="grid-cell grid-cell-3-5 grid-cell-ls-1 float-right form-control-description" ng-if="!request.tokens_bonuses.length">
                    <span class="form-control-description__text"> You can define bonus depending on amount of sold tokens and time. For example, give extra 10% to the first week contributors</span><br/>
                </div>
                <div class="grid-cell grid-cell-ls-1 form-control-description" ng-class="{'grid-cell-2-5':!request.tokens_bonuses.length, 'grid-cell-1': request.tokens_bonuses.length}">
                    <button class="btn btn-transparent with-icon mobile-width-100"
                            ng-disabled="!timeBonusForm.$valid"
                            type="button" ng-click="addTokenBonus();">
                        <i class="icon-create-contract"></i>
                        <span ng-if="!request.tokens_bonuses.length">Add Time Bonus</span>
                        <span ng-if="request.tokens_bonuses.length">Add Other Time Bonus</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<form class="main-section-chapter" name="amountBonusForm" ng-class="{'no-active': !saleTokensParamsForm.$valid}">
    <div class="main-section-chapter-fieldset">
        <div class="relative contract-form-fieldset with-padding"
             ng-repeat="bonus in request.amount_bonuses"
             ng-init="$index ? bonus.min_amount = request.amount_bonuses[$index-1].max_amount : false">

            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-1-6 grid-cell-ps-1-4 grid-cell-vs-1-3">
                    <div class="form-control">
                        <label class="form-control-label">Bonus</label>
                        <input class="form-control-input" type="number"
                               placeholder="50"
                               ng-change="createAmountBonusChartData()"
                               step="0.1" max="100" min="0.1" required ng-model="bonus.percentage"/>
                        <div class="input-after">%</div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-2-5 grid-cell-ps-3-5 grid-cell-vs-1 form-control-description">
                    <div class="form-control-label hide-vs">&nbsp;</div>
                    <span class="form-control-description__text">Usually 0.1-100%.  How many extra tokens will be sent to contributor.</span>
                </div>
            </div>
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-2-5 grid-cell-ps-4-5 grid-cell-vs-1">
                    <div class="form-control">
                        <label class="form-control-label">
                            Min Amount&nbsp;&nbsp;
                            <img src="/static/images/right-arrow.svg" alt="">
                        </label>
                        <input type="text"
                               placeholder="10"
                               ng-model="bonus.min_amount"
                               ng-change="createAmountBonusChartData()"
                               required
                               commaseparator="{min: !$index ? '0.1' : request.amount_bonuses[$index-1].max_amount}"
                               class="form-control-input"/>
                        <div class="input-after">ETH</div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1 form-control-description">
                    <div class="form-control-label hide-ps">&nbsp;</div>
                    <span class="form-control-description__text">
                        Minimum contribution for getting specified bonus
                    </span>
                </div>
            </div>
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-2-5 grid-cell-ps-4-5 grid-cell-vs-1">
                    <div class="form-control">
                        <label class="form-control-label">
                            <img src="/static/images/right-arrow.svg" alt="">&nbsp;&nbsp;
                            Max Amount
                        </label>
                        <input type="text"
                               ng-model="bonus.max_amount"
                               required
                               ng-change="createAmountBonusChartData()"
                               placeholder="1000"
                               commaseparator="{min: bonus.min_amount}"
                               class="form-control-input"/>
                        <div class="input-after">ETH</div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1 form-control-description">
                    <div class="form-control-label hide-ps">&nbsp;</div>
                    <span class="form-control-description__text">
                        Maximum contribution for getting specified bonus (you can left it empty if there is no limit)
                    </span>
                </div>
            </div>

            <i class="icon-cancel float-right form-fieldset-info-button"
               ng-click="deleteAmountBonus(bonus)"
               ng-if="request.amount_bonuses.length"></i>
        </div>
        <div class="contract-form-fieldset with-padding" ng-if="request.amount_bonuses.length < 10">
            <div class="grid-row">
                <div class="grid-cell grid-cell-3-5 grid-cell-ls-1 float-right form-control-description" ng-if="!request.amount_bonuses.length">
                    <span class="form-control-description__text">You can define bonus depending on contribution Amount. For example, give extra 5% tokens for 10+ ETH contributions</span><br/>
                </div>
                <div class="grid-cell grid-cell-ls-1 form-control-description" ng-class="{'grid-cell-2-5':!request.amount_bonuses.length, 'grid-cell-1': request.amount_bonuses.length}">
                    <button class="btn btn-transparent with-icon mobile-width-100"
                            ng-disabled="!amountBonusForm.$valid"
                            type="button" ng-click="addAmountBonus();">
                        <i class="icon-create-contract"></i>
                        <span ng-if="!request.amount_bonuses.length">Add Amount Bonus</span>
                        <span ng-if="request.amount_bonuses.length">Add Other Amount Bonus</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="contract-form-fieldset contract-form-fieldset-grey with-padding" ng-if="amountBonusChartData.length && amountBonusForm.$valid">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1">
                    <div class="form-control-label">
                        Тут можно воткнуть какой-то заголовок
                    </div>
                    <div class="form-control-description one-line without-padding">
                        <span class="form-control-description__text">А тут можно вставить описание этой визуализации</span>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1">
                    <div ng-bar-chart="{data: amountBonusChartData}"></div>
                </div>
            </div>
        </div>

    </div>
</form>

<form class="main-section-chapter" ng-class="{'no-active': !saleTokensParamsForm.$valid}" name="distributionForm">
    <div class="main-section-chapter-fieldset">
        <div class="contract-form-fieldset with-padding">
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-2-3 grid-cell-ps-4-5 grid-cell-ls-1">
                    <div class="form-control">
                        <label for="admin-address" class="form-control-label">Investments Storage Address</label>
                        <input id="admin-address" type="text"
                               placeholder="0x1234567890adfbced543567acbedf34565437e8f"
                               ng-model="request.admin_address"
                               ng-pattern="/^0x[0-9a-f]{40}$/i"
                               required
                               class="form-control-input"/>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                    <div class="form-control-label hide-ps">&nbsp;</div>
                    <span class="form-control-description__text"> ETH address (not exchange address). All contributions will be sent to that address after finish date if soft cap is reached. Double check the address before entering it</span>
                </div>
            </div>
        </div>
    </div>
    <div class="main-section-chapter-fieldset">
        <div class="contract-form-fieldset relative with-padding"
             ng-repeat="recipient in request.token_holders">
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-2-3 grid-cell-ps-4-5 grid-cell-ls-1">
                    <div class="form-control">
                        <label for="out-wallet-key-{{$index}}" class="form-control-label">Address</label>
                        <input id="out-wallet-key-{{$index}}" type="text"
                               placeholder="Enter the address of the recipient's wallet"
                               ng-pattern="/^0x[0-9a-f]{40}$/i"
                               ng-model="recipient.address"
                               ng-change="!recipient.name ? checkTokensAmount() : false"
                               required
                               class="form-control-input"/>
                    </div>
                </div>
                <div class="clearfix show-ps"><br/></div>
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="address-name-{{$index}}" class="form-control-label">Name</label>
                        <input id="address-name-{{$index}}" type="text"
                               ng-change="checkTokensAmount()"
                               ng-model="recipient.name"
                               class="form-control-input"/>
                    </div>
                </div>

                <div class="clearfix show-full hide-ps show-vs"><br/></div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="address-amount-{{$index}}" class="form-control-label">Token amount</label>
                        <input class="form-control-input"
                               id="address-amount-{{$index}}"
                               commaseparator="{regexp: '^(([1-9][0-9]{0,25})|(1[0]{26}))$'}"
                               required
                               ng-attr-invalid="{{tokensAmountError}}"
                               ng-change="checkTokensAmount()"
                               ng-model="recipient.amount"/>
                    </div>
                </div>
                <div class="clearfix show-ps"><br/></div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-ls-1">
                    <label class="form-control-label">
                        <i class="icon-snowflake form-control-label-icon"></i>
                        Frozen until date&nbsp;&nbsp;&nbsp;&nbsp;<span class="form-control-label-grey-text">UTC{{currentTimezone}}</span>
                    </label>
                    <div class="form-control">
                        <div class="grid-row contract-form-row">
                            <div class="grid-cell grid-cell-2-5">
                                <label class="checkbox-decoration">
                                    <input type="checkbox" ng-model="recipient.isFrozen"/>
                                    <span class="checkbox-decoration-displaying">
                                        <span class="checkbox-decoration-val checkbox-decoration-val_on">Yes</span>
                                        <span class="checkbox-decoration-val checkbox-decoration-val_off">No</span>
                                    </span>
                                </label>
                            </div>
                            <div class="grid-cell grid-cell-3-5">
                                <input ng-model="recipient.parsed_freeze_date"
                                       ng-attr-name="{{'recipient_freeze_date_' + $index}}"
                                       class="input-for-group-fields"
                                       type="number"
                                       ng-if="recipient.isFrozen"
                                       ng-attr-min="{{request.stop_date}}">

                                <input type="datetime"
                                       ng-required="{{recipient.isFrozen}}"
                                       ng-disabled="!recipient.isFrozen"
                                       ng-model="recipient.freeze_date"
                                       date-change="onChangeDateOfRecipient"
                                       auto-close="true"
                                       readonly
                                       date-time
                                       min-date="minStartDate"
                                       min-view="date"
                                       view="year"
                                       format="YYYY-MM-DD"
                                       position="fixed"
                                       ng-attr-invalid="{{!distributionForm['recipient_freeze_date_' + $index].$valid}}"
                                       class="form-control-input form-control-input-date"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <i class="icon-cancel float-right form-fieldset-info-button"
               ng-click="removeRecipient(recipient); checkTokensAmount();"
               ng-if="request.token_holders.length"></i>
        </div>
        <div class="contract-form-fieldset with-padding" ng-if="request.token_holders.length < 5">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1 float-right form-control-description">
                    <span class="form-control-description__text">You can reserve the tokens for Team, Bonuses, Bounties - these tokens will be created, but can’t be sold until token sale completion</span><br/>
                </div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1 form-control-description">
                    <button class="btn btn-transparent with-icon mobile-width-100" type="button" ng-click="addRecipient(); checkTokensAmount();">
                        <i class="icon-create-contract"></i>
                        <span>Add extra address</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="contract-form-fieldset contract-form-fieldset-grey with-padding" ng-if="!tokensAmountError">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1">
                    <div class="form-control-label">
                        <!--({{totalSupply.eth|separateNumber}} ETH)-->
                        Total supply: {{totalSupply.tokens|separateNumber}} {{request.token_short_name}}
                    </div>
                    <div class="form-control-description one-line without-padding">
                        <span class="form-control-description__text">Max possible emission of tokens, no more tokens can be minted.</span>
                    </div>
                </div>
                <div class="grid-cell grid-cell-4-7 grid-cell-ps-1">
                    <div id="chartdiv" class="chart-container" style="height: 240px"
                         ng-chart
                         ng-chart-data="chartData"
                         ng-chart-options="chartOptions"></div>
                </div>
                <div class="grid-cell grid-cell-3-7 grid-cell-ps-1">
                    <div class="chart-legend">
                        <div class="chart-legend-item" ng-repeat="chartDataItem in chartData">
                            <span class="chart-legend-item_color" style="background-color: {{chartDataItem.color}}"></span>
                            <span class="chart-legend-item_name" ng-attr-title="{{chartDataItem.address}}">{{chartDataItem.name || chartDataItem.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="main-section-chapter-fieldset custom-fieldset">
    <div class="contract-form-fieldset"><br/>
        <div class="grid-row">
            <div class="grid-cell grid-cell-1">
                <div class="costs-info-block">
                    <span class="costs-info-title">Contract`s cost: </span>
                    <div class="show-vs"></div>
                    <span class="costs-info-value">{{wishCost}}</span>
                    <span class="costs-info-currency">WISH</span>
                    <span class="costs-info-value">(1 ETH)</span>
                </div>
            </div>
        </div><br/>
    </div>
    <div class="contract-form-fieldset"><br/>
        <div class="contract-form-information-btns">
            <div class="grid-row">
                <div class="grid-cell grid-cell-vs-1-2">
                    <button class="uppercase btn btn-submit mobile-width-100"
                            type="button" ng-disabled="!distributionForm.$valid || tokensAmountError" ng-click="createContract()">
                        <span ng-if="!editContractMode">&nbsp;&nbsp;&nbsp;Create&nbsp;&nbsp;&nbsp;</span>
                        <span ng-if="editContractMode">&nbsp;&nbsp;&nbsp;Update&nbsp;&nbsp;&nbsp;</span>
                    </button>
                </div>
                <div class="grid-cell grid-cell-vs-1-2">
                    <button class="btn btn-red with-icon mobile-width-100" ng-click="resetForms($event)">
                        <i class="icon-delete-button"></i>
                        <span ng-if="!editContractMode">Clear</span>
                        <span ng-if="editContractMode">Reset</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- div class="main-section-chapter-fieldset main-section-chapter-fieldset-error-info" ng-if="tokensAmountError">
    <i class="icon-attention"></i>
    <p>
        Owner, Attention!<br/>
        The value you set out in the Soft Cap and Token distribution in total higher than Hard Cap/ Please decrease
        the values set in Soft Cap and Token distribution or increase the Hard Cap
    </p>
</div -->