<div class="just-text">
    <i class="icon-help"></i>
    <a href="https://www.youtube.com/watch?v=VxBOoeDQY9k"
       target="_blank"
       translate="CONTRACTS.FORMS.WATCH_INSTRUCTION">
    </a>
</div>
<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="contract-info__network"
             ng-class="'contract-info__network_' + network">
            <span>{{('CONTRACTS_NETWORKS.NETWORK_' + network)|translate}}</span>
        </div>
        <div class="shadow-block__content__blue-title">
            <i class="shadow-block__content__blue-title__icon icon-eos-airdrop"></i>
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size" translate="CONTRACTS.FORMS.AIRDROP.TITLE"></span>
            </div>
        </div>
    </div>
    <form class="shadow-block__content shadow-block__content_min-tb-padding no-border" name="contractNameForm">
        <div class="grid-row">
            <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control">
                    <label for="contract-name" class="form-control-label"
                           translate="CONTRACTS.FORMS.FIELDS.ENTER_CONTRACT_NAME.LABEL"></label>
                    <input id="contract-name" type="text"
                           ng-model="request.name"
                           required
                           class="form-control-input"/>
                </div>
            </div>
        </div>
    </form>
</div>


<form class="shadow-block" name="managementAddressForm">
    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1">
                <div class="form-control">
                    <label for="admin_address"
                           class="form-control-label">
                        <span translate="CONTRACTS.FORMS.EOS_AIRDROP.FIELDS.MANAGEMENT_ACCOUNT.LABEL"></span>
                        <span ng-show="network == 11">
                            (<span class="as-link" ng-click="request.contract_details.admin_address = testAddresses.EOS">paste address sample</span>)
                        </span>
                    </label>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-ls-1">
                <div class="form-control">
                    <div ng-eos-account
                         ng-model="request.contract_details.admin_address"
                         ng-eos-account-options="{
                            name: 'admin_address',
                            network: request.network,
                            onInit: initField
                         }"></div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                <!--<div class="form-control-label hide-ps">&nbsp;</div>-->
                <span class="form-control-description__text"
                      translate="CONTRACTS.FORMS.EOS_AIRDROP.FIELDS.MANAGEMENT_ACCOUNT.DESCRIPTION"></span>
            </div>
        </div>
    </div>
</form>

<form class="shadow-block" name="tokenAddressForm"
      ng-class="{'no-active': !managementAddressForm.$valid}" novalidate>
    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-ls-1">
                <div class="form-control">
                    <label for="token_address"
                           class="form-control-label"
                           translate="CONTRACTS.FORMS.EOS_AIRDROP.FIELDS.TOKEN_ACCOUNT.LABEL"></label>
                    <div ng-eos-account
                         ng-model="request.contract_details.token_address"
                         ng-eos-account-options="{
                            name: 'token_address',
                            network: request.network,
                            disabled: !managementAddressForm.$valid,
                            onInit: initField
                         }"></div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text"
                      translate="CONTRACTS.FORMS.EOS_AIRDROP.FIELDS.TOKEN_ACCOUNT.DESCRIPTION"></span>
            </div>
        </div>

    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control">
                    <label for="token_field" class="form-control-label"
                           translate="CONTRACTS.FORMS.TOKEN.FIELDS.TOKEN_SYMBOL.LABEL"></label>

                    <div ng-eos-token
                         ng-model="request.contract_details.token_short_name"
                         ng-eos-token-options="{
                            name: 'token_field',
                            network: request.network,
                            tokenAddress: request.contract_details.token_address,
                            disabled: !managementAddressForm.$valid,
                            onInit: initField
                         }"></div>
                </div>
            </div>

            <div class="grid-cell grid-cell-1-2 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text"
                      translate="CONTRACTS.FORMS.EOS_AIRDROP.FIELDS.SYMBOL.DESCRIPTION"></span>
            </div>
        </div>
    </div>
</form>

<form class="shadow-block" ng-class="{'no-active': !(managementAddressForm.$valid && tokenAddressForm.$valid)}"
      name="accountsCountForm">
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control">
                    <label for="accounts_count"
                           translate="CONTRACTS.FORMS.EOS_AIRDROP.FIELDS.ACCOUNTS_COUNT.LABEL"
                           class="form-control-label"></label>

                    <div class="form-control">
                        <input ng-model="request.contract_details.address_count"
                               class="form-control-input"
                               required
                               commaseparator="{
                                    max: 50000,
                                    regexp: '^[1-9][0-9]*$',
                               }"
                               ng-change="checkContractCost()"
                               id="accounts_count">
                    </div>
                </div>
            </div>

            <div class="grid-cell grid-cell-1-2 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text"
                      translate="CONTRACTS.FORMS.EOS_AIRDROP.FIELDS.ACCOUNTS_COUNT.DESCRIPTION">
                </span>
            </div>
        </div>
    </div>

    <div class="relative shadow-block__content shadow-block__content_min-tb-padding grey-color no-border"
         ng-if="(request.network == 10) && (getCostProgress || eosAirdropCost)">

        <span class="lds-ellipsis for-shadow-block" ng-if="getCostProgress">
            <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
            </span>
        </span>

        <div class="form-control-label" ng-if="(sitemode !== 'eos') && (getCostProgress || eosAirdropCost)"
             ng-class="{'no-visibility': getCostProgress}">
            <span translate="CONTRACTS.ENTER_PROMO_BLOCK.COST" translate="CONTRACTS.ENTER_PROMO_BLOCK.COST"></span>
            <div class="show-vs"></div>
            {{bigNumber(eosAirdropCost.WISH).round(2).toString(10)|separateNumber}}&nbsp;WISH&nbsp;&nbsp;&nbsp;
            <span class="grey-text-color">
                {{(eosAirdropCost.ETH||'0')|separateNumber}}&nbsp;ETH
            </span>
        </div>

        <div class="form-control-label" ng-if="(sitemode === 'eos') && (getCostProgress || eosAirdropCost)"
             ng-class="{'no-visibility': getCostProgress}">
            <span translate="CONTRACTS.ENTER_PROMO_BLOCK.COST" translate="CONTRACTS.ENTER_PROMO_BLOCK.COST"></span>
            <div class="show-vs"></div>
            {{bigNumber(eosAirdropCost.EOSISH).round(2).toString(10)|separateNumber}}&nbsp;EOSISH&nbsp;&nbsp;&nbsp;
            <span class="grey-text-color">
                {{eosAirdropCost.EOS | separateNumber}}&nbsp;EOS
            </span>
        </div>
    </div>

</form>
<br/><br/><br/>

<div class="grid-row">
    <div class="grid-cell grid-cell-vs-1-2">
        <button class="uppercase btn btn-submit mobile-width-100"
                type="button" ng-disabled="!(managementAddressForm.$valid && tokenAddressForm.$valid && accountsCountForm.$valid)"
                ng-click="createContract()">
            <span class="lds-ellipsis" ng-if="contractInProgress">
                <span class="lds-ellipsis-container">
                    <span></span><span></span><span></span><span></span>
                </span>
            </span>
            <span ng-if="!editContractMode">&nbsp;&nbsp;&nbsp;{{ "BUTTONS.CREATE"|translate }}&nbsp;&nbsp;&nbsp;</span>
            <span ng-if="editContractMode">&nbsp;&nbsp;&nbsp;{{ "BUTTONS.UPDATE"|translate }}&nbsp;&nbsp;&nbsp;</span>
        </button>
    </div>
    <div class="grid-cell grid-cell-vs-1-2">
        <button class="btn btn-red with-icon mobile-width-100" ng-click="resetForms($event)">
            <i class="icon-delete-button"></i>
            <span ng-if="!editContractMode" translate="BUTTONS.CLEAN"></span>
            <span ng-if="editContractMode" translate="BUTTONS.RESET"></span>
        </button>
    </div>
</div>

