<div class="just-text">
    <i class="icon-help"></i>
    <a href="https://www.youtube.com/watch?v=6d0DDhbRuSQ"
       target="_blank"
       translate="CONTRACTS.FORMS.WATCH_INSTRUCTION">
    </a>
</div>
<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="contract-info__network"
             ng-class="'contract-info__network_' + network">
            <span>{{('CONTRACTS_NETWORKS.NETWORK_' + network)|translate}}</span>
        </div>
        <div class="shadow-block__content__blue-title">
            <i class="shadow-block__content__blue-title__icon icon-crowdsale"></i>
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size" translate="CONTRACTS.FORMS.CROWD_SALE.TITLE"></span>
            </div>
        </div>
    </div>
    <form class="shadow-block__content shadow-block__content_no-tb-padding no-border" name="contractNameForm">
        <div class="grid-row">
            <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control">
                    <label for="contract-name" class="form-control-label"
                           translate="CONTRACTS.FORMS.FIELDS.ENTER_CONTRACT_NAME.LABEL"></label>
                    <input id="contract-name" type="text"
                           ng-model="contractName"
                           required
                           class="form-control-input"/>
                </div>
            </div>
        </div><br/><br/>
    </form>
</div>

<form class="shadow-block"
      ng-class="{'no-active': !contractNameForm.$valid}" name="tokenInfoForm">
    <div class="shadow-block__content" ng-include="getTemplate('pages/createcontract/eosCrowdSale/token_info')"></div>
</form>

<!--<form class="shadow-block"-->
      <!--ng-class="{'no-active': !(tokenInfoForm.$valid && contractNameForm.$valid)}">-->
    <!--<div ng-include="getTemplate('pages/createcontract/eosCrowdSale/type_of_crowdsale')"></div>-->
<!--</form>-->

<form class="shadow-block"
      ng-class="{'no-active': !(tokenInfoForm.$valid && contractNameForm.$valid)}" name="tokenOwnerForm">
    <div ng-include="getTemplate('pages/createcontract/eosCrowdSale/token_owner')"></div>
</form>

<form class="shadow-block"
      ng-class="{'no-active': !(tokenInfoForm.$valid && contractNameForm.$valid && tokenOwnerForm.$valid)}" name="accountKeysForm">
    <div ng-include="getTemplate('pages/createcontract/eosCrowdSale/public-keys')"></div>
</form>

<form class="shadow-block"
      ng-class="{'no-active': !(tokenInfoForm.$valid && contractNameForm.$valid && tokenOwnerForm.$valid && accountKeysForm.$valid)}"
      name="saleTokensParamsForm">
    <div ng-include="getTemplate('pages/createcontract/eosCrowdSale/crowdsale_params')"></div>
</form>

<form class="shadow-block"
      ng-class="{'no-active': !(tokenInfoForm.$valid && contractNameForm.$valid && tokenOwnerForm.$valid && accountKeysForm.$valid && saleTokensParamsForm.$valid)}"
      name="minMaxInvestmentsForm">
    <div ng-include="getTemplate('pages/createcontract/eosCrowdSale/min_max_investments')"></div>
</form>

<form class="shadow-block"
      ng-class="{'no-active': !(tokenInfoForm.$valid && contractNameForm.$valid && tokenOwnerForm.$valid && accountKeysForm.$valid && saleTokensParamsForm.$valid && minMaxInvestmentsForm.$valid)}"
      name="distributionForm">
    <div ng-controller="eosCrowdSaleHoldersController"
         ng-include="getTemplate('pages/createcontract/eosCrowdSale/holders')"></div>
</form>

<br/><br/><br/>

<div class="grid-row">
    <div class="grid-cell grid-cell-vs-1-2">
        <button class="uppercase btn btn-submit mobile-width-100"
                type="button"
                ng-disabled="!(tokenInfoForm.$valid && contractNameForm.$valid && tokenOwnerForm.$valid && accountKeysForm.$valid && saleTokensParamsForm.$valid && minMaxInvestmentsForm.$valid && distributionForm.$valid)"
                ng-click="createContract()">
            <span ng-if="!editContractMode">&nbsp;&nbsp;&nbsp;{{ "BUTTONS.CREATE"|translate }}&nbsp;&nbsp;&nbsp;</span>
            <span ng-if="editContractMode">&nbsp;&nbsp;&nbsp;{{ "BUTTONS.UPDATE"|translate }}&nbsp;&nbsp;&nbsp;</span>
        </button>
    </div>
    <div class="grid-cell grid-cell-vs-1-2">
        <button class="btn btn-red with-icon mobile-width-100" ng-click="resetForms($event)">
            <i class="icon-delete-button"></i>
            <span ng-if="!editContractMode" translate="BUTTONS.CLEAN"></span>
            <span ng-if="editContractMode" translate="BUTTONS.RESET"></span>
        </button>
    </div>
</div>
