<div class="main-section-chapter">
    <form class="main-section-chapter-fieldset" name="contractNameForm">
        <div class="main-section-chapter-title">
            <i class="main-section-chapter-title_icon icon-lastwill"></i>
            <span class="main-section-chapter-title_text">Will contract</span>
        </div>
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control">
                    <label for="contract-name" class="form-control-label">Enter contract name:</label>
                    <input id="contract-name" type="text"
                           ng-model="contractName"
                           required
                           class="form-control-input"/>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="main-section-chapter">
    <h2 class="content-section-title">
        <i class="icon-wallet"></i>
        <span>Send from</span>
    </h2>
    <div class="main-section-chapter-fieldset">
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-1">
                <div class="form-control">
                    <div class="form-control-label float-right"
                         ng-bind="checkedBalance ? 'Balance: ' + (checkedBalance | number).replace(numberReplacer, ' ') + ' ETH' : balanceInProgress ? 'Please wait...' : ' '"></div>
                    <label for="wallet-key" class="form-control-label">Your wallet</label>
                    <input id="wallet-key" type="text"
                           ng-model="walletAddress"
                           placeholder="Enter your ETH wallet address"
                           required
                           ng-pattern="/^0x[0-9a-f]{40}$/i"
                           ng-change="getBalance()"
                           class="form-control-input"/>
                </div>
            </div>
        </div>
    </div>

    <div ng-help="{
        text: 'Owner of this address will be able to manage the contract (it\'s the only one).',
        id: 'help1'
    }"></div>
</div>


<form class="main-section-chapter"
      ng-class="{'no-active': !checkedBalance}"
      name="hairsForm">
    <h2 class="content-section-title">
        <i class="icon-in-wallet"></i>
        <span>Send to</span>
    </h2>
    <div class="main-section-chapter-fieldset" ng-repeat="hair in hairsList track by $index">
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-1">
                <div class="form-control">
                    <label for="out-wallet-key" class="form-control-label">Send to wallet</label>
                    <input id="out-wallet-key" type="text"
                           placeholder="Enter the address of the recipient's wallet"
                           ng-pattern="/^0x[0-9a-f]{40}$/i"
                           ng-model="hair.address"
                           required
                           class="form-control-input"/>
                </div>
            </div><br/>
            <div class="clearfix"></div><br/>
            <div class="grid-cell grid-cell-1-2 grid-cell-vs-1" ng-if="hairsList.length > 1">
                <div class="form-control">
                    <div class="form-control-label">Share</div>
                    <div data-sum-percentage="{{ percentageSum }}"
                         ng-ranger="{model: hair, onChange: hairPercentChange, sumStatus: percentageStatus}"></div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
                <div class="form-control">
                    <label class="form-control-label">E-mail for notification</label>
                    <input ng-model="hair.email"
                           placeholder="Enter the e-mail"
                           type="email" class="form-control-input"/>
                </div>
            </div>
        </div>
        <button class="contact-remove-btn" type="button"
                ng-click="removeHair(hair)"
                ng-if="hairsList.length > 1">
            <i class="icon-cancel"></i>
        </button>
    </div>

    <div ng-help="{
        text: 'Enter the recipient address. Enter e-mail address to which we send notification about transfer.',
        id: 'help2'
    }"></div>

    <br/><br/>
    <button class="btn btn-transparent with-icon" type="button" ng-click="addHair()">
        <i class="icon-create-contract"></i>
        <span>Add wallet</span>
    </button>
</form>

<form class="main-section-chapter" name="conditionsForm" ng-class="{'no-active': !checkedBalance || !hairsForm.$valid}">
    <h2 class="content-section-title">
        <i class="icon-conditions"></i>
        <span>Conditions</span>
    </h2>
    <div class="main-section-chapter-fieldset">
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-1">
                <div class="form-control">
                    <label class="form-control-label">Wallet’s activity</label>
                    <div ng-select
                         ng-model="request.activate"
                         ng-model-list="listWalletActivity"
                         ng-select-options="{class: 'select-1', label: 'name', value: 'value'}"></div>
                </div>
            </div>
        </div>
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
                <div class="form-control">
                    <label class="form-control-label">Check every</label>
                    <div class="form-controls-group">
                        <div class="form-control-little">
                            <input type="text"
                                   required
                                   ng-change="changeCondition()"
                                   ng-model="checkPeriod"
                                   ng-pattern="/^[1-9]+[0-9]*?$/"
                                   class="form-control-input text-center"/>
                        </div>
                        <div class="form-control">
                            <div ng-select
                                 ng-model="checkPeriodSelect"
                                 ng-change="changeCondition()"
                                 ng-model-list="durationList"
                                 ng-select-options="{class: 'select-1', label: 'name', value: 'value'}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-cell grid-cell-1-2 grid-cell-vs-1 grid-cell-vs-padding-top">
                <div class="form-control form-control-date">
                    <label class="form-control-label">Due date</label>
                    <input type="datetime" required
                           ng-model="dueDate"
                           date-change="onChangeDate"
                           auto-close="true"
                           min-date="minDate"
                           readonly
                           date-time
                           timezone="UTC"
                           min-view="date"
                           view="year"
                           format="YYYY-MM-DD"
                           position="fixed"
                           class="form-control-input"/>
                </div>
            </div>
        </div>
    </div>

    <div ng-help="{
        text: 'Enter the contract\'s conditions - specify when it will make the transfer.',
        id: 'help3'
    }"></div>

</form>



<div class="main-section-chapter">
    <div class="costs-info-block">
        <span class="costs-info-title">Contract`s cost: </span>
        <span class="costs-info-value">{{checkedCost}}</span>
        <span class="costs-info-currency">WISH</span>
    </div>
    <div class="contract-form-row">
        <div class="contract-form-information-btns">
            <button class="uppercase btn btn-submit mobile-width-100"
                    type="button"
                    ng-disabled="!checkedBalance || !hairsForm.$valid || !conditionsForm.$valid || (percentageSum !== 100)"
                    ng-click="createContract()">
                <span ng-if="!editContractMode">&nbsp;&nbsp;&nbsp;Create&nbsp;&nbsp;&nbsp;</span>
                <span ng-if="editContractMode">&nbsp;&nbsp;&nbsp;Update&nbsp;&nbsp;&nbsp;</span>
            </button>
            <button class="btn btn-red with-icon" ng-click="resetForms($event)">
                <i class="icon-delete-button"></i>
                <span ng-if="!editContractMode">Clear</span>
                <span ng-if="editContractMode">Reset</span>
            </button>
        </div>
    </div>
</div>

