<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="contract-info__network"
             ng-class="'contract-info__network_' + (network.id || 1)">
            <span>{{network.name}}</span>
        </div>
        <div class="shadow-block__content__blue-title">
            <i class="shadow-block__content__blue-title__icon icon-lastwill"></i>
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size ng-binding">Will contract</span>
            </div>
        </div>
    </div>
    <form class="shadow-block__content shadow-block__content_no-tb-padding no-border" name="contractNameForm">
        <div class="grid-row">
            <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                <div class="form-control">
                    <label for="contract-name" class="form-control-label">Enter contract name:</label>
                    <input id="contract-name" type="text"
                           ng-model="contractName"
                           required
                           class="form-control-input"/>
                </div>
            </div>
        </div><br/><br/>
    </form>
</div>



<form class="shadow-block" name="mainForm" ng-class="{'no-active': !contractNameForm.$valid}">
    <div class="shadow-block__content">
        <div class="grid-row">
            <div class="grid-cell grid-cell-2-3 grid-cell-ps-4-5 grid-cell-ls-1">
                <div class="form-control">
                    <div class="form-control-label float-right"
                         ng-if="mainForm.$valid"
                         ng-bind="checkedBalance ? 'Balance: ' + (checkedBalance | number).replace(numberReplacer, ' ') + ' ' + networkName : balanceInProgress ? 'Please wait...' : ' '"></div>

                    <label for="wallet-key" class="form-control-label">Management address</label>
                    <input id="wallet-key" type="text"
                           ng-model="request.user_address"
                           placeholder="Enter your {{networkName}} wallet address"
                           required
                           ng-change="checkBalance()"
                           ng-pattern="/^0x[0-9a-f]{40}$/i"
                           class="form-control-input"/>
                    <span class="field-error form-field_error-check-sum"
                          ng-if="request.user_address ? !web3Utils.checkAddressChecksum(request.user_address) : false"
                          style="display: block">Address is not checksummed</span>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-3 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text" ng-if="networkName == 'ETH'">
                    {{networkName}} address (not exchange address).
                    This address will manage the will contract. Double check the address (and access to it) before submission
                </span>
                <span class="form-control-description__text" ng-if="networkName == 'RSK'">
                    This address will manage your contract.
                    You can create it by <a href="https://jaxx.io/" target="_blank">Jaxx</a> wallet.
                    Double check it before submission.
                </span>
            </div>
            <div class="clearfix"></div><br/>

            <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
                <div class="form-control">
                    <label class="form-control-label">Your Email for remainder & notifications</label>
                    <input ng-model="request.email"
                           required
                           placeholder="Enter the e-mail"
                           type="email" class="form-control-input"/>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text">We will remind you to confirm "live" status & send notifications about the contract</span>
            </div>
        </div>
    </div>
</form>


<form class="shadow-block" name="hairsForm" ng-class="{'no-active': !(mainForm.$valid && contractNameForm.$valid)}">
    <div class="shadow-block__content" ng-repeat="hair in hairsList track by $index">
        <div class="grid-row">
            <div class="grid-cell grid-cell-2-3 grid-cell-ps-4-5 grid-cell-ls-1">
                <div class="form-control">
                    <label for="out-wallet-key" class="form-control-label">Beneficiary address</label>
                    <input id="out-wallet-key" type="text"
                           placeholder="Enter {{networkName}} address"
                           ng-pattern="/^0x[0-9a-f]{40}$/i"
                           ng-check-sum
                           ng-model="hair.address"
                           required
                           class="form-control-input"/>
                    <span class="field-error form-field_error-check-sum"
                          ng-if="hair.address ? !web3Utils.checkAddressChecksum(hair.address) : false"
                          style="display: block">Address is not checksummed</span>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-3 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text" ng-if="networkName == 'ETH'">
                    Enter {{networkName}} address of beneficiary. After contract execution funds will be sent to that address.
                </span>
                <span class="form-control-description__text" ng-if="networkName == 'RSK'">
                    Enter RSK address of beneficiary. After contract execution funds will be sent to that address. Heir can create it by
                    <a href="https://jaxx.io/" target="_blank">jaxx</a> too.
                </span>
            </div>
            <div class="clearfix"></div><br/>
            <div class="grid-cell grid-cell-1" ng-if="hairsList.length > 1">
                <div class="form-control">
                    <div class="form-control-label">Share</div>
                    <div data-sum-percentage="{{ percentageSum }}"
                         ng-ranger="{model: hair, onChange: hairPercentChange, sumStatus: percentageStatus}"></div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
                <div class="form-control">
                    <label class="form-control-label">E-mail for notification</label>
                    <input ng-model="hair.email"
                           placeholder="Enter the e-mail"
                           type="email" class="form-control-input"/>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text">Enter e-mail address to which we send notification about transfer</span>
            </div>
        </div>
        <i class="icon-cancel float-right form-fieldset-info-button"
           ng-click="removeHair(hair);" ng-if="hairsList.length > 1"></i>
    </div>
</form>
<div ng-if="hairsList.length"><br/><br/></div>
<div ng-if="hairsList.length < 5">
    <button class="btn btn-transparent with-icon" type="button" ng-click="addHair()"
            ng-disabled="!(mainForm.$valid && contractNameForm.$valid)">
        <i class="icon-create-contract"></i>
        <span>Add beneficiary</span>
    </button>
    <br/><br/><br/>
</div>

<form class="shadow-block" name="conditionsForm" ng-class="{'no-active': !(mainForm.$valid && contractNameForm.$valid && hairsForm.$valid)}">
    <div class="shadow-block__content">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1">
                <div class="form-control">
                    <div class="form-control-label">Define how often you want to confirm your "Live" status</div>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
                <div class="form-control">
                    <label class="form-control-label">Confirmation transaction every</label>
                    <div class="form-controls-group">
                        <div class="form-control-little">
                            <input class="input-for-group-fields"
                                   tabindex="-1"
                                   readonly
                                   name="checkTimeLimit"
                                   type="number"
                                   max="3650"
                                   ng-model="checkedTimeLimit"/>

                            <input type="text"
                                   maxlength="3"
                                   required
                                   ng-change="checkTimeLimit()"
                                   ng-model="checkPeriod"
                                   ng-pattern="/^[1-9]+[0-9]*?$/"
                                   ng-attr-invalid="{{!conditionsForm['checkTimeLimit'].$valid}}"
                                   class="form-control-input text-center"/>
                        </div>
                        <div class="form-control">
                            <div ng-select
                                 ng-select-change="checkTimeLimit()"
                                 ng-model="checkPeriodSelect"
                                 ng-model-list="durationList"
                                 ng-select-options="{class: 'select-1', label: 'name', value: 'value'}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text">You will need to send transaction to the contract from management address every time.</span>
            </div>
        </div>
    </div>
</form>

<form class="shadow-block" name="dueDateForm" ng-class="{'no-active': !(mainForm.$valid && contractNameForm.$valid && hairsForm.$valid && conditionsForm.$valid)}">
    <div class="shadow-block__content">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1-2 grid-cell-vs-1 grid-cell-vs-padding-top">
                <div class="form-control form-control-date">
                    <label class="form-control-label">Will contract expiration</label>
                    <input type="datetime" required
                           ng-model="dueDate"
                           date-change="onChangeDate"
                           auto-close="true"
                           min-date="minDate"
                           readonly
                           date-time
                           timezone="UTC"
                           min-view="date"
                           view="year"
                           format="YYYY-MM-DD"
                           position="fixed"
                           class="form-control-input"/>
                </div>
            </div>

            <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text"> After due date all funds will be send to management address if all confirmations received at time.</span>
            </div>
        </div>
    </div>
</form>

<form class="shadow-block" ng-class="{'no-active': !(mainForm.$valid && contractNameForm.$valid && hairsForm.$valid && conditionsForm.$valid)}">
    <div class="shadow-block__content">
        <div class="grid-row"
             ng-init="request.platform_cancel = networkName !== 'ETH'">
            <div class="grid-cell grid-cell-1-3 grid-cell-ps-1-3 grid-cell-ls-1-2">
                <div class="form-control">
                    <div class="checkbox-decoration">
                        <label class="form-control-label-checkbox">
                            <span>Cancel contract via MyWish</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-6 grid-cell-ps-2-5 grid-cell-ls-1-2">
                <div class="form-control">
                    <label class="checkbox-decoration">
                        <input type="checkbox" ng-model="request.platform_cancel" disabled>
                        <span class="checkbox-decoration-displaying">
                        <span class="checkbox-decoration-val checkbox-decoration-val_on">Yes</span>
                        <span class="checkbox-decoration-val checkbox-decoration-val_off">No</span>
                    </span>
                    </label>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-2 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                <span class="form-control-description__text">
                     If "On" you will be able to Cancel the contract and get all funds back by 1-Click on MyWish.
                </span>
            </div>
        </div>
        <div class="grid-row"
             ng-init="request.platform_alive = networkName !== 'ETH'">
            <div class="grid-cell grid-cell-1-3 grid-cell-ps-1-3 grid-cell-ls-1-2">
                <div class="form-control">
                    <div class="checkbox-decoration">
                        <label class="form-control-label-checkbox">
                            <span>Confirm "Live" via MyWish</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-6 grid-cell-ps-2-5 grid-cell-ls-1-2">
                <div class="form-control">
                    <label class="checkbox-decoration">
                        <input type="checkbox" ng-model="request.platform_alive" disabled>
                        <span class="checkbox-decoration-displaying">
                            <span class="checkbox-decoration-val checkbox-decoration-val_on">Yes</span>
                            <span class="checkbox-decoration-val checkbox-decoration-val_off">No</span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-2 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                <span class="form-control-description__text">
                    If "On" you will be able to Confirm "Live" status by 1-Click on MyWish.
                </span>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-cell grid-cell-1">
                <span class="form-control-description__text">
                     Off mode for both options are more secured, but less convenient for use. You will need to install Metamask for management the contract. On options give you ability to manage the contract by MyWish.
                </span>
            </div>
        </div>
    </div>
</form>
<br/><br/><br/>
<div class="grid-row">
    <div class="grid-cell grid-cell-vs-1-2">
        <button class="uppercase btn btn-submit mobile-width-100"
                type="button"
                ng-disabled="!(mainForm.$valid && contractNameForm.$valid && hairsForm.$valid && conditionsForm.$valid) || (percentageSum !== 100)"
                ng-click="createContract()">
            <span ng-if="!editContractMode">&nbsp;&nbsp;&nbsp;Create&nbsp;&nbsp;&nbsp;</span>
            <span ng-if="editContractMode">&nbsp;&nbsp;&nbsp;Update&nbsp;&nbsp;&nbsp;</span>
        </button>
    </div>
    <div class="grid-cell grid-cell-vs-1-2">
        <button class="btn btn-red with-icon mobile-width-100" ng-click="resetForms($event)">
            <i class="icon-delete-button"></i>
            <span ng-if="!editContractMode">Clear</span>
            <span ng-if="editContractMode">Reset</span>
        </button>
    </div>
</div>