<div class="contract-type-name">
    <i class="icon-pizza contract-type-name_icon"></i>
    <div class="contract-type-name_title">Pizza</div>
</div>

<div class="main-section-chapter">
    <h2 class="content-section-title">
        <i class="icon-wallet"></i>
        <span>Send from</span>
    </h2>
    <div class="main-section-chapter-fieldset">
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-1">
                <div class="form-control">
                    <div class="form-control-label float-right"
                         ng-bind="checkedBalance ? 'Balance: ' + (checkedBalance | number).replace(numberReplacer, ' ') + ' ETH' : balanceInProgress ? 'Please wait...' : ' '"></div>
                    <label for="wallet-key" class="form-control-label">Your wallet</label>
                    <input id="wallet-key" type="text"
                           ng-model="walletAddress"
                           placeholder="Enter your ETH wallet address"
                           required
                           ng-pattern="/^0x[0-9a-f]{40}$/i"
                           ng-change="getBalance()"
                           class="form-control-input"/>
                </div>
            </div>
        </div>
    </div>

    <div ng-help="{
        text: 'Owner of this address will be able to manage the contract (it\'s the only one).',
        id: 'helpShopping1'
    }"></div>
</div>



<div class="main-section-chapter" ng-class="{'no-active': !checkedBalance}" ng-if="checkedAmount">
    <div class="costs-info-block">
        <span class="costs-info-title">Contract`s cost: </span>
        <span class="costs-info-value" ng-bind="checkedAmount"></span>
        <span class="costs-info-currency">ETH</span>
    </div>
    <div class="clearfix"></div>
    <div class="contract-form-row">
        <div class="contract-form-information-btns">
            <a href="#" ng-click="createContract($event)" class="btn btn-submit mobile-width-100">
                <span>Pay</span>
            </a>
        </div>
    </div>
</div>
