<div class="main-section-chapter">
    <form class="main-section-chapter-fieldset" name="contractParamsForm">
        <div class="main-section-chapter-title">
            <i class="main-section-chapter-title_icon icon-crowdsale"></i>
            <span class="main-section-chapter-title_text">Token contract</span>
        </div>
        <div class="contract-form-row">
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="token-name" class="form-control-label">Token name</label>
                        <input id="token-name" type="text"
                               placeholder="MyNewProjectToken"
                               ng-model="request.token_name"
                               pattern='^[^"]+$'
                               required
                               maxlength="512"
                               class="form-control-input"/>
                    </div>
                </div>
                <div class="grid-cell grid-cell-2-5 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                    <div class="form-control-label hide-ps">&nbsp;</div>
                    <span class="form-control-description__text">Enter name of the project without spaces, usually 5-25 symbols. Lower and uppercase can be used</span>
                </div>
            </div>
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-3-5 grid-cell-ps-4-5 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="token-symbol" class="form-control-label">Token symbol</label>
                        <input id="token-symbol" type="text"
                               placeholder="NEW"
                               pattern='^[^"]+$'
                               ng-model="request.token_short_name"
                               maxlength="64"
                               required
                               class="form-control-input"/>
                    </div>
                </div>
                <div class="grid-cell grid-cell-2-5 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                    <div class="form-control-label hide-ps">&nbsp;</div>
                    <span class="form-control-description__text">
                Usually 3-4 Letters like ETH, BTC, NEO, WISH etc.. Please check that it’s unique before submission (<a href="https://etherscan.io/tokens" target="_blank">https://etherscan.io/tokens</a>)
            </span>
                </div>
            </div>
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-1-8 grid-cell-ps-1-5 grid-cell-vs-1-4">
                    <div class="form-control">
                        <label for="decimals" class="form-control-label">Decimals</label>
                        <input id="decimals" type="text"
                               placeholder="18"
                               ng-model="request.decimals"
                               commaseparator="{regexp: '^(0|([1-9]{1})|([1-4]{1}[0-9]{1})|(50))$'}"
                               required
                               class="form-control-input text-center"/>
                    </div>
                </div>
                <div class="grid-cell grid-cell-2-5 grid-cell-ps-3-5 grid-cell-vs-1 form-control-description">
                    <div class="form-control-label hide-vs">&nbsp;</div>
                    <span class="form-control-description__text">Defines the number of decimals for the token. 0-50 numerals are accepted. 18 as common practice</span>
                </div>
            </div>
        </div>
    </form>
</div>

<form class="main-section-chapter" name="contractTypeForm">
    <div class="main-section-chapter-fieldset">
        <div class="contract-form-fieldset with-padding">
            <div class="form-control-label">Choose Type of Token</div>
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-3 grid-cell-ls-1">
                    <div class="form-control">
                        <div class="checkbox-decoration">
                            <label class="radio-button-decoration">
                                <input type="radio" id="pre-sale-mode-radio" name="sale-mode" ng-model="request.continue_minting" ng-value="true">
                                <span ng-class="{'icon-radio-checked': request.continue_minting, 'icon-radio-unchecked': !request.continue_minting}"></span>
                            </label>
                            <label class="form-control-label inline-label" for="pre-sale-mode-radio">ERC20</label>
                        </div>
                    </div>
                </div>

                <div class="grid-cell grid-cell-2-3 grid-cell-ls-1 form-control-description">
                    <span class="form-control-description__text">You can make as many pre-sale rounds as you want</span>
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-3 grid-cell-ls-1">
                    <div class="form-control">
                        <div class="checkbox-decoration">
                            <label class="radio-button-decoration">
                                <input type="radio" id="sale-mode-radio" name="sale-mode" ng-model="request.continue_minting" ng-value="false">
                                <span ng-class="{'icon-radio-checked': !request.continue_minting, 'icon-radio-unchecked': request.continue_minting}"></span>
                            </label>
                            <label class="form-control-label inline-label" for="sale-mode-radio">ERC223</label>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-2-3 grid-cell-ls-1 form-control-description">
                    <span class="form-control-description__text">No sale is possible after final sale. No more tokens can be created after end date</span>
                </div>
            </div>
        </div>
    </div>
</form>

<form class="main-section-chapter" ng-class="{'no-active': !contractParamsForm.$valid}" name="tokenOwnerForm">
    <div class="main-section-chapter-fieldset">
        <div class="contract-form-fieldset with-padding">
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-2-3 grid-cell-ps-4-5 grid-cell-ls-1">
                    <div class="form-control">
                        <label for="owner-address" class="form-control-label">Token Owner</label>
                        <input id="owner-address" type="text"
                               placeholder="0x1234567890adfbced543567acbedf34565437e8f"
                               ng-model="request.admin_address"
                               ng-pattern="/^0x[0-9a-f]{40}$/i"
                               required
                               class="form-control-input"/>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                    <div class="form-control-label hide-ps">&nbsp;</div>
                    <span class="form-control-description__text">ETH address (not exchange address). This address will be owner of the token (after sale end date). Double check the address (and access to it) before submission</span>
                </div>
            </div>
        </div>
    </div>
</form>

<form class="main-section-chapter" ng-class="{'no-active': !tokenOwnerForm.$valid}" name="defineAddresses">
    <div class="main-section-chapter-fieldset">
        <div class="contract-form-fieldset relative with-padding"
             ng-repeat="recipient in token_holders">
            <div class="grid-row contract-form-row">

                <div class="grid-cell grid-cell-1" ng-if="!$index">
                    <div class="form-control">
                        <div class="form-control-label">Define address for tokens (after minting it will be sent to this address)</div>
                    </div>
                </div>

                <div class="grid-cell grid-cell-2-3 grid-cell-ps-4-5 grid-cell-ls-1">
                    <div class="form-control">
                        <label for="out-wallet-key-{{$index}}" class="form-control-label">Address</label>
                        <input id="out-wallet-key-{{$index}}" type="text"
                               placeholder="Enter the address of the recipient's wallet"
                               ng-pattern="/^0x[0-9a-f]{40}$/i"
                               ng-model="recipient.address"
                               ng-change="!recipient.name ? checkTokensAmount() : false"
                               required
                               class="form-control-input"/>
                    </div>
                </div>
                <div class="clearfix show-ps"><br/></div>
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="address-name-{{$index}}" class="form-control-label">Name</label>
                        <input id="address-name-{{$index}}" type="text"
                               ng-change="checkTokensAmount()"
                               ng-model="recipient.name"
                               class="form-control-input"/>
                    </div>
                </div>

                <div class="clearfix show-full hide-ps show-vs"><br/></div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="address-amount-{{$index}}" class="form-control-label">Token amount</label>
                        <input class="form-control-input"
                               id="address-amount-{{$index}}"
                               commaseparator="{regexp: '^(([1-9][0-9]{0,25})|(1[0]{26}))$'}"
                               required
                               ng-attr-invalid="{{tokensAmountError}}"
                               ng-change="checkTokensAmount()"
                               ng-model="recipient.amount"/>
                    </div>
                </div>
                <div class="clearfix show-ps"><br/></div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-ls-1">
                    <label class="form-control-label">
                        <i class="icon-snowflake form-control-label-icon"></i>
                        Frozen until date&nbsp;&nbsp;&nbsp;&nbsp;<span class="form-control-label-grey-text">UTC{{currentTimezone}}</span>
                    </label>
                    <div class="form-control">
                        <div class="grid-row contract-form-row">
                            <div class="grid-cell grid-cell-2-5">
                                <label class="checkbox-decoration">
                                    <input type="checkbox" ng-model="recipient.isFrozen"/>
                                    <span class="checkbox-decoration-displaying">
                                    <span class="checkbox-decoration-val checkbox-decoration-val_on">Yes</span>
                                    <span class="checkbox-decoration-val checkbox-decoration-val_off">No</span>
                                </span>
                                </label>
                            </div>

                            <div class="grid-cell grid-cell-3-5">
                                <input ng-model="recipient.parsed_freeze_date"
                                       ng-attr-name="{{'recipient_freeze_date_' + $index}}"
                                       class="input-for-group-fields"
                                       type="number"
                                       ng-if="recipient.isFrozen"
                                       ng-attr-min="{{request.stop_date * 1 + 1}}">

                                <input type="datetime"
                                       ng-required="recipient.isFrozen"
                                       ng-disabled="!recipient.isFrozen"
                                       ng-model="recipient.freeze_date"
                                       date-change="onChangeDateOfRecipient"
                                       auto-close="true"
                                       readonly
                                       date-time
                                       min-date="minStartDate"
                                       min-view="date"
                                       view="year"
                                       format="YYYY-MM-DD"
                                       position="fixed"
                                       ng-attr-invalid="{{!distributionForm['recipient_freeze_date_' + $index].$valid}}"
                                       class="form-control-input form-control-input-date"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <i class="icon-cancel float-right form-fieldset-info-button"
               ng-click="removeRecipient(recipient); checkTokensAmount();"
               ng-if="token_holders.length > 1"></i>
        </div>
        <div class="contract-form-fieldset with-padding" ng-if="token_holders.length < 5">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1 float-right form-control-description">
                    <span class="form-control-description__text">You can reserve the tokens for Team, Bonuses, Bounties - these tokens will be created, but can’t be sold until token sale completion</span><br/>
                </div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1 form-control-description">
                    <button class="btn btn-transparent with-icon mobile-width-100" type="button" ng-click="addRecipient(); checkTokensAmount();">
                        <i class="icon-create-contract"></i>
                        <span>Add address</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="contract-form-fieldset contract-form-fieldset-grey with-padding" ng-if="token_holders.length && !tokensAmountError">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1">
                    <div class="form-control-label">
                        <!--({{totalSupply.eth|separateNumber}} ETH)-->
                        Total supply: {{totalSupply.tokens|separateNumber}} {{request.token_short_name}}
                    </div>
                    <div class="form-control-description one-line without-padding">
                        <span class="form-control-description__text">Max possible emission of tokens, no more tokens can be minted.</span>
                    </div>
                </div>
                <div class="grid-cell grid-cell-4-7 grid-cell-ps-1">
                    <div id="chartdiv" class="chart-container" style="height: 240px"
                         ng-chart
                         ng-chart-data="chartData"
                         ng-chart-options="chartOptions"></div>
                </div>
                <div class="grid-cell grid-cell-3-7 grid-cell-ps-1">
                    <div class="chart-legend">
                        <div class="chart-legend-item" ng-repeat="chartDataItem in chartData">
                            <span class="chart-legend-item_color" style="background-color: {{chartDataItem.color}}"></span>
                            <span class="chart-legend-item_name" ng-attr-title="{{chartDataItem.address}}">{{chartDataItem.name || chartDataItem.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form class="main-section-chapter" ng-class="{'no-active': !defineAddresses.$valid}">
    <form class="main-section-chapter-fieldset">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-3 grid-cell-ls-1-2">
                <div class="form-control">
                    <div class="checkbox-decoration">
                        <label for="is_transferable_at_once" class="form-control-label inline-label">
                            <i class="icon-feature-minting form-control-label-icon"></i>
                            Future Minting:
                        </label>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-6 grid-cell-ps-2-5 grid-cell-ls-1-2">
                <div class="form-control">
                    <label class="checkbox-decoration">
                        <input type="checkbox" id="is_transferable_at_once" ng-model="request.is_transferable_at_once" class="ng-pristine ng-untouched ng-valid ng-empty">
                        <span class="checkbox-decoration-displaying">
                        <span class="checkbox-decoration-val checkbox-decoration-val_on">Yes</span>
                        <span class="checkbox-decoration-val checkbox-decoration-val_off">No</span>
                    </span>
                    </label>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-2 form-control-description grid-cell-ps-4-5 grid-cell-vs-1">
                <span class="form-control-description__text">User can limit transfer of tokens from Contributors until token completion to reduce the speculations. Off is recommended</span>
            </div>
        </div>
    </form>
</form>


<div class="main-section-chapter-fieldset custom-fieldset">
    <div class="contract-form-fieldset"></div>
    <div class="contract-form-fieldset without-padding"><br/><br/>
        <div class="contract-form-information-btns">
            <div class="grid-row">
                <div class="grid-cell grid-cell-vs-1-2">
                    <button class="uppercase btn btn-submit mobile-width-100"
                            type="button"
                            ng-disabled="!(contractParamsForm.$valid && defineAddresses.$valid)"
                            ng-click="createContract()">
                        <span ng-if="!editContractMode">&nbsp;&nbsp;&nbsp;Create&nbsp;&nbsp;&nbsp;</span>
                        <span ng-if="editContractMode">&nbsp;&nbsp;&nbsp;Update&nbsp;&nbsp;&nbsp;</span>
                    </button>
                </div>
                <div class="grid-cell grid-cell-vs-1-2">
                    <button class="btn btn-red with-icon mobile-width-100" ng-click="resetForms($event)">
                        <i class="icon-delete-button"></i>
                        <span ng-if="!editContractMode">Clear</span>
                        <span ng-if="editContractMode">Reset</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>