<div class="main-section-chapter simple-form-chapter">
    <div class="main-section-chapter-fieldset ">
        <div class="simple-form_title">Wedding contract</div>
        <div class="simple-form_text">
            Please fill the form below and specify your wishes. We will ask contact of your partner before contract creation.
        </div>
    </div>
</div>
<form class="simple-form" ng-submit="sendForm(requestForm)" novalidate name="requestForm">
    <div class="simple-form-wrapper">
        <div class="simple-form-field-row">
            <label class="simple-form-field-label">User&nbsp;name</label>
            <div class="simple-form-field-input">
                <input class="form-control-input" ng-model="request.username" required/>
            </div>
        </div>
        <div class="simple-form-field-row">
            <label class="simple-form-field-label">Email</label>
            <div class="simple-form-field-input">
                <input class="form-control-input" type="email" ng-model="request.email" required/>
            </div>
        </div>
        <div class="simple-form-field-row">
            <label class="simple-form-field-label simple-form-mobile-hidden">&nbsp;</label>
            <div class="simple-form-field-input">
                <textarea  class="form-control-input" placeholder="Contract description" ng-model="request.message" required></textarea>
            </div>
        </div>
        <div class="simple-form-field-row">
            <div class="simple-form-field-label simple-form-mobile-hidden">&nbsp;</div>
            <div class="simple-form-field-input simple-form-buttons-container">
                <button class="btn btn-submit">
                    <span>SEND</span>
                </button>
                <button class="btn btn-transparent" type="reset">
                    <span>Clean</span>
                </button>
            </div>
        </div>
    </div>
</form>


<div ng-pop-up="{
    template: '/templates/popups/form-request-success.html',
    opened: true,
    class: 'deleting-contract',
    noClickShow: true,
    onClose: resetForm
}" ng-if="formRequestSuccess"></div>
