<form name="buyTokensForm">
    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <div class="grid-row">
            <div class="grid-cell grid-cell-3-4 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label">Send WISH-2D5 to:</label>
                    <div class="form-control-input-container">
                        <input ng-model="currentUser.bnb_address"
                               disabled="disabled"
                               type="text" class="form-control-input">

                        <div class="input-after dynamic-info">
                            <button class="instruction-for-copy-button relative"
                                    clipboard supported="supported"
                                    ng-class="{copied: formData.copied['mywish-account']}"
                                    text="currentUser.bnb_address"
                                    on-copied="$root.successCodeCopy(formData, 'mywish-account')"
                                    type="button">
                                <i class="icon-content_copy"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- div class="grid-cell grid-cell-1-2 grid-cell-ps-1 form-control-description">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text"
                      translate="PAGES.EOS_BUY_TOKENS.EOS_ACCOUNT.DESCRIPTION"></span>
            </div -->
        </div>

        <div class="grid-row">
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label"
                           translate="PAGES.EOS_BUY_TOKENS.MEMO_FIELD.LABEL"></label>
                    <div class="form-control-input-container">
                        <input disabled="disabled"
                               ng-value="currentUser.memo"
                               type="text" class="form-control-input">

                        <div class="input-after dynamic-info">
                            <button class="instruction-for-copy-button relative"
                                    clipboard supported="supported"
                                    ng-class="{copied: formData.copied['memo']}"
                                    text="currentUser.memo"
                                    on-copied="$root.successCodeCopy(formData, 'memo')">
                                <i class="icon-content_copy"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-1 form-control-description">
                <div class="form-control-label hide-ps">&nbsp;</div>
                <span class="form-control-description__text"
                      translate="PAGES.EOS_BUY_TOKENS.MEMO_FIELD.DESCRIPTION"></span>
            </div>
        </div>
    </div>

    <div class="shadow-block__content shadow-block__content_min-tb-padding grey-color">
        <button class="btn btn-submit float-right"
                type="button"
                ng-click="payDone()">
            <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.DONE'|translate}}&nbsp;&nbsp;&nbsp;</span>
        </button>
    </div>
</form>
