<form name="buyTokensForm">
    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <div class="grid-row">
            <div class="grid-cell grid-cell-3-4 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label">Send BWISH to:</label>
                    <div class="form-control-input-container">
                        <input ng-model="currentUser.internal_address"
                               disabled="disabled"
                               type="text" class="form-control-input">

                        <div class="input-after dynamic-info">
                            <button class="instruction-for-copy-button relative"
                                    clipboard supported="supported"
                                    ng-class="{copied: formData.copied['mywish-account']}"
                                    text="currentUser.internal_address"
                                    on-copied="$root.successCodeCopy(formData, 'mywish-account')"
                                    type="button">
                                <i class="icon-content_copy"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shadow-block__content shadow-block__content_min-tb-padding grey-color">
        <button class="btn btn-submit float-right"
                type="button"
                ng-click="payDone()">
            <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.DONE'|translate}}&nbsp;&nbsp;&nbsp;</span>
        </button>
    </div>
</form>
