<form name="buyTokensForm">
    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <div class="grid-row">
            <div class="grid-cell grid-cell-3-8 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label">{{'PAGES.BUY_TOKENS.SEND'|translate}}&nbsp;&nbsp;<img src="/static/images/right-arrow.svg" alt=""></label>
                    <input type="text" placeholder="0"
                           class="form-control-input with-currency"
                           required
                           commaseparator="{regexp: '^[0-9]{0,25}([.][0-9]{0,18})?$'}"
                           pattern="^[0-9,]{0,25}([.][0-9]{1,18})?$"
                           ng-model="amountsValues.BTC"
                           ng-change="convertAmountFrom('BTC')">
                    <div class="input-after">BTC</div>
                </div>
            </div>
            <div class="grid-cell grid-cell-3-8 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label"><img src="/static/images/right-arrow.svg" alt="">&nbsp;&nbsp;{{'PAGES.BUY_TOKENS.GET'|translate}}</label>
                    <input type="text" placeholder="0"
                           class="form-control-input with-currency"
                           required
                           commaseparator="{regexp: '^[0-9]{0,25}([.][0-9]{0,18})?$'}"
                           pattern="^[0-9,]{0,25}([.][0-9]{1,18})?$"
                           ng-model="amountsValues.WISH"
                           ng-change="convertAmountTo('BTC')">
                    <div class="input-after">WISH</div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-4 grid-cell-ps-1 form-control-description"
                 ng-include="getTemplate('pages/buytokens-forms/usdt')">
            </div>
        </div><br/>
        <div class="grid-row">
            <div class="grid-cell grid-cell-3-4 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label">{{'PAGES.BUY_TOKENS.SEND_BTC'|translate}}</label>
                    <input type="text" class="form-control-input form-control-input--wish"
                           disabled ng-model="currentUser.internal_btc_address">
                </div>
            </div>

            <div class="grid-cell hide-ps grid-cell-1-4">
                <div class="form-control text-right">
                    <span class="form-control-label">&nbsp;</span>
                    <button class="btn btn-gray center-input-field"
                            clipboard supported="supported"
                            text="currentUser.internal_btc_address"
                            on-copied="$root.successCodeCopy(copied, 'to_btc_address')"
                            on-error="failCodeCopy(err)"
                            ng-show="!copied.copied['to_btc_address']"
                            type="button">
                        <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.COPY'|translate}}&nbsp;&nbsp;&nbsp;</span>
                    </button>

                    <button class="btn btn-as-link center-input-field"
                            disabled
                            ng-if="copied.copied['to_btc_address']"
                            type="button">
                        <span>&nbsp;&nbsp;{{'COPIED'|translate}}&nbsp;&nbsp;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="attention-text">
            <div class="attention-text__title">
                <i class="icon-alert-circle"></i>{{'PAGES.BUY_TOKENS.BTC_ATTENTION.RED_TEXT'|translate}}
            </div>

            <span translate="PAGES.BUY_TOKENS.BTC_ATTENTION.TEXT"></span>
        </div>
    </div>

    <div class="shadow-block__content shadow-block__content_min-tb-padding grey-color">
        <button class="btn btn-submit float-right"
                type="button"
                ng-click="payDone()">
            <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.DONE'|translate}}&nbsp;&nbsp;&nbsp;</span>
        </button>
    </div>
</form>
