<div class="grid-row contract-form-row">
    <div class="grid-cell buy-tokens__title">
        BTC
    </div>
</div>
<div class="grid-row contract-form-row">
    <div class="grid-cell grid-cell-3-8 grid-cell-ps-1">
        <div class="form-control">
            <label class="form-control-label">Send  <img src="/static/images/right-arrow.svg" alt=""></label>
            <input type="text" placeholder="0" class="form-control-input">
            <div class="input-after">ETH</div>
        </div>
    </div>
    <div class="grid-cell grid-cell-3-8 grid-cell-ps-1">
        <div class="form-control">
            <label class="form-control-label"><img src="/static/images/right-arrow.svg" alt="">  Get</label>
            <input type="text" placeholder="0" class="form-control-input">
            <div class="input-after">WISH</div>
        </div>
    </div>
</div>
<div class="grid-row contract-form-row">
    <div class="grid-cell grid-cell-3-4 grid-cell-ps-1">
        <div class="form-control">
            <label class="form-control-label">Send your BTC to:</label>
            <input type="text" class="form-control-input">
        </div>
    </div>
    <div class="grid-cell grid-cell-1-4 grid-cell-ps-1">
        <div class="form-control form-control--copy form-control--copy--mobile">
            <button class="btn btn-dark  " type="button">
                <span>Copy</span>
            </button>
        </div>
    </div>
</div>
<div class="grid-row contract-form-row">
    <div class="attention-text">
        <div class="attention-text__title">ATTENTION!</div>
        You will receive tokens as soon as 5 blicks are formed in BTC blickchain after transaction is completed. The approximate time of receipt of the transaction is 1 hour
    </div>
</div>
<div class="grid-row contract-form-row">
    <div class="grid-cell grid-cell-1">
        <div class="form-control form-control">
            <button class="btn btn-blue" type="button">
                <span>Done</span>
            </button>
        </div>
    </div>
</div>