<form ng-controller="buytokensEthController" name="buyTokensForm">

    <div class="contract-form-fieldset">
        <br/>
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-3-8 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label">Send&nbsp;&nbsp;<img src="/static/images/right-arrow.svg" alt=""></label>
                    <input type="text" placeholder="0"
                           class="form-control-input with-currency" ng-model="formData.ethAmount"
                           required
                           commaseparator="{regexp: '^[0-9]{0,25}([.][0-9]{0,18})?$'}"
                           pattern="^[0-9,]{0,25}([.][0-9]{1,18})?$"
                           ng-change="checkWishesAmount()">
                    <div class="input-after">ETH</div>
                </div>
            </div>
            <div class="grid-cell grid-cell-3-8 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label"><img src="/static/images/right-arrow.svg" alt="">&nbsp;&nbsp;Get</label>
                    <input type="text" placeholder="0"
                           class="form-control-input with-currency"
                           required
                           commaseparator="{regexp: '^[0-9]{0,25}([.][0-9]{0,18})?$'}"
                           pattern="^[0-9,]{0,25}([.][0-9]{1,18})?$"
                           ng-model="formData.wishesAmount" ng-change="checkEthAmount()">
                    <div class="input-after">WISH</div>
                </div>
            </div>
        </div>
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-3-4 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label">Send your ETH to:</label>
                    <input type="text" class="form-control-input form-control-input--wish"
                           disabled ng-model="formData.toAddress">
                </div>
            </div>

            <div class="grid-cell hide-ps grid-cell-1-4">
                <div class="form-control text-right">
                    <span class="form-control-label">&nbsp;</span>
                    <button class="btn btn-back center-input-field"
                            clipboard supported="supported"
                            text="formData.toAddress"
                            on-copied="successCodeCopy(false, 'to_address')"
                            on-error="failCodeCopy(err)"
                            ng-show="!copied['to_address']"
                            type="button">
                        <span>&nbsp;&nbsp;&nbsp;Copy&nbsp;&nbsp;&nbsp;</span>
                    </button>

                    <button class="btn btn-as-link center-input-field"
                            disabled
                            ng-if="copied['to_address']"
                            type="button">
                        <span>&nbsp;&nbsp;Copied&nbsp;&nbsp;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-2">
                <div class="form-control">
                    <div class="form-control-description">
                        <span>Gas price 30 gwei</span>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-2">

                <div class="form-control">
                    <div class="form-control-description">
                        <span>Gas limit 30.000</span>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-2">
                <div class="form-control text-right text-left-ps" ng-init="createdContract = {owner_address: formData.toAddress}">
                    <div class="form-control-description">
                        <span class="as-link" ng-pop-up="{
                            template: '/templates/popups/pay-instruction.html',
                            params: {
                                createdContract: createdContract,
                                successCodeCopy: successCodeCopy,
                                failCodeCopy: failCodeCopy
                            }
                        }">How to do it?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-fieldset-delimiter"><span>OR</span></div>

    <div class="contract-form-fieldset">
        <div class="grid-row contract-form-row payment-row">
            <div class="grid-cell grid-cell-1">
                <div class="form-control form-control--payment-title">
                    <label class="form-control-label">Select payment method:</label>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-3 grid-cell-ps-1">
                <div class="form-control form-control">
                    <label class="choose">
                        <input type="radio" ng-model="formData.activeService" value="myetherwallet">
                        <div class="btn btn-payment btn-payment--wallet">
                            <span>MyEtherwallet</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-3 grid-cell-ps-1">
                <div class="form-control form-control text-center">
                    <label class="choose">
                        <input type="radio" ng-model="formData.activeService" value="parity" ng-disabled="!wallets.parity">
                        <div class="btn btn-payment btn-payment--parity" ng-disabled="!wallets.parity.length">
                            <span>Parity</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-3 grid-cell-ps-1">
                <div class="form-control form-control text-right">
                    <label class="choose">
                        <input type="radio" ng-model="formData.activeService" value="metamask" ng-disabled="!wallets.metamask.length">
                        <div class="btn btn-payment btn-payment--metamask" ng-disabled="!wallets.metamask.length">
                            <span>Metamask</span>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="grid-row contract-form-row" ng-if="formData.activeService">
            <div class="grid-cell grid-cell-3-4 grid-cell-ps-1" ng-if="formData.activeService != 'myetherwallet'">
                <div class="form-control">
                    <label class="form-control-label">Choose your wallet:</label>
                    <div ng-select
                         ng-model="formData.address"
                         ng-model-list="wallets[formData.activeService]"
                         ng-select-options="{class: 'select-1'}"></div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1 show-ps">&nbsp;</div>
            <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-2 grid-cell-vs-1">
                <div class="form-control">
                    <label class="form-control-label">Enter Amount:</label>
                    <input type="text"
                           ng-model="formData.amount"
                           class="form-control-input"
                           commaseparator="{notNull: true, regexp: '^([0]{1}|([1-9]{1}[0-9]{0,24}))([.](([0]{3}([1-9][0-9]{0,14})?)|([0]{0,3}([1-9][0-9]{0,18})?))?)?$'}"
                           pattern="^([0]|([1-9][0-9,]{0,24}))([.](([0]{3}[1-9][0-9]{0,14})|([0]{0,3}[1-9][0-9]{0,18})))?$"
                           required>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-3  grid-cell-vs-1">
                <div class="form-control">
                    <label class="form-control-label" ng-class="{'show-ps': formData.activeService != 'myetherwallet'}">&nbsp;</label>
                    <button class="btn btn-transparent center-input-field"
                            ng-disabled="!buyTokensForm.$valid"
                            ng-if="formData.activeService == 'metamask'"
                            type="button" ng-click="sendTransaction()">
                        <span>&nbsp;&nbsp;&nbsp;Pay&nbsp;&nbsp;&nbsp;</span>
                    </button>

                    <a class="btn btn-transparent center-input-field"
                       ng-if="formData.activeService == 'parity'"
                       target="_blank" ng-click="sendTransaction()"
                       ng-disabled="!buyTokensForm.$valid"
                       href="http://localhost:8545">
                        <span>&nbsp;&nbsp;&nbsp;Pay&nbsp;&nbsp;&nbsp;</span>
                    </a>

                    <a class="btn btn-transparent center-input-field"
                       ng-if="formData.activeService == 'myetherwallet'"
                       ng-disabled="!buyTokensForm.$valid" target="_blank"
                       ng-attr-href="{{ buyTokensForm.$valid ? 'https://www.myetherwallet.com/?sendMode=ether&to=' + formData.toAddress + '&gaslimit=' + formData.gaslimit + '&value=' + formData.amount : undefined }}">
                        <span>&nbsp;&nbsp;&nbsp;Pay&nbsp;&nbsp;&nbsp;</span>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div class="contract-form-fieldset with-padding contract-form-fieldset-grey">
        <div class="grid-row contract-form-row">
            <div class="grid-cell grid-cell-1">
                <div class="form-control float-right">
                    <button class="btn btn-submit"
                            type="button"
                            ng-click="payDone()">
                        <span>&nbsp;&nbsp;&nbsp;Done&nbsp;&nbsp;&nbsp;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>