<form name="buyTokensForm">
    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <div class="grid-row">
            <div class="grid-cell grid-cell-3-8 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label">{{'PAGES.BUY_TOKENS.SEND'|translate}}&nbsp;&nbsp;<img src="/static/images/right-arrow.svg" alt=""></label>
                    <input type="text" placeholder="0"
                           class="form-control-input with-currency"
                           required
                           commaseparator="{regexp: '^[0-9]{0,25}([.][0-9]{0,18})?$'}"
                           pattern="^[0-9,]{0,25}([.][0-9]{1,18})?$"
                           ng-model="amountsValues.TRX"
                           ng-change="convertAmountFrom('TRX')">
                    <div class="input-after">TRX</div>
                </div>
            </div>
            <div class="grid-cell grid-cell-3-8 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label"><img src="/static/images/right-arrow.svg" alt="">&nbsp;&nbsp;{{'PAGES.BUY_TOKENS.GET'|translate}}</label>
                    <input type="text" placeholder="0"
                           class="form-control-input with-currency"
                           commaseparator="{regexp: '^[0-9]{0,25}([.][0-9]{0,2})?$'}"
                           pattern="^[0-9,]{0,25}([.][0-9]{1,2})?$"
                           ng-model="amountsValues.WISH"
                           ng-change="convertAmountTo('TRX')">
                    <div class="input-after">WISH</div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-4 grid-cell-ps-1 form-control-description"
                 ng-include="getTemplate('pages/buytokens-forms/usdt')">
            </div>
        </div><br/>

        <div class="grid-row">
            <div class="grid-cell grid-cell-2-3 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label" translate="PAGES.TRON_BUY_TOKENS.TRON_ACCOUNT.LABEL"></label>
                    <div class="form-control-input-container">
                        <input ng-model="currentUser.tron_address"
                               disabled="disabled"
                               type="text" class="form-control-input">

                        <div class="input-after dynamic-info">
                            <button class="instruction-for-copy-button relative"
                                    clipboard supported="supported"
                                    ng-class="{copied: formData.copied['tron-address']}"
                                    text="currentUser.tron_address"
                                    on-copied="$root.successCodeCopy(formData, 'tron-address')"
                                    type="button">
                                <i class="icon-content_copy"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shadow-block__content shadow-block__content_min-tb-padding grey-color">
        <button class="btn btn-submit float-right"
                type="button"
                ng-click="payDone()">
            <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.DONE'|translate}}&nbsp;&nbsp;&nbsp;</span>
        </button>
    </div>
</form>