<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_no-lr-padding">
        <div class="alert-window-title">
            Please confirm your request for a branded report from Authio ({{ngPopUp.params.prices.WISH|separateNumber}} WISH)
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border text-center">
        <button type="button"
                ng-click="ngPopUp.params.confirmAuthioPayment(); closeCurrentPopup()"
                class="btn btn-submit">
            <span translate="BUTTONS.CONFIRM"></span>
        </button>
        <button ng-click="closeCurrentPopup()" class="btn btn-transparent">
            <span translate="BUTTONS.CANCEL"></span>
        </button><br/><br/>
    </div>
</div>
