<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_no-lr-padding">
        <div class="alert-window-title">
            Please confirm that you want Cancel contract
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border text-center">
        <button class="btn btn-submit" type="button"
                ng-click="ngPopUp.callCancel(closeCurrentPopup)">

            <span class="lds-ellipsis" ng-if="ngPopUp.params.imCancelProgress">
                <span class="lds-ellipsis-container">
                    <span></span><span></span><span></span><span></span>
                </span>
            </span>
            <span>&nbsp;&nbsp;&nbsp;Yes, I want cancel contract &nbsp;&nbsp;&nbsp;</span>
        </button>
        <button class="btn btn-transparent" ng-click="closeCurrentPopup()" type="button">
            <span>&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;</span>
        </button><br/><br/>
    </div>
</div>