<a class="airdrop-service-link" href="https://airdrop.mywish.io/" target="_blank">
    <img class="airdrop-service-link_img" src="/static/images/airdrop/airdrop-service.svg"/>
    <div class="airdrop-service-link_text">
        <div class="airdrop-service-link_text_title">
            Airdrop service <span>from $50</span>
        </div>
        <div class="airdrop-service-link_text_desc">
            The Smart token distribution to thousands of addresses in batches.<br/>
            ERC-20 / BEP-20
        </div>
    </div>
    <span class="airdrop-service-link_btn"></span>
</a>
