<div class="contract-info__network" ng-class="'contract-info__network_' + contract.network">
    <span>{{('CONTRACTS_NETWORKS.NETWORK_' + contract.network)|translate}}</span>
</div>

<div class="shadow-block__content__blue-title">
    <i ng-class="contractTypesIcons[contract.contract_type]" class="shadow-block__content__blue-title__icon"></i>
    <div class="shadow-block__content__blue-title__name" ng-attr-title="{{contract.name}}">
        <span class="big-size">{{contract.name}}</span>
    </div>
</div>

<div class="contract-status-block">
    <div class="contract-status-name" ng-class="'contract-status-' + statuses[contract.state]['value']">
        <div class="contract-status-text">
            <span>{{'CONTRACTS_STATUSES.' + contract.state|translate}}</span>
        </div>
    </div>
</div>

<div class="shadow-block__content__description" ng-if="(statuses[contract.state]['value'] < 4) && (contract.contract_type == 8)">
    <span translate="CONTRACTS.PREVIEW.AIRDROP.PREVIEW_DESCRIPTION"></span>
</div>

