<div class="contract-form-fieldset" ng-if="contract.stateValue < 3"><br/>
    <div class="grid-row">
        <div class="grid-cell grid-cell-1">
            <div class="costs-info-block">
                <span class="costs-info-title">Contract`s cost: </span>
                <div class="show-vs"></div>
                <span class="costs-info-value">{{wishCost}}</span>
                <span class="costs-info-currency">WISH</span>
                <span class="costs-info-value" ng-if="contract.contract_type == 4">(1 ETH)</span>
            </div>
        </div>
    </div><br/>
</div>
<div class="contract-form-fieldset"><br/>
    <div class="contract-form-information-btns">
        <div class="grid-row">
            <div class="grid-cell grid-cell-vs-1-2 float-right"
                 ng-if="(contract.stateValue == 1) || (contract.stateValue == 2) || (contract.stateValue == 5) || (contract.stateValue == 6) || (contract.stateValue == 7)">
                <button class="btn btn-red with-icon mobile-width-100 with-icon initial-padding text-center"
                        ng-pop-up="{
                            template: '/templates/popups/delete-contract.html',
                            params: contract,
                            class: 'deleting-contract',
                            actions: {
                                deleteContract: deleteContract
                            }
                        }">
                    <i class="icon-trash"></i>
                    <span>Delete</span>
                </button><br/><br/>
            </div>
            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 1) || (contract.stateValue == 2)">
                <button class="btn btn-submit mobile-width-100 text-center"
                        ng-click="payContract()">
                    <i class="icon-rocket-ship"></i>
                    <span>Launch</span>
                </button><br/><br/>
            </div>

            <div class="grid-cell grid-cell-vs-1-2" ng-if="contract.stateValue == 10">
                <button class="btn btn-submit mobile-width-100 text-center"
                        ng-pop-up="{
                                template: '/templates/popups/activate-disclaimer.html',
                                params: {
                                    contract: contract
                                },
                                class: 'conditions',
                                actions: {
                                    successCodeCopy: successCodeCopy
                                },
                                onClose: returnToList
                            }">
                    <span>Activate</span>
                </button><br/><br/>
            </div>

            <div class="grid-cell grid-cell-vs-1-2" ng-if="contract.stateValue == 1">
                <!-- Edit instruction button -->
                <a ui-sref="main.createcontract.edit({id: contract.id})" class="text-center btn btn-back mobile-width-100 with-icon initial-padding">
                    <i class="icon-edit"></i>
                    <span>Edit</span>
                </a><br/><br/>
            </div>
            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 4) && (contract.contract_type != 4)">
                <!-- Deposit instruction button -->
                <button ng-pop-up="{
                            template: '/templates/popups/deposit-instruction.html',
                            params: {
                                contract: contract
                            },
                            actions: {
                                successCodeCopy: successCodeCopy
                            }
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span>Deposit</span>
                </button><br/><br/>
            </div>
            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 4) && (contract.contract_type != 4)">
                <!-- Cancel instruction button -->
                <button ng-pop-up="{
                            template: '/templates/popups/stop-instruction.html',
                            params: {
                                contract: contract
                            },
                            actions: {
                                successCodeCopy: successCodeCopy
                            }
                        }"
                        class="btn btn-transparent mobile-width-100">
                    <span>Cancel</span>
                </button><br/><br/>
            </div>
            <div class="grid-cell grid-cell-vs-1-2" ng-if="(contract.stateValue == 4) && (contract.contract_type == 4)">
                <button ng-pop-up="{
                            template: '/templates/popups/finalize-instruction.html',
                            params: {
                                contract: contract
                            },
                            actions: {
                                successCodeCopy: successCodeCopy
                            }
                        }"
                        class="btn btn-submit mobile-width-100">
                    <span>Finalize</span>
                </button><br/><br/>
            </div>
        </div>
    </div>
</div>