<form class="shadow-block__content shadow-block__content_min-tb-padding"
      name="promoCodeForm" ng-submit="getDiscount(contract)">
    <div class="grid-row contract-form-row">
        <div class="grid-cell grid-cell-1-3 grid-cell-ps-3-5 grid-cell-vs-1">
            <div class="form-control">
                <label for="promo-code" class="form-control-label" translate="CONTRACTS.ENTER_PROMO_BLOCK.FIELD_LABEL"></label>
                <input id="promo-code"
                       ng-class="{'ng-invalid': contract.discountError}"
                       ng-change="changePromoCode(contract)"
                       type="text" ng-model="contract.promo" maxlength="512" class="form-control-input">
            </div>
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-2-5">
            <div class="form-control">
                <div class="form-control-label hide-vs">&nbsp;</div>
                <button class="btn btn-submit center-input-field" type="submit">
                     <span class="lds-ellipsis" ng-if="contract.checkPromoProgress">
                        <span class="lds-ellipsis-container">
                            <span></span><span></span><span></span><span></span>
                        </span>
                    </span>
                    <span>&nbsp;&nbsp;{{'BUTTONS.CHECK'|translate}}&nbsp;&nbsp;</span>
                </button>
            </div>
        </div>
        <div class="grid-cell grid-cell-2-5 form-control-description grid-cell-ps-1">
            <div class="form-control-label hide-ps">&nbsp;</div>
            <span class="form-control-description__text" translate="CONTRACTS.ENTER_PROMO_BLOCK.DESCRIPTION"></span>
        </div>
    </div><br/>
</form>

<div class="shadow-block__content shadow-block__content_min-tb-padding grey-color no-border" ng-if="(sitemode === 'default')">
    <div class="form-control-label">
        <div class="form-table">
            <div class="form-table-row-header">
                <div class="form-table-col-header">
                    Position
                </div>
                <div class="form-table-col">
                    Price
                </div>
                <div class="form-table-col">
                    Wish
                </div>
            </div>
            <div class="form-table-row">
                <div class="form-table-col-image">
                    <img src="/static/images/contract.svg" alt="">
                </div>
                <div class="form-table-col-header-blue">
                    Create contact1
                </div>
                <div class="form-table-col">
                    ${{ bigNumber(contract.cost.USDT).div(1000000)
                    .minus(bigNumber(contract.contract_details.authio ? contract.authioPrices.USDT : 0))
                    .minus(bigNumber(contract.contract_details.verification ?
                    contract.verificationCost.USDT : 0))
                    .minus(bigNumber(contract.contract_details.white_label ? contract.whitelabelCost.USDT : 0))
                    .toFixed(2).toString(10)|separateNumber }}
                </div>
                <div class="form-table-col">
                    {{ bigNumber(contract.cost.WISH).div(10e17)
                    .minus(bigNumber(contract.contract_details.authio ? contract.authioPrices.WISH : 0))
                    .minus(bigNumber(contract.contract_details.verification ?
                    contract.verificationCost.WISH : 0))
                    .minus(bigNumber(contract.contract_details.white_label ? contract.whitelabelCost.WISH : 0))
                    .toFixed(2).toString(10)|separateNumber }}
                </div>
            </div>
            <div class="form-table-row" ng-if="contract.contract_details.authio">
                <div class="form-table-col-image">
                    <img src="/static/images/brand.png" alt="">
                </div>
                <div class="form-table-col-header-blue">
                    Brand report
                </div>
                <div class="form-table-col">
                    ${{ contract.authioPrices.USDT|separateNumber }}
                </div>
                <div class="form-table-col">
                    {{ contract.authioPrices.WISH|separateNumber }}
                </div>
            </div>
            <div class="form-table-row" ng-if="contract.contract_details.verification">
                <div class="form-table-col-image">
                    <img src="/static/images/etherscan.svg" alt="">
                </div>
                <div class="form-table-col-header-blue">
                    Verification
                </div>
                <div class="form-table-col">
                    ${{ contract.verificationCost.USDT|separateNumber }}
                </div>
                <div class="form-table-col">
                    {{ contract.verificationCost.WISH|separateNumber }}
                </div>
            </div>
            <div class="form-table-row" ng-if="contract.contract_details.white_label">
                <div class="form-table-col-image">
                    <img src="/static/images/white_label.svg" alt="">
                </div>
                <div class="form-table-col-header-blue">
                    White label
                </div>
                <div class="form-table-col">
                    ${{ contract.whitelabelCost.USDT|separateNumber }}
                </div>
                <div class="form-table-col">
                    {{ contract.whitelabelCost.WISH|separateNumber }}
                </div>
            </div>
            <div class="form-table-row">
                <div class="form-table-col-image"></div>
                <div class="form-table-col-header-blue">
                    Total
                </div>
                <div class="form-table-col-bold">
                    ${{ bigNumber(contract.cost.USDT).div(1000000)
                    .toFixed(2).toString(10)|separateNumber }}
                </div>
                <div class="form-table-col-bold">
                    {{ bigNumber(contract.cost.WISH).div(10e17)
                    .toFixed(2).toString(10)|separateNumber }}
                </div>
            </div>
        </div>
<!--        <span translate="CONTRACTS.ENTER_PROMO_BLOCK.COST">Contract`s cost: </span>-->
<!--        <div class="show-vs"></div>-->

<!--        {{bigNumber(web3Utils.fromWei(bigNumber(contract.cost.WISH).toString(10), 'ether')).decimalPlaces(2)|separateNumber}} WISH&nbsp;&nbsp;&nbsp;-->

<!--        <span class="grey-text-color">-->
<!--            {{bigNumber(web3Utils.fromWei(bigNumber(contract.cost.ETH).toString(10), 'ether')).decimalPlaces(3)|separateNumber}}-->
<!--            ETH-->
<!--            /-->
<!--            {{bigNumber(contract.cost.USDT).div(1000000).decimalPlaces(3).toString(10)|separateNumber}}-->
<!--            USD-->
<!--            &lt;!&ndash; span ng-if="contract.contract_type != 11">/-->
<!--                {{bigNumber(web3Utils.fromWei(bigNumber(contract.cost.BTC).toString(10), 'ether')).decimalPlaces(4)|separateNumber}}-->
<!--                BTC-->
<!--            </span &ndash;&gt;-->
<!--        </span>-->
    </div>
</div>
<!-- div class="shadow-block__content shadow-block__content_min-tb-padding grey-color no-border" ng-if="(sitemode === 'eos')">
    <div class="form-control-label">
        <span translate="CONTRACTS.ENTER_PROMO_BLOCK.COST">Contract`s cost: </span>
        <div class="show-vs"></div>
        {{bigNumber(contract.cost.EOSISH).div(10000).decimalPlaces(4) | separateNumber}} EOSISH&nbsp;&nbsp;&nbsp;
        <span class="grey-text-color">
            {{bigNumber(contract.cost.EOS).div(10000).decimalPlaces(4) | separateNumber}} EOS
        </span>
    </div>
</div>

<div class="shadow-block__content shadow-block__content_min-tb-padding grey-color no-border" ng-if="(sitemode === 'tron')">
    <div class="form-control-label">
        <span translate="CONTRACTS.ENTER_PROMO_BLOCK.COST">Contract`s cost: </span>
        <div class="show-vs"></div>
        {{bigNumber(contract.cost.TRONISH).div(1000000).decimalPlaces(4) | separateNumber}} TRONISH&nbsp;&nbsp;&nbsp;
        <span class="grey-text-color">
            {{bigNumber(contract.cost.TRX).div(1000000).decimalPlaces(4) | separateNumber}} TRX
        </span>
    </div>
</div -->

