<div class="shadow-block" ng-controller="instructionsController">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="shadow-block__content__blue-title">
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size">Cancel&nbsp;</span>
            </div>
        </div>
        <div class="shadow-block__content__description">
            <span>
                To <span class="shadow-block__content__description__red uppercase">stop</span> the contract, follow the steps in the instruction.
            </span>
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <a ng-attr-href="{{
                'https://www.myetherwallet.com/?data=' + killSignature +
                '&value=0&to=' + ngPopUp.params.contract.contract_details.eth_contract.address}}#send-transaction"
           target="_blank" class="btn btn-payment btn-payment--wallet text-center">
            <span>MyEtherwallet</span>
        </a>
        <button ng-click="killContract()"
                ng-if="currentWallet && (currentWallet.type === 'parity')"
                class="btn btn-payment btn-payment--parity text-center">
            <span>Parity</span>
        </button>
        <button  ng-click="killContract()"
                 ng-if="currentWallet && (currentWallet.type === 'metamask')"
                 class="btn btn-payment btn-payment--metamask text-center">
            <span>Metamask</span>
        </button>
    </div>

    <div class="form-fieldset-delimiter"><span>OR</span></div>

    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <ul class="new-instruction-list">

            <li class="new-instruction-list__item">
                <div class="new-instruction-list__item__text">
                    Open your wallet (Parity, <a ng-attr-href="{{ngPopUp.params.contract.killUrl}}" target="_blank">MyEtherWallet</a>)
                </div>
            </li>

            <li class="new-instruction-list__item">
                <div class="new-instruction-list__item__text">
                    Click the contracts tab in your wallet
                </div>
            </li>

            <li class="new-instruction-list__item">
                <div class="new-instruction-list__item__text">
                    Copy the contract address to the Contract Address:<br/>
                    <div class="copy-block">
                        <button class="copy-block__button relative"
                                clipboard supported="supported"
                                text="ngPopUp.params.contract.contract_details.eth_contract.address"
                                ng-class="{copied: ngPopUp.params.contract.copied['address']}"
                                on-copied="ngPopUp.actions.successCodeCopy(ngPopUp.params.contract, 'address')">&nbsp;
                            <i class="icon-content_copy"></i>
                        </button>
                        <div class="copy-block__text">{{ngPopUp.params.contract.contract_details.eth_contract.address}}</div>
                    </div>
                </div>
            </li>

            <li class="new-instruction-list__item">
                <div class="new-instruction-list__item__text">
                    Copy MyWill data to ABI/JSON interface:
                    <div class="copy-block">
                        <button class="copy-block__button relative"
                                clipboard supported="supported"
                                text="ngPopUp.params.contract.willCode"
                                ng-class="{copied: contract.copied['willCode']}"
                                on-copied="successCodeCopy(contract, 'willCode')"
                                on-error="failCodeCopy(err)">&nbsp;
                            <i class="icon-content_copy"></i>
                        </button>
                        <div class="copy-block__text json-text">{{ngPopUp.params.contract.willCode}}</div>
                    </div>
                </div>
            </li>

            <li class="new-instruction-list__item">
                <div class="new-instruction-list__item__text">
                    Select the KILL function
                </div>
            </li>

            <li class="new-instruction-list__item">
                <div class="new-instruction-list__item__text">
                    Make the transaction
                </div>
            </li>
        </ul>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <button class="btn btn-submit" ng-click="closeCurrentPopup()">
            <span>&nbsp;&nbsp;&nbsp;Done&nbsp;&nbsp;&nbsp;</span>
        </button>
    </div>
</div>
