<div class="shadow-block" ng-controller="instructionsController">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="shadow-block__content__blue-title static-width">
            <div class="shadow-block__content__blue-title__name">
                <span class="uppercase" translate="CONTRACTS_INSTRUCTIONS.ETH.WILL_CANCEL.TITLE"></span>
            </div>
        </div>
        <div class="shadow-block__content__description">
            <span translate="CONTRACTS_INSTRUCTIONS.ETH.WILL_CANCEL.DESCRIPTION"></span>
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <a ng-attr-href="{{
                'https://vintage.myetherwallet.com/?data=' + killSignature +
                '&value=0&to=' + ngPopUp.params.contract.contract_details.eth_contract.address}}#send-transaction"
           target="_blank" class="btn btn-gray with-icon nowrap">
            <img src="/static/images/web3clients/myetherwallet.svg" width="20" style="vertical-align: middle">&nbsp;&nbsp;
            <span>MyEtherwallet</span>
        </a>
        <button ng-click="killContract()"
                ng-if="currentWallet && (currentWallet.type === 'parity')"
                class="btn btn-gray with-icon nowrap">
            <img src="/static/images/web3clients/parity.svg" width="20" style="vertical-align: middle">&nbsp;&nbsp;
            <span>Parity</span>
        </button>
        <button  ng-click="killContract()"
                 ng-if="currentWallet && (currentWallet.type === 'metamask')"
                 class="btn btn-gray with-icon nowrap">
            <img src="/static/images/web3clients/metamask.svg" width="20" style="vertical-align: middle">&nbsp;&nbsp;
            <span>Metamask</span>
        </button>
    </div>

    <div class="form-fieldset-delimiter"><span class="uppercase" translate="OR"></span></div>

    <div class="shadow-block__content shadow-block__content_min-tb-padding"
         ng-init="instructionData = {
            'dataField': killSignature,
            'ownerAddress': ngPopUp.params.contract.contract_details.user_address,
            'contractAddress': ngPopUp.params.contract.contract_details.eth_contract.address,
            'contract': {
                network: ngPopUp.params.contract.network
            }
         }"
         ng-include="'/templates/popups/instructions/transaction-template.html'">
    </div>

    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border"
         ng-if="ngPopUp.params.contract.contract_details.last_check || ngPopUp.params.contract.contract_details.next_check">
        <div class="normal-text">
            <div ng-if="ngPopUp.params.contract.contract_details.last_check"
                 translate-values="{
                    last_check_date: ngPopUp.params.contract.contract_details.last_check
                 }" translate="CONTRACTS_INSTRUCTIONS.ETH.WILL_CANCEL.LAST_CHECK">
            </div>
            <div ng-if="ngPopUp.params.contract.contract_details.next_check"
                 translate-values="{
                    next_check_date: ngPopUp.params.contract.contract_details.next_check
                 }" translate="CONTRACTS_INSTRUCTIONS.ETH.WILL_CANCEL.NEXT_CHECK">
            </div>
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding grey-color">
        <button class="btn btn-submit" ng-click="closeCurrentPopup()">
            <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.DONE'|translate}}&nbsp;&nbsp;&nbsp;</span>
        </button>
    </div>
</div>
