<form ng-controller="eosBuytokensEosishController" name="buyTokensForm">
    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-1">
                <div class="form-control">
                    <label class="form-control-label" translate="PAGES.TRON_BUY_TOKENS.TRONISH_ACCOUNT.LABEL"></label>
                    <div class="form-control-input-container">
                        <input ng-model="eosAccountAddress"
                               disabled="disabled"
                               type="text" class="form-control-input">

                        <div class="input-after dynamic-info">
                            <button class="instruction-for-copy-button relative"
                                    clipboard supported="supported"
                                    ng-class="{copied: formData.copied['mywish-account']}"
                                    text="eosAccountAddress"
                                    on-copied="$root.successCodeCopy(formData, 'mywish-account')">
                                <i class="icon-content_copy"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="grid-cell grid-cell-1-2 grid-cell-ps-1 form-control-description">-->
                <!--<div class="form-control-label hide-ps">&nbsp;</div>-->
                <!--<span class="form-control-description__text"-->
                      <!--translate="PAGES.TRON_BUY_TOKENS.TRONISH_ACCOUNT.DESCRIPTION"></span>-->
            <!--</div>-->
        </div>
    </div>

    <div class="shadow-block__content shadow-block__content_min-tb-padding grey-color">
        <button class="btn btn-submit float-right"
                type="button"
                ng-click="payDone()">
            <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.DONE'|translate}}&nbsp;&nbsp;&nbsp;</span>
        </button>
    </div>
</form>