.alert-window-title {
  font-size: 1.875em;
  text-align: center;
  margin: 0 2em;
}

.alert-window-buttons {
  padding: 2.25em 0;
  .btn {
    margin: 0 2%;
  }
}

.popup-window.deleting-contract {
  width: 98%;
  max-width: 48em;
  margin-left: -24em;
}
.popup-window.language-switcher {
  width: 98%;
  max-width: 32em;
  margin-left: -16em;
}

.popup-window.page-size {
  width: 98%;
  max-width: 66em;
  margin-left: -33em;
}

.popup-window.login-form {
  width: 98%;
  max-width: 36em;
  margin-left: -18em;
}


@media screen and (max-width: 368px) {
  .popup-window.login-form {
    margin-left: -49%;
  }
}

@media screen and (max-width: 326px) {
  .popup-window.language-switcher{
    margin-left: -49%;
  }
}

@media screen and (max-width: 532px) {
  .popup-window.deleting-contract{
    margin-left: -49%;
  }
}

@media screen and (max-width: 674px) {
  .popup-window.page-size {
    margin-left: -49%;
  }
}
//@media screen and (max-width: 360px) {
//  .alert-window-buttons {
//    padding-bottom: 1em;
//    .btn {
//      width: 90%;
//      margin-left: auto;
//      margin-right: auto;
//      margin-bottom: 1.75em;
//    }
//  }
//}
