.instruction-steps-list {
  margin: 0;
  padding: 0 3% 0 3%;
  list-style-type: none;
  max-width: 60em;
  box-sizing: border-box;
  > li {
    margin: 0;
    counter-increment: itemCounter;
    padding: 0.9em 0;
    &:before {
      content: counter(itemCounter);
      display: block;
      float: left;
      border-radius: 50%;
      box-sizing: border-box;
      text-align: center;
      font-size: 1.35em;
      width: 2em;
      height: 2em;
      line-height: 1.8em;
      border: 1px solid;
    }
  }
}
.instruction-second-steps-list {
  margin-top: 1em;
  list-style-type: disc;
  padding-left: 2em;
}

.instruction-item-text {
  font-size: 1.6em;
  padding: 0.35em 0;
  margin-left: 3em;
}
.instruction-title {
  padding-bottom: 3em;
}

.instruction-title-text {
  font-weight: bold;
  margin-right: 2em;
  margin-left: 2em;
  line-height: 4.9em;
  &__content {
    font-size: 1.4em;
    line-height: 1.7em;
    display: inline-block;
    vertical-align: middle;
  }
  .contract-name-block + & {
    margin-left: 15em;
  }
}

.instruction-for-copy-button {
  background: none;
  border: none;
  padding: 0;
  color: $main-blue-color;
  font-size: 1.2em;
  outline: none;
  cursor: pointer;
  float: right;
  margin-right: -1em;
  &.copied {
    color: #ffa2a8;
    &:before {
      position: absolute;
      bottom: 100%;
      margin-bottom: 0.8em;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      content: 'Copied';
      white-space: nowrap;
      font-size: 0.75em;
      padding: 0.5em 1.2em;
      right: -0.3em;
      border-radius: 3px;
    }
    &:after {
      content: '';
      font-size: 0.75em;
      position: absolute;
      bottom: 100%;
      width: 0.5em;
      height: 0.5em;
      background-color: rgba(0, 0, 0, 0.8);
      transform: rotate(45deg);
      right: 0.6em;
      margin-bottom: 0.55em;
    }
  }
}
.instruction-for-copy {
  box-sizing: border-box;
  padding-right: 3em;
  position: relative;
}
.instruction-for-copy-text {
  color: $white-color;
  background-color: $dark-grey-color;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  word-wrap: break-word;
  box-sizing: border-box;
  max-height: 10em;
  overflow: auto;
  &:not(.json-text) {
    padding: 0.65em 1em;
  }
  &.json-text {
    overflow: auto;
    height: 20em;
    white-space: pre;
    padding: 0.65em 1em;
    box-sizing: border-box;
  }
}
.instruction-action-buttons {
  padding: 2em 3%;
}
.instruction-checking {
  margin-left: 1em;
  display: inline-block;
  .preloader-container {
    margin-right: 1em;
  }
}
.instruction-checking-text {
  font-size: 1.7em;
  vertical-align: middle;
}
.instruction-text-alert {
  text-transform: uppercase;
  background-color: #d64a4a;
  padding: 0.5em;
  margin: 0 0.2em;
}

@media screen and (max-width: 520px) {
  .instruction-title-text {
    clear: both;
    margin: 0 3%;
    .contract-name-block + & {
      margin-left: 3%;
      margin-top: 1em;
      float: left;
      width: 94%;
    }
  }
  .instruction-steps-list {
    li {
      font-size: 0.9em;
    }
  }
  .instruction-for-copy {
    margin-left: -3em;
  }
}
