.contract-balance-title {
  font-size: 1em;
}
.contract-balance-value {
  font-size: 1.1em;
  font-weight: bold;
}
.contract-balance {
  line-height: 5em;
  display: block;
}
.contract-wallets-information {

}
.contract-output-wallet, .contract-input-wallets, .contract-information-dates-content {
  margin-left: 0;
}
.contract-output-wallet {

}
.contract-input-wallets {

}
.contract-wallets-information-one-block {
  padding: 0.75em 0;
  &:after {
    content: '';
    display: table;
    width: 100%;
  }
}
.contract-information-icon {
  font-size: 2.5em;
  color: $main-color;
  float: left;
}
.contract-wallet-information {

}
.contract-wallet-information-table {
  display: table;
  border-spacing: 0 0.75em;
  width: 100%;
}
.contract-wallet-information-row {
  display: table-row;
}
.contract-wallet-information-cell {
  display: table-cell;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
}
.contract-wallet-information-title {
  font-size: 1.35em;
  margin-left: 2em;
  &:not(.contract-wallet-information-cell) {
    padding: 0.75em;
  }
}
.contract-wallet-information-wallet {
  font-size: 1.4em;
  padding: 0 1.65em 0 0;
  &:not(.contract-wallet-information-float-cell) {
    margin-top: 0.3125em;
  }
  a {
    color: $main-color;
    &, &:hover {
      text-decoration: none;
    }
  }
}

.contract-wallet-information-percentage {
  font-size: 1.35em;
  font-weight: bold;
  border-left: 1px solid #272737;
  border-right: 1px solid #272737;
  padding: 0 1em;
  width: 1px;
}
.contract-wallet-information-email {
  font-size: 1.35em;
  padding: 0 1em;
}
.contract-dates-information {
  .contract-information-icon {
    float: left;
    margin-top: 0.3em;
  }
}
.contract-information-dates-content {
  padding: 0.6em 0 0.6em 1.35em;
  margin-left: 4.05em;
}
.contract-wallet-information-date {
  font-size: 1.35em;
  color: $black-color;
  border-left: 1px solid #272737;
  padding: 0 1em;
  text-align: center;
  span {
    color: #B0B2B4;
  }
  strong {
    font-size: 1.5em;
  }
}
.contract-preview-tabs {
  line-height: 3.6em;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.contract-preview-one-tab {
  border-top-left-radius: 0.9em;
  border-top-right-radius: 0.9em;
  padding: 0.25em 2em;
  float: left;
  text-align: center;
  cursor: pointer;
  background-color: #EBEBEB;
  color: #828282;
  user-select: none;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px #fff;
  + .contract-preview-one-tab {
    margin-left: 1px;
  }
  &:hover, &:focus {
    background-color: $blocks-background;
  }
  &:after, &:before {
    display: table;
    content: '';
    width: 100%;
  }

  span {
    font-size: 1.5em;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
    z-index: 4;
  }
  &.active {
    //background-color: $main-blue-color;
    background-color: $blocks-background;
    color: #000;
    box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.25);
    position: relative;
    &:after {
      content: '';
      top: 0;
      bottom: -1.1em;
      position: absolute;
      left: 0;
      right: 0;
      background-color: $blocks-background;
      display: block;
      z-index: 3;
      border-top-left-radius: 0.9em;
      border-top-right-radius: 0.9em;
    }
  }
}
.contract-popup-wrapper {
  &:not(.without-padding) {
    padding: 2.4em 0;
  }
}
.contract-preview-information {
}
.contract-balance {
  padding-left: 3%;
  padding-right: 3%;
}
.contract-preview-form {
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 3.75em;
  padding-bottom: 1.875em;
}
.contract-preview-form {
  .btn {
    min-width: 12.225em;
  }
}
.contract-preview-code-content {
  position: relative;
}
.contract-preview-code-text {
  white-space: pre;
  font-size: 1.4em;
  font-family: monospace;
  padding: 1em;
  background-color: #333;
  color: #fff;
  overflow: auto;
  box-sizing: border-box;
  max-height: 400px;
  cursor: text;
}

.for-copy-button {
  position: absolute;
  top: 0.5em;
  background: none;
  border: none;
  padding: 0.5em;
  color: #fff;
  font-size: 2.2em;
  outline: none;
  cursor: pointer;
  right: 1em;
  &.copied {
    //color: #ffa2a8;
    &:before {
      position: absolute;
      bottom: 100%;
      margin-bottom: 0.8em;
      background-color: #444;
      color: #fff;
      content: 'Copied';
      white-space: nowrap;
      line-height: 1em;
      font-size: 0.75em;
      padding: 0.5em 1.2em;
      right: -0.3em;
      border-radius: 3px;
      white-space: nowrap;
    }
    &:after {
      content: '';
      font-size: 0.75em;
      position: absolute;
      border-width: 0.3em;
      border-style: solid;
      border-color: #444 #444 transparent transparent;
      transform: rotate(135deg);
      right: 1em;
      margin-top: 1.6em;
      top: -2.8em;
    }
  }
}

.contract-wallet-information-float {
  &:after, &:before {
    display: table;
    content: '';
    width: 100%;
  }
}
.contract-wallet-information-float-cell {
  box-sizing: border-box;
  &.contract-wallet-information-wallet {
    float: left;
    width: 26em;
  }
  &.contract-wallet-information-percentage {
    float: left;
    width: 4em;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  &.contract-wallet-information-after_wallet {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 26em;
    font-size: 1.4em;
  }
  &.contract-wallet-information-email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 34em;
  }
}
.contract-wallets-information {
  margin-bottom: -2.4em;
}
.github-link {
  margin-bottom: 2em;
  a {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 960px) {
  .contract-wallet-information {
    + .contract-wallet-information {
      border-top: 1px solid #8ea4c3;
    }
  }
  .contract-wallet-information-wallet {
    &.contract-wallet-information-float-cell, & {
      float: none;
      word-break: break-all;
      white-space: normal;
      width: auto;
    }
  }
  .contract-wallet-information-float-cell {
    &.contract-wallet-information-percentage {
      width: 4em;
      border: none;
      text-align: left;
    }
    &.contract-wallet-information-email {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 4.5em;
      text-align: right;
    }

    &.contract-wallet-information-after_wallet {
      text-overflow: ellipsis;
      margin-left: 2.2em;
      text-align: left;
    }
  }
}

//@media screen and (max-width: 1024px) {
  .contract-wallet-information-cell,
  .contract-wallet-information-row,
  .contract-wallet-information-table {
    display: block;
  }
  .contract-wallet-information-date {
    text-align: left;
    border: 0 none;
  }
  .contract-information-dates-content {
    .contract-wallet-information-cell {
      padding: 0.5em 0;
    }
    .contract-wallet-information-title {
      margin-left: 0;
    }
  }
//}

@media screen and (max-width: 680px) {
  .contract-preview-form {
    padding-top: 2em;
  }
}
@media screen and (max-width: 640px) {
  .contract-balance {
    &:after, &:before {
      display: table;
      width: 100%;
      content: '';
    }
  }
}

@media screen and (max-width: 440px) {
  .mobile-width-100 {
    width: 100%;
    + .btn {
      margin-left: 0;
      margin-top: 1em;
    }
  }
  .contract-preview-tabs {
    left: 0;
    top: -3.6em;
  }
  .contract-preview-one-tab {
    width: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 2em;
    span {
      font-size: 1.2em;
    }
  }
}
.contract-shopping-info {
  text-align: center;
  width: 35%;
  float: right;
  margin-right: 3%;
  padding-bottom: 2em;
  + .contract-wallets-information {
    margin-right: 40%;
  }
}
.contract-shopping-timer {
  font-size: 4em;
  font-weight: bold;
}
.contract-shopping-code {
  margin-top: 2em;
}
.contract-shopping-code-title {
  font-size: 1.6em;
  margin-bottom: 1em;
}
.contract-shopping-code-value {
  background-color: #fff;
  border: 1px solid #aaa;
  font-size: 5em;
}

.instruction-for-copy-button {
  @extend .copy-block__button;
  margin-top: 0;
}

.verification {
  &-info {
    background-color: #ffffff;
    border-radius: 1.2em;
    margin-bottom: 3em;
    &_logo {
      margin-bottom: 3em;
    }
    &_text {
      font-size: 1.5em;
    }
  }
  &-price {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    margin-bottom: 25px;
    &_label {
      font-weight: bold;
      margin-right: 10px;
    }
    &_curr {
      color: #121212;
      border-radius: 4px;
      font-size: 15px;
      line-height: 17.24px;
      padding: 6px;
      &__usd {
        background-color: #FBD430;
      }
      &__eth, &__wish {
        background-color: #ffffff;
      }
      &_icon {
        height: 16px;
        vertical-align: middle;
        margin-right: 8px;
      }
      &_value {
        vertical-align: middle;
      }
    }
    &_curr + &_curr {
      margin-left: 10px;
    }
  }
}
