<div class="shadow-block__content shadow-block__content_min-tb-padding">
    <div class="grid-row">
        <div class="gri-cell grid-cell-1">
            <div class="form-control">
                <label for="issuer-address" class="form-control-label">
                    <span translate="CONTRACTS.FORMS.EOS_CROWDSALE.FIELDS.ADMIN_ACCOUNT.TITLE"></span>
                    <span ng-show="network == 11">
                        (<span class="as-link" ng-click="request.admin_address = testAddresses.EOS">paste address sample</span>)
                    </span>
                </label>
            </div>
        </div>
        <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-ls-1">
            <div class="form-control">
                <div ng-eos-account
                     ng-model="request.admin_address"
                     ng-eos-account-options="{
                        name: 'admin_address',
                        network: network
                     }"></div>
            </div>
        </div>
        <div class="grid-cell grid-cell-1-2 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
            <span class="form-control-description__text"
                  translate="CONTRACTS.FORMS.EOS_CROWDSALE.FIELDS.ADMIN_ACCOUNT.DESCRIPTION"></span>
        </div>
    </div>
</div>