<div class="normal-text"><br/>
    {{'CONTRACTS_INSTRUCTIONS.ETH.ANY_TRANSACTION.PART_1'|translate}}
    <div class="copy-block">
        <button class="copy-block__button relative"
                clipboard supported="supported"
                text="instructionData.ownerAddress"
                ng-class="{copied: instructionData.contract.copied['admin_address']}"
                on-copied="instructionData.successCopy(instructionData.contract, 'admin_address')">&nbsp;
            <i class="icon-content_copy"></i>
        </button>
        <div class="copy-block__text">{{instructionData.ownerAddress}}</div>
    </div>
</div>
<div class="normal-text"><br/>
    {{'CONTRACTS_INSTRUCTIONS.ETH.ANY_TRANSACTION.PART_2'|translate}}
    <div class="copy-block">
        <button class="copy-block__button relative"
                clipboard supported="supported"
                text="instructionData.contractAddress"
                ng-class="{copied: instructionData.contract.copied['address']}"
                on-copied="instructionData.successCopy(instructionData.contract, 'address')">&nbsp;
            <i class="icon-content_copy"></i>
        </button>
        <div class="copy-block__text">{{instructionData.contractAddress}}</div>
    </div>
</div>
<div class="normal-text"><br/>
    {{'CONTRACTS_INSTRUCTIONS.ETH.ANY_TRANSACTION.PART_3'|translate}}
    {{instructionData}}
    <div class="copy-block">
        <button class="copy-block__button relative"
                clipboard supported="supported"
                text="instructionData.dataField"
                ng-class="{copied: instructionData.contract.copied['dataField']}"
                on-copied="instructionData.successCopy(instructionData.contract, 'dataField')">&nbsp;
            <i class="icon-content_copy"></i>
        </button>
        <div class="copy-block__text">{{instructionData.dataField}}</div>
    </div>
</div>
