<div class="normal-text visible-text">
    {{(instructionData.ITEMS.ITEM_1 || 'CONTRACTS_INSTRUCTIONS.ETH.ANY_TRANSACTION.PART_1')|translate}}
    <div class="copy-block">
        <button class="copy-block__button relative"
                clipboard supported="supported"
                text="instructionData.ownerAddress|toCheckSum"
                ng-class="{copied: instructionData.contract.copied['admin_address']}"
                on-copied="$root.successCodeCopy(instructionData.contract, 'admin_address')">&nbsp;
            <i class="icon-content_copy"></i>
        </button>
        <div class="copy-block__text">{{instructionData.ownerAddress|toCheckSum}}</div>
    </div>
</div>
<div class="normal-text visible-text">
    {{'CONTRACTS_INSTRUCTIONS.ETH.ANY_TRANSACTION.PART_2'|translate}}
    <div class="copy-block">
        <button class="copy-block__button relative"
                clipboard supported="supported"
                text="instructionData.contractAddress|toCheckSum"
                ng-class="{copied: instructionData.contract.copied['address']}"
                on-copied="$root.successCodeCopy(instructionData.contract, 'address')">&nbsp;
            <i class="icon-content_copy"></i>
        </button>
        <div class="copy-block__text">{{instructionData.contractAddress|toCheckSum}}</div>
    </div>
</div>
<div class="normal-text visible-text">
    {{'CONTRACTS_INSTRUCTIONS.ETH.ANY_TRANSACTION.PART_3'|translate}}
    <div class="copy-block">
        <button class="copy-block__button relative"
                clipboard supported="supported"
                text="instructionData.dataField"
                ng-class="{copied: instructionData.contract.copied['dataField']}"
                on-copied="$root.successCodeCopy(instructionData.contract, 'dataField')">&nbsp;
            <i class="icon-content_copy"></i>
        </button>
        <div class="copy-block__text">{{instructionData.dataField}}</div>
    </div>
</div>
<div class="normal-text visible-text" ng-if="instructionData.gasLimit">
    {{'CONTRACTS_INSTRUCTIONS.ETH.ANY_TRANSACTION.GAS_LIMIT'|translate}}
    <div class="copy-block">
        <button class="copy-block__button relative"
                clipboard supported="supported"
                text="instructionData.gasLimit"
                ng-class="{copied: instructionData.contract.copied['gasLimit']}"
                on-copied="$root.successCodeCopy(instructionData.contract, 'gasLimit')">&nbsp;
            <i class="icon-content_copy"></i>
        </button>
        <div class="copy-block__text">{{instructionData.gasLimit|separateNumber}}</div>
    </div>
</div>
