<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_no-lr-padding">
        <div class="alert-window-title">
            Thank you! Your message has been sent, we will contact you by Email.
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border text-center">
        <button class="btn btn-submit" ng-click="closeCurrentPopup()" type="button">
            <span>&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;</span>
        </button><br/><br/>
    </div>
</div>
