<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_no-lr-padding">
        <div class="alert-window-title">
            Please sign in/sign up to replenish your account
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border text-center">
        <button class="btn btn-submit uppercase"
                ng-click="$root.openAuthWindow('registration')">
            <span>Sign Up</span>
        </button>
        <button class="btn btn-transparent uppercase"
                ng-click="$root.openAuthWindow('auth')">
            <span>Sign in</span>
        </button><br/><br/>
    </div>
</div>
