<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_no-lr-padding">
        <div class="alert-window-title" translate="ALERTS.GHOST_USER.TEXT"></div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border text-center">
        <button class="btn btn-submit uppercase"
                ng-pop-up="{
                    template: '/templates/popups/login.html',
                    newPopupContent: true,
                    class: 'login-form',
                    params: {
                        page: 'registration'
                    }
                }">
            <span translate="HEADER.BUTTONS.SIGN_UP"></span>
        </button>
        <button class="btn btn-transparent uppercase"
                ng-pop-up="{
                    template: '/templates/popups/login.html',
                    newPopupContent: true,
                    class: 'login-form',
                    params: {
                        page: 'auth'
                    }
                }">
            <span translate="HEADER.BUTTONS.SIGN_IN"></span>
        </button><br/><br/>
    </div>
</div>
