<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_no-lr-padding">
        <div class="alert-window-title" translate="ALERTS.NEO_CROWDSALE_FINALIZED.TEXT"></div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border text-center">
        <button class="btn btn-submit" ng-click="closeCurrentPopup()" type="button">
            <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.OK'|translate}}&nbsp;&nbsp;&nbsp;</span>
        </button><br/><br/>
    </div>
</div>
