<div class="shadow-block">
    <div class="shadow-block__content">
        <div class="alert-window-title">
            Transaction failed.<br/>
            Please, check you have enough TRX on the address and try again.
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border text-center">
        <button class="btn btn-submit" type="button" ng-click="closeCurrentPopup()">
            <span>&nbsp;&nbsp;&nbsp;{{'OK'|translate}}&nbsp;&nbsp;&nbsp;</span>
        </button><br/><br/>
    </div>
</div>
