<div class="shadow-block">
    <div class="shadow-block__content">
        <div class="alert-window-title" translate="POPUP_ERRORS.LESS_BALANCE.TEXT"></div>
    </div>
    <div class="shadow-block__content no-border text-center">
        <a ui-sref="main.buytokens"
           ng-click="$root.closeCommonPopup(); $root.sendEvent('Button', 'to_buy_tokens_accept')"
           class="btn btn-submit">
            <span translate="BUTTONS.BUY_TOKENS"></span>
        </a>
        <button ng-click="$root.closeCommonPopup(); $root.sendEvent('Button', 'to_buy_tokens_cancel')"
                class="btn btn-transparent">
            <span translate="BUTTONS.CANCEL"></span>
        </button><br/><br/>
    </div>
</div>
