<div class="main-section-content">
    <form class="main-section-chapter" name="tokenInfoForm">
        <div class="main-section-chapter-fieldset">
            <div class="main-section-chapter-title">
                <i class="main-section-chapter-title_icon icon-wallet"></i>
                <span class="main-section-chapter-title_text">Deposit</span>
            </div>
            <div class="grid-row contract-form-row dark-back">
                <div class="grid-cell grid-cell-1-4">
                    <div class="simple-text">
                        Choose how to recharge balance
                    </div>
                </div>
                <div class="grid-cell grid-cell-3-4 btns-full-width">
                    <label class="choose">
                        <input type="checkbox">
                        <div class="btn btn-gray  " type="button">
                            <span>WISH</span>
                        </div>
                    </label>
                    <label class="choose">
                        <input type="checkbox">
                        <div class="btn btn-gray  " type="button">
                            <span>BTC</span>
                        </div>
                    </label>
                    <label class="choose">
                        <input type="checkbox">
                        <div class="btn btn-gray  " type="button">
                            <span>ETH</span>
                        </div>
                    </label>
                </div>
            </div>
            <div ng-if="true" ng-include="getTemplate('pages/buytokens-forms/eth-form')"></div>
            <div ng-if="false" ng-include="getTemplate('pages/buytokens-forms/wish-form')"></div>
            <div ng-if="false" ng-include="getTemplate('pages/buytokens-forms/btc-form')"></div>
        </div>
    </form>
</div>