<div class="main-section-content">
    <div class="shadow-block">
        <div class="grid-row">
            <div class="grid-cell grid-cell-2-5 grid-cell-ps-1">
                <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
                    <div class="shadow-block__content__blue-title">
                        <i class="shadow-block__content__blue-title__icon icon-wallet"></i>
                        <div class="shadow-block__content__blue-title__name">
                            <span class="big-size">{{'PAGES.BUY_TOKENS.TITLE'|translate}}&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-cell-3-5 grid-cell-ps-1">
                <div class="shadow-block__content shadow-block__content_min-tb-padding">
                    <div class="shadow-block__content shadow-block__content_no-tb-padding shadow-block__content_no-lr-padding">
                        <div class="attention-text-container after-form-title">
                            <div class="attention-text without-top">
                                <div class="attention-text__title">
                                    <i class="icon-alert-circle"></i>{{'PAGES.BUY_TOKENS.NOTE.RED_TEXT'|translate}}
                                </div>
                                {{'PAGES.BUY_TOKENS.NOTE.TEXT'|translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding grey-color">
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-1">
                    <label class="form-control-label-checkbox">
                        <span translate="PAGES.BUY_TOKENS.CHOOSE_REPLENISH_METHOD"></span>
                    </label>
                </div>
            </div>
            <div class="grid-row contract-form-row">

                <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-3 grid-cell-vs-1-2 text-center mb-1">
                    <label class="btn btn-gray nowrap payment-method with-icon"
                           ng-class="{'active': visibleForm === 'bnb-wish'}">
                        <input type="radio" class="hidden-input"
                               ng-click="visibleForm === 'bnb-wish' ? visibleForm =  false : false"
                               ng-model="visibleForm"
                               value="bnb-wish" name="buy-tokens-net">
                        <img src="/static/images/blockchain/mwbnb1.svg" height="24" style="vertical-align: middle;">
                        <!--&nbsp;&nbsp;-->
                        <!--<span>BWISH</span>-->
                    </label>
                </div>

                <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-3 grid-cell-vs-1-2 text-center mb-1">
                    <label class="btn btn-gray nowrap payment-method with-icon"
                           ng-class="{'active': visibleForm === 'bnb'}">
                        <input type="radio" class="hidden-input"
                               ng-click="visibleForm === 'bnb' ? visibleForm =  false : false"
                               ng-model="visibleForm"
                               value="bnb" name="buy-tokens-net">
                        <img src="/static/images/blockchain/binance-coin-logo.svg" width="20" style="vertical-align: middle; margin-left: -5px;">
                        &nbsp;&nbsp;
                        <span>BNB</span>
                    </label>
                </div>


                <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-3 grid-cell-vs-1-2 text-center mb-1">
                    <label class="btn btn-gray nowrap payment-method with-icon"
                           ng-class="{'active': visibleForm === 'eth'}">
                        <input type="radio" class="hidden-input"
                               ng-click="visibleForm === 'eth' ? visibleForm =  false : false"
                               ng-model="visibleForm"
                               value="eth" name="buy-tokens-net">
                        <img src="/static/images/blockchain/ethereum.png" width="20" style="vertical-align: middle">
                        &nbsp;&nbsp;
                        <span>ETH</span>
                    </label>
                </div>


                <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-3 grid-cell-vs-1-2 text-center mb-1">
                    <label class="btn btn-gray nowrap payment-method with-icon"
                           ng-class="{'active': visibleForm === 'btc'}">
                        <input type="radio" class="hidden-input"
                               ng-click="visibleForm === 'btc' ? visibleForm =  false : false"
                               ng-model="visibleForm"
                               value="btc" name="buy-tokens-net">
                        <img src="/static/images/blockchain/bitcoin.svg" width="20" style="vertical-align: middle">
                        &nbsp;&nbsp;
                        <span>BTC</span>
                    </label>
                </div>


                <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-3 grid-cell-vs-1-2 text-center mb-1">
                    <label class="btn btn-gray nowrap payment-method with-icon"
                           ng-class="{'active': visibleForm === 'eos'}">
                        <input type="radio" class="hidden-input"
                               ng-click="visibleForm === 'eos' ? visibleForm =  false : false"
                               ng-model="visibleForm"
                               value="eos" name="buy-tokens-net">
                        <img src="/static/images/blockchain/eos.svg" width="20" style="vertical-align: middle">
                        &nbsp;&nbsp;
                        <span>EOS</span>
                    </label>
                </div>


                <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-3 grid-cell-vs-1-2 text-center mb-1">
                    <label class="btn btn-gray nowrap payment-method with-icon"
                           ng-class="{'active': visibleForm === 'tron'}">
                        <input type="radio" class="hidden-input"
                               ng-click="visibleForm === 'tron' ? visibleForm =  false : false"
                               ng-model="visibleForm"
                               value="tron" name="buy-tokens-net">
                        <img src="/static/images/blockchain/tron.svg" width="20" style="vertical-align: middle">
                        &nbsp;&nbsp;
                        <span>TRON</span>
                    </label>
                </div>

                <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-3 grid-cell-vs-1-2 text-center mb-1">
                    <label class="btn btn-gray nowrap payment-method with-icon"
                           ng-class="{'active': visibleForm === 'tronish'}">
                        <input type="radio" class="hidden-input"
                               ng-click="visibleForm === 'tronish' ? visibleForm =  false : false"
                               ng-model="visibleForm"
                               value="tronish" name="buy-tokens-net">
                        <img src="/static/images/logos/tronish-logo.svg" width="20" style="vertical-align: middle">
                        &nbsp;&nbsp;
                        <span>TRONISH</span>
                    </label>
                </div>


                <div class="grid-cell grid-cell-1-4 grid-cell-ps-1-3 grid-cell-vs-1-2 text-center mb-1">
                    <label class="btn btn-gray nowrap payment-method with-icon"
                           ng-class="{'active': visibleForm === 'wish'}">
                        <input type="radio" class="hidden-input"
                               ng-click="visibleForm === 'wish' ? visibleForm =  false : false"
                               ng-model="visibleForm"
                               value="wish" name="buy-tokens-net">
                        <img src="/static/images/blockchain/mweth1.svg" height="24" style="vertical-align: middle;">
                        <!--&nbsp;&nbsp;-->
                        <!--<span>WISH</span>-->
                    </label>
                </div>

                <!-- div class="grid-cell grid-cell-1-4 grid-cell-ps-1-3 grid-cell-vs-1-2 text-center mb-1">
                    <label class="btn btn-gray nowrap payment-method with-icon"
                           ng-class="{'active': visibleForm === 'eosish'}">
                        <input type="radio" class="hidden-input"
                               ng-click="visibleForm === 'eosish' ? visibleForm =  false : false"
                               ng-model="visibleForm"
                               value="eosish" name="buy-tokens-net">
                        <img src="/static/images/blockchain/eosish-logo.svg" width="20" style="vertical-align: middle">
                        &nbsp;&nbsp;
                        <span>EOSISH</span>
                    </label>
                </div -->
            </div>
        </div>

        <div class="shadow-block__content shadow-block__content_no-tb-padding shadow-block__content_no-lr-padding"
             ng-if="visibleForm == 'bnb-wish'" ng-include="getTemplate('pages/buytokens-forms/bnb-wish-form')"></div>

        <div class="shadow-block__content shadow-block__content_no-tb-padding shadow-block__content_no-lr-padding"
             ng-if="visibleForm == 'bnb'" ng-include="getTemplate('pages/buytokens-forms/bnb-form')"></div>

        <div class="shadow-block__content shadow-block__content_no-tb-padding shadow-block__content_no-lr-padding"
             ng-if="visibleForm == 'eth'" ng-include="getTemplate('pages/buytokens-forms/eth-form')"></div>

        <div class="shadow-block__content shadow-block__content_no-tb-padding shadow-block__content_no-lr-padding"
             ng-if="visibleForm == 'btc'" ng-include="getTemplate('pages/buytokens-forms/btc-form')"></div>

        <div class="shadow-block__content shadow-block__content_no-tb-padding shadow-block__content_no-lr-padding"
             ng-if="visibleForm == 'eos'" ng-include="getTemplate('pages/buytokens-forms/eos-form')"></div>

        <div class="shadow-block__content shadow-block__content_no-tb-padding shadow-block__content_no-lr-padding"
             ng-if="visibleForm == 'tron'" ng-include="getTemplate('pages/buytokens-forms/tron-form')"></div>


        <div class="shadow-block__content shadow-block__content_no-tb-padding shadow-block__content_no-lr-padding"
             ng-if="visibleForm == 'tronish'" ng-include="getTemplate('pages/buytokens-forms/tronish-form')"></div>

        <div class="shadow-block__content shadow-block__content_no-tb-padding shadow-block__content_no-lr-padding"
             ng-if="visibleForm == 'wish'" ng-include="getTemplate('pages/buytokens-forms/wish-form')"></div>



        <!--<div class="shadow-block__content shadow-block__content_no-tb-padding shadow-block__content_no-lr-padding"-->
             <!--ng-if="visibleForm == 'eosish'" ng-include="getTemplate('pages/buytokens-forms/eosish-form')"></div>-->

        <div class="form-fieldset-delimiter"
             ng-hide="visibleForm"><span class="uppercase ng-scope" translate="OR">or</span></div>

        <div ng-hide="visibleForm"
             class="shadow-block__content shadow-block__content_no-tb-padding text-center">
            <br/><br/>
            <div class="form-control-label">Use <img class="bestrate-logo" src="/static/images/BestRate.svg"/> service for getting WISH</div>
        </div>

        <div ng-hide="true && visibleForm"
             class="shadow-block__content shadow-block__content_no-tb-padding no-border shadow-block__content_no-lr-padding">
            <br/><br/>
            <div id="bestrate-widget"></div>
        </div>



    </div>
</div>
