<div class="main-section-content" ng-scroll-list="contractsListParams">
  <div class="shadow-block text-center" ng-if="!contractsList.length">
    <div class="shadow-block__content">
      <div class="shadow-block__content__text">
        <div>
          <h1>Company</h1>
          <div>
            <h2 style="text-align: left"><strong>Beneficiary</strong></h2>
            <p style="text-align: justify;"><span style="font-weight: 400;">MANZONI LIMITED LIABILITY COMPANY</span></p>
            <h2 style="text-align: left"><strong>Beneficiary account</strong></h2>
            <p style="text-align: justify;"><span style="font-weight: 400;">40702840410000002761</span></p>
            <h2 style="text-align: left"><strong>KPP number</strong></h2>
            <p style="text-align: justify;"><span style="font-weight: 400;">781301001</span></p>
            <h2 style="text-align: left"><strong>OGRN</strong></h2>
            <p style="text-align: justify;"><span style="font-weight: 400;">1167847119901</span></p>
            <h2 style="text-align: left"><strong>Tax payer number</strong></h2>
            <p style="text-align: justify;"><span style="font-weight: 400;">7813245218</span></p>
            <h2 style="text-align: left"><strong>Registered address</strong></h2>
            <p style="text-align: justify;"><span style="font-weight: 400;">190031, RUSSIA, ST.PETERSBURG, Gorokhovaya street, 47</span></p>
            <h2 style="text-align: left"><strong>Contacts</strong></h2>
            <p style="text-align: justify;"><span style="font-weight: 400;">support@mywish.io<br>+7 (812) 429-74-35</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
