<div class="main-section-content">
    <div class="shadow-block text-center" ng-if="!contractsList.length">
        <div class="shadow-block__content">
            <div class="shadow-block__content__text">
                <span translate="PAGES.CONTRACTS.CREATE_CONTRACT_BLOCK.DESCRIPTION"></span>
            </div><br/><br/>
            <a ui-sref="main.createcontract.types" class="btn btn-submit with-icon">
                <i class="icon-create-contract"></i>
                <span translate="PAGES.CONTRACTS.CREATE_CONTRACT_BLOCK.BUTTON"></span>
            </a>
        </div>
    </div>

    <div class="shadow-block shadow-block_hovered shadow-block_hovered_no-scaled"
         ng-click="goToContract(contract, $event)"
         ng-repeat="contract in contractsList" ng-init="iniContract(contract)">
        <div class="shadow-block__content shadow-block__content_min-tb-padding  shadow-block__content_no-lr-padding">

            <div class="contract-info__network" ng-class="'contract-info__network_' + contract.network">
                <span>{{('CONTRACTS_NETWORKS.NETWORK_' + contract.network)|translate}}</span>
            </div>

            <div class="shadow-block__content__blue-title static-width">
                <i ng-class="contractTypesIcons[contract.contract_type]" class="shadow-block__content__blue-title__icon"></i>
                <div class="shadow-block__content__blue-title__name" ng-attr-title="{{contract.name}}">
                    <span>{{ contract.name || 'Not defined'}}</span>
                </div>
            </div>

            <div class="contract-status-block">
                <div class="contract-status-name" ng-class="'contract-status-' + statuses[contract.state]['value']">
                    <div class="contract-status-text">
                        <span>{{'CONTRACTS_STATUSES.' + contract.state|translate}}</span>
                    </div>
                </div>
                <button class="btn only-icon"
                        ng-class="{
                            'in-progress': timeoutsForProgress[contract.id],
                            'no-visibility':
                            ((statuses[contract.state]['value'] == 6) || (statuses[contract.state]['value'] == 7) || (statuses[contract.state]['value'] == 8) || (statuses[contract.state]['value'] == 11) || (statuses[contract.state]['value'] == 9))
                        }"
                        ng-mousedown="refreshContract(contract)">
                    <img class="btn-icon refresh-icon" src="/static/images/refresher.svg">
                </button>
            </div>

            <div class="contract-block__buttons"
                 ng-include="'/templates/pages/contracts/list/' + getNetworkPath(contract.network) + '-buttons.html'"></div>
        </div>
    </div>
</div>
