<div class="main-section-content">
    <div class="shadow-block">
        <div class="grid-row">
            <div class="grid-cell grid-cell-2-5 grid-cell-ps-1">
                <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
                    <div class="shadow-block__content__blue-title">
                        <i class="shadow-block__content__blue-title__icon icon-wallet"></i>
                        <div class="shadow-block__content__blue-title__name">
                            <span class="big-size">{{'PAGES.BUY_TOKENS.TITLE'|translate}}&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-cell-3-5 grid-cell-ps-1">
                <div class="shadow-block__content shadow-block__content_min-tb-padding">
                    <div class="shadow-block__content shadow-block__content_no-tb-padding shadow-block__content_no-lr-padding">
                        <div class="attention-text-container after-form-title">
                            <div class="attention-text without-top">
                                <div class="attention-text__title">
                                    <i class="icon-alert-circle"></i>{{'PAGES.BUY_TOKENS.NOTE.RED_TEXT'|translate}}
                                </div>
                                {{'PAGES.BUY_TOKENS.NOTE.TEXT'|translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow-block__content">
            <div class="grid-row">
                <div class="grid-cell grid-cell-3-8 grid-cell-ps-1">
                    <div class="form-control">
                        <label class="form-control-label">{{'PAGES.BUY_TOKENS.SEND'|translate}}&nbsp;&nbsp;<img src="/static/images/right-arrow.svg" alt=""></label>
                        <input type="text" placeholder="0"
                               class="form-control-input with-currency" ng-model="formData.eosAmount"
                               commaseparator="{regexp: '^[0-9]{0,25}([.][0-9]{0,18})?$'}"
                               pattern="^[0-9,]{0,25}([.][0-9]{1,18})?$"
                               ng-change="checkWishesAmount()">
                        <div class="input-after">EOS</div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-3-8 grid-cell-ps-1">
                    <div class="form-control">
                        <label class="form-control-label"><img src="/static/images/right-arrow.svg" alt="">&nbsp;&nbsp;{{'PAGES.BUY_TOKENS.GET'|translate}}</label>
                        <input type="text" placeholder="0"
                               class="form-control-input with-currency"
                               commaseparator="{regexp: '^[0-9]{0,25}([.][0-9]{0,2})?$'}"
                               pattern="^[0-9,]{0,25}([.][0-9]{1,2})?$"
                               ng-model="formData.wishesAmount" ng-change="checkEosAmount()">
                        <div class="input-after">EOSISH</div>
                    </div>
                </div>
            </div><br/>
            <form class="grid-row" name="userAddressForm">
                <div class="grid-cell grid-cell-1-2 grid-cell-ps-1">
                    <div class="form-control">
                        <label class="form-control-label">
                            Enter your account for payment:
                        </label>
                        <input ng-change="checkAddress(userAddressForm['user_address'])"
                               ng-model="user_address"
                               name="user_address"
                               required
                               pattern="[a-z1-5]{12}"
                               type="text" class="form-control-input">
                        <span class="field-error form-field_error-check-sum">No such EOS account</span>
                        <div class="form-control-label" ng-if="userBalance">
                            Balance: {{userBalance|separateNumber}} EOS
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ps-1 form-control-description">
                    <div class="form-control-label hide-ps">&nbsp;</div>
                    <span class="form-control-description__text">
                        Your EOS account which has EOS tokens for payment.
                        You can create an account by our service: <a href="#">ссылка</a>
                    </span>
                </div>
            </form>
            <div class="grid-row" ng-show="checkedAddress">
                <div class="grid-cell grid-cell-1-2 grid-cell-ps-1">
                    <div class="form-control">
                        <label class="form-control-label">Send to address:</label>
                        <input type="text" class="form-control-input"
                               ng-model="wishAddress"
                               readonly>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ps-1 form-control-description">
                    <div class="form-control-label hide-ps">&nbsp;</div>
                    <span class="form-control-description__text">
                        It’s MyWish EOS address.
                        You can send your EOS by Scatter wallet: <a href="#">ссылка</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
