<div class="main-section-content">

    <div class="contract-preview-tabs" ng-init="contract.showedTab = 'api'">
        <div class="contract-preview-one-tab"
             ng-class="{active: contract.showedTab == 'message'}"
             ng-click="contract.showedTab = 'message'">
            <span>Send contract</span>
        </div>
        <div class="contract-preview-one-tab"
             ng-class="{active: contract.showedTab == 'api'}"
             ng-click="contract.showedTab = 'api'">
            <span>API</span>
        </div>
    </div>



    <div class="shadow-block after-tabs">
        <div class="ext-devs_message"  ng-show="contract.showedTab == 'message'">
            <div class="shadow-block after-tabs">
                <div class="shadow-block__content">
                    <div class="grid-row">
                        <div class="grid-cell grid-cell-1">
                            <div class="shadow-block__content__title">
                                <i class="icon-framew shadow-block__content__title__icon"></i>
                                <span class="shadow-block__content__title__text" translate="PAGES.EXTERNAL_DEVELOPERS.TITLE"></span>
                            </div>
                            <div class="shadow-block__content__text shadow-block__content__text_description">
                                <span translate="PAGES.EXTERNAL_DEVELOPERS.DESCRIPTION"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="shadow-block__content" ng-submit="sendForm(requestForm)" novalidate name="requestForm">
            <div class="simple-form-wrapper">
                <div class="simple-form-field-row">
                    <label class="simple-form-field-label"
                           translate="PAGES.EXTERNAL_DEVELOPERS.FIELDS.USER_NAME.LABEL"></label>
                    <div class="simple-form-field-input">
                        <input class="form-control-input" ng-model="request.username" required/>
                    </div>
                </div>
                <div class="simple-form-field-row">
                    <label class="simple-form-field-label"
                           translate="PAGES.EXTERNAL_DEVELOPERS.FIELDS.EMAIL.LABEL"></label>
                    <div class="simple-form-field-input">
                        <input class="form-control-input" type="email" ng-model="request.email" required/>
                    </div>
                </div>
                <div class="simple-form-field-row">
                    <label class="simple-form-field-label"
                           translate="PAGES.EXTERNAL_DEVELOPERS.FIELDS.CONTRACT_NAME.LABEL"></label>
                    <div class="simple-form-field-input">
                        <input class="form-control-input" ng-model="request.contract_name" required/>
                    </div>
                </div>
                <div class="simple-form-field-row">
                    <label class="simple-form-field-label simple-form-mobile-hidden">&nbsp;</label>
                    <div class="simple-form-field-input">
                        <textarea class="form-control-input"
                                  placeholder="{{'PAGES.EXTERNAL_DEVELOPERS.FIELDS.DESCRIPTION.PLACEHOLDER'|translate}}" ng-model="request.message" required></textarea>
                    </div>
                </div>
                <div class="simple-form-field-row">
                    <div class="simple-form-field-label simple-form-mobile-hidden">&nbsp;</div>
                    <div class="simple-form-field-input simple-form-buttons-container">
                        <button class="btn btn-submit">
                            <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.SEND'|translate}}&nbsp;&nbsp;&nbsp;</span>
                        </button>
                        <button class="btn btn-transparent" type="reset">
                            <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.CLEAN'|translate}}&nbsp;&nbsp;&nbsp;</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="ext-devs_message"  ng-show="contract.showedTab == 'api'">
            <div class="shadow-block after-tabs">
                <div class="shadow-block__content">
                    <div class="grid-row">
                        <div class="grid-cell grid-cell-1">
                            <div class="shadow-block__content__title">
                                <i class="icon-framew shadow-block__content__title__icon"></i>
                                <span class="shadow-block__content__title__text">API tokens</span>
                            </div>
                            <div class="shadow-block__content__text shadow-block__content__text_description">
                                <span>
                                    A script or other process can use an API tokens to perform basic authentication with MyWish platform.
                                    You must use an API token if the MyWish account you authenticate with has had two-step verification enabled.
                                    You should treat API tokens as securely as any other password.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shadow-block__content">
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1-2 grid-cell-vs-1 text-center-vs">
                        <button class="btn btn-transparent"
                                ng-pop-up="{
                            template: '/templates/popups/forms/api-key-create.html',
                            newPopupContent: true,
                            class: 'deleting-contract',
                            params: {
                                formData: apiFormPopUpData,
                                submitApiForm: submitApiForm
                            }
                        }">
                            <i class="icon-rocket-ship"></i>
                            <span>&nbsp;Create API token&nbsp;</span>
                        </button>
                    </div>
                    <div class="grid-cell grid-cell-1 show-vs"><br/></div>
                    <div class="grid-cell grid-cell-1-2 grid-cell-vs-1 text-right text-center-vs">
                        <button class="btn btn-transparent btn-transparent-red">
                            <i class="icon-trash"></i>
                            <span>Revoke API tokens</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="shadow-block" ng-if="tokensList.length">
                <div class="shadow-block__content
                shadow-block_hovered
                shadow-block__content_min-tb-padding  shadow-block__content_no-lr-padding"
                     ng-repeat="apiToken in tokensList"
                     ng-click="showToken(apiToken)">
                    <div class="shadow-block__content__blue-title static-width">
                        <div class="shadow-block__content__blue-title__name">
                            <span>{{ apiToken.label }}</span>
                        </div>
                    </div>

                    <div class="contract-status-block">
                        <button class="btn only-icon float-right" type="button"
                                ng-pop-up="{
                                    template: '/templates/popups/confirmations/delete-api-token.html',
                                    newPopupContent: true,
                                    prevented: true,
                                    params: {
                                        token: apiToken,
                                        other: deletePopupParams
                                    },
                                    class: 'deleting-contract',
                                    actions: {
                                        deleteToken: deleteToken
                                    }
                                }">
                            <i class="icon-trash"></i>
                        </button>
                        <div class="contract-status-name without-indicator">
                            <div class="contract-status-text">
                                <span ng-bind="apiToken.last_accessed ? (apiToken.last_accessed|date:'dd/MM/yyyy') : 'Never accessed'"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shadow-block__content">
                <div class="normal-text" translate="CONTRACTS.PREVIEW.SUPPORT_CONTRACT_CODE"></div>
            </div>
        </div>
    </div>
</div>


<div ng-if="showedToken" ng-pop-up="{
    template: '/templates/popups/forms/api-key-preview.html',
    newPopupContent: true,
    opened: true,
    class: 'deleting-contract',
    onClose: resetShowedToken,
    params: {
        token: showedToken,
        hideShow: hideShow
    }
}"></div>

<div ng-pop-up="{
    template: '/templates/popups/alerts/form-request-success.html',
    newPopupContent: true,
    opened: true,
    class: 'deleting-contract',
    noClickShow: true,
    onClose: resetForm
}" ng-if="formRequestSuccess"></div>
