<div class="main-section-content">
    <div class="main-section-chapter simple-form-chapter">
        <div class="main-section-chapter-fieldset ">
            <div class="simple-form_title">External Developers</div>
            <div class="simple-form_text">
                To add your cintrat ti the MyWish libraty or get an audit of a smart contract, fill out the feedback form and describe the functionality of your contract.
            </div>
        </div>
    </div>
    <form class="simple-form">
        <div class="simple-form-wrapper">
            <div class="simple-form-field-row">
                <label class="simple-form-field-label">User&nbsp;name</label>
                <div class="simple-form-field-input">
                    <input/>
                </div>
            </div>
            <div class="simple-form-field-row">
                <label class="simple-form-field-label">Email</label>
                <div class="simple-form-field-input">
                    <input/>
                </div>
            </div>
            <div class="simple-form-field-row">
                <label class="simple-form-field-label">Contract name</label>
                <div class="simple-form-field-input">
                    <input/>
                </div>
            </div>
            <div class="simple-form-field-row">
                <label class="simple-form-field-label">&nbsp;</label>
                <div class="simple-form-field-input">
                    <textarea placeholder="Contract description"></textarea>
                </div>
            </div>
            <div class="simple-form-field-row">
                <div class="simple-form-field-label">&nbsp;</div>
                <div class="simple-form-field-input">
                    <br/>
                    <button class="btn btn-white float-right">
                        <span>SEND</span>
                    </button>
                    <button class="btn btn-transparent" type="reset">
                        <span>Clean</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
