<div class="main-section-content" ng-scroll-list="contractsListParams">
    <div class="shadow-block text-center" ng-if="!contractsList.length">
        <div class="shadow-block__content">
            <div class="shadow-block__content__text">
                <h1>Terms of Service</h1>
                <p>These are the terms and conditions that define the rules and regulations to use the MyWish website:<br>
                    <a style="cursor: pointer">https://contracts.mywish.io/</a>
                </p>
                <div class="story__full__text">
                    <p style="text-align: justify;"><span style="font-weight: 400;">This website is the property of MyWish, designed by the MyWish development team.</span></p>
                    <h2 style="text-align: justify;"><strong>Acceptance of the terms</strong></h2>

                    <p style="text-align: justify;"><span style="font-weight: 400;">You must be of legal age to abide by the agreement in order to accept the terms. By accessing this website we assume that you hereby accept the terms and conditions of this website. If you do not agree to the General Terms and conditions, do not continue to use any of our services of contracts.mywish.io. You may accept the Terms or abide by the general agreement.
MyWish referred collectively to “We” or “Us” or” Ourselves” or “Our” We refer to users of the website as “You” or “Users” or “Client”. You hereby bound to these terms.
Any of the above terminologies in singular plural or he or she are interchangeable and they refer to the above terminologies.</span></p>

                    <h2 style="text-align: justify;"><strong>General terms</strong></h2>
                    <h4 style="text-align: justify;"><strong>Severability</strong></h4>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            Each paragraph of these terms and conditions has separate functions. If any authority or court decides that any of the terms are against the law, the remaining part of the terms and conditions remain the same in full force and effect.
          </span></p>
                    <h4 style="text-align: justify;"><strong>Notification</strong></h4>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            We may send notice to you by email or post regarding the service and the website or it may be sent by any other mode. Such notices will be considered to be effective from the time of delivery or dispatch. If you send the notice, it will be considered effective when it is received by us.
          </span></p>
                    <h4 style="text-align: justify;"><strong>Modification of terms</strong></h4>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            Respect for the privacy and security of data you store with MyWish informs our approach to complying with. We may or may not change the terms and conditions from time to time. You acknowledge and agree to a modification of terms. If you do not agree to the modification of terms, kindly do not access or continue to use our service. Kindly check all the updates on this page periodically. We comply with the applicable legal agreements to provide or send you the notice of updates or changes to these terms and conditions. We assume your continued use as your acceptance of the changes in the terms and conditions.
          </span></p>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            We will not disclose or provide any personal information to third-party sources without review from our legal case team and/or prior consent from the user.
          </span></p>

                    <h2 style="text-align: justify;"><strong>Cookies</strong></h2>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
                        We make use of cookies and by accessing contracts.mywish.io, we assume that you agreed to make use of the cookies with the MyWish <a style="cursor: pointer" ui-sref="main.privacy">privacy policy</a>.
          </span></p>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            Most of the websites use cookies to collect user details in a temporary file to easily access the website for the next visit. It is implemented to make users comfortable using our website and to enable the proper functioning of certain areas.
          </span></p>

                    <h2 style="text-align: justify;"><strong>License</strong></h2>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            As a user of this website, you are allowed to have non-exclusive, non-transferable, limited access to use the website.
          </span></p>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            MyWish possesses the right to cancel the license at any time for any valid reason. You may access this website with the following restrictions:
          </span></p>
                    <ul style="text-align: justify;"><span style="font-weight: 400;">
                        <li>You may use the website on your own computer for your personal and non-commercial use.</li>
                        <li>You are not allowed to republish any of the content, any part of the website, service/contest in any form</li>
                        <li>Not allowed to copy, sell, sub-license, or rent any part of the MyWish.</li>
                        <li>You must not redistribute the content.</li>
                        <li>You are not allowed to use any device, software to interfere or interrupt or attempt to hinder the proper workflow or functionality of the website.</li></span>
                    </ul>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            Cyptosoftwares offers the opportunity to exchange your views in a certain part of the websites. Comments posted on this website reflect the views and opinions of the person who posted the comments and in no way, it reflects the views and opinions of MyWish. MyWish may not be responsible or liable for the comments posted on the website or not responsible for any liability, damage, or expense caused as a result of any comment on the website.
          </span></p>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            MyWish reserves all the rights to monitor the website and removes any unwanted comments which are considered to be inappropriate, offensive, or violate any rules or regulations of these terms and conditions of MyWish.
          </span></p>

                    <h2 style="text-align: justify;"><strong>Content service and ownership</strong></h2>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            The website may contain the content created by the MyWish or any of our users. The content, graphics, compilation, digital conversation, design, contests, services, and all intellectual property rights including logos, names, related names, and symbols (referred to as “Intellectual Property”) are protected under copyright, trademark law, industrial property rights. Copyright infringement is strictly prohibited.
          </span></p>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            If any of the above terms are not followed, accepted violates the terms and conditions as per the copyright law, trademark law and you abide by the legal liability for the same.
          </span></p>

                    <h2 style="text-align: justify;"><strong>Hyperlinking to the website</strong></h2>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            Below organization may hold the rights to link our website without any prior approval.
          </span></p>
                    <h4 style="text-align: justify;"><strong>Government agencies</strong></h4>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            Unless authorized by MyWish, no one shall hyperlink the website or any part of the website (which may include the following parts but not limited to: logos, content, copyright material, branding) to their own website. Framing the website/ referencing the URL (Uniform Resource Locator) without any written permission or prior approval is strictly prohibited.
          </span></p>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            We may approve the link request of the organization if we find that the following conditions are met:
          </span></p>
                    <ul style="text-align: justify;"><span style="font-weight: 400;">
            <li>The link should not look unfavorable to us or any of our accredited business</li>
            <li>The organization should not have a negative impact on our business</li>
            <li>The benefit to us with respect to the hyperlink</li>
            <li>The presence of the link in the general information</li>
          </span></ul>

                    <h2 style="text-align: justify;"><strong>Iframes</strong></h2>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            You are not allowed to create any frames that affect or alter our visual representation or design or the appearance of our website without any prior written permission or approval
          </span></p>

                    <h2 style="text-align: justify;"><strong>Content liability</strong></h2>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            We shall not be liable for any content that appears on your website. You hereby acknowledge and agree to protect us from all claims that may arise on your website. No link should be allowed on any website that may be considered as criminal, or copyright-infringing, or violating the terms and conditions of third party rights.
          </span></p>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            You specifically need to agree or cooperate with the website to cease any such activities against hyperlinking. You also acknowledge that you shall be liable for any such legal liabilities, damages, expenses associated therewith.
          </span></p>

                    <h2 style="text-align: justify;"><strong>Rights reserved</strong></h2>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            We reserve the right to remove any or all the links to our website. You accept to remove immediately as it is requested. We may change, amend the terms and conditions related to hyperlinking policy. We assume that by continuously linking to our website, you accept or agree to the updated terms and conditions of the hyperlinking policy
          </span></p>

                    <h2 style="text-align: justify;"><strong>Link removal request from our website</strong></h2>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            If you find any link is not appropriate or offensive, you are allowed to inform or contact us for the removal request. We will consider your request and shall proceed only after examining the link and we are not obligated to respond to you immediately or directly
          </span></p>

                    <h2 style="text-align: justify;"><strong>Disclaimer</strong></h2>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            As per the applicable law, we exclude all conditions, warranties, representations relating to our website to the maximum extent.
          </span></p>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            The following will not:
          </span></p>
                    <ul style="text-align: justify;"><span style="font-weight: 400;">
                        <li>Exclude or avoid or limit your or our liabilities for death or any personal injury that occurred</li>
                        <li>Exclude or avoid or limit your or our liabilities for fraudulent activities</li>
                        <li>Exclude or avoid or limit your or our liabilities that may or may not fall under applicable law</li></span>
                    </ul>
                    <h2 style="text-align: justify;"><strong>Disclaimer for downloads</strong></h2>
                    <p style="text-align: justify;"><span style="font-weight: 400;">
            Users or Visitors download any information at their own risk. MyWish not liable or no warranty for such downloads are free from viruses, worms, including but not limited to corrupting computer codes. As far as the website, services, information are provided to the users for free of cost, we will not be responsible for any natural damage or loss.
          </span></p>
            </div>
        </div>
    </div>
</div>
</div>
