<div class="main-section-content">
    <div class="shadow-block" ng-init="initSwapsWidget()">
        <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
            <div class="shadow-block__content__blue-title">
                <i class="shadow-block__content__blue-title__icon icon-sn"></i>
                <div class="shadow-block__content__blue-title__name">
                    <span class="big-size ng-scope">Try SWAPS.NETWORK</span>
                </div>
            </div>
        </div>
        <div class="shadow-block__content"
             ng-hide="successSwapForm">
            <div id="swaps-network-widget" class="custom-widget"></div>
        </div>
        <div class="shadow-block__content"
             ng-hide="!successSwapForm">
            <p class="normal-text">
                Поздравляем!<br/>
                Всё ништяк 😉<br/>
                Можешь проверить <a href="http://devswaps.mywish.io/trades" target="_blank">тут</a>
            </p>
        </div>
    </div>
</div>
