<div class="main-section-content">

    <div class="contract-preview-tabs">
        <div class="contract-preview-one-tab"
             ng-class="{active: showedTab == 'form'}"
             ng-click="setTab('form')">
            <span>New Trade</span>
        </div>
        <div class="contract-preview-one-tab"
             ng-class="{active: showedTab == 'list'}"
             ng-click="setTab('list')">
            <span>My Trades</span>
        </div>
    </div>

    <div class="shadow-block after-tabs">
        <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
            <div class="shadow-block__content__blue-title">
                <i class="shadow-block__content__blue-title__icon icon-sn"></i>
                <div class="shadow-block__content__blue-title__name">
                    <span class="big-size ng-scope">OTC Trades</span>
                </div>
            </div>
        </div>

        <div ng-init="initSwapsWidget()">
            <div ng-if="swapIsInit">
                <div class="shadow-block__content"
                     ng-if="showedTab === 'form'">
                    <div id="swaps-network-widget"
                         ng-init="iniSwapsForm()"
                         class="custom-widget"></div>
                </div>
                <div ng-if="showedTab === 'list'">
                    <div id="orders-list" ng-init="iniSwapsList()"></div>
                </div>
            </div>
        </div>

    </div>
</div>
