<!DOCTYPE html>
<html ng-app="app" ng-controller="baseController">
<head lang="en">
    <title>MyWish</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet"/>
    <base href="/dashboard/"/>

    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicon/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/static/favicon/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/static/favicon/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/static/favicon/widetile.png" />

    <meta name="msapplication-square310x310logo" content="/static/favicon/largetile.png" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#338f8d">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#338f8d">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#338f8d">

    <script src="/static/vendors/vendors.js"></script>
    <script src="/static/tpl/templates.tpl.js"></script>
    <script src="/static/web3/web3.js"></script>
    <script src="/static/js/main.js"></script>

</head>
<body ng-class="{'with-menu': showedMenu, 'visible': currentUser}">
<header class="main-header-holder"
        ng-include="getTemplate('common/header')"></header>

<div class="main-menu-holder" ng-include="getTemplate('common/menu')"></div>
<div class="pre-release-information"
     ng-class="{'start-loading': globalProgress, 'finish-loading': finishGlobalProgress}">
    <div class="pre-release-information-container">
        <div class="main-content-holder">
            <div class="main-section-content">

                <div class="user-balance">
                    <span class="user-balance-title">Balance</span>
                    <div class="user-balance-value">
                        <div ng-bind="currentUser.visibleBalance" class="text-left form-control-input_short small-input user-balance-value_input form-control-input"></div>
                        <i class="user-balance-icon icon-mywish">
                            <span class="path1"></span><span class="path2"></span>
                        </i>
                        <button class="btn only-icon user-balance-refresh"
                                ng-class="{'in-progress': currentUser.balanceInRefresh}"
                                ng-click="getCurrentBalance()">
                            <i class="icon-refresh-new"></i>
                        </button>
                    </div>
                    <a ui-sref="main.buytokens" class="user-balance-buy btn btn-submit with-icon">
                        <i class="icon-create-contract"></i>
                        <span>Buy</span>
                    </a>
                </div>

                <div class="profile-buttons float-right" ng-if="currentUser.is_ghost">
                    <a href="/auth/registration" class="uppercase btn btn-submit">
                        <span>Sign up</span>
                    </a>
                    <a href="/auth/" class="btn btn-transparent uppercase">
                        <span>Sign in</span>
                    </a>
                </div>
                <div class="profile-buttons float-right" ng-if="!currentUser.is_ghost">
                    <a href="/auth" ui-sref="exit" class="btn btn-transparent">
                        <span>Log out</span>
                    </a>
                </div>
                <!--<span class="red">Warning!</span> <span>You are using pre-release version!</span>-->
            </div>
        </div>
    </div>
</div>
<main class="main-content-holder" ui-view></main>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MDHD74W');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDHD74W"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<!-- BEGIN JIVOSITE CODE {literal} -->
<!-- script type='text/javascript'>
    (function(){ var widget_id = 'w1wAvCimms';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script -->
<!-- {/literal} END JIVOSITE CODE -->

<div ng-pop-up="{
    template: '/templates/popups/' + commonOpenedPopup + '.html',
    class: 'deleting-contract',
    params: commonOpenedPopupParams || {},
    opened: true,
    noClickShow: true,
    onClose: closeCommonPopup
}" ng-if="commonOpenedPopup"></div>


</body>
</html>
