<!DOCTYPE html>
<html ng-app="app" ng-controller="baseController" ng-class="{'funny': funny}">
<head lang="en">
    <title>MyWish</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no, initial-scale=1">
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">

    <meta name="google-site-verification" content="NRzVAfbei4JZ5Ou3iX4yFGDXHTjAq8vAe_yTw9KwWMg" />

    <link href="/fonts/css?family=Ubuntu:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet"/>
    <base href="/"/>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicon/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/static/favicon/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/static/favicon/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/static/favicon/widetile.png" />

    <meta name="msapplication-square310x310logo" content="/static/favicon/largetile.png" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#206EFF">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#206EFF">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#206EFF">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="/static/favicon/android-chrome-192x192.png">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="/static/favicon/android-chrome-192x192.png">

    <%= socialScripts %>

<!--    <script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-core.min.js"></script>-->
<!--    <script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-plugin-eosjs2.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/eosjs-ecc@4.0.4/lib/eosjs-ecc.min.js"-->
<!--            integrity="sha512-dYFDmK/d9r3/NCp6toLtfkwOjSMRBaEzaGAx1tfRItC0nsI0hVLERk05iNBQR7uDNI7ludYhcBI4vUiFHdjsTQ=="-->
<!--            crossorigin="anonymous"></script>-->

    <script src="/static/vendors/vendors.js"></script>
    <script src="/static/tpl/templates.tpl.js"></script>
    <script src="/static/ws/socket-client.js"></script>
<!--    <script src="/static/eos-lynx/eos-lynx.js"></script>-->
    <script src="/static/js/main.js"></script>

</head>
<body ng-class="{'with-menu': $root.showedMenu, 'visible': loadedContent, 'eosish-mode': sitemode === 'eos', 'tronish-mode': sitemode === 'tron'}"
      ng-swipe-left="toggleMenu(false, $event);"
      ng-swipe-right="toggleMenu(true, $event);">
<div id="all-page-wrapper">

    <header class="main-header-holder" ng-include="getTemplate('common/header')"></header>

    <div class="main-menu-holder" ng-include="getTemplate('common/menu')"></div>

    <div class="pre-release-information"
         ng-class="{'start-loading': globalProgress, 'finish-loading': finishGlobalProgress}">

        <div class="pre-release-information-container">
            <div class="main-content-holder" ng-init="usdtBalance = false;">
                <div class="main-section-content">
                    <div class="user-balance">
                        <div class="user-balance-value">

                            <div ng-if="sitemode === 'default'"
                                 ng-click="currentUser.usdtBalance = !currentUser.usdtBalance">

                                <i class="icon-mywish user-balance-icon"
                                   ng-if="!currentUser.usdtBalance">
                                    <span class="path1"></span><span class="path2"></span>
                                </i>
                                <i class="icon-dollar user-balance-icon"
                                   ng-if="currentUser.usdtBalance">
                                </i>
                            </div>

                            <i class="user-balance-icon icon-eosish-logo" ng-if="sitemode === 'eos'"></i>
                            <i class="user-balance-icon icon-tronish-logo" ng-if="sitemode === 'tron'"></i>
                            <div ui-sref="main.buytokens"
                                 class="text-left form-control-input_short small-input user-balance-value_input form-control-input">
                                {{!currentUser.usdtBalance ? currentUser.visibleBalance : currentUser.visibleBalanceUSDT}}
                            </div>

                            <button class="btn only-icon user-balance-refresh"
                                    ng-class="{'in-progress': currentUser.balanceInRefresh}"
                                    ng-click="getCurrentBalance()">
                                <img class="btn-icon refresh-icon" src="/static/images/refresher.svg" ng-if="sitemode === 'default'">
                                <img class="btn-icon refresh-icon" src="/static/images/refresher-grey.svg" ng-if="sitemode === 'eos'">
                                <img class="btn-icon refresh-icon" src="/static/images/refresher-red.svg" ng-if="sitemode === 'tron'">
                            </button>
                        </div>
                        <a ui-sref="main.buytokens" class="user-balance-buy btn btn-submit with-icon hide-ls">
                            <i class="icon-create-contract"></i>
                            <span translate="HEADER.BUTTONS.BUY"></span>
                        </a>
                    </div>
                    <div class="profile-buttons float-right" ng-if="currentUser.is_ghost">
                        <button class="uppercase btn btn-submit hide-ls"
                                ng-pop-up="{
                                    'template': '/templates/popups/login.html',
                                    'class': 'login-form',
                                    'params': {
                                        page: 'registration'
                                    }
                                }">
                            <span translate="HEADER.BUTTONS.SIGN_UP"></span>
                        </button>
                        <button class="btn btn-transparent uppercase"
                                ng-pop-up="{
                                    'template': '/templates/popups/login.html',
                                    'class': 'login-form',
                                    'params': {
                                        page: 'auth'
                                    }
                                }">
                            <span translate="HEADER.BUTTONS.SIGN_IN"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="main-content-holder">
        <!-- div class="main-section-content without-bottom-padding">
            <div class="shadow-block">
                <div class="shadow-block__content warning-page">
                    <div class="warning-page__icon">
                        <i class="icon-warning"></i>
                    </div>
                    <div class="warning-page__text">
                        <span translate="WARNING_MESSAGE"></span>
                        <span>EOS MainNet is not available due to maintenance.</span>
                    </div>
                </div>
            </div>
        </div -->
        <div ui-view></div>
    </main>

    <div ng-pop-up="{
        template: '/templates/popups/' + commonOpenedPopup + '.html',
        class: commonOpenedPopupParams.class || 'deleting-contract',
        params: commonOpenedPopupParams || {},
        opened: true,
        noClickShow: true,
        newPopupContent: commonOpenedPopupParams.newPopupContent,
        onClose: commonOpenedPopupParams.onClose || closeCommonPopup
    }" ng-if="commonOpenedPopup"></div>

    <div class="global-error-layer {{'global-error-layer__' + globalError.type}}"
         ng-click="!globalError.no_hidden ? hideGlobalError() : false"
         ng-class="{'visible-error': globalError.text}">
        <div class="global-error-layer__text">{{globalError.text}}</div>
    </div>
</div>

<%= endBodyScripts %>
<%= bestRateWidget %>

<!-- img src="/static/images/220px-Wikipe-tan_full_length.svg.png"
     ng-class="{visible: visibleGirl}"
     class="anime-girl"/ -->

<div class="cookies-info" ng-if="notCookiesAccept" style="display: none;"
     ng-style="{display: notCookiesAccept ? 'block': 'none'}">
    <div class="cookies-info_content">
        <div class="cookies-info_content_text">
            We use cookies to enhance your experience.
            By using MyWish platform, you agree to our
            <a ui-sref="main.privacy">Privacy Policy</a>
        </div>
        <div class="cookies-info_content_button">
            <button class="btn" ng-click="closeCookiesInfo()">
                <span>Accept</span>
            </button>
        </div>
        <span class="cookies-info_content_close" ng-click="closeCookiesInfo(true)"></span>
    </div>
</div>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MDHD74W');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDHD74W"
            height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(84996580, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        ecommerce:"dataLayer"
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/84996580" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Twitter universal website tag code -->
<script>
    !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
    },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
        a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init','twitter_pixel_id');
    twq('track','Purchase', {
        //required parameters
        value: '29.95',
        currency: 'USD',
        num_items: '3',
    });
</script>
<!-- End Twitter universal website tag code -->

</body>
</html>
