<!DOCTYPE html>
<html ng-app="app" ng-controller="baseController">
<head lang="en">
    <title>MyWish</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="/fonts/css?family=Ubuntu:400,600,800" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet"/>
    <base href="/"/>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicon/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/static/favicon/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/static/favicon/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/static/favicon/widetile.png" />

    <meta name="msapplication-square310x310logo" content="/static/favicon/largetile.png" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#206EFF">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#206EFF">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#206EFF">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="/static/favicon/android-chrome-192x192.png">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="/static/favicon/android-chrome-192x192.png">


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MDHD74W');</script>
    <!-- End Google Tag Manager -->

    <script src="//connect.facebook.net/en_US/sdk.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>

    <script src="/static/vendors/vendors.js"></script>
    <script src="/static/tpl/templates.tpl.js"></script>
    <script src="/static/web3/web3.js"></script>
    <script src="/static/js/main.js"></script>

</head>
<body ng-class="{'with-menu': $root.showedMenu, 'visible': currentUser}"
      ng-swipe-left="toggleMenu(false, $event);"
      ng-swipe-right="toggleMenu(true, $event);">
<header class="main-header-holder"
        ng-include="getTemplate('common/header')"></header>

<div class="main-menu-holder" ng-include="getTemplate('common/menu')"></div>
<div class="pre-release-information"
     ng-class="{'start-loading': globalProgress, 'finish-loading': finishGlobalProgress}">
    <div class="pre-release-information-container">
        <div class="main-content-holder">
            <div class="main-section-content">

                <div class="user-balance">
                    <div class="user-balance-value">
                        <i class="user-balance-icon icon-mywish">
                            <span class="path1"></span><span class="path2"></span>
                        </i>
                        <div ng-bind="currentUser.visibleBalance" ui-sref="main.buytokens"
                             class="text-left form-control-input_short small-input user-balance-value_input form-control-input"></div>

                        <button class="btn only-icon user-balance-refresh"
                                ng-class="{'in-progress': currentUser.balanceInRefresh}"
                                ng-click="getCurrentBalance()">
                            <img class="btn-icon refresh-icon" src="/static/images/refresher.svg">
                        </button>
                    </div>
                    <a ui-sref="main.buytokens" class="user-balance-buy btn btn-submit with-icon hide-ls">
                        <i class="icon-create-contract"></i>
                        <span>Buy</span>
                    </a>
                </div>

                <div class="profile-buttons float-right" ng-if="currentUser.is_ghost">
                    <button class="uppercase btn btn-submit hide-ls"
                            ng-pop-up="{
                                'template': '/templates/popups/login.html',
                                'class': 'login-form',
                                'params': {
                                    page: 'registration'
                                }
                            }">
                        <span>Sign up</span>
                    </button>
                    <button ng-pop-up="{
                                'template': '/templates/popups/login.html',
                                'class': 'login-form',
                                'params': {
                                    page: 'auth'
                                }
                            }"
                            class="btn btn-transparent uppercase">
                        <span>Sign in</span>
                    </button>
                </div>
                <!-- div class="profile-buttons float-right" ng-if="!currentUser.is_ghost">
                    <button class="btn btn-transparent" ng-pop-up="{
                        template: '/templates/popups/logout-confirm.html',
                        class: 'deleting-contract'
                    }">
                        <span>Log out</span>
                    </button>
                </div -->
                <!--<span class="red">Warning!</span> <span>You are using pre-release version!</span>-->
            </div>
        </div>
    </div>
</div>

<main class="main-content-holder">
    <!-- div class="main-section-content without-bottom-padding">
        <div class="shadow-block">
            <div class="shadow-block__content warning-page">
                <div class="warning-page__icon">
                    <i class="icon-warning"></i>
                </div>
                <div class="warning-page__text">
                    <span>
                        Warning! Service is under maintenance now. <br/>
                        Please do not use it until this message is shown.
                    </span>
                </div>
            </div>
        </div>
    </div -->
    <div ui-view></div>
</main>

<div ng-pop-up="{
    template: '/templates/popups/' + commonOpenedPopup + '.html',
    class: commonOpenedPopupParams.class || 'deleting-contract',
    params: commonOpenedPopupParams || {},
    opened: true,
    noClickShow: true,
    newPopupContent: commonOpenedPopupParams.newPopupContent,
    onClose: commonOpenedPopupParams.onClose || closeCommonPopup
}" ng-if="commonOpenedPopup"></div>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDHD74W"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="global-error-layer {{'global-error-layer__' + globalError.type}}"
     ng-click="hideGlobalError()"
     ng-class="{'visible-error': globalError.text}">
    <div class="global-error-layer__text">{{globalError.text}}</div>
</div>

<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 9683030;
    (function() {
        var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
</script>
<!-- End of LiveChat code -->

</body>
</html>
