.buy-tokens {
    .btns-full-width {
        display: flex;
        justify-content: space-between;
    }
    .simple-text {
        font-size: 1.4em;
    }
    .main-section-chapter-fieldset {
        padding-bottom: 0;
    }
    .icon-wallet {
        font-size: 2.8em;
        margin-right: 0.5em;
    }
    .contract-form-row {
        margin: 0;
    }
    .buy-tokens {
        &__title {
            font-weight: bold;
            font-size: 24px;
            color: #282828;
            padding: 25px 0 0;
        }
    }
    .dark-back {
        background-color: #e8e8e8;
        width: 100%;
        position: relative;
        margin-left: -2.5em;
        height: calc(100% + 2.5em);
        border-radius: 0 0 0.9em 0.9em;
        padding: 24px 2.5em 34px;
    }
    .form-control {
        position: relative;
        &--copy {
            margin-top: 36px;
        }
        &--payment-title {
            margin-bottom: 20px;
        }
        .input-after {
            position: absolute;
            right: 10px;
            font-size: 1.5em;
            top: 60%;
        }
    }
    .attention-text {
        margin-top: 30px;
        font-size: 1.2em;
        color: #616161;
        padding-left: 25px;
        text-align: center;
        line-height: 1.2em;
        &__title {
            color: #E84848;
            background: url(images/icons/warning.svg) no-repeat;
            background-position-x: calc(50% - 50px);
        }
    }
    .choose {
        input {
            display: none;
            &:checked + .btn {
                border: 2px solid #206EFF;
            }
        }
        .btn span {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
    .payment-row {
        .btn-blue {
            margin: 0;
        }
    }
}

@media (max-width: 680px) {
    .buy-tokens {
        .dark-back {
            padding-right: 0;
            padding-left: 0;
            margin-left: -1.5em;
            width: calc(100% + 3em);
            .btns-full-width {
                padding: 0;
                display: flex;
                margin: 0 auto;
                float: none;
                justify-content: space-around;
                .choose {
                    margin-top: 20px;
                    .btn {
                        width: 76px;
                    }
                }
            }
            .simple-text {
                text-align: center;
            }
        }
        .payment-row {
            .btn {
                width: 200px;
                display: block;
                background-position-x: 40px;
                float: left;
            }
        }
        .btn.btn-blue {
            width: 100px !important;
            margin: 10px 0 !important;
            float: right;
        }
        .gas-info {
            font-size: 1em;
            .form-control {
                &-label {
                    font-size: 1em;
                }
                &--copy {
                    margin-top: 0;
                    float: right;
                }
            }
            & > .grid-cell {
                margin-top: 5px
            }
        }
    }
}