.attention-text {
    font-size: 1.2em;
    color: #616161;
    line-height: 1.25em;
    &:not(.without-top) {
        margin-top: 30px;
    }
    &__title {
        color: #E84848;
        i {
            margin-right: 0.5em;
        }
    }
}
#bestrate-widget {
    iframe {
        display: block!important;
    }
}
.bestrate-logo {
    margin: 0 0.5em;
    vertical-align: middle;
    width: 5em;
}
@media (max-width: 580px) {
    .payment-row {
        .btn {
            min-width: 23em;
        }
    }
}
@media (max-width: 680px) {
    .attention-text {
        padding-left: 0;
    }
}