.contract-info__network {
  font-size: 0.8em;
  margin-left: 2em;
  position: relative;
  padding-left: 2em;
  margin-bottom: 1.8em;
  &.in-preview {
    margin-left: 0;
    margin-top: -1em;
  }
  span {
    font-size: 1.5em;
  }
  &:before {
    position: absolute;
    width: 1em;
    height: 1em;
    content: '';
    display: inline-block;
    left: 0;
    top: 50%;
    margin-top: -0.5em;
  }
  &_1, &_2 {
    &:before {
      transform: rotate(45deg);
    }
  }
  &_1 {
    color: #03babc;
    &:before {
      background: #03babc;
    }
  }
  &_2 {
    color: #ff3300;
    &:before {
      background: #ff3300;
    }
  }
  &_3, &_4 {
    &:before {
      border-radius: 50%;
    }
  }
  &_3 {
    color: #009900;
    &:before {
      background: #009900;
    }
  }
  &_4 {
    color: #E3A528;
    &:before {
      background: #E3A528;
    }
  }

  &_5, &_6 {
  }
  &_5 {
    color: #36b049;
    &:before {
      background: #36b049;
    }
  }
  &_6 {
    color: #e37700;
    &:before {
      background: #e37700;
    }
  }

  &_10, &_11, &_22, &_23 {
    &:before {
      transform: rotate(45deg);
    }
  }

  &_10, &_14, &_24, &_35{
    color: $main-color;
    &:before {
      background: $main-color;
    }
  }

  &_11, &_15, &_25 {
    color: #e37700;
    &:before {
      background: #e37700;
    }
  }

  &_22 {
    color: #36b049;
    &:before {
      background: #36b049;
    }
  }

  &_23 {
    color: #e34400;
    &:before {
      background: #e34400;
    }
  }

  &_28, &_36 {
    color: $main-color;
    &:before {
      background: $main-color;
    }
  }

  &_14, &_15 {
    &:before {
      background: none;
      border: 7px solid transparent;
      border-left: 0 none;
      border-right: 12px solid;
      width: 0;
      height: 0;
      margin-top: -0.8em;
      transform: rotate(-20deg);
    }
  }

}




.contracts-list-wrapper {
  .contract-wallets-information {
    display: none;
  }
  .contract-wallets-information-one-block {
    padding-left: 3em;
    padding-right: 3em;
  }
  .contract-balance {
    line-height: 2.85em;
    padding: 1.05em 1.05em 1.05em 3.75em;
  }
}
.contract-name-block {
  float: left;
  background-color: $main-color;
  line-height: 2.85em;
  padding: 1.05em 1.05em 1.05em 1.875em;
  border-top-right-radius: 2.475em;
  border-bottom-right-radius: 2.475em;
  white-space: nowrap;
  color: $white-color;
  margin-right: 1.5em;
  &, &:hover, &:focus {
    text-decoration: none;
  }
}
.contract-status-buttons-group {
  display: inline-block;
  vertical-align: middle;
  margin: -2.25em 0;
  .btn {
    display: block;
  }
}
.contract-status-block {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}
.contracts-list-item {
  cursor: pointer;
  transition: all 0.06s linear;
  box-shadow: 0 0.4em 2em rgba(0, 0, 0, 0.15);
  &:hover {
    box-shadow: 0 0.4em 3.5em rgba(0, 0, 0, 0.4);
  }
}
.contract-show-button {
  float: left;
  text-decoration: none!important;
  font-size: 3em;
  width: 1.5em;
  color: #fff;
  &:before {
    font-size: 1.5em;
    font-family: 'icomoon' !important;
  }
}
.contract-name-text {
  font-size: 1.5em;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &:not(.auto-width) {
    width: 7em;
  }
}
.contract-show-button, .contract-name-text {
  vertical-align: middle;
}
.contract-block__buttons {
  clear: both;
  padding-left: 1.5em;
  padding-right: 0.9em;
  .btn {
    margin-top: 1.5em;
    &:not(.only-icon) {
      min-width: 12em;
    }
    &-image {
      vertical-align: middle;
      margin-right: 0.3em;
    }
  }
}

@media screen and (max-width: 640px) {
  .contracts-list-wrapper {
    .main-section-chapter-fieldset {
      padding-bottom: 0;
    }
  }
  .contract-name-block {
    margin-right: 0;
    box-sizing: border-box;
    max-width: 96%;
  }
  .contract-show-button {
    float: left;
  }
  .contract-name-text {
    display: block;
    width: auto;
    padding-right: 2em;
    margin-right: 0;
  }
}

