.chart-container {
  height: 240px;
}
.chart-placeholder {
  text-align: center;
  height: 24em;
  img {
    width: 18em;
    height: 18em;
    margin-top: 2.9em;
  }
}
.chart-legend {
}
.chart-legend-item_color {
  width: 1.9em;
  height: 1.9em;
  border-radius: 50%;
  float: left;
  margin: 0.4em 0;
}
.chart-legend-item_name {
  font-size: 1.3em;
  display: block;
  margin-left: 2em;
  padding: 0.4em 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.chart-legend-item {
  padding: 1em 0;
  + .chart-legend-item {

  }
}
.contract-type_additional-link {
  float: right;
  color: $main-color;
  cursor: pointer;
  padding: 0.2em 0;
  font-size: 1.4em;
  &:hover {
    text-decoration: underline;
  }
}
.contract-price-block {
  position: absolute;
  top: 1.8em;
  right: 1.5em;
  white-space: nowrap;
  &:before {
    content: attr(data-from);
    display: inline;
    margin-right: 0.2em;
    font-size: 1.4em;
    color: #bbb;
    vertical-align: middle;
  }
  &_content {
    padding: 0.6em 1em 0.6em 1.2em;
    border-radius: 0.9em;
    background-color: #fff;
    border: 1px solid #eee;
    display: inline-block;
    vertical-align: middle;
    color: #444;
    .price-icon {
      color: inherit;
      vertical-align: middle;
      &.icon-dollar {
        font-size: 1.4em;
        color: #0072ff;
      }
      &.icon-mywish {
        font-size: 1.65em;
      }
    }
    > span {
      font-size: 1.6em;
      line-height: 1em;
      vertical-align: middle;
    }
  }
  img {
    width: 1.6em;
    margin-left: 0.5em;
  }
  span, img {
    vertical-align: middle;
  }
}
@media screen and (max-width: 640px) {
  .contract-price-block {
    top: 0.8em;
    right: 0.8em;
  }
}
@media screen and (max-width: 480px) {
  .contract-price-block {
    top: 0;
    right: 0;
    font-size: 0.9em;
    &_content {
      border: 0 none;
      background: initial;
      padding-left: 0;
    }
  }
}

.authio-logo-link {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all linear 0.1s;
  position: relative;
  z-index: 2;
  vertical-align: middle;
  display: inline-block;
  &__absolute {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3.1em;
  }
  &:hover, &:focus, &.active {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    opacity: 1;
  }
  img {
    border: 0 none;
    vertical-align: middle;
    width: 100%;
  }
  &.no-right {
    img {
      width: 9em;
    }
  }
}

.form-control {
  &.with-authio-logo {
    padding-right: 12em;
  }
}

.verification-icon {
  vertical-align: middle;
  width: 28px;
  margin-left: -5px;
}

@media screen and (max-width: 380px) {
  .form-control {
    &.with-authio-logo {
      padding-right: 0;
    }
  }
  .authio-logo-link {
    text-align: center;
    display: block;
    &__absolute {
      position: static;
      margin-top: 0;
      img {
        width: 14em;
      }
    }
  }

}




