.contract-type-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: -1.7em;
  font-size: 5em;
  text-align: center;
  width: 1.6em;
  color: $main-blue-color
}

.contract-type-description_title {
  font-weight: 700;
}
.contract-type-description_title {
  padding-left: 8em;
  line-height: 5em;
  &__text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em;
    font-size: 2.4em;
  }
}
.contract-type-description_text {
  margin-left: 8em;
  margin-top: 1em;
  span {
    font-size: 1.4em;
  }
}

.contract-type-link {
  cursor: pointer;
  transition: all 0.06s linear;
  box-shadow: 0 0.4em 2em rgba(0, 0, 0, 0.15);
  transform: scale(1);
  text-shadow: 0 1px 0 #fff;
  &:hover, &:focus {
    box-shadow: 0 0.6em 3em rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
  }
}
.contract-type-name {
  border-radius: 0.9em;
  padding: 1.5em 3.75%;
  background-color: $blocks-background;

  color: #000;
  margin-bottom: 4em;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .contract-type-name_icon {
    float: left;
    font-size: 4em;
    color: $main-blue-color;
  }
  .contract-type-name_title {
    font-size: 2.8em;
    font-weight: 500;
    margin-left: 2em;
    padding: 0.2em 0;
  }
}
.chart-container {
}
.chart-legend {
}
.chart-legend-item_color {
  width: 1.9em;
  height: 1.9em;
  border-radius: 50%;
  float: left;
  margin: 0.4em 0;
}
.chart-legend-item_name {
  font-size: 1.3em;
  display: block;
  margin-left: 2em;
  padding: 0.4em 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.chart-legend-item {
  padding: 1em 0;
  + .chart-legend-item {

  }
}
@media screen and (max-width: 480px) {
  .contract-type-icon {
    font-size: 4em;
  }
  .contract-type-description_title {
    padding-left: 6em;
    line-height: 5em;
    &__text {
      font-size: 2em;
    }
  }
  .contract-type-description_text {
    margin-left: 0;
    margin-top: 1em;
    span {
      font-size: 1.4em;
    }
  }
}

