<div class='main-wrapper-section'>
    <div class="main-section-content">
        <div class="warning-block main-section-chapter-fieldset custom-fieldset">
            <div class="warning-block-content">
                <i class="warning-block-content_icon icon-warning"></i>
                <span class="warning-block-content_text">
                    <span>Service is under maintenance. Please DO NOT use it until maintenance is finished.</span>
                </span>
            </div>
        </div>
    </div>
</div>
<div ui-view class='main-wrapper-section'></div>