<div class="main-menu-wrapper" ng-controller="mainMenuController">
    <div class="menu-trigger-btn">
        <button class="header-menu-trigger" ng-click="toggleMenu()">
            <i class="icon-menu"></i>
        </button>
    </div>
    <a ui-sref="main.base" class="main-menu-logo" ng-if="!currentUser.is_ghost">
        <img src="/static/images/my_wish_logo.svg"/>
    </a>
    <a href="/" class="main-menu-logo" ng-if="currentUser.is_ghost">
        <img src="/static/images/my_wish_logo.svg"/>
    </a>
    <nav class="main-menu-navigator">
        <ul class="main-menu-global-menu">
            <li>
                <span class="as_menu_link" ng-if="currentUser.is_ghost">
                    <i class="icon-warning"></i>
                    <span>Unknown user</span>
                </span>
                <span class="as_menu_link" ng-if="!currentUser.is_ghost">
                    <i class="icon-account"></i>
                    <span>{{currentUser.email}}</span>
                </span>
            </li>

            <li ng-repeat="menuItem in menuList" ng-if="!menuItem.noshow && (!currentUser[menuItem.hideForUser])">
                <a ui-sref="{{menuItem.route}}" ng-if="!menuItem.static" ng-class="{'active': ($state.current.name == menuItem.route) || ($state.current.data.top == menuItem.route) || (menuItem.parent && ($state.current.parent == menuItem.parent)), 'no-active': menuItem.noactive}">
                    <i ng-class="menuItem.icon"></i>
                    <span ng-if="menuItem.title">{{menuItem.title}}</span>
                    <span ng-if="menuItem.titleUserPar">{{currentUser[menuItem.titleUserPar]}}</span>
                </a>
                <a ng-attr-href="{{(menuItem.type === 'mail' ? 'mailto:' : '') + menuItem.url }}" ng-if="menuItem.static">
                    <i ng-class="menuItem.icon"></i>
                    <span ng-if="menuItem.title">{{menuItem.title}}</span>
                </a>
            </li>
        </ul>
    </nav>
    <span class="release-version">version 1.1.1</span>
</div>

