<div class="main-menu-wrapper" ng-controller="mainMenuController">
    <div class="menu-trigger-btn">
        <button class="header-menu-trigger" ng-click="toggleMenu()">
            <i class="icon-menu"></i>
        </button>
    </div>
    <a href="https://mywish.io" target="_blank" class="main-menu-logo">
        <img src="/static/images/my_wish_logo.svg"/>
    </a>
    <nav class="main-menu-navigator">
        <ul class="main-menu-global-menu">
            <li ng-class="{active: $state.current.name == 'main.profile'}">
                <span class="as_menu_link" ng-if="currentUser.is_ghost">
                    <i class="icon-warning"></i>
                    <span>{{'MAIN_MENU.UNKNOWN_USER'|translate}}</span>
                </span>
                <a ui-sref="main.profile" class="as_menu_link"
                   ng-if="!currentUser.is_ghost">
                    <i class="icon-account"></i>
                    <span>{{currentUser.username || ('MAIN_MENU.UNKNOWN'|translate)}}</span>
                </a>
            </li>

            <li ng-repeat="menuItem in menuList"
                ng-if="!menuItem.noshow && (!currentUser[menuItem.hideForUser]) && (!menuItem.not || menuItem.not.mode.indexOf(sitemode) === -1)"
                ng-class="{'active': !menuItem.static && (($state.current.name == menuItem.route) || ($state.current.data.top == menuItem.route) || (menuItem.parent && ($state.current.parent == menuItem.parent))), 'no-active': menuItem.noactive}">
                <a ui-sref="{{menuItem.route}}" ng-if="!menuItem.static">
                    <i ng-class="menuItem.icon"></i>
                    <span ng-if="menuItem.title">{{menuItem.title|translate}}</span>
                    <span ng-if="menuItem.titleUserPar">{{currentUser[menuItem.titleUserPar]}}</span>
                </a>
                <a ng-attr-href="{{(menuItem.type === 'mail' ? 'mailto:' : '') + menuItem.url }}" ng-if="menuItem.static">
                    <i ng-class="menuItem.icon"></i>
                    <span ng-if="menuItem.title">{{menuItem.title|translate}}</span>
                </a>
            </li>

            <li>
                <a href="#" class="as_menu_link" ng-if="!currentUser.is_ghost" ng-pop-up="{
                        class: 'deleting-contract',
                        template: '/templates/popups/confirmations/logout-confirm.html',
                        newPopupContent: true,
                    }">
                    <i class="icon-exit"></i>
                    <span translate="MAIN_MENU.LOG_OUT"></span>
                </a>
            </li>

        </ul>
    </nav>
    <!--<span class="release-version">{{'MAIN_MENU.VERSION'|translate}} 1.7.0</span>-->
    <span class="release-version">v1.20.3</span>
    <span class="language-switcher" ng-pop-up="{
        template: '/templates/popups/forms/lng-switcher.html',
        class: 'language-switcher-popup'
    }">
        <div class="language-switcher__icon">
            <img ng-src="/static/images/countries/{{languagesList[language]['icon']}}.svg"/>
        </div>
        <span class="language-switcher__name">{{languagesList[language]['name']}}</span>
    </span>
</div>
