html {
    height: 100%;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
    url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('fonts/Roboto-Regular-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Ubuntu', sans-serif;
    background: url('../img/background.png') center center no-repeat #6399ff;
    background-size: cover;
    position: relative;
    color: #fff;
    margin: 0;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 65px;
    font-size: 10px;
    min-width: 320px;
}
header, main, footer {
    padding: 0 2em;
}
header {
    font-size: 0.78em;
    padding: 3em 0;
    position: relative;
    z-index: 2;
}
header .content-holder {
    position: relative;
}
header .content-holder:after {
    content: '';
    display: block;
    clear: both;
}

.logotype {
    display: block;
    float: left;
    padding: 0.4em;
}

.logotype img {
    width: 29.4em;
}
.header-buttons {
    white-space: nowrap;
    float: right;
}

.header-btn {
    border: 2px solid;
    color: #fff;
    font: inherit;
    font-size: 2.4em;
    line-height: 1.2em;
    padding: 0.5em 1em;
    border-radius: 1.2em;
    display: inline-block;
}
.header-btn.sign-up-btn {
    background-color: #fff;
    color: #206EFF;
    border-color: #fff;
}
.header-btn.without-border {
    border-color: transparent;
}
.header-btn + .header-btn {
    margin-left: 0.75em;
}
.header-btn-icon {
    vertical-align: middle;
    margin-right: 0.3em;
    width: 1.3em;
}

main {
    font-size: 0.78em;
}
.main-wrapper {
    padding-top: 23vh;
    padding-bottom: 20em;
    max-width: 91.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.title {
    font-size: 4.8em;
    line-height: 1.25em;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
footer .content-holder {
    border-top: 1px solid #fff;
    text-align: left;
}
.copyright {
    padding: 24px 10px;
    font-size: 1.5em;
}
.content-holder {
    margin: 0 auto;
    max-width: 1280px;
}
main .buttons {
    margin-top: 5em;
}
.main-btn {
    display: inline-block;
    color: #206EFF;
    margin: 0 1em;
    padding: 2.4em 4em;
    border-radius: 4em;
    transform: scale(1);
    transition: transform linear 0.1s;
}
.main-btn:hover {
    transform: scale(1.1);
}
.main-btn span {
    font-size: 2.4em;
}
.main-btn.yellow-btn {
    background-color: #FFD800;
}
.main-btn.white-btn {
    background-color: #FFF;
}
.invisible-content {
    display: none;
}
.mobile-menu-btn {
    display: none;
    float: right;
    background: none;
    cursor: pointer;
}
.mobile-menu-btn img {
    width: 30px;
}
@media (max-width: 767px) {
    .title {
        font-size: 3.6em;
    }
    .main-wrapper {
        padding-top: 20em;
    }
}

@media (max-width: 800px) {
    .header-buttons {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: rgba(99, 153, 255, 0.9);
        text-align: center;
        padding: 20px 0;
    }
    .mobile-menu-btn {
        display: block;
    }
    .mobile-menu-btn.active-mobile-menu + .header-buttons {
        display: block;
    }

    .header-buttons .header-btn {
        display: block;
        max-width: 90%;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-buttons .header-btn + .header-btn {
        margin: 20px auto 0;
    }
}

/*@media (max-width: 639px) {*/
    /*.header .menu {*/
        /*float: none;*/
        /*width: 100%;*/
        /*text-align: center;*/
        /*overflow: hidden;*/
        /*padding-top: 25px;*/
    /*}*/

    /*.menu > div {*/
        /*float: none;*/
    /*}*/

    /*.header .after-mobile-menu {*/
        /*display: block;*/
    /*}*/

/*}*/
