<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="shadow-block__content__blue-title">
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size">How it works&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_no-lr-padding shadow-block__content_no-tb-padding">
        <img src="/static/images/btc-how-it-works/sh_03.png" width="100%">
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <ul class="new-instruction-list">
            <li class="new-instruction-list__item">
                <div class="new-instruction-list__item__text">User logins to MyWish Platform</div>
            </li>
            <li class="new-instruction-list__item">
                <div class="new-instruction-list__item__text">Choose Will contract & setup it. MyWish generates personal smart contract</div>
            </li>
            <li class="new-instruction-list__item">
                <div class="new-instruction-list__item__text">User makes a payment & MyWish deploys it to RSK network</div>
            </li>
            <li class="new-instruction-list__item">
                <div class="new-instruction-list__item__text">Smart contract is deployed & ready for execution</div>
            </li>
        </ul>
    </div>
    <div class="shadow-block__content shadow-block__content_no-lr-padding shadow-block__content_no-tb-padding">
        <img src="/static/images/btc-how-it-works/sh_04.png" width="100%">
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <ul class="new-instruction-list">
            <li class="new-instruction-list__item">
                <div class="new-instruction-list__item__text">User regularly makes the contract's call to confirm "Live" status</div>
            </li>
            <li class="new-instruction-list__item">
                <div class="new-instruction-list__item__text">If no confirmation during specified timeframe - contract distributes funds to heirs</div>
            </li>
        </ul>
    </div>

    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <div class="text-center">
            <button class="btn btn-transparent" ng-click="closeCurrentPopup()">
                <span>&nbsp;&nbsp;&nbsp;Close&nbsp;&nbsp;&nbsp;</span>
            </button>
        </div>
    </div>
</div>
