<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="shadow-block__content__blue-title">
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size">{{'PAGES.CREATE_CONTRACT.BTC_DISCLAIMER.TITLE'|translate}}&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="slider" ng-slider="{item: '.slider_container__item', container: '.slider_container'}">
        <div class="slider_container">
            <div class="slider_container__item">
                <div class="shadow-block__content shadow-block__content_no-lr-padding shadow-block__content_no-tb-padding">
                    <img src="/static/images/btc-how-it-works/sh_03.png" width="100%">
                </div>
                <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
                    <ul class="new-instruction-list">
                        <li class="new-instruction-list__item">
                            <div class="new-instruction-list__item__text"
                                 translate="PAGES.CREATE_CONTRACT.BTC_DISCLAIMER.LIST_1.LIST_ITEM_1"></div>
                        </li>
                        <li class="new-instruction-list__item">
                            <div class="new-instruction-list__item__text"
                                 translate="PAGES.CREATE_CONTRACT.BTC_DISCLAIMER.LIST_1.LIST_ITEM_2"></div>
                        </li>
                        <li class="new-instruction-list__item">
                            <div class="new-instruction-list__item__text"
                                 translate="PAGES.CREATE_CONTRACT.BTC_DISCLAIMER.LIST_1.LIST_ITEM_3"></div>
                        </li>
                        <li class="new-instruction-list__item">
                            <div class="new-instruction-list__item__text"
                                 translate="PAGES.CREATE_CONTRACT.BTC_DISCLAIMER.LIST_1.LIST_ITEM_4"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="slider_container__item">
                <div class="shadow-block__content shadow-block__content_no-lr-padding shadow-block__content_no-tb-padding">
                    <img src="/static/images/btc-how-it-works/sh_04.png" width="100%">
                </div>
                <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
                    <ul class="new-instruction-list">
                        <li class="new-instruction-list__item">
                            <div class="new-instruction-list__item__text"
                                 translate="PAGES.CREATE_CONTRACT.BTC_DISCLAIMER.LIST_2.LIST_ITEM_1"></div>
                        </li>
                        <li class="new-instruction-list__item">
                            <div class="new-instruction-list__item__text"
                                 translate="PAGES.CREATE_CONTRACT.BTC_DISCLAIMER.LIST_2.LIST_ITEM_2"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <div class="text-center">
            <button class="btn btn-transparent" ng-click="closeCurrentPopup()">
                <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.CLOSE'|translate}}&nbsp;&nbsp;&nbsp;</span>
            </button>
        </div>
    </div>
</div>
