<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="shadow-block__content__blue-title">
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size">How it works&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="slider" ng-slider="{item: '.slider_container__item', container: '.slider_container'}">
        <div class="slider_container">
            <div class="slider_container__item">
                <div class="shadow-block__content shadow-block__content_no-lr-padding shadow-block__content_no-tb-padding">
                    <img src="/static/images/btc-how-it-works/sh_03.png" width="100%">
                </div>
                <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
                    <ul class="new-instruction-list">
                        <li class="new-instruction-list__item">
                            <div class="new-instruction-list__item__text">Log into MyWish Platform.</div>
                        </li>
                        <li class="new-instruction-list__item">
                            <div class="new-instruction-list__item__text">Choose Will contract & set it up. MyWish generates your personal smart contract.</div>
                        </li>
                        <li class="new-instruction-list__item">
                            <div class="new-instruction-list__item__text">Make a payment & MyWish deploys the contract to the RSK network.</div>
                        </li>
                        <li class="new-instruction-list__item">
                            <div class="new-instruction-list__item__text">Smart contract is deployed & ready for execution.</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="slider_container__item">
                <div class="shadow-block__content shadow-block__content_no-lr-padding shadow-block__content_no-tb-padding">
                    <img src="/static/images/btc-how-it-works/sh_04.png" width="100%">
                </div>
                <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
                    <ul class="new-instruction-list">
                        <li class="new-instruction-list__item">
                            <div class="new-instruction-list__item__text">User regularly calls the contract to confirm its’ "live" status.</div>
                        </li>
                        <li class="new-instruction-list__item">
                            <div class="new-instruction-list__item__text">If no confirmation during the specified timeframe is detected, the contract distributes the funds to heirs.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <div class="text-center">
            <button class="btn btn-transparent" ng-click="closeCurrentPopup()">
                <span>&nbsp;&nbsp;&nbsp;Close&nbsp;&nbsp;&nbsp;</span>
            </button>
        </div>
    </div>
</div>
