<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="shadow-block__content__blue-title">
            <i class="shadow-block__content__blue-title__icon icon-warning"></i>
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size">Disclaimer&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <ul class="condition-text">
            <li class="condition-text-item">MyWish is NOT responsible for the use of the contract</li>
            <li class="condition-text-item">MyWish is ONLY responsible for creation & launch it on Ethereum network</li>
            <li class="condition-text-item">MyWish is NOT responsible for incorrect contract behaviour in case of wrong parameters entered by users</li>
            <li class="condition-text-item">MyWish is NOT responsible for errors in the code, but will do everything to eliminate it asap if they are detected</li>
            <li class="condition-text-item">MyWish does NOT have access to the management functions of the contract and will not be able to stop it, continue and do anything else, except of finalisation after end date</li>
        </ul>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <div class="text-center">
            <button class="btn btn-transparent" ng-click="closeCurrentPopup()">
                <span>Cancel</span>
            </button>
            <button class="btn btn-submit"
                    ng-click="ngPopUp.params.actions.showPriceLaunchContract(ngPopUp.params.contract)">
                <span>I Accept</span>
            </button>
        </div>
    </div>
</div>
