<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="shadow-block__content__blue-title">
            <i class="shadow-block__content__blue-title__icon icon-warning"></i>
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size" translate="JOIN_AIRDROP.DISCLAIMER.TITLE">&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <ul class="condition-text">
            <li class="condition-text-item">We have developed the airdrop tool for WISH, EOSISH, and TRX token holders.</li>
            <li class="condition-text-item">
                The tool helps WISH, EOSISH, and TRX holders to specify thier TRON
                address for getting TRONISH.
            </li>

            <li class="condition-text-item">
                The WISH/EOSISH holders shall be able to make a transaction after an ownership confirmation.
            </li>

            <li class="condition-text-item">The tool is not responsible for sending TRONISH tokens.</li>

        </ul>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <div class="text-center">
            <button class="btn btn-submit"
                    ng-click="closeCurrentPopup()">
                <span>{{'BUTTONS.OK'|translate}}</span>
            </button>
        </div>
    </div>
</div>
