<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="shadow-block__content__blue-title">
            <i class="shadow-block__content__blue-title__icon icon-warning"></i>
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size" translate="DISCLAIMER">&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <ul class="condition-text">
            <li class="condition-text-item" translate="CONTRACTS_DISCLAIMERS.ALL.LAUNCH.LIST.ITEM_1"></li>
            <li class="condition-text-item" translate="CONTRACTS_DISCLAIMERS.ALL.LAUNCH.LIST.ITEM_2"></li>
            <li class="condition-text-item" translate="CONTRACTS_DISCLAIMERS.ALL.LAUNCH.LIST.ITEM_3"></li>
            <li class="condition-text-item" translate="CONTRACTS_DISCLAIMERS.ALL.LAUNCH.LIST.ITEM_4"></li>
            <li class="condition-text-item" translate="CONTRACTS_DISCLAIMERS.ALL.LAUNCH.LIST.ITEM_5"></li>
        </ul>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <div class="text-center">
            <button class="btn btn-transparent" ng-click="closeCurrentPopup()">
                <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.CANCEL'|translate}}&nbsp;&nbsp;&nbsp;</span>
            </button>
            <button class="btn btn-submit"
                    ng-click="ngPopUp.params.actions.showPriceLaunchContract(ngPopUp.params.contract)">
                <span>{{'BUTTONS.I_ACCEPT'|translate}}</span>
            </button>
        </div>
    </div>
</div>
