<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="shadow-block__content__blue-title">
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size">
                    {{'PAGES.PROFILE.TWO_FACTOR_AUTH.POPUPS.ENABLE_INSTRUCTION.TITLE'|translate}}&nbsp;&nbsp;&nbsp;
                </span>
            </div>
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                <ul class="condition-text">
                    <li class="condition-text-item"
                        translate="PAGES.PROFILE.TWO_FACTOR_AUTH.POPUPS.ENABLE_INSTRUCTION.LIST_STEPS.STEP_1"></li>
                    <li class="condition-text-item"
                        translate="PAGES.PROFILE.TWO_FACTOR_AUTH.POPUPS.ENABLE_INSTRUCTION.LIST_STEPS.STEP_2"></li>
                    <li class="condition-text-item"
                        translate="PAGES.PROFILE.TWO_FACTOR_AUTH.POPUPS.ENABLE_INSTRUCTION.LIST_STEPS.STEP_3"></li>
                </ul>
            </div>
            <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                <div class="text-center">
                    <a href="{{ngPopUp.params.url}}">
                        <img src="{{ngPopUp.params.imgUrl}}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow-block__content grey-color">
        <div class="text-center">
            <button class="btn btn-transparent" ng-click="closeCurrentPopup()">
                <span translate="BUTTONS.CANCEL"></span>
            </button>
            <button class="btn btn-submit"
                    ng-click="closeCurrentPopup()"
                    ng-pop-up="ngPopUp.params.confirmEnablePopUp">
                <span translate="BUTTONS.ENABLE"></span>
            </button>
        </div>
    </div>
</div>
