<div class="shadow-block" ng-controller="setAddressController">
    <form name="setAddressForm" ng-if="!showedInstruction">
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="grid-row">
                <div class="grid-cell grid-cell-2-3 grid-cell-ps-4-5 grid-cell-ls-1">
                    <div class="form-control">
                        <label for="invests-wallet-key"
                               class="form-control-label">{{ngPopUp.params.labelField}}</label>
                        <input id="invests-wallet-key" type="text"
                               ng-model="request.address"
                               required
                               name="address"
                               ng-change="checkTokenAddress(setAddressForm)"
                               ng-checksum-address-validator="{'network': 'ETH'}"
                               class="form-control-input"/>
                        <span class="field-error form-field_error-contract-address"
                              translate="CONTRACTS.FORMS.AIRDROP.FIELDS.ERRORS.WRONG_TOKEN_ADDRESS"></span>
                        <span class="field-error form-field_error-check-sum"
                              ng-if="request.address? !$root.web3Utils.checkAddressChecksum(request.address) : false"
                              style="display: block" translate="FIELDS_ERRORS.ADDRESS_NOT_CHECKSUMMED"></span>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-4-5 grid-cell-ls-1 form-control-description">
                    <div class="form-control-label hide-ps">&nbsp;</div>
                    <span class="form-control-description__text">{{ngPopUp.params.descriptionField}}</span>
                </div>
            </div>
            <div class="grid-row" ng-if="tokenInfo">
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-1-2 grid-cell-ls-1">
                    <div class="form-control-label">{{'CONTRACTS.FORMS.TOKEN.FIELDS.TOKEN_SYMBOL.LABEL'|translate}} {{tokenInfo.symbol}}</div>
                </div>
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-1-2 grid-cell-ls-1">
                    <div class="form-control-label">{{'CONTRACTS.FORMS.TOKEN.FIELDS.DECIMALS.LABEL'|translate}} {{tokenInfo.decimals}}</div>
                </div>
            </div>
        </div>


        <div class="shadow-block__content shadow-block__content_min-tb-padding grey-color">
            <button class="btn btn-submit" type="button" ng-click="showInstruction()" ng-disabled="!setAddressForm.$valid">
                <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.CONTINUE'|translate}}&nbsp;&nbsp;&nbsp;</span>
            </button>
        </div>
    </form>

    <div ng-if="showedInstruction">
        <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
            <div class="shadow-block__content__blue-title static-width">
                <div class="shadow-block__content__blue-title__name">
                    <span class="big-size">{{ngPopUp.params.instructionTitle}}&nbsp;</span>
                </div>
            </div>
            <div class="shadow-block__content__description">
                <span>{{ngPopUp.params.instructionDescription|translate:'{address:\'' + request.address + '\'}'}}</span>
            </div>
        </div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <a ng-attr-href="{{
                'https://www.myetherwallet.com/?data=' + setAddressSignature +
                '&value=0&to=' + contract.contract_details.eth_contract.address}}#send-transaction"
               target="_blank" class="btn btn-gray with-icon nowrap">
                <img src="/static/images/web3clients/myetherwallet.svg" width="20" style="vertical-align: middle">&nbsp;&nbsp;
                <span>MyEtherwallet</span>
            </a>
            <button ng-click="sendTransaction()"
                    ng-if="currentWallet && (currentWallet.type === 'parity')"
                    class="btn btn-gray with-icon nowrap">
                <img src="/static/images/web3clients/parity.svg" width="20" style="vertical-align: middle">&nbsp;&nbsp;
                <span>Parity</span>
            </button>
            <button  ng-click="sendTransaction()"
                     ng-if="currentWallet && (currentWallet.type === 'metamask')"
                     class="btn btn-gray with-icon nowrap">
                <img src="/static/images/web3clients/metamask.svg" width="20" style="vertical-align: middle">&nbsp;&nbsp;
                <span>Metamask</span>
            </button>
        </div>

        <div class="form-fieldset-delimiter"><span class="uppercase" translate="OR"></span></div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding"
             ng-init="instructionData = {
                'dataField': setAddressSignature,
                'ownerAddress': contract.contract_details.admin_address,
                'contractAddress': contract.contract_type === 4 ?
                    contract.contract_details.eth_contract_crowdsale.address :
                    contract.contract_details.eth_contract.address,
                'contract': {
                    network: contract.network
                }
             }"
             ng-include="'/templates/popups/instructions/transaction-template.html'">
        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding grey-color">
            <button class="btn btn-submit" ng-click="closeCurrentPopup()">
                <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.DONE'|translate}}&nbsp;&nbsp;&nbsp;</span>
            </button>
        </div>
    </div>
</div>
