<div class="shadow-block" ng-controller="changeDateFormController">
    <form name="changeDateForm">
        <div class="shadow-block__content shadow-block__content_no-lr-padding shadow-block__content_min-tb-padding">
            <div class="shadow-block__content__blue-title">
                <i class="shadow-block__content__blue-title__icon icon-crowdsale"></i>
                <div class="shadow-block__content__blue-title__name">
                    <span class="big-size">{{ngPopUp.params.contract.name}}&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="form-control">
                <div class="form-control-label">
                    Это Ваши текущие даты старта и завершения ICO
                </div>
            </div>

            <div class="grid-row">
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <div class="form-control-label">
                        <i class="icon-waiting-2 form-control-label-icon"></i>
                        {{'CONTRACTS.FORMS.CROWD_SALE.FIELDS.START_DATE.LABEL'|translate}}
                    </div>
                    <div class="contract-preview-base-font contract-preview-base-value">
                        <div class="contract-preview-base-value-string">
                            {{contract.contract_details.start_date * 1000 | date : 'yyyy-MM-dd&nbsp;&nbsp;HH:mm'}}
                        </div>
                    </div>
                </div>
                <div class="clearfix show-ls"><br/></div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <div class="form-control-label">
                        <i class="icon-waiting-1 form-control-label-icon"></i>
                        {{'CONTRACTS.FORMS.CROWD_SALE.FIELDS.FINISH_DATE.LABEL'|translate}}
                    </div>
                    <div class="contract-preview-base-font contract-preview-base-value">
                        <div class="contract-preview-base-value-string">
                            {{contract.contract_details.stop_date * 1000 | date : 'yyyy-MM-dd&nbsp;&nbsp;HH:mm'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="form-control">
                <div class="form-control-label">
                    Вы можете установить новые даты для старта или завершения ICO
                </div>
            </div>

            <div class="grid-row" ng-class="{'no-active': contract.contract_details.start_date < minStartDate.format('X')}">
                <div class="grid-cell grid-cell-1">
                    <div class="checkbox-decoration">
                    <label class="radio-button-decoration">
                        <input type="radio"
                               ng-disabled="contract.contract_details.start_date < minStartDate.format('X')"
                               id="start_date_radio" name="date_type" ng-model="date_type" value="start">
                        <span ng-class="{
                                    'icon-radio-checked': date_type === 'start',
                                    'icon-radio-unchecked': date_type !== 'start'
                                }"></span>
                    </label>
                    <label class="form-control-label inline-label"
                           translate="CONTRACTS.FORMS.CROWD_SALE.FIELDS.START_DATE.LABEL"
                           for="start_date_radio"></label>
                </div>
                </div>
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">

                        <input class="input-for-group-fields"
                               readonly
                               name="checkStartDate"
                               ng-model="newDatesFields.start_date"
                               tabindex="-1"
                               type="number"
                               ng-if="date_type === 'start'"
                               ng-attr-min="{{minStartDate.format('X')}}"
                               ng-attr-max="{{validationDates.maxForStart}}"/>

                        <input type="datetime" required
                               id="start-date"
                               ng-model="dates.startDate"
                               date-change="onChangeStartDate"
                               auto-close="true"
                               min-date="minStartDate"
                               ng-disabled="date_type !== 'start'"
                               readonly
                               date-time
                               min-view="date"
                               view="year"
                               format="YYYY-MM-DD"
                               position="fixed"
                               ng-attr-invalid="{{!changeDateForm.checkStartDate.$valid}}"
                               class="form-control-input form-control-input-date"/>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <div class="form-control-input"
                             ng-disabled="date_type !== 'start'"
                             ng-model="timesForStarting.start" ng-time-picker
                             ng-attr-invalid="{{(date_type === 'start') && !changeDateForm.checkStartDate.$valid}}"
                             ng-change="onChangeStartTime">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="grid-row" ng-class="{'no-active': contract.contract_details.stop_date < minStartDate.format('X')}">
                <div class="grid-cell grid-cell-1">
                    <div class="checkbox-decoration">
                        <label class="radio-button-decoration">
                            <input type="radio" id="end_date_radio"
                                   ng-disabled="contract.contract_details.stop_date < minStartDate.format('X')"
                                   name="date_type" ng-model="date_type" value="end">
                            <span ng-class="{
                                    'icon-radio-checked': date_type === 'end',
                                    'icon-radio-unchecked': date_type !== 'end'
                                }"></span>
                        </label>
                        <label class="form-control-label inline-label"
                               translate="CONTRACTS.FORMS.CROWD_SALE.FIELDS.FINISH_DATE.LABEL"
                               for="end_date_radio"></label>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <input class="input-for-group-fields"
                               tabindex="-1"
                               readonly
                               name="checkStopDate"
                               ng-model="newDatesFields.stop_date"
                               type="number"
                               step="1"
                               ng-if="date_type === 'end'"
                               ng-attr-min="{{validationDates.minForFinish}}"/>

                        <input type="datetime" required
                               id="end-date"
                               ng-model="dates.endDate"
                               date-change="onChangeEndDate"
                               auto-close="true"
                               min-date="minStartDate"
                               readonly
                               ng-disabled="date_type !== 'end'"
                               date-time
                               min-view="date"
                               view="year"
                               format="YYYY-MM-DD"
                               position="fixed"
                               ng-attr-invalid="{{!changeDateForm.checkStopDate.$valid}}"
                               class="form-control-input form-control-input-date"/>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-3 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <div class="form-control-input"
                             ng-disabled="date_type !== 'end'"
                             ng-time-picker
                             ng-attr-invalid="{{(date_type === 'end') && !changeDateForm.checkStopDate.$valid}}"
                             ng-change="onChangeStopTime"
                             ng-model="timesForStarting.stop">&nbsp;</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding grey-color">
            <button class="btn btn-submit" type="button"
                    ng-pop-up="{
                        template: '/templates/popups/instructions/eth/change-date-instruction.html',
                        newPopupContent: true,
                        params: {
                            contract: contract,
                            signature: signature,
                            currentWallet: currentWallet
                        },
                        actions: {
                            successCodeCopy: successCodeCopy
                        }
                    }"
                    ng-disabled="!changeDateForm.$valid || !date_type" ng-click="generateSignature(); closeCurrentPopup();">
                <span>&nbsp;&nbsp;&nbsp;{{'CONTRACTS_BUTTONS.CHANGE_DATES'|translate}}&nbsp;&nbsp;&nbsp;</span>
            </button>
        </div>
    </form>
</div>
