<div ng-init="contract = ngPopUp.params.contract">

    <div class="shadow-block__content shadow-block__content_no-lr-padding">
        <div class="alert-window-title" translate="POPUP_FORMS.SETTINGS_POPUP.TITLE"></div>
    </div>

    <div class="shadow-block__content shadow-block__content_no-tb-padding no-border text-center settings-buttons-popup">
        <!-- Investment pool add investment address -->
        <button ng-if="contract.contract_details.buttons.set_investment"
                ng-pop-up="{
                            template: '/templates/popups/forms/eth/add-address-form.html',
                            newPopupContent: true,
                            params: {
                                contract: contract,
                                web3Method: 'setInvestmentAddress',
                                labelField: ('CONTRACTS.FORMS.INVESTMENT_POOL.FIELDS.INVESTMENT_ADDRESS.LABEL'|translate),
                                descriptionField: ('CONTRACTS.FORMS.INVESTMENT_POOL.FIELDS.INVESTMENT_ADDRESS.DESCRIPTION'|translate),
                                instructionTitle: ('CONTRACTS.FORMS.INVESTMENT_POOL.FIELDS.INVESTMENT_ADDRESS_ON_OFF.LABEL'|translate),
                                instructionDescription: 'CONTRACTS_INSTRUCTIONS.ETH.SET_ADDRESS.DESTINATION_ADDRESS.DESCRIPTION'
                            },
                            class: 'page-size'
                        }"
                class="btn btn-transparent mobile-width-100">
            <span translate="CONTRACTS.FORMS.INVESTMENT_POOL.FIELDS.INVESTMENT_ADDRESS_ON_OFF.LABEL"></span>
        </button>

        <button ng-if="contract.contract_details.buttons.set_token"
                ng-pop-up="{
                            template: '/templates/popups/forms/eth/add-address-form.html',
                            newPopupContent: true,
                            params: {
                                contract: contract,
                                web3Method: 'setTokenAddress',
                                labelField: ('CONTRACTS.FORMS.INVESTMENT_POOL.FIELDS.TOKEN_ADDR.LABEL'|translate),
                                descriptionField: ('CONTRACTS.FORMS.INVESTMENT_POOL.FIELDS.TOKEN_ADDR.DESCRIPTION'|translate),
                                instructionTitle: ('CONTRACTS.FORMS.INVESTMENT_POOL.FIELDS.TOKEN_ADDRESS_ON_OFF.LABEL'|translate),
                                instructionDescription: 'CONTRACTS_INSTRUCTIONS.ETH.SET_ADDRESS.TOKEN_ADDRESS.DESCRIPTION',
                                isToken: true
                            },
                            class: 'page-size'
                        }"
                class="btn btn-transparent mobile-width-100">
            <span translate="CONTRACTS.FORMS.INVESTMENT_POOL.FIELDS.TOKEN_ADDRESS_ON_OFF.LABEL"></span>
        </button>

        <!-- Date changing form button -->
        <button ng-if="contract.contract_details.buttons.change_date"
                ng-pop-up="{
                            template: '/templates/popups/forms/eth/change-dates-form.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            },
                            class: 'page-size',
                            onClose: returnToList
                        }"
                class="btn btn-transparent mobile-width-100">
            <span translate="CONTRACTS_BUTTONS.CHANGE_DATES"></span>
        </button>

        <!-- Whitelist form button -->
        <button ng-if="contract.contract_details.buttons.whitelist"
                ng-pop-up="{
                            template: '/templates/popups/forms/eth/whitelist-form.html',
                            newPopupContent: true,
                            params: {
                                contract: contract
                            },
                            class: 'page-size',
                            onClose: returnToList
                        }"
                class="btn btn-transparent mobile-width-100">
            <span translate="CONTRACTS_BUTTONS.WHITELIST"></span>
        </button>

    </div><br/><br/>
</div>