<div class="shadow-block" ng-controller="whitelistFormController">
    <div ng-if="showedInstruction" ng-include="'/templates/popups/instructions/eth/whitelist-instruction.html'"></div>
    <div ng-if="!showedInstruction">
        <div class="shadow-block__content shadow-block__content_no-lr-padding shadow-block__content_min-tb-padding">
            <div class="shadow-block__content__blue-title">
                <i class="shadow-block__content__blue-title__icon icon-crowdsale"></i>
                <div class="shadow-block__content__blue-title__name">
                    <span class="big-size">{{ngPopUp.params.contract.name}}&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="shadow-block__content shadow-block__content_no-lr-padding shadow-block__content_no-tb-padding" ng-if="!tableData">
            <div class="shadow-block__content shadow-block__content_no-tb-padding">
                <ul class="condition-text">
                    <li class="condition-text-item">
                        For adding whitelisted addresses you need to upload the table in *.csv format
                    </li>
                    <li class="condition-text-item">
                        Every row must contain one address in Ethereum format
                    </li>
                    <li class="condition-text-item">
                        Only the first 100 addresses will be processed
                    </li>
                    <li class="condition-text-item">
                        You can add as many addresses as you need, but not more than 100 at a time<br/>
                        Table example:<br/>
                    </li>
                </ul>
            </div>
            <div class="shadow-block__content shadow-block__content_no-lr-padding shadow-block__content_no-tb-padding no-border">
                <img src="/static/images/csv-whitelist.jpg" width="100%" alt="">
            </div>
            <form name="csvWhiteListForm"
                  class="shadow-block__content shadow-block__content_min-tb-padding grey-color">
                <div class="btn btn-submit btn-with-file">
                    <span>Choose file</span>
                    <input type="file" name="csvFile"
                           accept=".csv"
                           onchange="angular.element(this).scope().changeFile(this)">
                </div>
                <span class="field-error" ng-if="fileTypeError" style="display: block">Выберите CSV файл</span>
            </form>
        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding" ng-if="tableData">
            <div class="form-control-label">
                The following addresses are ready to be whitelisted for Crowdsale contract:
            </div>
            <span class="form-control-description__text">
                {{tableData.lastRow}} out of {{tableData.amountRows}} addresses processed successfully<br/>
                {{tableData.errors.length}} rows contain errors
            </span>
        </div>

        <div class="csv-addresses-table" ng-if="tableData.result">
            <div ng-repeat="address in tableData.result" class="csv-addresses-table__row"
                 ng-class="'status-row-' + (address.type || 'success')">
                <div class="shadow-block__content shadow-block__content_no-tb-padding">
                    <div class="form-control-label">
                        <div class="float-right">Line: {{address.row}}</div>
                        <b>{{address.address}}</b>
                    </div>
                </div>
            </div>
        </div>

        <div class="csv-errors-info csv-errors-info__warnings"
             ng-if="tableData.warnings.length">
            <div class="shadow-block__content shadow-block__content_min-tb-padding csv-errors-info--title" ng-click="openErrors('warnings')">
                <i class="float-right arrow"
                   ng-class="{'icon-keyboard_arrow_right': openedErrors != 'warnings', 'icon-keyboard_arrow_down': openedErrors == 'warnings'}"></i>
                <i class="icon-warning"></i>
                <span>{{tableData.warnings.length}} warnings</span>
            </div>
            <div class="csv-errors-info--list" ng-if="openedErrors == 'warnings'">
                <div ng-repeat="error in tableData.warnings"
                     class="shadow-block__content no-border csv-errors-info--list_item">
                    <div class="csv-errors-info--list_item_text">
                        Line: {{error.row}}; <b>{{error.address}}</b><br/>
                        <span ng-if="error.status == 1">Address is not checksummed</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="csv-errors-info csv-errors-info__errors"
             ng-if="tableData.errors.length">
            <div class="shadow-block__content shadow-block__content_min-tb-padding  csv-errors-info--title" ng-click="openErrors('errors')">
                <i class="float-right arrow"
                   ng-class="{'icon-keyboard_arrow_right': openedErrors != 'errors', 'icon-keyboard_arrow_down': openedErrors == 'errors'}"></i>
                <i class="icon-error"></i>
                <span>{{tableData.errors.length}} errors</span>
            </div>
            <div class="csv-errors-info--list" ng-if="openedErrors == 'errors'">
                <div ng-repeat="error in tableData.errors"
                     class="shadow-block__content no-border csv-errors-info--list_item">
                    <div class="csv-errors-info--list_item_text">
                        Line: {{error.row}}; <b>{{error.address}}</b><br/>
                        <span ng-if="error.status == 2">Address has wrong format</span>
                        <span ng-if="error.status == 3">Duplicate address: Line {{error.doubleLine.csvRow}} </span>
                        <span ng-if="error.status == 4">Empty string</span>
                        <span ng-if="error.status == 5">Address was already whitelisted</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding grey-color" ng-if="tableData.result">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-2">
                    <button class="btn btn-submit" type="button" ng-click="showInstruction()">
                        <span>&nbsp;&nbsp;&nbsp;Add {{tableData.result.length}} addresses&nbsp;&nbsp;&nbsp;</span>
                    </button>
                </div>
                <div class="grid-cell grid-cell-1-2 text-right">
                    <button class="btn btn-transparent" type="button" ng-click="resetTable()">
                        <span>&nbsp;&nbsp;&nbsp;{{'BUTTONS.BACK'|translate}}&nbsp;&nbsp;&nbsp;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
