<div class="shadow-block" ng-controller="airdropWithdrawController">
    <form name="withdrawForm">
        <div class="shadow-block__content shadow-block__content_no-lr-padding shadow-block__content_min-tb-padding">
            <div class="shadow-block__content__blue-title">
                <i class="shadow-block__content__blue-title__icon icon-airdrop"></i>
                <div class="shadow-block__content__blue-title__name">
                    <span class="big-size">Withdraw</span>
                </div>
            </div>
        </div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="form-control">
                <div class="form-control-label">
                    Specify the tokens you want to withdraw from the contract
                </div>
            </div>
            <div class="grid-row contract-form-row">
                <div class="grid-cell grid-cell-2-3 grid-cell-ps-4-5 grid-cell-ls-1">
                    <div class="form-control">
                        <label for="out-wallet-key"
                               translate="POPUP_FORMS.MINT_TOKENS_FORM.FIELDS.ADDRESS.LABEL"
                               class="form-control-label"></label>
                        <input id="out-wallet-key" type="text"
                               ng-pattern="/^0x[0-9a-f]{40}$/i"
                               ng-model="dataField.address"
                               ng-change="checkAirdropToken()"
                               required
                               class="form-control-input"/>
                        <span class="field-error form-field_error-check-sum"
                              ng-if="dataField.address ? !$root.web3Utils.checkAddressChecksum(dataField.address) : false"
                              style="display: block" TRANSLATE="FIELDS_ERRORS.ADDRESS_NOT_CHECKSUMMED"></span>
                    </div>
                </div>

                <div class="clearfix show-full hide-ps show-vs"><br/></div>

                <div class="grid-cell grid-cell-1-2 grid-cell-ps-2-5 grid-cell-ls-1-2 grid-cell-vs-1">
                    <div class="form-control">
                        <label for="address-amount" class="form-control-label"
                               translate="POPUP_FORMS.MINT_TOKENS_FORM.FIELDS.AMOUNT.LABEL"></label>
                        <input class="form-control-input"
                               id="address-amount"
                               ng-disabled="!tokenInfo.decimals"
                               pattern="[0-9,]+{{(tokenInfo.decimals * 1 > 0) ? '(\.[0-9]{1,' + tokenInfo.decimals + '})?' : ''}}$"
                               commaseparator="{
                                    regexp: '^(([0]{1})||([1-9][0-9]{0,25}))(\.[0-9]*)?$',
                                    min: 1/$root.pow(10, tokenInfo.decimals),
                                    max: tokenInfo.balanceOf
                               }"
                               required
                               ng-model="dataField.amount"/>
                    </div>
                </div>

            </div>
        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding grey-color">
            <button class="btn btn-submit" type="button"
                    ng-pop-up="{
                        template: '/templates/popups/instructions/eth/withdraw-instruction.html',
                        newPopupContent: true,
                        params: {
                            contract: contract,
                            recipient: dataField,
                            withdrawSignature: withdrawSignature,
                            currentWallet: currentWallet
                        },
                        actions: {
                            sendWithdrawTransaction: sendWithdrawTransaction
                        }
                    }"
                    ng-disabled="!withdrawForm.$valid || !tokenInfo.decimals" ng-click="generateSignature(); closeCurrentPopup();">
                <span>&nbsp;&nbsp;&nbsp;{{'CONTRACTS_BUTTONS.WITHDRAW'|translate}}&nbsp;&nbsp;&nbsp;</span>
            </button>
        </div>
    </form>
</div>
