<button class="btn only-icon float-right" type="button"
        ng-if="(statuses[contract.state]['value'] == 1) || (statuses[contract.state]['value'] == 2)"
        ng-pop-up="{
            template: '/templates/popups/confirmations/delete-contract.html',
            newPopupContent: true,
            params: contract,
            class: 'deleting-contract',
            actions: {
                deleteContract: deleteContract
            }
        }">
    <i class="icon-trash"></i>
</button>


<!-- Pay instruction button -->
<button ng-click="payContract(contract)"
        ng-if="(statuses[contract.state]['value'] == 1) || (statuses[contract.state]['value'] == 2)"
        class="btn btn-transparent hide-ps">
    <i class="icon-rocket-ship"></i>
    <span translate="CONTRACTS_BUTTONS.LAUNCH"></span>
</button>

<!-- Deposit instruction button -->
<button ng-if="(statuses[contract.state]['value'] == 4) && (contract.contract_type != 4) && (contract.contract_type != 5)"
        ng-pop-up="{
            template: '/templates/popups/instructions/rsk/deposit-instruction.html',
            newPopupContent: true,
            params: {
                contract: contract
            },
            onClose: returnToList
        }"
        class="btn btn-transparent hide-ps">
    <span translate="CONTRACTS_BUTTONS.DEPOSIT"></span>
</button>



<!-- I Alive instruction button (Will | platform_alive true) -->
<button ng-if="(statuses[contract.state]['value'] == 4) && (contract.contract_type == 0)"
        ng-pop-up="{
            template: !contract.contract_details.platform_alive ?
                '/templates/popups/instructions/rsk/i-alive-instruction.html' :
                '/templates/popups/instructions/networks/i-alive-instruction.html',

            newPopupContent: true,
            params: {
                contract: contract
            },
            onClose: returnToList
        }"
        class="btn btn-transparent hide-ps">
    <span translate="CONTRACTS_BUTTONS.I_ALIVE"></span>
</button>

<!-- Cancel instruction button -->
<button ng-if="(statuses[contract.state]['value'] == 4) && (contract.contract_type == 0)"
        ng-pop-up="{template: !contract.contract_details.platform_cancel ?
                '/templates/popups/instructions/rsk/will-cancel-instruction.html' :
                '/templates/popups/instructions/networks/will-cancel-instruction.html',
            newPopupContent: true,
            params: {
                contract: contract
            },
            onClose: returnToList
        }"
        class="btn btn-transparent hide-ps">
    <span translate="CONTRACTS_BUTTONS.CANCEL"></span>
</button>
<!-- Withdraw instruction button (Will | platform_cancel == false) -->
<button ng-if="(statuses[contract.state]['value'] == 5) && (contract.contract_type == 0)"
        ng-pop-up="{
            template: !contract.contract_details.platform_cancel ?
                '/templates/popups/instructions/rsk/will-withdraw-instruction.html' :
                '/templates/popups/instructions/networks/will-withdraw-instruction.html',
            newPopupContent: true,
            params: {
                contract: contract
            },
            onClose: returnToList
        }"
        class="btn btn-transparent hide-ps">
    <span translate="CONTRACTS_BUTTONS.WITHDRAW"></span>
</button>
