<button class="btn only-icon float-right" type="button"
        ng-if="(statuses[contract.state]['value'] == 1) || (statuses[contract.state]['value'] == 2)"
        ng-pop-up="{
            template: '/templates/popups/delete-contract.html',
            params: contract,
            class: 'deleting-contract',
            actions: {
                deleteContract: deleteContract
            }
        }">
    <i class="icon-trash"></i>
</button>


<!-- Pay instruction button -->
<button ng-click="payContract(contract)"
        ng-if="(statuses[contract.state]['value'] == 1) || (statuses[contract.state]['value'] == 2)"
        class="btn btn-transparent hide-ps">
    <i class="icon-rocket-ship"></i>
    <span>Launch</span>
</button>

<!-- Deposit instruction button -->
<button ng-if="(statuses[contract.state]['value'] == 4) && (contract.contract_type != 4) && (contract.contract_type != 5)"
        ng-pop-up="{
            template: '/templates/popups/instructions/rsk/deposit-instruction.html',
            newPopupContent: true,
            params: {
                contract: contract
            },
            actions: {
                successCodeCopy: successCodeCopy
            },
            onClose: returnToList
        }"
        class="btn btn-transparent hide-ps">
    <span>Deposit</span>
</button>


<!-- I Alive instruction button (Will | platform_alive == false) -->
<button ng-if="(statuses[contract.state]['value'] == 4) && ((contract.contract_type == 0) && (!contract.contract_details.platform_alive))"
        ng-pop-up="{
            template: '/templates/popups/instructions/eth/i-alive-instruction.html',
            newPopupContent: true,
            params: {
                contract: contract
            },
            actions: {
                successCodeCopy: successCodeCopy
            },
            onClose: returnToList
        }"
        class="btn btn-transparent hide-ps">
    <span>I Alive</span>
</button>

<!-- I Alive instruction button (Will | platform_alive true) -->
<button ng-if="(statuses[contract.state]['value'] == 4) && ((contract.contract_type == 0) && (contract.contract_details.platform_alive))"
        ng-pop-up="{
            template: '/templates/popups/instructions/rsk/i-alive-instruction.html',
            newPopupContent: true,
            params: {
                contract: contract
            },
            actions: {
                successCodeCopy: successCodeCopy
            },
            onClose: returnToList
        }"
        class="btn btn-transparent hide-ps">
    <span>I Alive</span>
</button>

<!-- Cancel instruction button -->
<button ng-if="(statuses[contract.state]['value'] == 4) && (contract.contract_type != 4) && (contract.contract_type != 5)"
        ng-pop-up="{
            template: '/templates/popups/instructions/rsk/cancel-instruction.html',
            newPopupContent: true,
            params: {
                contract: contract
            },
            actions: {
                successCodeCopy: successCodeCopy
            },
            onClose: returnToList
        }"
        class="btn btn-transparent hide-ps">
    <span>Cancel</span>
</button>
