<button class="btn only-icon float-right" type="button"
        ng-if="(contract.stateValue == 1) || (contract.stateValue == 2)"
        ng-pop-up="{
            template: '/templates/popups/confirmations/delete-contract.html',
            newPopupContent: true,
            params: contract,
            class: 'deleting-contract',
            actions: {
                deleteContract: deleteContract
            }
        }">
    <i class="icon-trash"></i>
</button>

<!-- Pay instruction button -->
<button ng-click="payContract(contract)"
        ng-if="(contract.stateValue == 1) || (contract.stateValue == 2)"
        class="btn btn-transparent hide-ps">
    <i class="icon-rocket-ship"></i>
    <span translate="CONTRACTS_BUTTONS.LAUNCH"></span>
</button>


<!-- Create Asset form button -->
<button ng-if="(contract.stateValue == 4) && (contract.contract_type == 16)"
        ng-pop-up="{
            template: '/templates/popups/forms/tron/create-asset-form.html',
            newPopupContent: true,
            params: {
                contract: contract
            },
            class: 'page-size',
            onClose: returnToList
        }"
        class="btn btn-transparent hide-ps">
    <span>Create Asset</span>
</button>

<!-- Mint form button -->
<button ng-if="(contract.stateValue == 4) && (contract.contract_type == 15) && contract.contract_details.future_minting"
        ng-pop-up="{
            template: '/templates/popups/forms/tron/mint-token-form.html',
            newPopupContent: true,
            params: {
                contract: contract
            },
            class: 'page-size',
            onClose: returnToList
        }"
        class="btn btn-transparent hide-ps">
    <span translate="CONTRACTS_BUTTONS.MINT"></span>
</button>


<!-- Finalize token contract form button -->
<button ng-pop-up="{
            template: '/templates/popups/disclaimers/tron/mint-finalize-disclaimer.html',
            newPopupContent: true,
            params: {
                contract: contract
            },
            class: 'conditions',
            onClose: returnToList
        }"
        ng-if="(contract.stateValue == 4) && (contract.contract_type == 15) && contract.contract_details.future_minting"
        class="btn btn-transparent hide-ps">
    <span translate="CONTRACTS_BUTTONS.FINALIZE"></span>
</button>


<!-- Add addresses to airdrop -->
<button ng-if="(contract.stateValue == 4) && (contract.contract_type == 17) && !contract.contract_details.sent_count"
        ng-pop-up="{
            template: '/templates/popups/forms/tron/airdrop-addresses-form.html',
            newPopupContent: true,
            params: {
                contract: contract
            }
        }"
        class="btn btn-transparent">
    <span translate="CONTRACTS_BUTTONS.ADD_ADDRESSES"></span>
</button>

<!-- Airdrop send table instruction button -->

<button ng-if="(contract.stateValue == 4) && (contract.contract_type == 17) && contract.contract_details.added_count"
        ng-pop-up="{
            template: '/templates/popups/data-preview/tron-airdrop-next-send-table.html',
            newPopupContent: true,
            class: 'page-size',
            params: {
                filter: 'added',
                contract: contract
            }
        }"
        class="btn btn-transparent">
    <span translate="CONTRACTS_BUTTONS.SEND_AIRDROP_ADDRESSES"></span>
</button>


<!--&lt;!&ndash; Lost key i'm good &ndash;&gt;-->
<!--<button type="button"-->
        <!--ng-controller="tronLostKeyImAlievController"-->
        <!--ng-if="(contract.stateValue == 4) && (contract.contract_type == 18)"-->
        <!--ng-click="callIALive()"-->
        <!--class="btn btn-transparent mobile-width-100">-->
                <!--<span class="lds-ellipsis" ng-if="contract.imAliveProgress">-->
                    <!--<span class="lds-ellipsis-container">-->
                        <!--<span></span><span></span><span></span><span></span>-->
                    <!--</span>-->
                <!--</span>-->
    <!--<span>I'm good</span>-->
    <!--<div ng-include="'/templates/popups/forms/tron/new-extensions-alerts.html'"></div>-->
<!--</button>-->


<!-- Lost key add tokens -->
<a ui-sref="main.contracts.preview.byId({id: contract.id, '#': 'tokens'})"
        ng-if="(contract.stateValue == 4) && (contract.contract_type == 18)"
      class="btn btn-transparent mobile-width-100">
    <span>Add tokens</span>
</a>

