@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uw2412');
  src:  url('fonts/icomoon.eot?uw2412#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?uw2412') format('truetype'),
  url('fonts/icomoon.woff?uw2412') format('woff'),
  url('fonts/icomoon.svg?uw2412#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-percentage:before {
  content: "\e93b";
}
.icon-tick:before {
  content: "\e93a";
  color: #206eff;
}
.icon-crowdsale:before {
  content: "\e937";
}
.icon-mywish .path1:before {
  content: "\e934";
  color: rgb(0, 114, 255);
}
.icon-mywish .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(148, 196, 255);
}
.icon-rocket-ship:before {
  content: "\e938";
}
.icon-edit:before {
  content: "\e932";
}
.icon-distribution:before {
  content: "\e930";
}
.icon-attention:before {
  content: "\e92e";
  color: #f00;
}
.icon-delete-button:before {
  content: "\e921";
}
.icon-preview:before {
  content: "\e924";
}
.icon-snowflake:before {
  content: "\e925";
}
.icon-settings2:before {
  content: "\e926";
}
.icon-padlock:before {
  content: "\e927";
}
.icon-clock:before {
  content: "\e928";
}
.icon-waiting-1:before {
  content: "\e929";
}
.icon-waiting-2:before {
  content: "\e92a";
}
.icon-soft-cap:before {
  content: "\e92b";
}
.icon-hard-cap:before {
  content: "\e92c";
}
.icon-bitcoin-exchange-rate-symbol:before {
  content: "\e92d";
}
.icon-agreement:before {
  content: "\e922";
}
.icon-pizza:before {
  content: "\e923";
}
.icon-key:before {
  content: "\e91c";
}
.icon-deferred:before {
  content: "\e91d";
}
.icon-lastwill:before {
  content: "\e91e";
}
.icon-wedding:before {
  content: "\e91f";
}
.icon-framew:before {
  content: "\e91a";
}
.icon-lg .path1:before {
  content: "\e918";
  color: rgb(149, 148, 148);
}
.icon-lg .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(5, 89, 139);
}
.icon-mail:before {
  content: "\e901";
}
.icon-settings:before {
  content: "\e902";
}
.icon-in-wallet:before {
  content: "\e903";
}
.icon-account:before {
  content: "\e904";
}
.icon-conditions:before {
  content: "\e905";
}
.icon-contracts:before {
  content: "\e906";
}
.icon-create-contract:before {
  content: "\e907";
}
.icon-but-tokens:before {
  content: "\e908";
}
.icon-wallet:before {
  content: "\e909";
}
.icon-phone-call:before {
  content: "\e90a";
}
.icon-question:before {
  content: "\e90b";
}
.icon-log-out:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-keyboard_arrow_up:before {
  content: "\e90e";
}
.icon-keyboard_arrow_down:before {
  content: "\e90f";
}
.icon-cancel:before {
  content: "\e910";
}
.icon-cross:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e914";
}
.icon-content_copy:before {
  content: "\e915";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-refresh-new:before {
  content: "\e931";
}
.icon-keyboard_arrow_left:before {
  content: "\e913";
}
.icon-check_circle:before {
  content: "\e92f";
}
.icon-alert-circle:before {
  content: "\e936";
}
.icon-trash:before {
  content: "\e917";
}
.icon-warning:before {
  content: "\e933";
}
.icon-info-with-circle:before {
  content: "\e91b";
}
.icon-eye:before {
  content: "\e916";
}
.icon-cart:before {
  content: "\e920";
}
.icon-github:before {
  content: "\e911";
}
.icon-spinner:before {
  content: "\e900";
}
.icon-loading:before {
  content: "\e900";
}
.icon-loading-wheel:before {
  content: "\e900";
}
.icon-refresh:before {
  content: "\e900";
}
.icon-repeat:before {
  content: "\e900";
}
.icon-busy:before {
  content: "\e900";
}
.icon-wait:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-exit:before {
  content: "\e939";
}