@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d5fnw6');
  src:  url('fonts/icomoon.eot?d5fnw6#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?d5fnw6') format('truetype'),
  url('fonts/icomoon.woff?d5fnw6') format('woff'),
  url('fonts/icomoon.svg?d5fnw6#icomoon') format('svg');
  src:  url('fonts/icomoon.eot?uqvbm');
  src:  url('fonts/icomoon.eot?uqvbm#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?uqvbm') format('truetype'),
  url('fonts/icomoon.woff?uqvbm') format('woff'),
  url('fonts/icomoon.svg?uqvbm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-token-protector:before {
  content: "\e95a";
}
.icon-bnb-investment-pool:before {
  content: "\e95a";
}
.icon-bnb-airdrop:before {
  content: "\e95b";
}
.icon-bnb-crowdsale:before {
  content: "\e95c";
}
.icon-bnb-token:before {
  content: "\e95d";
}
.icon-waves-ico:before {
  content: "\e959";
}
.icon-binance:before {
  content: "\e958";
}
.icon-tronish-logo:before {
  content: "\e956";
  color: #bd2e21;
}
.icon-refresher:before {
  content: "\e955";
}
.icon-custom-contract:before {
  content: "\e952";
}
.icon-tron-airdrop:before {
  content: "\e951";
}
.icon-ga:before {
  content: "\e950";
}
.icon-at:before {
  content: "\e94f";
}
.icon-tron-token:before {
  content: "\e94e";
}
.icon-eosish-logo:before {
  content: "\e94b";
  color: #556577;
}
.icon-eos-airdrop:before {
  content: "\e94d";
}
.icon-eosish-circle:before {
  content: "\e94c";
}
.icon-eos-ico:before {
  content: "\e94a";
}
.icon-token-eos:before {
  content: "\e948";
}
.icon-eos-wallet:before {
  content: "\e949";
}
.icon-investment-pool:before {
  content: "\e947";
}
.icon-airdrop:before {
  content: "\e946";
}
.icon-feature-minting:before {
  content: "\e942";
}
.icon-help:before {
  content: "\e941";
  color: #006df0;
}
.icon-token:before {
  content: "\e943";
}
.icon-radio-unchecked:before {
  content: "\e93d";
}
.icon-radio-checked:before {
  content: "\e93e";
}
.icon-percentage:before {
  content: "\e93b";
}
.icon-tick:before {
  content: "\e93a";
  color: #206eff;
}
.icon-crowdsale:before {
  content: "\e937";
}
.icon-mywish .path1:before {
  content: "\e934";
  color: rgb(0, 114, 255);
}
.icon-mywish .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(148, 196, 255);
}
.icon-rocket-ship:before {
  content: "\e938";
}
.icon-edit:before {
  content: "\e932";
}
.icon-distribution:before {
  content: "\e930";
}
.icon-attention:before {
  content: "\e92e";
  color: #f00;
}
.icon-delete-button:before {
  content: "\e921";
}
.icon-preview:before {
  content: "\e924";
}
.icon-snowflake:before {
  content: "\e925";
}
.icon-settings2:before {
  content: "\e926";
}
.icon-clock:before {
  content: "\e928";
}
.icon-waiting-1:before {
  content: "\e929";
}
.icon-waiting-2:before {
  content: "\e92a";
}
.icon-soft-cap:before {
  content: "\e92b";
}
.icon-hard-cap:before {
  content: "\e92c";
}
.icon-bitcoin-exchange-rate-symbol:before {
  content: "\e92d";
}
.icon-agreement:before {
  content: "\e922";
}
.icon-pizza:before {
  content: "\e923";
}
.icon-key:before {
  content: "\e91c";
}
.icon-deferred:before {
  content: "\e91d";
}
.icon-lastwill:before {
  content: "\e91e";
}
.icon-wedding:before {
  content: "\e91f";
}
.icon-framew:before {
  content: "\e91a";
}
.icon-lg .path1:before {
  content: "\e918";
  color: rgb(149, 148, 148);
}
.icon-lg .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(5, 89, 139);
}
.icon-mail:before {
  content: "\e901";
}
.icon-settings:before {
  content: "\e902";
}
.icon-in-wallet:before {
  content: "\e903";
}
.icon-account:before {
  content: "\e904";
}
.icon-conditions:before {
  content: "\e905";
}
.icon-contracts:before {
  content: "\e906";
}
.icon-create-contract:before {
  content: "\e907";
}
.icon-but-tokens:before {
  content: "\e908";
}
.icon-wallet:before {
  content: "\e909";
}
.icon-phone-call:before {
  content: "\e90a";
}
.icon-question:before {
  content: "\e90b";
}
.icon-log-out:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-keyboard_arrow_up:before {
  content: "\e90e";
}
.icon-keyboard_arrow_down:before {
  content: "\e90f";
}
.icon-cancel:before {
  content: "\e910";
}
.icon-error:before {
  content: "\e910";
}
.icon-cross:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e914";
}
.icon-content_copy:before {
  content: "\e915";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-padlock:before {
  content: "\e927";
}
.icon-trash:before {
  content: "\e917";
}
.icon-warning:before {
  content: "\e933";
}
.icon-note-list:before {
  content: "\e945";
}
.icon-eye-off:before {
  content: "\e953";
}
.icon-eye1:before {
  content: "\e954";
}
.icon-refresh-new:before {
  content: "\e931";
}
.icon-keyboard_arrow_left:before {
  content: "\e913";
}
.icon-keyboard_arrow_right:before {
  content: "\e93c";
}
.icon-check_circle:before {
  content: "\e92f";
}
.icon-alert-circle:before {
  content: "\e936";
}
.icon-download:before {
  content: "\e944";
}
.icon-info-with-circle:before {
  content: "\e91b";
}
.icon-eye:before {
  content: "\e916";
}
.icon-cart:before {
  content: "\e920";
}
.icon-github:before {
  content: "\e911";
}
.icon-spinner:before {
  content: "\e900";
}
.icon-loading:before {
  content: "\e900";
}
.icon-loading-wheel:before {
  content: "\e900";
}
.icon-refresh:before {
  content: "\e900";
}
.icon-repeat:before {
  content: "\e900";
}
.icon-busy:before {
  content: "\e900";
}
.icon-wait:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-network-google:before {
  content: "\e940";
}
.icon-network-facebook:before {
  content: "\e93f";
}
.icon-exit:before {
  content: "\e939";
}
.icon-dollar:before {
  content: "\e957";
}