$blocks-background: #F4F4F4;
$dark-block-background: #F0F0F0;
$main-field-color: #206EFF;
$main-color: #206EFF!default;
$menu-hover-color: #4d97f4!default;

$white-color: #fff;
$black-color: #000;

$info-color: #f5a623;
$cost-value-color: #EFEFEF;
$dark-grey-color: #808080;

@if($env == 'eos') {
  $main-color: #556577;
  $menu-hover-color: #8293a6;
  $black-color: #2b3b4b;
  $blocks-background: #F3F5F7;
}

@if($env == 'tron') {
  $main-color: #c03634;
  $menu-hover-color: #ce3a38;
  $black-color: #1d0705;
  $blocks-background: #fffcfc;
}




html {
  height: 100%;
}
html, body {
  width: 100%;
  min-width: 320px;
}
body {
  min-height: 100%;
  margin: 0;
  color: $black-color;
  font-size: 10px;
  background-color: $white-color;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  &.popup-showed {
    overflow: hidden;
    height: 100%;
  }
  &:not(.visible) {
    .main-header-holder, .main-menu-holder, .pre-release-information, .main-content-holder {
      display: none;
    }
  }
  &.with-menu, &.popup-showed {
    #livechat-compact-container {
      z-index: 1!important;
    }
  }
}

input, button, a {
  &::-moz-focus-outer {
    border: 0;
  }
  &:focus {
    outline: none;
  }
}

#all-page-wrapper {
  min-height: 100%;
}
a img {
  border: 0 none;
  text-decoration: none;
}
.btn, [ng-click] {
  -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
  -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
[ui-view] {
  &:after, &:before {
    clear: both;
    display: table;
    width: 100%;
  }
}
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
.text-left {
  text-align: left!important;
}
.float-right {
  float: right!important;
}
.float-left {
  float: left!important;
}
.clearfix {
  clear: both;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.no-visibility {
  visibility: hidden;
}
button, input, textarea {
  font-family: inherit;
}
a, .as-link {
  color: $main-color;
  text-decoration: underline;
  &.dotted, &:hover, &:focus {
    text-decoration: none;
  }
  &.dotted {
    span {
      border-bottom: 1px dotted;
    }
    &:hover, &:focus {
      span {
        border-bottom: 0 none;
      }
    }
    i {
      font-size: 0.8em;
      &.icon-download {
        position: relative;
        top: 3px;
      }
    }
  }
}
.as-link {
  background: none;
  border: 0;
  cursor: pointer;
}
strong {
  font-size: 1.15em;
}

.small {
  font-size: 0.9em;
}
.main-blue-color, .pay-count {
  color: $main-color;
}

.important-warning-text {
  font-size: 1.2em;
  color: #a00;
  font-weight: bold;
}

.identicon-container {
  border-radius: 50%;
  margin-right: 0.5em;
  overflow: hidden;
  float: left;
  &.relative-top {
    position: relative;
    top: -0.5em;
  }
}
.identicon-image {
  display: block;
}
.amcharts-chart-div > a {
  display: none!important;
}
.relative {
  position: relative;
}
.white-block {
  background-color: #fff;
}
.nowrap {
  white-space: nowrap;
}

b, .bold {
  font-weight: 500;
}
.grey-text-color {
  color: #bbb;
}
.dark-grey-text-color {
  color: #878787;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

nav, main, footer, header {
  display: block;
}
.restore-link {
  font-size: 1.3em;
  color: $main-color;
  line-height: 1.2em;
  cursor: pointer;
  display: block;
  padding: 1em 0;
  white-space: nowrap;
  text-align: right;
  float: right;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.just-text {
  color: #000;
  padding: 1em 0 2em;
  a, span {
    font-size: 1.5em;
    color: inherit;
    vertical-align: middle;
  }
  i {
    font-size: 1.9em;
    color: $main-color;
    vertical-align: middle;
    margin-right: 0.75em;
  }

}

.global-error-layer {
  position: fixed;
  top: 1.3em;
  right: 2em;
  z-index: 10;
  transition: opacity linear 0.3s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5em;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  max-width: 90%;
  box-sizing: border-box;
  &__warning {
    background-color: rgba(202, 169, 0, 0.8);
  }
  &__error {
    background-color: rgba(203, 0, 8, 0.8);
  }
  &__success {
    background-color: rgb(40, 135, 13);
  }

  &.visible-error {
    opacity: 1;
    padding: 1em 2em;
  }
  &__text {
    color: #fff;
    font-size: 1.2em;
    //white-space: pre;
  }
}

.verification-label {
  padding: 0.4em 0.7em;
  display: block;
  font-size: 1.5em;
}

.verification-status {
  margin-left: 1em;
  font-weight: bold;
  font-size: 1.5em;
}

.verification-desc {
  margin-left: 1em;
}

.verification-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
}

.normal-text {
  font-size: 1.5em;
  margin: 0;
  line-height: 1.35em;
  max-width: 100%;
  &:not(.visible-text) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  + .normal-text {
    margin-top: 0.5em;
  }
  &.warning-text {
    padding-left: 1.5em;
    color: #906705;
    i {
      float: left;
      margin-left: -1.5em;
      color: #d0b300;
    }
  }
  &.error-text {
    color: #901900;
    i {
      float: left;
      font-size: 1.2em;
      color: #d01c00;
      margin-right: 0.4em;
    }
  }
}
.warning-page {
  //background-color: rgba(203, 0, 8, 0.8);
  background-color: $blocks-background;
  text-shadow: 0 1px 1px rgba(255,255,255,1);
  color: #000;
  &__icon {
    float: left;
    width: 5em;
    color: #bd9d00;
    i {
      font-size: 4em;
    }
  }
  &__text {
    line-height: 4.1em;
    margin-left: 5em;
    span {
      font-size: 1.5em;
      display: inline-block;
      line-height: 1.2em;
      vertical-align: middle;
    }
  }
}



.anime-girl {
  position: fixed;
  visibility: hidden;
  bottom: 28px;
  right: 20px;
  opacity: 0;
  transform: scale(0);
  transition: all cubic-bezier(0.42, 0, 0.05, 1.73) 0.3s;
  user-select: none;
  &.visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}







.bg{
  background-color: #fff;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  filter: blur(5px);
}
.drops ul{
  position: relative;
  z-index: 10001;
}
.drops li{
  position: absolute;
  z-index: 100000;
  display: block;
  background: rgba(255,255,255,.03) -webkit-radial-gradient(center 75%, ellipse contain, #ffffff, rgba(255,255,255,0) 60%);
  background-size: cover;
  border-radius: 50%;
  box-shadow:
          inset 0 0px 6px rgba(0,0,0,.2),
          inset 0 1px 6px rgba(0,0,0,.3),
          inset 0 8px 3px rgba(0,0,0,.05),
          inset 0 10px 3px rgba(255,255,255,.1);
  transform: rotate(180deg);
}


.lng-choose {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
  text-shadow: none;
  &-item {
    float: left;
    width: 50%;
    text-align: left;
    margin-bottom: 2em;
    &.active &__name {
      font-weight: 700;
      text-decoration: none;
      color: #000;
    }
    &.active &__name, &.active &__icon {
      cursor: default;
    }
    &__icon {
      height: 2.2em;
      width: 2.2em;
      margin-right: 0.3em;
      vertical-align: middle;
      border-radius: 50%;
      cursor: pointer;
      display: inline-block;
      position: relative;
      img {
        height: 100%;
        overflow: visible;
        display: block;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.5), inset 0 -3px 5px rgba(0, 0, 0, 0.3);
      }
    }

    &:hover &__name {
      text-decoration: none;
    }
    &__name {
      color: $main-color;
      vertical-align: middle;
      text-decoration: underline;
      cursor: pointer;
      font-size: 1.4em;
    }
  }
}



.as-table {
  display: table;
  width: 100%;
  &-cell {
    display: table-cell;
    padding: 0.5em 1em;
    vertical-align: middle;
    &.min-width {
      width: 1px;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

