$blocks-background: #F4F4F4;
$dark-block-background: #F0F0F0;
$main-blue-color: #206EFF;
$white-color: #fff;
$black-color: #000;
$info-color: #f5a623;
$cost-value-color: #EFEFEF;
$dark-grey-color: #808080;

html, body {
  height: 100%;
  width: 100%;
  min-width: 320px;
}
body {
  margin: 0;
  color: $black-color;
  font-size: 10px;
  //background: url(images/bg.png) left center repeat #262a36;
  background-color: $white-color;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  &.popup-showed {
    overflow: hidden;
  }
  &:not(.visible) {
    .main-header-holder, .main-menu-holder, .pre-release-information, .main-content-holder {
      display: none;
    }
  }

}
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
.text-left {
  text-align: left!important;
}
.float-right {
  float: right!important;
}
.float-left {
  float: left!important;
}
.clearfix {
  clear: both;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.uppercase {
  text-transform: uppercase;
}
button, input, textarea {
  font-family: inherit;
}
a, .as-link {
  color: $main-blue-color;
  text-decoration: underline;
  &:hover, &:focus {
    text-decoration: none;
  }
}
.as-link {
  color: $main-blue-color!important;
  background: none;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
}
strong {
  font-size: 1.15em;
}
.pay-count {
  color: $main-blue-color;
}

.identicon-container {
  border-radius: 50%;
  margin-right: 0.5em;
  overflow: hidden;
  float: left;
  &.relative-top {
    position: relative;
    top: -0.5em;
  }
}
.identicon-image {
  display: block;
}
.amcharts-chart-div > a {
  display: none!important;
}
.relative {
  position: relative;
}
.white-block {
  background-color: #fff;
}
.nowrap {
  white-space: nowrap;
}
.bold {
  font-weight: bold;
}
.grey-text-color {
  color: #bbb;
}