$white-normal-color: rgba(255, 255, 255, 0.7);
$white-hover-color: rgba(255, 255, 255, 1);
$white-active-color: rgba(255, 255, 255, 0.5);

$red-normal-color: rgba(249, 14, 54, 0.8);
$red-hover-color: #ff1e47;
$red-active-color: #bb0d2b;

.btn {
  border: 0 none;
  padding: 0 2em;
  outline: none;
  font-size: 1em;
  height: 4em;
  line-height: 4em;
  border-radius: 2em;
  display: inline-block;
  vertical-align: middle;
  transition: box-shadow 0.05s linear;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  position: relative;
  &.width-100 {
    width: 100%;
  }
  &:not(.float-right) ~ .btn {
    margin-left: 1em;
  }
  &[disabled] {
    opacity: 0.5;
  }
  &:not([disabled]):not(.active):not(.disabled) {
    cursor: pointer;
    &:not(.only-icon) {
      &:hover, &:focus {
        box-shadow: 0 0.4em 1.3em rgba(0, 0, 0, 0.2);
        //transform: translateY(-0.1em);
      }
      &:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }
    }
  }
  &.with-icon:not(.initial-padding) {
    padding-left: 1em;
  }
  i {
    font-size: 2em;
    margin-right: 0.25em;
  }
  span {
    font-size: 1.5em;
  }
  i, span {
    display: inline-block;
    vertical-align: middle;
  }
  span, i {}
  &.btn-submit {
    background: $main-color;
    color: $white-color;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  }
  &.btn-red {
    background: $red-hover-color;
    color: $white-color;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      background: $red-hover-color;
    }
    &:active {
      background: $red-active-color;
    }
  }
  &.radius-button {
    border-radius: 1.35em;
  }
  &.btn-transparent {
    border: 0.2em solid;
    line-height: 3.6em;
    color: $main-color;
    background: none;
    transition: all 0.05s linear;
    //text-shadow: 0 0.4em 0.2em rgba(0, 0, 0, 0);
    box-shadow: 0 0.4em 1.3em rgba(0, 0, 0, 0), inset 0 0.4em 1.3em rgba(0, 0, 0, 0);
    &:not([disabled]):not(.active):not(.disabled) {
      &:hover {
        box-shadow: 0 0.1em 0.6em rgba(0, 0, 0, 0.3), inset 0 0.1em 0.6em rgba(0, 0, 0, 0.3);
        //text-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
      }
    }
  }
  &.btn-as-link {
    color: #000;
    background: none;
    &:not([disabled]) {
      cursor: pointer;
      span {
        text-decoration: underline !important;
      }
    }
    &:hover, &:focus {
      box-shadow: initial;
      span {
        text-decoration: none!important;
        box-shadow: none;
      }
    }
  }
  &.btn-gray {
    border: 2px solid #C7C7C7;
    border-radius: 4em;
    background: #e8e8e8;
    color: #000;
    padding: 0 2em;
    line-height: 3.6em;
    &.payment-method {
      min-width: 12em;
    }
    &.active {
      border-color: #206EFF;
    }
  }
  &.only-icon {
    background: none;
    color: $main-color;
    padding: 0 0 0 1.5em;
    transition: text-shadow 0.1s linear;
    box-shadow: initial;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    &:hover, &:focus {
      text-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
      transform: translateY(-0.1em);
    }
    &:active {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    i {
      font-size: 2.9em;
    }
  }
  &.center-input-field {
    margin-top: 0.5em;
  }
  &.btn-with-file {
    position: relative;
    overflow: hidden;
    input[type="file"] {
      position: absolute;
      z-index: 2;
      margin: 0;
      opacity: 0;
      left: -5px;
      top: -5px;
      font-size: 5em;
    }
  }
}

@keyframes refreshProgressElement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes refreshProgressElement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes refreshProgressElement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes refreshProgressElement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes refreshProgressElement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-icon {
  width: 3em;
  vertical-align: middle;
  -webkit-user-drag: none;
  user-select: none;
  display: block;
}

.btn {
  &.in-progress {
  .btn-icon {
    animation-name: refreshProgressElement;
    -o-animation-name: refreshProgressElement;
    -ms-animation-name: refreshProgressElement;
    -webkit-animation-name: refreshProgressElement;
    -moz-animation-name: refreshProgressElement;
    animation-duration:1s;
    -o-animation-duration:1s;
    -ms-animation-duration:1s;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    }
  }
}