.contract-status-name {
  line-height: 4.95em;
  float: left;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 1.275em;
    height: 1.275em;
    border-radius: 50%;
    margin-right: 0.75em;
    margin-left: 0.5em;
    box-shadow: inset 0 0.1em 0.6em rgba(255, 255, 255, 0.5), inset 0 -0.1em 0.6em rgba(0, 0, 0, 0.2);
    left: 0;
    top: 50%;
    margin-top: -0.6em;
  }
  .contracts-list-item & {
    &:before {
      margin-left: 1em;
    }
  }
  &.contract-status-1 {
    &:before {
      background-color: #fff;
    }
  }
  &.contract-status-2 {
    &:before {
      background-color: #f7ec45;
    }
  }
  &.contract-status-3, &.contract-status-10 {
    &:before {
      background-color: #fd821a;
    }
  }
  &.contract-status-4 {
    &:before {
      background-color: #4bff15;
    }
  }
  &.contract-status-5 {
    &:before {
      background-color: #7c8580;
    }
  }
  &.contract-status-6 {
    &:before {
      background-color: #fa0202;
    }
  }
  &.contract-status-7 {
    &:before {
      background-color: #fa0202;
    }
  }
  &.contract-status-8 {
    &:before {
      background-color: #a90202;
    }
  }
  &.contract-status-9, &.contract-status-11 {
    &:before {
      background-color: #28870d;
    }
  }
}
.contract-status-text {
  margin-left: 2.775em;
  text-shadow: 0 1px 1px #fff;
  span {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.25em;
    vertical-align: middle;
  }
}
.contract-status-buttons {
  float: right;
  padding: 0.6em 0.75em;
  .btn {
    //font-size: 0.8em;
  }
}
