.contract-preview-base-font {
  font-size: 1.5em;
}
.contract-preview-grey-font-color {
  color: #B8B8B8;
}
.contract-preview-base-value {
  padding: 0.4em 0 0.4em 1.85em;
}
.contract-preview-base-value-string {
  i, span {
    vertical-align: middle;
  }
  i {
    &.icon-check_circle {
      color: $main-blue-color;
    }
    &.icon-cancel {
      color: $red-hover-color;
    }
  }
  + .contract-preview-base-value-string {
    margin-top: 0.2em;
  }
}
