.contract-status_container {
  line-height: 5.5em;
  float: left;

  &__name, &__network {
    display: block;
    line-height: 1.25em;
    vertical-align: middle;
    position: relative;
    padding-left: 2em;
    margin: 0.8em;
    span {
      display: inline-block;
      line-height: 1.25em;
      vertical-align: middle;
    }
  }
  &__name {
    span {
      font-size: 1.5em;
    }
    &:before {
      content: '';
      position: absolute;
      width: 1.275em;
      height: 1.275em;
      border-radius: 50%;
      box-shadow: inset 0 0.1em 0.6em rgba(255, 255, 255, 0.5), inset 0 -0.1em 0.6em rgba(0, 0, 0, 0.2);
      left: 0;
      top: 50%;
      margin-top: -0.6em;
    }
    &_1 {
      &:before {
        background-color: #fff;
      }
    }
    &_2 {
      &:before {
        background-color: #f7ec45;
      }
    }
    &_3, &_10, &_12 {
      &:before {
        background-color: #fd821a;
      }
    }
    &_4 {
      &:before {
        background-color: #4bff15;
      }
    }
    &_5 {
      &:before {
        background-color: #7c8580;
      }
    }
    &_6 {
      &:before {
        background-color: #fa0202;
      }
    }
    &_7 {
      &:before {
        background-color: #fa0202;
      }
    }
    &_8 {
      &:before {
        background-color: #a90202;
      }
    }
    &_9, &_11 {
      &:before {
        background-color: #28870d;
      }
    }
  }

  &__network {
    font-size: 0.8em;
    margin-left: 1.25em;
    &.in-preview {
      margin-left: -0.2em;
      margin-top: -1em;
      margin-bottom: 2em;
    }
    span {
      font-size: 1.5em;
    }
    &:before {
      position: absolute;
      width: 1em;
      height: 1em;
      content: '';
      display: inline-block;
      left: 0;
      top: 50%;
      margin-top: -0.5em;
    }
    &_1 {
      color: #03babc;
      &:before {
        transform: rotate(45deg);
        background: #03babc;
      }
    }
    &_2 {
      color: #ff3300;
      &:before {
        transform: rotate(45deg);
        background: #ff3300;
      }
    }
  }
}




.contract-status-name {
  line-height: 4.95em;
  float: left;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 1.275em;
    height: 1.275em;
    border-radius: 50%;
    margin-right: 0.75em;
    margin-left: 0.5em;
    box-shadow: inset 0 0.1em 0.6em rgba(255, 255, 255, 0.5), inset 0 -0.1em 0.6em rgba(0, 0, 0, 0.2);
    left: 0;
    top: 50%;
    margin-top: -0.6em;
  }
  .contracts-list-item & {
    &:before {
      margin-left: 1em;
    }
  }
  &.contract-status-1 {
    &:before {
      background-color: #fff;
    }
  }
  &.contract-status-2 {
    &:before {
      background-color: #f7ec45;
    }
  }
  &.contract-status-3, &.contract-status-10, &.contract-status-12 {
    &:before {
      background-color: #fd821a;
    }
  }
  &.contract-status-4 {
    &:before {
      background-color: #4bff15;
    }
  }
  &.contract-status-5 {
    &:before {
      background-color: #7c8580;
    }
  }
  &.contract-status-6 {
    &:before {
      background-color: #fa0202;
    }
  }
  &.contract-status-7 {
    &:before {
      background-color: #fa0202;
    }
  }
  &.contract-status-8 {
    &:before {
      background-color: #a90202;
    }
  }
  &.contract-status-9, &.contract-status-11 {
    &:before {
      background-color: #28870d;
    }
  }
}
.contract-status-text {
  margin-left: 2.775em;
  text-shadow: 0 1px 1px #fff;
  span {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.25em;
    vertical-align: middle;
  }
}
.contract-status-buttons {
  float: right;
  padding: 0.6em 0.75em;
  .btn {
    //font-size: 0.8em;
  }
}
