.form-control-label-checkbox {
  line-height: 2.9em;
}
.form-control-label, .form-control-label-checkbox span {
  text-shadow: 0 1px 0 #fff;
  font-size: 1.5em;
  line-height: 1.2em;
}
.form-control-label-checkbox span {
  display: inline-block;
}
.form-control-label {
  padding: 0.4em 0;
  display: block;
  &.inline-label {
    display: inline-block;
    vertical-align: middle;
  }
  &-icon {
    color: $main-blue-color;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    margin-top: -0.1em;
    width: 1.4em;
  }
  &-grey-text {
    color: #878787;
  }
}

.input-for-group-fields {
  width: 0;
  height: 0;
  border: 0 none;
  padding: 0;
  background: none;
  outline: none;
  position: absolute;
}

.form-control-description {
  text-shadow: 0 1px 0 #fff;
  padding-top: 0.1em;
  padding-bottom: 0.3em;
  &:not(.one-line) {
    line-height: 4.7em;
  }
  &.one-line {
    &:not(.without-padding) {
      padding: 0.5em 0;
    }
  }
  &.form-control-description_two-row {
    line-height: 9.5em;
  }
  &__text {
    font-size: 1.1em;
    color: #878787;
    display: inline-block;
    line-height: 1.2em;
    vertical-align: middle;
  }
}

.contract-form-fieldset {
  margin-left: -$fieldsets-padding;
  margin-right: -$fieldsets-padding;
  &:not(.without-padding) {
    padding:  0 $fieldsets-padding 1em;
  }
  &.without-padding {
    padding:  0 0 1em;
  }
  &:not(&-light) + .contract-form-fieldset:not(.contract-form-fieldset-grey) {
    border-top: 1px solid #D8D8D8;
  }
  &-grey {
    box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.05);
    background-color: #F0F0F0;
  }

  &-light {
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.15);
    background-color: #FAFAFA;
    + .contract-form-fieldset-light {
      border-top: 1px solid #D8D8D8;
    }
    &:not(.with-border) {
      border: 0 none!important;
      + .contract-form-fieldset-light {
        margin-top: 1em;
      }
    }
  }

  &:last-child {
    margin-bottom: -$fieldsets-padding;
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
  }

  &.with-min-padding {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  &.with-padding {
    padding-top: 2em;
    padding-bottom: 2em;
    &:first-child {
      margin-top: -2.5em;
    }
  }
}
.form-fieldset-info-button {
  font-size: 2em;
  color: #206EFF;
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  cursor: pointer;
}
.form-control-buttons {
  margin-top: 0.95em;
}
.field-error {
  display: none;
  color: #f91c1c;
  font-size: 1.2em;
  padding: 0.5em 0;
}
.field-success {
  color: #06b01f;
  font-size: 1.2em;
  padding: 0.5em 0;
  display: block;
}
.field-advanced-description {
  color: #A3A3A3;
  font-size: 1.2em;
  line-height: 1.4em;
  display: block;
  padding: 0.5em 1em;
}

.form-control-input, .text-field {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 1.5em;

  line-height: 1.4em;
  padding: 0.7em 1em;
  color: $black-color;

  margin-top: 0.2em;
  border-radius: 0.3em;
  outline: none;
  &.with-currency {
    padding-right: 3.5em;
  }
  &.small-input {
    margin-top: 0;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    line-height: 1.95em;
  }
  &:disabled, &[disabled] {
    background-color: #f0f0f0;
  }
  &:not(&_short) {
    width: 100%;
  }

  &-date {
    background-image: url(images/icons/calendar.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) center;
  }
  &.ng-time-picker-container {
    background-image: url(images/icons/clock.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) center;
  }
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow linear 0.1s;
  &:focus {
    box-shadow: 0 0 0.2em rgba(32, 110, 255, 0.4);
    border-color: $main-blue-color;
  }
  &[readonly="readonly"] {
    background-color: transparent;
  }
  &::-webkit-input-placeholder {color:#999;}
  &::-moz-placeholder          {color:#999;}/* Firefox 19+ */
  &:-moz-placeholder           {color:#999;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:#999;}

  form.ng-submitted &.ng-invalid, &.ng-invalid:focus, &.ng-touched.ng-invalid, &[invalid="true"] {
    &:not(:disabled), &:not([disabled]) {
      border-color: #f91c1c;
    }
    &:focus {
      box-shadow: 0 0 0.2em rgba(249, 28, 28, 0.4);
    }
    ~ {
      .field-label {
        //color: #ffa2a8;
      }
    }
    ~ .field-advanced-description {
      display: none;
    }

    &.ng-invalid-required {
      ~ .form-field_error-required {
        display: block;
        ~ .field-error {
          display: none!important;
        }
      }
    }
    &.ng-invalid-email {
      ~ {
        .form-field_error-email {
          display: block;
          ~ .field-error {
            display: none!important;
          }
        }
      }
    }
    &.ng-invalid-pattern {
      ~ {
        .form-field_error-pattern {
          display: block;
          ~ .field-error {
            display: none!important;
          }
        }
      }
    }
    &.ng-invalid-minlength {
      ~ {
        .form-field_error-minlength {
          display: block;
          ~ .field-error {
            display: none!important;
          }
        }
      }
    }

    &.ng-invalid-server {
      ~ {
        .form-field_error-server {
          display: block;
          ~ .field-error {
            display: none!important;
          }
        }
      }
    }
    &.ng-invalid-soft-cap {
      ~ {
        .form-field_error-soft-cap {
          display: block;
          ~ .field-error {
            display: none!important;
          }
        }
      }
    }
    &.ng-invalid-check-sum {
      ~ {
        .form-field_error-check-sum {
          display: block;
          ~ .field-error {
            display: none!important;
          }
        }
      }
    }

  }
}


.form-control-little {
  float: left;
  width: 6em;
  + .form-control {
    margin-left: 8em;
  }
}

.form-control {
  position: relative;
  padding-bottom: 1em;
  .input-after {
    position: absolute;
    right: 1em;
    font-size: 1.5em;
    line-height: 1em;
    display: block;
    bottom: 1.7em;
  }
  &_label {
    line-height: 4.9em;
    .form-control-label {
      display: inline-block;
      vertical-align: middle;
      line-height: 1em;
    }
  }
  &-preview-value {
    font-size: 1.4em;
  }
}

.form-control-value {
  margin-top: 0.33em;
  font-size: 3em;
  line-height: 1em;
  padding: 0.58em 0;
}
.contract-form-row {
  + .contract-form-row {
    margin-top: 1em;
  }
}
.contract-form-information-btns {
  .btn {
    &:not(.float-right) + .btn {
      margin-left: 2em;
    }
    &.float-right + .btn {
      margin-left: 0;
    }
  }
}

.contact-add-btn {
  border: 0 none;
  color: #263E5E;
  background: #fff;
  cursor: pointer;
  padding: 0 3em 0 1.1em;
  outline: none;
  font-size: 1em;
  line-height: 4.9em;
  border-radius: 2.5em;
  .contract-form-information-btns & {
    font-size: 1.3em;
    + .contact-add-btn {
      margin-left: 2em;
    }
    i {
      font-size: 2.5em;
      margin-right: 0;
    }
  }
  i {
    font-size: 3.1em;
    margin-right: 0.25em;
  }
  span {
    font-size: 1.5em;
  }
  span, i {
    display: inline-block;
    vertical-align: middle;
  }
  .contract-form-row + & {
    margin-top: 2em;
  }
}
.contact-remove-btn {
  background: none;
  border: 0 none;
  color: $main-blue-color;
  cursor: pointer;
  padding: 0;
  outline: none;
  font-size: 4.7em;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -0.5em;
  margin-right: -0.5em;
}

.form-control-date {
  position: relative;
  @extend .icon-calendar;
  &:before {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'icomoon' !important;
    font-size: 2.2em;
    margin-right: 0.65em;
    margin-bottom: 0.65em;
    z-index: 1;
  }
  input {
    position: relative;
    z-index: 2;
  }
}

.costs-info-title {
  font-size: 1.7em;
  line-height: 1.15em;
}
.costs-info-value {
  font-size: 1.8em;
  line-height: 1.15em;
  font-weight: bold;
}
.costs-info-currency {
  font-size: 2.1em;
  line-height: 1.15em;
}

.form-control-label_grey {
  vertical-align: middle;
  line-height: 3em;
  font-size: 1.4em;
  display: inline-block;
  margin-top: 0.4em;
  color: #979797;
}
.radio-button-decoration {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  overflow: hidden;
  cursor: pointer;
  span {
    font-size: 2em;
    color: $main-blue-color;
  }
  input {
    position: absolute;
    right: 100%;
    bottom: 100%;
    outline: none;
    opacity: 0;
    width: 1px;
    height: 1px;
  }
}
.checkbox-decoration {
  cursor: pointer;
  margin: 1.03em 0 0.9em;
  display: inline-block;
  position: relative;
  user-select: none;
  &.disabled {
    opacity: 0.5;
  }
  .disclaimer-btn {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
  }
  &.for-buttons-height {
    margin: 0.6em 0 0.6em;
  }
  &-val {
    color: #fff;
    position: absolute;
    font-size: 1.3em;
    line-height: 1em;
    top: 50%;
    margin-top: -0.5em;
    text-transform: uppercase;
    text-align: center;
    transition: opacity 0.1s linear;
    z-index: 2;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    &_off {
      right: 0.2em;
      left: 2em;
      opacity: 1;
      input:checked ~ .checkbox-decoration-displaying & {
        opacity: 0;
      }
    }
    &_on {
      left: 0.2em;
      right: 2em;
      opacity: 0;
      input:checked ~ .checkbox-decoration-displaying & {
        opacity: 1;
      }
    }
  }
  &-displaying {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 2.9em;
    width: 7em;
    border-radius: 1.45em;
    box-sizing: border-box;
    background-color: #c2c2c2;
    transition: all 0.1s linear;
    input:checked ~ & {
      background-color: #206eff;
    }
    input:disabled ~ & {
      opacity: 0.5;
      cursor: default;
    }
    &:after {
      content: '';
      width: 2.1em;
      height: 2.1em;
      display: block;
      position: relative;
      top: 50%;
      left: 0;
      transform: translateX(0.5em);
      margin-top: -1.05em;
      background-color: #fff;
      border-radius: 50%;
      transition: transform 0.15s;
      input:checked ~ & {
        transform: translateX(4.4em);
      }
    }
  }
  input {
    position: absolute;
    outline: none;
    right: 100%;
    bottom: 100%;
    margin: 0;
    opacity: 0;
  }
}
.form-fieldset-delimiter {
  text-align: center;
  border-top: 1px solid #ccc;
  margin-bottom: -1.5em;
  span {
    font-size: 1.5em;
    line-height: 1.2em;
    position: relative;
    top: -0.6em;
    color: #777;
    display: inline-block;
    background-color: #F4F4F4;
    padding: 0 0.5em;
  }
}
@media screen and (max-width: 480px) {
  .contract-form-information-btns {
    .btn {
      width: 100%;
      + .btn {
        margin-left: 0;
        margin-top: 2em;
      }
    }
  }
}


@media screen and (max-width: 640px) {
  .contract-form-fieldset {
    margin-left: -1.5%;
    margin-right: -1.5%;
    &:not(.without-padding) {
      padding: 1em 1.5%!important;
    }
    &.without-padding {
      padding:  1em 0;
    }
    &:last-child {
      margin-bottom: -1em;
    }
    &.with-padding {
      &:first-child {
        margin-top: -1em;
      }
    }
  }
}

.hidden-input {
  display: none;
}