.main-header-holder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 1em;
  background-color: $main-color;
  color: #fff;
  &:after, &:before {
    content: '';
    display: table;
    width: 100%;
  }
}
.header-menu-trigger {
  background: none;
  border: 0 none;
  font-size: 2.8em;
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
  float: left;
  margin: 0 0.5em 0 0;
  color: #fff;
  i {
    display: block;
    margin-top: -0.05em;
  }
}
.header-title {
  line-height: 1.5em;
  font-size: 1.6em;
  font-weight: 500;
  display: block;
  margin-right: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-balance {
  float: left;
  margin: -1em 0;
  font-size: 0.84em;
  &-title {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-size: 1.8em!important;
  }
  &-value {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 0.7em 0 0;
    &_input {
      z-index: 2;
      position: relative;
      &.form-control-input {
        font-size: 1.765em;
        min-width: 9em;
        padding-left: 2.5em;
        padding-right: 2.5em;
        background-color: transparent;
      }
    }
  }
  &-icon {
    position: absolute;
    left: 0.4em;
    top: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    font-size: 2em;
    &.icon-eosish-logo {
      left: 0.2em;
      font-size: 3em;
    }
  }
  &-refresh {
    &.btn {
      position: absolute;
      top: 50%;
      right: 0.2em;
      padding: 0!important;
      line-height: 1em;
      height: auto;
      font-size: 3em;
      margin-top: -0.5em;
      border: 0 none;
      z-index: 3;
      .refresh-icon {
        width: 1em;
        height: 1em;
      }
    }
  }
  &-buy {

  }
}
@media screen and (min-width: 1025px) {
  .main-header-holder {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .user-balance {
    font-size: 0.8em;
  }
}

