$fieldsets-padding: 2.5em;


.main-content-holder {
  margin-left: 25.5em;
  color: $main-blue-color;
  padding-top: 5.6em;
  max-width: 72em;
  position: relative;
  z-index: 1;
  &:after, &:before {
    display: table;
    width: 100%;
    content: '';
  }
}
.main-wrapper-section {
  float: left;
  width: 100%;
  &:after, &:before {
    content: '';
    clear: both;
    display: block;
  }
}
.main-section-content {
  padding: 2em 4.3%;
  &.with-tabs {
    .main-section-chapter-fieldset {
      border-top-left-radius: 0;
    }
  }
}
.content-section-title {
  font-size: 1.8em;
  margin-bottom: 1em;
  font-weight: normal;
  i {
    display: inline-block;
    vertical-align: bottom;
    &:before {
      font-size: 2em;
      vertical-align: middle;
      margin-right: 0.3em;
    }
  }
}
a.main-section-chapter {
  display: block;
  &, &:hover, &:focus {
    text-decoration: none;
  }
}
.main-section-chapter {

  &.no-active {
    > *:not(.help-block) {
      opacity: 0.3;
    }
    position: relative;
    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 3;
    }
  }
  + .main-section-chapter {
    margin-top: 3em;
  }
}


.main-section-chapter-fieldset {
  &:not(.custom-fieldset) {
    background-color: $blocks-background;
    box-shadow: 0 0.4em 3em rgba(0, 0, 0, 0.25);
  }
  color: $black-color;
  padding: $fieldsets-padding;
  border-radius: 0.9em;
  position: relative;
  &-error-info {
    background-color: #fff;
    p {
      color: #707070;
      font-size: 1.1em;
      margin: 0;
      line-height: 1.4em;
    }
    .icon-attention {
      font-size: 1.9em;
      + p {
        margin-top: 1em;
      }
    }
  }
  + .main-section-chapter-fieldset {
    margin-top: 3em;
  }
}

.main-section-chapter-title {
  margin-left: -$fieldsets-padding;
  display: inline-block;
  background-color: $main-blue-color;
  border-top-right-radius: 2.8em;
  border-bottom-right-radius: 2.8em;
  color: #fff;
  padding: 1.35em 2.5em 1.35em 1.6em;
  margin-bottom: 2em;
  &_icon, &_text {
    display: inline-block;
    vertical-align: middle;
  }
  &_text {
    font-size: 2.3em;
  }
  &_icon {
    font-size: 2.8em;
    margin-right: 0.5em;
  }
}

.pre-release-information {
  display: block;
  border-bottom: 1px solid #5D5D7D;
  left: 25.5em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  color: $black-color;
  &-container {
    position: relative;
    padding: 1.8em 0;
    text-align: center;
    background-color: $white-color;
    z-index:3;
  }
  &:after {
    display: block;
    background-color: #206EFF;
    box-shadow: 0 0 1px #206EFF;
    height: 2px;
    margin-bottom: -3px;
    border-radius: 2px;
    position: relative;
    float: left;
    content: '';
    opacity: 0;
    width: 0;
    transition-property: opacity;
    transition-delay: 0.5s;
  }
  &.start-loading {
    &:after {
      transition: width linear 3s;
      opacity: 0.8;
      width: 99%;
    }
  }
  &.finish-loading {
    &:after {
      opacity: 0.8;
      transition: all linear 0.1s;
      transition-delay: 0s;
      width: 100%;
    }
  }

  span {
    font-size: 1.35em;
    &.red {
      color: #FF0707;
    }
  }
  .main-content-holder {
    padding: 0;
    margin-left: 0;
  }
  .main-section-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .profile-buttons {
    margin: -0.7em 0;
    font-size: 0.84em;
    white-space: nowrap;
    .btn {
      + .btn {
        margin-left: 1em;
      }
    }
  }
  &:after {

  }
}

.costs-info-block {
  color: $main-blue-color;
  margin-bottom: 2em;
  //line-height: 1.15em;
  .costs-info-title, .costs-info-value, .costs-info-currency {
    display: inline-block;
    vertical-align: middle;
  }
  .costs-info-title {
    font-size: 1.7em;
  }
  .costs-info-value, .costs-info-currency {
    font-size: 1.8em;
    font-weight: bold;
  }
}

@media screen and (max-width: 1024px) {
  .main-content-holder {
    margin-left: 0;
    padding-top: 12.5em;
  }
  .pre-release-information {
    left: 0;
    top: 6.2em;
  }
  .main-menu-holder {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .main-section-chapter-fieldset {
    padding: 1.5em;
  }
  .main-section-chapter-title {
    margin-left: -1.875em;
    font-size: 0.8em;
  }
}
