$fieldsets-padding: 2.5em;

main.main-content-holder {
  padding-bottom: 6em;
}
.main-content-holder {
  margin-left: 25.5em;
  color: $main-blue-color;
  padding-top: 5.6em;
  max-width: 72em;
  position: relative;
  z-index: 1;
  &:after, &:before {
    display: table;
    width: 100%;
    content: '';
  }
  + .main-content-holder {
    padding-top: 0;
  }
}
.main-wrapper-section {
  float: left;
  width: 100%;
  &:after, &:before {
    content: '';
    clear: both;
    display: block;
  }
}
.main-section-content {
  padding: 2em 4.3%;
  &.without-bottom-padding {
    padding-bottom: 0;
  }
}

.main-section-chapter-fieldset {
  padding: $fieldsets-padding;
  border-radius: 0.9em;
  position: relative;
}


.pre-release-information {
  display: block;
  border-bottom: 1px solid #5D5D7D;
  left: 25.5em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  color: $black-color;
  min-width: 320px;
  &-container {
    position: relative;
    padding: 1.8em 0;
    text-align: center;
    background-color: $white-color;
    z-index:3;
  }
  &:after {
    display: block;
    background-color: #206EFF;
    box-shadow: 0 0 1px #206EFF;
    height: 2px;
    margin-bottom: -3px;
    border-radius: 2px;
    position: relative;
    float: left;
    content: '';
    opacity: 0;
    width: 0;
    transition-property: opacity;
    transition-delay: 0.5s;
  }
  &.start-loading {
    &:after {
      transition: width linear 3s;
      opacity: 0.8;
      width: 99%;
    }
  }
  &.finish-loading {
    &:after {
      opacity: 0.8;
      transition: all linear 0.1s;
      transition-delay: 0s;
      width: 100%;
    }
  }

  span {
    font-size: 1.35em;
    &.red {
      color: #FF0707;
    }
  }
  .main-content-holder {
    padding: 0;
    margin-left: 0;
  }
  .main-section-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .profile-buttons {
    margin: -0.7em 0;
    font-size: 0.84em;
    white-space: nowrap;
    .btn {
      + .btn {
        margin-left: 1em;
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  .main-content-holder {
    margin-left: 0;
    padding-top: 10em;
  }
  .pre-release-information {
    left: 0;
    top: 4.6em;
  }
  .pre-release-information-container {
    padding: 1.4em 0;
  }
}

@media screen and (max-width: 640px) {
  .main-section-chapter-fieldset {
    padding: 1em 1.5%;
  }
  .main-section-content {
    padding: 0.4em 1.5% 1em;
  }
}
