.main-menu-holder {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 22.5em;
  background-color: #206EFF;
}
.main-menu-wrapper {
  height: 100%;
  position: relative;
  float: left;
  width: 100%;
}
.main-menu-logo {
  display: block;
  margin: 1.35em auto 1.35em 2.55em;
  width: 16.5em;
  &:after, &:before {
    display: table;
    content: '';
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
  }
}
.main-menu-navigator {
  position: absolute;
  top: 6.525em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;

  a {
    &.no-active {
      opacity: 0.3;
      cursor: default;
    }
  }
}
.main-menu-settings-menu, .main-menu-global-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    display: block;
    margin: 0;
    padding: 0;
  }
  a, .as_menu_link {
    color: #fff;
    display: block;
    padding-left: 5.925em;
    padding-right: 1em;

    &.active {
      background-color: #fff!important;
      color: $main-blue-color;
    }
    &, &:hover, &:focus {
      text-decoration: none;
    }
    span {
      display: block;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.35em;
    }
    i {
      float: left;
      margin-left: -3.375em;
    }
  }
}

.main-menu-global-menu {
  a, .as_menu_link {
    line-height: 2.625em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    margin-left: 1em;
    padding-left: 5em;
    border-top-left-radius: 2.8em;
    border-bottom-left-radius: 2.8em;
  }
  a {
    &:not(.no-active) {
      &:hover, &:focus {
        background-color: #4d97f4;
      }
    }
  }
  i {
    &:before {
      font-size: 2.625em;
    }
  }
}
.menu-trigger-btn {
  padding: 1.6em;
  display: none;
}
@media screen and (max-width: 1024px) {
  .menu-trigger-btn {
    display: inline-block;
    vertical-align: middle;
  }
  .main-menu-logo {
    display: inline-block;
    width: 12em;
    vertical-align: middle;
    margin: 0;
  }
  //.main-menu-navigator {
  //  top: 6.2em;
  //}
  body {
    &.with-menu {
      overflow: hidden;
      &:after {
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        content: '';
        background-color: rgba(255, 255, 255, 0.7);
      }
      .main-menu-holder {
        display: block;
        z-index: 4;
      }
    }
  }
}

