.release-version {
  position: absolute;
  bottom: 0;
  font-size: 1.2em;
  padding: 1em;
  text-align: center;
  left: 0;
  color: #fff;
}
.main-menu-holder {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25.5em;
  transition: margin-left 0.2s;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.2);
  background-color: $main-color;
  @if ($env =='tron') {
    //background: linear-gradient(to right, #c03634, #842523);
  }
}
.main-menu-wrapper {
  height: 100%;
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 3em;
}
.main-menu-logo {
  display: block;
  margin: 1.35em auto 0 2em;
  width: 16.5em;
  &:after, &:before {
    display: table;
    content: '';
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
  }
}
.main-menu-navigator {
  position: absolute;
  padding-top: 2.45em;
  top: 4em;
  bottom: 3.75em;
  left: 0;
  right: 0;
  overflow: auto;

  a {
    &.no-active {
      opacity: 0.3;
      cursor: default;
    }
  }
}
.main-menu-settings-menu, .main-menu-global-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: visible;
  li {
    display: block;
    padding: 0;
    overflow: visible;
    position: relative;
    margin: 0 0 0 1em;
    &:hover {
      z-index: 1;
    }

    &.active + li:hover {
      border-top-right-radius: 0.9em;
      z-index: 3;
    }

    &:not(.no-active) {
      &:hover {
        background-color: $menu-hover-color;
      }
      &:hover + .active {
        &:after {
          background-color: $menu-hover-color;
        }
      }
    }
    &, a, .as_menu_link {
      border-top-left-radius: 2.8em;
      border-bottom-left-radius: 2.8em;
    }
    &.active {
      z-index: 2;
      background-color: #fff!important;
      &:after, &:before {
        position: absolute;
        content: '';
        display: block;
        width: 1.8em;
        height: 1.8em;
        background-color: $main-color;

        @if ($env =='tron') {
          //background: #842523;
        }
        right: 0;
        z-index: 2;
      }
      &:after {
        bottom: 100%;
        border-bottom-right-radius: 0.9em;
      }
      &:before {
        top: 100%;
        border-top-right-radius: 0.9em;
      }


      a, .as_menu_link {
        color: $main-color;
        margin-right: 1.8em;
        box-shadow: inset 1px 0 2px rgba(0, 0, 0, 0.15);
        text-shadow: initial;
        &:after, &:before {
          position: absolute;
          content: '';
          display: block;
          width: 1.8em;
          height: 1.8em;
          background-color: #fff;
          left: 100%;
        }
        &:after {
          bottom: 100%;
        }
        &:before {
          top: 100%;
        }
      }
    }
  }
  a, .as_menu_link {
    color: #fff;
    display: block;
    padding-left: 5.925em;
    padding-right: 1em;
    position: relative;
    overflow: visible;
    z-index: 1;

    &, &:hover, &:focus {
      text-decoration: none;
    }
    span {
      display: block;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.5em;
    }
    i {
      float: left;
      margin-left: -3.375em;
    }
  }
}

.main-menu-global-menu {
  a, .as_menu_link {
    line-height: 2.625em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 5em;


  }
  a {
  }
  i {
    &:before {
      font-size: 2.625em;
    }
  }
}
.menu-trigger-btn {
  padding: 1em;
  display: none;
}
@media screen and (max-width: 1024px) {
  .menu-trigger-btn {
    display: inline-block;
    vertical-align: middle;
  }
  .main-menu-global-menu li ,.main-menu-global-menu a, .main-menu-global-menu .as_menu_link {
    margin-left: 0;
  }
  .main-menu-global-menu li {
    &.active, &:hover {
      a {
        box-shadow: initial;
      }
      &, a {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:after, &:before {
          content: initial;
        }
      }
    }
  }
  .main-menu-logo {
    display: inline-block;
    width: 12em;
    vertical-align: middle;
    margin: 0;
  }
  //.main-menu-navigator {
  //  top: 6.2em;
  //}

  .main-menu-holder {
    margin-left: -25.5em;
    z-index: 4;
  }
  body {
    &:after {
      position: fixed;
      z-index: 3;
      left: 0;
      top: 0;
      right: 0;
      content: '';
      background-color: rgba(255, 255, 255, 0);
      transform: translateZ(0);
      transition: background-color 0.2s, ;
    }
    &.with-menu {
      overflow: hidden;
      &:after {
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.7);
      }
      .main-menu-holder {
        margin-left: 0;
      }
    }
  }
}

.language-switcher {
  position: absolute;
  bottom: 0;
  font-size: 1.2em;
  padding: 1em;
  right: 0;
  text-align: center;
  &__icon {
    height: 1.8em;
    margin-right: 0.3em;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    img {
      height: 100%;
      overflow: visible;
      display: block;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.5), inset 0 -3px 5px rgba(0, 0, 0, 0.4);
    }
  }
  &__name {
    color: #fff;
    vertical-align: middle;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}