.preloader-container {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
.preloader-circle {
  background-color:rgb(255,255,255);
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  width: 1em;
  margin-left: 0.5em;
  animation-name:bounce_circleG;
  -o-animation-name:bounce_circleG;
  -ms-animation-name:bounce_circleG;
  -webkit-animation-name:bounce_circleG;
  -moz-animation-name:bounce_circleG;
  animation-duration:2.24s;
  -o-animation-duration:2.24s;
  -ms-animation-duration:2.24s;
  -webkit-animation-duration:2.24s;
  -moz-animation-duration:2.24s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  border-radius:20px;
  -o-border-radius:20px;
  -ms-border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
}

.preloader-circle-1 {
  animation-delay:0.45s;
  -o-animation-delay:0.45s;
  -ms-animation-delay:0.45s;
  -webkit-animation-delay:0.45s;
  -moz-animation-delay:0.45s;
}
.preloader-circle-2 {
  animation-delay:1.05s;
  -o-animation-delay:1.05s;
  -ms-animation-delay:1.05s;
  -webkit-animation-delay:1.05s;
  -moz-animation-delay:1.05s;
}
.preloader-circle-3 {
  animation-delay:1.35s;
  -o-animation-delay:1.35s;
  -ms-animation-delay:1.35s;
  -webkit-animation-delay:1.35s;
  -moz-animation-delay:1.35s;
}


@keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgba(0,0,0, 0);
  }

  100%{}
}

@-o-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgba(0,0,0, 0);
  }

  100%{}
}

@-ms-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgba(0,0,0, 0);
  }

  100%{}
}

@-webkit-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgba(0,0,0, 0);
  }

  100%{}
}

@-moz-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgba(0,0,0, 0);
  }

  100%{}
}



.refresh-in-progress {

  animation-name: refreshProgress;
  -o-animation-name: refreshProgress;
  -ms-animation-name: refreshProgress;
  -webkit-animation-name: refreshProgress;
  -moz-animation-name: refreshProgress;
  //animation-duration:2.24s;
  //-o-animation-duration:2.24s;
  //-ms-animation-duration:2.24s;
  //-webkit-animation-duration:2.24s;
  //-moz-animation-duration:2.24s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
}

@keyframes refreshProgress {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes refreshProgress {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes refreshProgress {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes refreshProgress {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes refreshProgress {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}