.simple-form_title {
  font-size: 2.4em;
  font-weight: 500;
}
.simple-form_text {
  font-size: 1.4em;
  margin-top: 1em;
}
.simple-form-chapter {
  position: relative;
  z-index: 2;
  margin-bottom: -0.9em;
}

.simple-form-wrapper {
  display: table;
  width: 100%;
  .btn-submit {
    float: right;
  }
}
.simple-form-buttons-container {
  margin-top: 1em;
}
.simple-form-field-row {
  display: table-row;
}
.simple-form-field-label, .simple-form-field-input {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 0;
}
.simple-form-field-label {
  font-size: 1.6em;
  padding-right: 1em;
  color: $black-color;
}
.simple-form-field-input {
  textarea {
    resize: vertical;
    height: 8em;
  }
}

@media screen and (max-width: 480px) {
  .simple-form-wrapper, .simple-form-field-row, .simple-form-field-label, .simple-form-field-input {
    display: block;
  }
  .simple-form-field-input {
    padding: 0;
  }
  .simple-form-field-row {
    + .simple-form-field-row {
      margin-top: 1em;
    }
  }
  .simple-form-field-label {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 440px) {
  .simple-form-mobile-hidden {
    display: none;
  }
  .simple-form-wrapper {
    .btn {
      width: 44%;
      display: block;
      + .btn {
        margin-top: 1em;
      }
    }
  }
  .simple-form-buttons-container {
    margin-top: 0;
  }
}

