.adaptive-table {
  display: table;
  border-spacing: 0 1em;
  width: 100%;
  &-row {
    display: table-row;
  }
  &-cell {
    display: table-cell;
    padding: 0 1em;
  }
  &-body-row {
    border-radius: 0.75em;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.15);
    .adaptive-table-cell {
      background-color: #fff;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      &:first-child {
        border-top-left-radius: 0.75em;
        border-bottom-left-radius: 0.75em;
      }
      &:last-child {
        border-top-right-radius: 0.75em;
        border-bottom-right-radius: 0.75em;
      }
    }
  }
}