<div class="shadow-block bonus">
    <div class="shadow-block__content shadow-block__content_no-lr-padding">
        <div class="bonus-container">
            <div class="bonus-logo">
                <img src="/static/images/my_wish_logo_popup.svg" alt="MyWish">
            </div>
            <div class="bonus-title">
                <img class="bonus-checked" src="static/images/checked.svg" alt="checked">
                <span>Testnet contract created</span>
            </div>
            <div class="bonus-text">
                <span class="bonus-text-title">Dear User,</span>
                <span class="bonus-text-description">
                    Congrats on your first contract created on MyWish!
                    We hope your user experience went well and are looking forward to creating a new contract for you.
                    Check a bonus added to your user balance for the best experience with a mainnet deployment.
                </span>
                <div class="bonus-text-added">
                    250 $WISH are added <br/>to your user account's balance<br />
                    Don't forget to use them
                </div>
            </div>
            
        </div>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding no-border text-center">
        <button class="btn btn-transparent" ng-click="closeCurrentPopup()" type="button">
            <span>&nbsp;&nbsp;&nbsp;{{'OK'|translate}}&nbsp;&nbsp;&nbsp;</span>
        </button><br/><br/>
    </div>
</div>
