.popup-window-holder {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  min-width: 32em;
}
.popup-window-wrapper {
  position: relative;
  float: left;
  width: 100%;
  min-height: 100%;
}
.popup-window {
  width: 90%;
  max-width: 66em;
  height: auto;
  position: relative;
  margin-left: -45%;
  padding: 0;
  box-sizing: border-box;
  left: 50%;
  z-index: 3;
}

.new-popup-content, .popup-content {
  background-color: $blocks-background;
  box-shadow: 0 0.4em 3em rgba(0, 0, 0, 0.25);
  transform: scale(0.9) translateZ(0);
  transition: transform cubic-bezier(0, 2, 1, 1) 0.2s;
  border-radius: 0.9em;
  position: relative;
  &.popup-normalize {
    transform: scale(1) translateZ(0);
  }
}

.popup-window-content-buttons {
  padding-top: 2.7em;
  white-space: nowrap;
  .button {
    padding-left: 3em;
    padding-right: 3em;
    + .button {
      margin-left: 2em;
    }
  }
}

.popup-window-closer {
  @extend .icon-cancel;
  font-family: 'icomoon' !important;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  color: $main-blue-color;
  cursor: pointer;
  font-size: 4em;
  transition: all linear 0.1s;
  transform: scale(1);
  z-index: 2;
  &:hover {
    transform: scale(1.1);
  }
}
.popup-window-content-text {
  font-size: 2.4em;
  line-height: 1.125em;
  p {
    font-size: 0.75em;
  }
}

.popup-window-closer-global {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  &.with-popup {
    display: block;
  }
}

@media screen and (min-width: 733px) {
  .popup-window {
    margin-left: -330px;
  }
}
@media screen and (max-width: 481px) {
  .popup-window-wrapper {
    &:not(.deleting-contract-wrapper) {
      height: 100%;
    }
  }
  .popup-window {
    width: 100%;
    margin-left: -50%;
    height: 100%;
    overflow: auto;
    padding-bottom: 9em!important;
    margin-bottom: 0!important;
    .contract-popup-wrapper {
      height: 100%;
    }
    &:not(.deleting-contract) {
      margin-top: 0!important;
      border-radius: 0;
    }
  }
  .popup-window-closer {
    font-size: 3em;
    right: 0;
    top: 0;
  }
}


