.ng-time-picker {

  &-values-list,
  &-label,
  &-delimiter,
  &-value-group {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0;
  }
  &-delimiter, &-value-group {
    vertical-align: baseline;
  }
  &-value-group {
    padding: 0.5em 0.3em 0.5em 1.3em;
    margin: -0.6em -0.3em -0.6em -1.3em;
    cursor: pointer;
    &:last-child {
      margin-left: -0.7em;
      padding-left: 0.6em;
      margin-right: -1.5em;
      padding-right: 1.3em;
    }
  }
  &-values-list {
    &-container {
      height: 2em;
      overflow: hidden;
      display: block;
      position: relative;
      &:after, &:before {
        position: absolute;
        left: 0;
        right: 0;
        height: 0.5em;
        content: '';
        z-index: 1;
      }
      &:after {
        top: 0;
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
      }
      &:before {
        bottom: 0;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
      }
    }
    &-items {
      display: block;
      transition: margin 0.2s;
    }
  }
  &-control {
    height: 0;
    overflow: hidden;
    display: block;
    line-height: 1em;
    color: $main-blue-color;
    opacity: 0.6;
    cursor: pointer;
    &:before {
      font-size: 1.4em;
    }
    &:hover {
      opacity: 1;
    }
  }
  &-value {
    display: block;
    text-align: center;
    color: #000;
    height: 2em;
    line-height: 2em;
  }
  &-label,
  &-delimiter {
    color: #757575;
  }
  &-input {
    //position: absolute;
    bottom: 100%;
    right: 100%;
    border: 0 none;
    width: 1px;
    height: 1px;
    opacity: 0;
    outline: none;
    //top: -30px;
    float: left;
  }
  &-input:focus + &-value-group {
    //background-color: #f0f0f0;
    .ng-time-picker-value-active {
      transform: scale(1.2);
    }
  }
  &-container {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    width: auto!important;
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &.activated {
      cursor: default;
      border-color: transparent;
      padding-left: 1.2em;
      padding-right: 1.2em;
      margin: -0.8em -0.2em -1em;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
      .ng-time-picker-control {
        height: 1em;
        text-align: center;
      }
    }
    &[disabled] {
      cursor: default;
      .ng-time-picker-input {
        visibility: hidden;
      }

      .ng-time-picker-value-group {
        cursor: default;
      }
      .ng-time-picker-values-list-container {
        &:before, &:after {
          content: none;
        }
      }
    }
  }
}
