.ng-times-bonus-chart {
  //border-radius: 0.8em;
  margin-top: 1em;
  width: 100%;
  &-bonus_legend {
    background: -moz-linear-gradient(left,  rgba(32,110,255,0) 0%, rgba(32,110,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(32,110,255,0) 0%,rgba(32,110,255,1) 100%);
    background: linear-gradient(to right,  rgba(32,110,255,0) 0%,rgba(32,110,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00206eff', endColorstr='#206eff',GradientType=1 );
    border: 1px solid #d0d0d0;
    height: 15px;
    margin-top: 20px;
  }
  polygon {
    vector-effect: non-scaling-stroke;
  }
}