<div class="contract-preview-tabs" ng-init="contract.showedTab = 'info'; details = contract.contract_details;">
    <div class="contract-preview-one-tab"
         ng-click="contract.showedTab = 'info'"
         ng-class="{'active': contract.showedTab == 'info'}">
        <span>Preview</span>
    </div>
    <div class="contract-preview-one-tab"
         ng-click="contract.showedTab = 'code'"
         ng-class="{'active': contract.showedTab == 'code'}">
        <span>Source</span>
    </div>
    <!-- div class="contract-preview-one-tab"
         ng-click="contract.showedTab = 'description'"
         ng-class="{'active': contract.showedTab == 'description'}">
        <span>Description</span>
    </div -->
</div>

<div ng-if="contract.showedTab == 'info'">
    <div class="main-section-chapter">
        <div class="main-section-chapter-fieldset">
            <div class="contract-form-fieldset with-border" ng-include="'/templates/common/contracts/preview-title.html'"></div>
            <div class="contract-form-fieldset with-border" ng-if="(stateValue == 4) && details.eth_contract_crowdsale.address">
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1">
                        <div class="form-control-label">Crowdsale contract (All contributions shall be sent to this address)</div>
                        <br class="show-ls"/>
                        <span class="identicon-container">
                            <img class="identicon-image" ng-src="{{$root.generateIdenticon(details.eth_contract_crowdsale.address)}}"/>
                        </span>
                        <div class="contract-wallet-information-wallet">
                            <a href="https://etherscan.io/address/{{details.eth_contract_crowdsale.address}}"
                               target="_blank"
                               ng-bind="details.eth_contract_crowdsale.address"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contract-form-fieldset with-border" ng-if="(stateValue == 4) && details.eth_contract_token.address">
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1">
                        <div class="form-control-label">Token address</div>
                        <br class="show-ls"/>
                        <span class="identicon-container">
                        <img class="identicon-image" ng-src="{{$root.generateIdenticon(details.eth_contract_token.address)}}"/>
                    </span>
                        <div class="contract-wallet-information-wallet">
                            <a href="https://etherscan.io/address/{{details.eth_contract_token.address}}"
                               target="_blank"
                               ng-bind="details.eth_contract_token.address"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--- Base token info --->
            <div class="contract-form-fieldset with-border clearfix with-padding">
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                        <div class="contract-preview-base-font">
                            <span class="contract-preview-grey-font-color">Token name:</span><br/>
                            {{ contract.contract_details.token_name }}
                        </div>
                    </div>
                    <div class="clearfix show-ls"><br/></div>
                    <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                        <div class="contract-preview-base-font">
                            <span class="contract-preview-grey-font-color">Token symbol:</span><br/>
                            {{ contract.contract_details.token_short_name }}
                        </div>
                    </div>
                    <div class="clearfix"><br/></div>
                    <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                        <div class="contract-preview-base-font">
                            <span class="contract-preview-grey-font-color">Decimals:</span><br/>
                            {{ contract.contract_details.decimals }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- ICO info -->
            <div class="contract-form-fieldset contract-form-fieldset-grey with-padding">
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1">
                        <div class="form-control-label">
                            <i class="icon-bitcoin-exchange-rate-symbol form-control-label-icon"></i>
                            Token rate
                        </div>
                        <div class="contract-preview-base-font contract-preview-base-value">
                            {{details.rate|separateNumber}}
                            {{details.token_short_name}} = 1ETH
                        </div>
                    </div>
                    <div class="clearfix"><br/></div>
                    <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                        <div class="form-control-label">
                            <i class="icon-hard-cap form-control-label-icon"></i>
                            Hard cap tokens
                        </div>
                        <div class="contract-preview-base-font contract-preview-base-value">
                            <div class="contract-preview-base-value-string">
                                {{details.hard_cap|separateNumber}}
                                {{details.token_short_name}}
                            </div>
                            <div class="contract-preview-grey-font-color contract-preview-base-value-string">
                                {{details.hard_cap_eth|separateNumber}} ETH
                            </div>
                        </div>
                    </div>
                    <div class="clearfix show-ls"><br/></div>
                    <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                        <div class="form-control-label">
                            <i class="icon-soft-cap form-control-label-icon"></i>
                            Soft cap tokens
                        </div>
                        <div class="contract-preview-base-font contract-preview-base-value">
                            <div class="contract-preview-base-value-string">
                                {{details.soft_cap|separateNumber}}
                                {{details.token_short_name}}
                            </div>
                            <div class="contract-preview-grey-font-color contract-preview-base-value-string">
                                {{details.soft_cap_eth|separateNumber}} ETH
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"><br></div>
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                        <div class="form-control-label">
                            <i class="icon-waiting-2 form-control-label-icon"></i>
                            Start date
                        </div>
                        <div class="contract-preview-base-font contract-preview-base-value">
                            <div class="contract-preview-base-value-string">
                                {{details.start_date * 1000 | date : 'yyyy-MM-dd&nbsp;&nbsp;h:mm a'}}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix show-ls"><br/></div>
                    <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                        <div class="form-control-label">
                            <i class="icon-waiting-1 form-control-label-icon"></i>
                            Finish date
                        </div>
                        <div class="contract-preview-base-font contract-preview-base-value">
                            <div class="contract-preview-base-value-string">
                                {{details.stop_date * 1000 | date : 'yyyy-MM-dd&nbsp;&nbsp;h:mm a'}}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"><br/></div>
                    <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                        <div class="form-control-label">
                            <i class="icon-padlock form-control-label-icon"></i>
                            Transferable
                        </div>
                        <div class="contract-preview-base-font contract-preview-base-value">
                            <div class="contract-preview-base-value-string te">
                                <i ng-class="{'icon-check_circle': details.is_transferable_at_once, 'icon-cancel': !details.is_transferable_at_once}"></i>
                                <span ng-if="details.is_transferable_at_once">YES</span>
                                <span ng-if="!details.is_transferable_at_once">NO</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix show-ls"><br/></div>
                    <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                        <div class="form-control-label">
                            <i class="icon-settings form-control-label-icon"></i>
                            Finalize auto
                        </div>
                        <div class="contract-preview-base-font contract-preview-base-value">
                            <div class="contract-preview-base-value-string">
                                <i ng-class="{'icon-check_circle': details.platform_as_admin, 'icon-cancel': !details.platform_as_admin}"></i>
                                <span ng-if="details.platform_as_admin">YES</span>
                                <span ng-if="!details.platform_as_admin">NO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Time bonuses -->
            <div class="contract-form-fieldset with-padding with-border contract-form-fieldset-light"
                 ng-repeat="bonus in details.time_bonuses">
                <div class="main-section-chapter-title" ng-if="!$index">
                    <i class="main-section-chapter-title_icon icon-percentage"></i>
                    <span class="main-section-chapter-title_text">Time bonuses</span>
                </div>
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1">
                        <div class="form-control-label">
                            <span class="bold">Bonus:&nbsp;</span>{{bonus.bonus}}%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span ng-if="bonus.min_amount && bonus.max_amount">Sold&nbsp;token&nbsp;bonus&nbsp;&nbsp;<i class="small icon-tick pay-count"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span ng-if="bonus.min_time && bonus.max_time">Time&nbsp;bonus&nbsp;&nbsp;<i class="small icon-tick main-blue-color"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-1" ng-if="bonus.min_amount && bonus.max_amount">
                        <div class="form-control-label">
                            <span class="bold">Tokens from&nbsp;</span>{{bonus.min_amount|separateNumber}}&nbsp;{{details.token_short_name}}&nbsp;
                            <img src="/static/images/right-arrow.svg" alt="">
                            &nbsp;<span class="bold">Tokens to&nbsp;</span>{{bonus.max_amount|separateNumber}}&nbsp;{{details.token_short_name}}
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-1" ng-if="bonus.min_time && bonus.max_time">
                        <div class="form-control-label">
                            <span class="bold">Date&nbsp;from&nbsp;</span>{{bonus.min_time|date:'yyyy-MM-dd&nbsp;HH:mm'}}&nbsp;
                            <img src="/static/images/right-arrow.svg" alt="">
                            &nbsp;<span class="bold">Date&nbsp;to&nbsp;</span>{{bonus.max_time|date:'yyyy-MM-dd HH:mm'}}
                        </div>
                    </div>
                </div>
            </div><br/><br/>
            <div class="contract-form-fieldset contract-form-fieldset-grey with-padding" ng-if="timeBonusChartData.length">
                <div ng-times-bonus-chart="{data: timeBonusChartData, params: timeBonusChartParams}"></div>
            </div>
            <!-- Amount bonuses -->
            <div class="contract-form-fieldset with-padding with-border contract-form-fieldset-light"
                 ng-repeat="bonus in details.amount_bonuses">

                <div class="main-section-chapter-title" ng-if="!$index">
                    <i class="main-section-chapter-title_icon icon-percentage"></i>
                    <span class="main-section-chapter-title_text">Amount bonuses</span>
                </div>
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1">
                        <div class="form-control-label">
                            <span class="bold">Bonus:&nbsp;</span>{{bonus.bonus}}%
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-1">
                        <div class="form-control-label">
                            <span class="bold">Min amount&nbsp;</span>{{bonus.min_amount|separateNumber}}&nbsp;ETH&nbsp;
                            <img src="/static/images/right-arrow.svg" alt="">
                            &nbsp;<span class="bold">Max amount&nbsp;</span>{{bonus.max_amount|separateNumber}}&nbsp;ETH
                        </div>
                    </div>
                </div>
            </div><br/><br/>
            <div class="contract-form-fieldset contract-form-fieldset-grey with-padding" ng-if="amountBonusChartData.length">
                <div ng-bar-chart="{data: amountBonusChartData}"></div>
            </div>

            <!-- Holders info -->
            <div class="contract-form-fieldset with-padding">
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1">
                        <div class="form-control-label">
                            <i class="icon-wallet form-control-label-icon"></i>
                            Investments Storage Address
                        </div>
                        <br class="show-ls"/>
                        <span class="identicon-container">
                            <img class="identicon-image" ng-src="{{generateIdenticon(details.admin_address)}}"/>
                        </span>
                        <div class="contract-wallet-information-wallet">
                            <a href="https://etherscan.io/address/{{details.admin_address}}"
                               target="_blank"
                               ng-bind="details.admin_address"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contract-form-fieldset with-padding contract-form-fieldset-light" ng-repeat="holder in details.token_holders">

                <div class="form-control-label bold">Address</div>
                <br class="show-ls"/>
                <span class="identicon-container">
                    <img class="identicon-image" ng-src="{{generateIdenticon(holder.address)}}"/>
                </span>
                <div class="contract-wallet-information-wallet">
                    <a href="https://etherscan.io/address/{{holder.address}}"
                       target="_blank"
                       ng-bind="holder.address"></a>
                </div>
                <div class="grid-row">
                    <div class="grid-cell grid-cell-2-5 grid-cell-ps-1-2 grid-cell-vs-1">
                        <div class="form-control-label bold">Name</div>
                        <div class="form-control-preview-value">{{holder.name || '-'}}</div>
                    </div>
                    <div class="clearfix show-vs"><br/></div>
                    <div class="grid-cell grid-cell-2-5 grid-cell-ps-1-2 grid-cell-vs-1">
                        <div class="form-control-label bold">Token</div>
                        <div class="form-control-preview-value" ng-bind="holder.amount|separateNumber"></div>
                    </div>
                    <div class="clearfix show-ps"><br/></div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1">
                        <div class="form-control-label bold">Frozen till</div>
                        <div class="form-control-preview-value">
                            {{holder.freeze_date ? (holder.freeze_date * 1000 | date : 'yyyy-MM-dd') : '-'}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Token distribution -->
            <div class="contract-form-fieldset with-padding">
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1">
                        <div class="form-control-label">
                            <i class="icon-distribution form-control-label-icon"></i>
                            Token distribution
                        </div>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="grid-cell grid-cell-1">
                        <!--({{totalSupply.eth|separateNumber}} ETH-->
                        <div class="form-control-label">Total supply: {{totalSupply.tokens|separateNumber}} {{details.token_short_name}}</div>
                        <div class="form-control-description one-line without-padding">
                            <span class="form-control-description__text">Max possible emission of tokens, no more tokens can be minted.</span>
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-4-7 grid-cell-ps-1">
                        <div class="chart-container" style="height: 240px"
                             ng-chart
                             ng-chart-data="chartData"
                             ng-chart-options="chartOptions"></div>
                    </div>
                    <div class="grid-cell grid-cell-3-7 grid-cell-ps-1">
                        <div class="chart-legend">
                            <div class="chart-legend-item" ng-repeat="chartDataItem in chartData">
                                <span class="chart-legend-item_color" style="background-color: {{chartDataItem.color}}"></span>
                                <span class="chart-legend-item_name" ng-attr-title="{{chartDataItem.address}}">{{chartDataItem.name || chartDataItem.address}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="main-section-chapter-fieldset custom-fieldset" ng-include="'/templates/common/contracts/preview-buttons.html'"></div>
</div>


<div ng-if="contract.showedTab == 'code'">
    <div class="main-section-chapter">
        <div class="main-section-chapter-fieldset">
            <div class="grid-row " ng-init="contract.codeTab = 'token'">
                <div class="grid-cell grid-cell-1">
                    <div class="github-link">
                        <a href="https://github.com/MyWishPlatform/ico-crowdsale" target="_blank">https://github.com/MyWishPlatform/ico-crowdsale</a>

                    </div>
                </div>

                <div class="grid-cell grid-cell-1-2">
                    <span href="#"
                          ng-click="contract.codeTab = 'token'"
                       disabled
                       ng-if="details.sources.token && (contract.codeTab != 'token')"
                       class="as-link contract-preview-base-font">{{contract.name}} Token</span>
                    <span class="contract-preview-base-font"
                          ng-class="{'grey-text-color': !details.sources.token}"
                          ng-if="!details.sources.token || (contract.codeTab == 'token')">
                        {{contract.name}} Token
                    </span>
                </div>
                <div class="grid-cell grid-cell-1-2" ng-init="contract.codeTab = contract.codeTab || 'crowdsale'">
                    <a href="#"
                       ng-click="contract.codeTab = 'crowdsale'"
                       ng-if="details.sources.crowdsale && (contract.codeTab != 'crowdsale')"
                       class="contract-preview-base-font">{{contract.name}} Contract</a>
                    <span class="contract-preview-base-font"
                          ng-class="{'grey-text-color': !details.sources.crowdsale}"
                          ng-if="!details.sources.crowdsale || (contract.codeTab == 'crowdsale')">
                        {{contract.name}} Contract
                    </span>
                </div>

                <div class="clearfix"><br/></div>
                <div class="grid-cell grid-cell-1">
                    <div class="contract-preview-code-content">
                        <div class="contract-preview-code-text" ng-if="details.sources[contract.codeTab]">
                            {{details.sources[contract.codeTab]}}
                        </div>
                        <button class="for-copy-button" ng-if="details.sources[contract.codeTab]"
                                ng-class="{copied: copiedCode}"
                                clipboard supported="supported"
                                text="details.sources[codeTab]"
                                on-copied="successCodeCopy()"
                                on-error="failCodeCopy(err)">
                            <i class="icon-content_copy"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="contract.showedTab == 'description'">
    <div class="main-section-chapter">
        <div class="main-section-chapter-fieldset">
            <h1>Description</h1>
        </div>
    </div>
</div>

