<div class="contract-preview-tabs" ng-init="contract.showedTab = 'info'">
    <div class="contract-preview-one-tab"
         ng-class="{active: contract.showedTab == 'info'}"
         ng-click="contract.showedTab = 'info'">
        <span translate="CONTRACTS.PREVIEW.TABS.INFO"></span>
    </div>
    <div class="contract-preview-one-tab"
         ng-class="{active: contract.showedTab == 'code'}"
         ng-click="contract.showedTab = 'code'"
         ng-show="contract.contract_details.eth_contract.address">
        <span translate="CONTRACTS.PREVIEW.TABS.SOURCE"></span>
    </div>
</div>

<div ng-show="contract.showedTab == 'code'">
    <div class="shadow-block after-tabs">
        <div class="shadow-block__content" ng-if="(contract.network == 2) || (contract.network == 4)">
            <p class="normal-text">
                <span translate="CONTRACTS.PREVIEW.FREE_VERSION_MSG"></span>
            </p>
        </div>

        <div class="shadow-block__content">
            <p class="normal-text">
                <span>{{'CONTRACTS.PREVIEW.WILL_SOURCE_CODE'|translate}}
                    <span class="as-link dotted"
                          ng-if="(contract.network == 1) || (contract.network == 3)"
                          ng-click="saveAsFile(contract.contract_details.eth_contract.source_code, contract.name + '(will)')">
                        <span translate="CONTRACTS.PREVIEW.HERE"></span>
                    </span>
                    <span class="grey-text-color"
                          ng-if="(contract.network == 2) || (contract.network == 4)">
                        <span translate="CONTRACTS.PREVIEW.HERE"></span>
                    </span>
                </span>
            </p>
            <p class="normal-text">
                <span translate="CONTRACTS.PREVIEW.LIBRARIES_AND_FILES"
                      translate-values="{gitHubLink: $root.gitHubLink}"></span>
            </p>
        </div>

        <div class="shadow-block__content" ng-if="(contract.network == 1) || (contract.network == 2)">
            <p class="normal-text" translate="CONTRACTS.PREVIEW.ETHERSCAN_VERIFY_SUPPORT"></p>
        </div>
    </div>
</div>


<div ng-show="contract.showedTab == 'info'">

    <div class="shadow-block after-tabs">
        <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding"
             ng-include="'/templates/common/contracts/preview-title.html'">
        </div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding" ng-if="contract.stateValue == 4">
            <span class="form-control-label">
                {{'CONTRACTS.PREVIEW.CONTRACT_BALANCE'|translate}} <b>{{contract.balance|separateNumber}}&nbsp;{{contract.currency}}&nbsp;&nbsp;</b>
            </span>
        </div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding"
             ng-if="contract.stateValue == 4">
            <p class="normal-text"
               translate-values="{
                    next_check: contract.contract_details.next_check,
                    last_reset: contract.contract_details.last_reset
               }"
               translate="CONTRACTS.PREVIEW.LAST_WILL.CONFIRM_LIVE.VARIANT_1"></p>
        </div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding"
             ng-if="(contract.stateValue == 9) || (contract.stateValue == 11)">
            <p class="normal-text"
               translate-values="{
                    last_check: contract.contract_details.last_check,
                    last_reset: contract.contract_details.last_reset
               }"
               translate="CONTRACTS.PREVIEW.LAST_WILL.CONFIRM_LIVE.VARIANT_2"></p>
        </div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding"
             ng-if="(contract.stateValue == 6) || (contract.stateValue == 7)">
            <p class="normal-text"
               translate-values="{
                    last_reset: contract.contract_details.last_reset
               }"
               translate="CONTRACTS.PREVIEW.LAST_WILL.CONFIRM_LIVE.VARIANT_3"></p>
        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding"
             ng-if="contract.stateValue == 5">
            <p class="normal-text"
               translate-values="{
                    last_reset: contract.contract_details.last_reset
               }"
               translate="CONTRACTS.PREVIEW.LAST_WILL.CONFIRM_LIVE.VARIANT_4"></p>
        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding" ng-if="contract.contract_details.eth_contract.address">
            <div class="form-control-label" translate="CONTRACTS.PREVIEW.CONTRACT_ADDRESS"></div>
            <br class="show-ls"/>
            <span class="identicon-container">
                <img class="identicon-image" ng-src="{{contract.contract_details.eth_contract.address|blockies}}"/>
            </span>
            <div class="contract-wallet-information-wallet">
                <a ng-attr-href="{{ getEtherscanUrl(contract, 'address') + '/' + (contract.contract_details.eth_contract.address|toCheckSum)}}"
                   target="_blank"
                   ng-bind="contract.contract_details.eth_contract.address|toCheckSum"></a>
                <button class="instruction-for-copy-button relative"
                        clipboard supported="supported"
                        ng-class="{copied: contract.copied['address']}"
                        text="contract.contract_details.eth_contract.address"
                        on-copied="successCodeCopy(contract, 'address')" on-error="failCodeCopy(err)">
                    <i class="icon-content_copy"></i>
                </button>
            </div>
        </div>



        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="contract-wallets-information-one-block">
                <div class="form-control-label">
                    <i class="icon-wallet form-control-label-icon"></i>
                    {{'CONTRACTS.FORMS.LAST_WILL.FIELDS.MANAGEMENT_ADDR.LABEL'|translate}}
                </div>
                <div class="contract-wallet-information-float contract-wallet-information"><br/>
                    <span class="identicon-container relative-top">
                        <img class="identicon-image" ng-src="{{contract.contract_details.user_address|blockies}}"/>
                    </span>
                    <div class="contract-wallet-information-float-cell contract-wallet-information-wallet">
                        <a ng-attr-href="{{ getEtherscanUrl(contract, 'address') + '/' + (contract.contract_details.user_address|toCheckSum)}}"
                           target="_blank"
                           ng-bind="contract.contract_details.user_address|toCheckSum"></a>
                    </div>
                    <div class="contract-wallet-information-float-cell contract-wallet-information-after_wallet"
                         ng-bind="contract.contract_details.email"></div>
                </div>
            </div><br/>

            <div class="contract-wallets-information-one-block">
                <div class="form-control-label">
                    <i class="icon-in-wallet form-control-label-icon"></i>
                    {{('CONTRACTS.PREVIEW.LAST_WILL.LABELS.HEIR' + ((contract.contract_details.heirs.length > 1) ? 'S' : ''))|translate}}
                </div>
                <div class="contract-wallet-information-float contract-wallet-information"
                     ng-repeat="heir in contract.contract_details.heirs"><br/>
                    <span class="identicon-container relative-top">
                        <img class="identicon-image" ng-src="{{heir.address|blockies}}"/>
                    </span>
                    <div class="contract-wallet-information-float-cell contract-wallet-information-wallet">
                        <a ng-attr-href="{{ getEtherscanUrl(contract, 'address') + '/' + (heir.address|toCheckSum)}}"
                           target="_blank"
                           ng-bind="heir.address|toCheckSum"></a>
                    </div>
                    <div class="contract-wallet-information-float-cell contract-wallet-information-percentage" ng-bind="heir.percentage+'%'"></div>
                    <div class="contract-wallet-information-float-cell contract-wallet-information-email" ng-bind="heir.email"></div>
                </div>
            </div>
        </div>

        <!-- Platform -->
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <span class="form-control-label" translate="CONTRACTS.FORMS.LAST_WILL.FIELDS.CANCEL_VIA_MYWISH.LABEL"></span>
                    <div class="contract-preview-base-font">
                        <div class="contract-preview-base-value-string">
                            <i ng-class="{'icon-check_circle': contract.contract_details.platform_cancel, 'icon-cancel': !contract.contract_details.platform_cancel}"></i>
                            <span ng-if="contract.contract_details.platform_cancel" translate="YES" class="uppercase"></span>
                            <span ng-if="!contract.contract_details.platform_cancel" translate="NO" class="uppercase"></span>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <span class="form-control-label" translate="CONTRACTS.FORMS.LAST_WILL.FIELDS.CONFIRM_LIVE_VIA_MYWISH.LABEL"></span>
                    <div class="contract-preview-base-font">
                        <div class="contract-preview-base-value-string">
                            <i ng-class="{'icon-check_circle': contract.contract_details.platform_alive, 'icon-cancel': !contract.contract_details.platform_alive}"></i>
                            <span ng-if="contract.contract_details.platform_alive" translate="YES" class="uppercase"></span>
                            <span ng-if="!contract.contract_details.platform_alive" translate="NO" class="uppercase"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="contract-wallets-information-one-block">
                <div class="form-control-label">
                    <i class="icon-conditions form-control-label-icon"></i>
                    {{'CONTRACTS.PREVIEW.CONTRACT_CONDITIONS'|translate}}
                </div>
                <div class="contract-preview-base-font contract-preview-base-value">
                    <div>
                        {{'CONTRACTS.FORMS.LAST_WILL.FIELDS.DUE_DATE.LABEL'|translate}}&nbsp;&nbsp;
                        {{contract.contract_details.active_to|date:'yyyy-MM-dd'}}
                    </div><br/>
                    <div>
                        {{'CONTRACTS.FORMS.LAST_WILL.FIELDS.CHECK_EVERY.LABEL'|translate}}&nbsp;&nbsp;
                        {{contract.contract_details.check_interval.period}} {{contract.contract_details.check_interval.periodUnit|translate}}
                    </div><br/>
                </div>
            </div>

        </div>
    </div>

    <div class="shadow-block"
         ng-if="(contract.stateValue < 3) && (contract.cost.WISH != 0)"
         ng-include="'/templates/common/contracts/promocode-field.html'"></div>
    <div class="main-section-chapter-fieldset"
         ng-include="'/templates/pages/contracts/preview/elements/buttons/' + getNetworkPath(contract.network) + '.html'"></div>

</div>
