<div class="contract-preview-tabs" ng-init="contract.showedTab = 'info'">
    <div class="contract-preview-one-tab"
         ng-class="{active: contract.showedTab == 'info'}"
         ng-click="contract.showedTab = 'info'">
        <span translate="CONTRACTS.PREVIEW.TABS.INFO"></span>
    </div>
    <div class="contract-preview-one-tab"
         ng-class="{active: contract.showedTab == 'code'}"
         ng-click="contract.showedTab = 'code'"
         ng-show="contract.contract_details.eth_contract.address">
        <span translate="CONTRACTS.PREVIEW.TABS.SOURCE"></span>
    </div>
</div>

<div ng-show="contract.showedTab == 'code'">
    <div class="shadow-block after-tabs">
        <div class="shadow-block__content" ng-if="(contract.network == 2) || (contract.network == 4)">
            <p class="normal-text">
                <span translate="CONTRACTS.PREVIEW.FREE_VERSION_MSG"></span>
            </p>
        </div>

        <div class="shadow-block__content">
            <p class="normal-text">
                <span>{{'CONTRACTS.PREVIEW.LOST_KEY_SOURCE_CODE'|translate}}
                    <span class="as-link dotted"
                          ng-if="(contract.network == 1) || (contract.network == 3)"
                          ng-click="saveAsFile(contract.contract_details.eth_contract.source_code, contract.name + '(will)')">
                        <span translate="CONTRACTS.PREVIEW.HERE"></span>
                    </span>
                    <span class="grey-text-color"
                          ng-if="(contract.network == 2) || (contract.network == 4)">
                        <span translate="CONTRACTS.PREVIEW.HERE"></span>
                    </span>
                </span>
            </p>
            <p class="normal-text">
                <span translate="CONTRACTS.PREVIEW.LIBRARIES_AND_FILES"
                      translate-values="{gitHubLink: $root.gitHubLink}"></span>
            </p>
        </div>

        <div class="shadow-block__content">
            <p class="normal-text" translate="CONTRACTS.PREVIEW.ETHERSCAN_VERIFY_SUPPORT"></p>
        </div>
    </div>
</div>

<div ng-show="contract.showedTab == 'info'">

    <div class="shadow-block after-tabs">
        <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding"
             ng-include="'/templates/common/contracts/preview-title.html'">
        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding" ng-if="contract.stateValue == 4">
            <span class="form-control-label">
                {{'CONTRACTS.PREVIEW.CONTRACT_BALANCE'|translate}} <b>{{contract.balance|separateNumber}}&nbsp;ETH&nbsp;&nbsp;</b>
            </span>
        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding" ng-if="contract.contract_details.eth_contract.address">
            <div class="form-control-label" translate="CONTRACTS.PREVIEW.CONTRACT_ADDRESS"></div>
            <br class="show-ls"/>
            <span class="identicon-container">
                <img class="identicon-image" ng-src="{{contract.contract_details.eth_contract.address|blockies}}"/>
            </span>
            <div class="contract-wallet-information-wallet">
                <a ng-attr-href="{{ getEtherscanUrl(contract, 'address') + '/' + contract.contract_details.eth_contract.address|toCheckSum}}"
                   target="_blank"
                   ng-bind="contract.contract_details.eth_contract.address|toCheckSum"></a>
                <button class="instruction-for-copy-button relative"
                        clipboard supported="supported"
                        ng-class="{copied: contract.copied['address']}"
                        text="contract.contract_details.eth_contract.address"
                        on-copied="successCodeCopy(contract, 'address')" on-error="failCodeCopy(err)">
                    <i class="icon-content_copy"></i>
                </button>

                <button
                        ng-if="contract.stateValue == 4"
                        ng-pop-up="{
                            template: '/templates/popups/instructions/eth/parity-instruction.html',
                            newPopupContent: true,
                            onClose: ngPopUp.onClose,
                            actions: {
                                successCodeCopy: successCodeCopy
                            },
                            params: {
                              contract: contract
                            }
                        }"
                        ng-click="closeCurrentPopup(true)"
                        class="as-link">
                    <span translate="CONTRACTS_BUTTONS.ADD_TO_PARITY"></span>
                </button>

            </div>
        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="contract-wallets-information-one-block">
                <div class="form-control-label">
                    <i class="icon-wallet form-control-label-icon"></i>
                    {{'CONTRACTS.FORMS.LOST_KEY.FIELDS.MANAGEMENT_ADDR.LABEL'|translate}}
                </div><br/>
                <div class="contract-wallet-information-float contract-wallet-information">
                    <span class="identicon-container relative-top">
                        <img class="identicon-image" ng-src="{{contract.contract_details.user_address|blockies}}"/>
                    </span>
                    <div class="contract-wallet-information-float-cell contract-wallet-information-wallet" ng-bind="contract.contract_details.user_address|toCheckSum"></div>
                    <div class="contract-wallet-information-float-cell contract-wallet-information-after_wallet" ng-bind="contract.contract_details.email"></div>
                </div>
            </div><br/>

            <div class="contract-wallets-information-one-block">
                <div class="form-control-label">
                    <i class="icon-in-wallet form-control-label-icon"></i>
                    {{'CONTRACTS.FORMS.LOST_KEY.FIELDS.RESERVE_ADDRESS.LABEL'|translate}}
                </div>
                <div class="contract-wallet-information-float contract-wallet-information" ng-repeat="heir in contract.contract_details.heirs">
                    <br/>
                    <span class="identicon-container relative-top">
                        <img class="identicon-image" ng-src="{{heir.address|blockies}}"/>
                    </span>
                    <div class="contract-wallet-information-float-cell contract-wallet-information-wallet" ng-bind="heir.address|toCheckSum"></div>
                    <div class="contract-wallet-information-float-cell contract-wallet-information-percentage" ng-bind="heir.percentage+'%'"></div>
                    <div class="contract-wallet-information-float-cell contract-wallet-information-email" ng-bind="heir.email"></div>
                </div>
            </div>
        </div>

        <div class="shadow-block__content grey-color shadow-block__content_min-tb-padding">
            <div class="contract-wallets-information-one-block">
                <div class="form-control-label">
                    <i class="icon-conditions form-control-label-icon"></i>
                    {{'CONTRACTS.FORMS.LOST_KEY.FIELDS.WALLETS_ACTIVITY.LIST.ITEM_1'|translate}}
                </div>
                <div class="contract-preview-base-font contract-preview-base-value">
                    <div>
                        {{'CONTRACTS.FORMS.LOST_KEY.FIELDS.DUE_DATE.LABEL'|translate}}&nbsp;&nbsp;
                        {{contract.contract_details.active_to|date:'yyyy-MM-dd'}}
                    </div><br/>
                    <div>
                        {{'CONTRACTS.FORMS.LOST_KEY.FIELDS.CHECK_EVERY.LABEL'|translate}}&nbsp;&nbsp;
                        {{contract.contract_details.check_interval.period}} {{contract.contract_details.check_interval.periodUnit|translate}}
                    </div><br/>
                    <div ng-if="contract.contract_details.next_check">
                        {{'CONTRACTS.PREVIEW.NEXT_CHECK'|translate}}&nbsp;&nbsp;
                        {{contract.contract_details.next_check|date:'yyyy-MM-dd'}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="shadow-block after-tabs"
         ng-if="(contract.stateValue < 3) && (contract.cost.WISH != 0)"
         ng-include="'/templates/common/contracts/promocode-field.html'"></div>
    <div class="main-section-chapter-fieldset"
         ng-include="'/templates/pages/contracts/preview/elements/buttons/' + getNetworkPath(contract.network) + '.html'"></div>
</div>
