<div class="contract-preview-tabs" ng-init="details = contract.contract_details;">
    <div class="contract-preview-one-tab"
         ng-click="goTo('info')"
         ng-class="{'active': showedTab == 'info'}">
        <span translate="CONTRACTS.PREVIEW.TABS.INFO"></span>
    </div>
    <div class="contract-preview-one-tab"
         ng-click="goTo('code', contractInfo)"
         ng-show="details[contractInfo].address"
         ng-class="{'active': showedTab == 'code'}">
        <span translate="CONTRACTS.PREVIEW.TABS.SOURCE"></span>
    </div>
    <div class="contract-preview-one-tab"
         ng-click="goTo('audit')"
         ng-if="details[contractInfo].address && contract.isAuthioToken && contract.network === 24"
         ng-class="{'active': showedTab == 'audit'}">
        <span translate="CONTRACTS.PREVIEW.TABS.AUDIT"></span>
    </div>
</div>

<div ng-show="showedTab == 'code'">
    <div class="shadow-block after-tabs">
        <div class="shadow-block__content" ng-if="(contract.network == 25)">
            <p class="normal-text">
                <span translate="CONTRACTS.PREVIEW.FREE_VERSION_MSG"></span>
            </p>
        </div>

        <div class="shadow-block__content">
            <p class="normal-text">
                <span>{{'CONTRACTS.PREVIEW.TOKEN_SOURCE_CODE'|translate}}
                    <span class="as-link dotted"
                          ng-if="(contract.network == 24)"
                          ng-click="saveAsFile(contract.contract_details[contractInfo].source_code, contract.name + '(token)')">
                        <span translate="CONTRACTS.PREVIEW.HERE"></span>
                    </span>
                    <span class="grey-text-color"
                          ng-if="(contract.network == 25)">
                        <span translate="CONTRACTS.PREVIEW.HERE"></span>
                    </span>
                </span>
            </p>

            <p class="normal-text">
                <span translate="CONTRACTS.PREVIEW.LIBRARIES_AND_FILES"
                      translate-values="{gitHubLink: contractInfo === 'eth_contract_token' ? 'https://github.com/MyWishPlatform/ico-crowdsale' : ' https://github.com/MyWishPlatform/neo3-token'}"></span>
            </p>
        </div>
    </div>
</div>

<div ng-show="showedTab == 'info'">
    <div class="shadow-block after-tabs">
        <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding"
             ng-include="'/templates/common/contracts/preview-title.html'">
        </div>

        <!-- Token contract address -->
        <div class="shadow-block__content shadow-block__content_min-tb-padding" ng-if="details[contractInfo].address">
            <div class="form-control-label" translate="CONTRACTS.PREVIEW.TOKEN.TOKEN_ADDRESS"></div>
            <br class="show-ls"/>
            <span class="identicon-container">
                <img class="identicon-image" ng-src="{{details[contractInfo].address|blockies}}"/>
            </span>
            <div class="contract-wallet-information-wallet">
                <a ng-attr-href="{{(contract.network|etherscanUrl:'token')}}/{{details[contractInfo].address|toCheckSum}}"
                   target="_blank"
                   ng-bind="details[contractInfo].address|toCheckSum"></a>

                <button class="instruction-for-copy-button relative"
                        clipboard supported="supported"
                        ng-class="{copied: contract.copied['token_address']}"
                        text="details[contractInfo].address|toCheckSum"
                        on-copied="$root.successCodeCopy(contract, 'token_address')">
                    <i class="icon-content_copy"></i>
                </button>
            </div>
        </div>


        <!-- Token info -->
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <div class="normal-text">
                        <span class="contract-preview-grey-font-color"
                              translate="CONTRACTS.FORMS.TOKEN.FIELDS.TOKEN_NAME.LABEL"></span><br/>
                        {{ contract.contract_details.token_name }}
                    </div>
                </div>
                <div class="clearfix show-ls"><br/></div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <div class="normal-text">
                        <span class="contract-preview-grey-font-color"
                              translate="CONTRACTS.FORMS.TOKEN.FIELDS.TOKEN_SYMBOL.LABEL"></span><br/>
                        {{ contract.contract_details.token_short_name }}
                    </div>
                </div>
                <div class="clearfix"><br/></div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <div class="normal-text">
                        <span class="contract-preview-grey-font-color"
                              translate="CONTRACTS.FORMS.TOKEN.FIELDS.DECIMALS.LABEL"></span><br/>
                        {{ contract.contract_details.decimals }}
                    </div>
                </div>
                <div class="clearfix show-ls"><br/></div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1" ng-if="contract.contract_details.token_type">
                    <div class="normal-text">
                        <span class="contract-preview-grey-font-color"
                              translate="CONTRACTS.PREVIEW.TOKEN.TOKEN_TYPE"></span><br/>
                        {{ contract.contract_details.token_type }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Future minting -->
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <span class="form-control-label">
                <i class="icon-feature-minting form-control-label-icon"></i>
                {{'CONTRACTS.FORMS.TOKEN.FIELDS.FUTURE_MINTING.LABEL'|translate}}
            </span>
            <div class="normal-text contract-preview-base-value">
                <div class="contract-preview-base-value-string">
                    <i ng-class="{'icon-check_circle': details.future_minting, 'icon-cancel': !details.future_minting}"></i>
                    <span ng-if="details.future_minting" translate="YES" class="uppercase"></span>
                    <span ng-if="!details.future_minting" translate="NO" class="uppercase"></span>
                </div>
            </div>
        </div>

        <!-- Token holder -->
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1">
                    <div class="form-control-label"
                         translate="CONTRACTS.FORMS.TOKEN.FIELDS.TOKEN_OWNER.LABEL"></div>
                    <br class="show-ls"/>
                    <span class="identicon-container">
                        <img class="identicon-image" ng-src="{{details.admin_address|blockies}}"/>
                    </span>
                    <div class="contract-wallet-information-wallet">
                        <a ng-attr-href="{{(contract.network|etherscanUrl:'address')}}/{{details.admin_address}}"
                           target="_blank"
                           ng-bind="details.admin_address|toCheckSum"></a>

                        <button class="instruction-for-copy-button relative"
                                clipboard supported="supported"
                                ng-class="{copied: contract.copied['admin_address']}"
                                text="details.admin_address"
                                on-copied="$root.successCodeCopy(contract, 'admin_address')">
                            <i class="icon-content_copy"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Distribution info -->
        <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding light-color"
             ng-if="details.token_holders.length">
            <div class="shadow-block__content__blue-title">
                <i class="shadow-block__content__blue-title__icon icon-distribution"></i>
                <div class="shadow-block__content__blue-title__name">
                    <span class="big-size" translate="CONTRACTS.PREVIEW.TOKEN.TOKEN_DISTRIBUTION"></span>
                </div>
            </div>
        </div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding light-color"
             ng-class="{'no-border': !$index}"
             ng-repeat="holder in details.token_holders">
            <div class="form-control-label bold"
                 translate="CONTRACTS.FORMS.TOKEN.FIELDS.RECIPIENT_ADDRESS.LABEL"></div>
            <br class="show-ls"/>
            <span class="identicon-container">
                <img class="identicon-image" ng-src="{{holder.address|blockies}}"/>
            </span>
            <div class="contract-wallet-information-wallet">
                <a ng-attr-href="{{(contract.network|etherscanUrl:'address')}}/{{holder.address}}"
                   target="_blank"
                   ng-bind="holder.address|toCheckSum"></a>
                <button class="instruction-for-copy-button relative"
                        clipboard supported="supported"
                        ng-class="{copied: contract.copied['holder_address_' + $index]}"
                        text="holder.address"
                        on-copied="$root.successCodeCopy(contract, 'holder_address_' + $index)">
                    <i class="icon-content_copy"></i>
                </button>
            </div><br/>
            <div class="grid-row">
                <div class="grid-cell grid-cell-2-5 grid-cell-ps-1-2 grid-cell-vs-1">
                    <div class="form-control-label bold"
                         translate="CONTRACTS.FORMS.TOKEN.FIELDS.RECIPIENT_NAME.LABEL"></div>
                    <div class="form-control-preview-value">{{holder.name || '-'}}</div>
                </div>
                <div class="clearfix show-vs"><br/></div>
                <div class="grid-cell grid-cell-2-5 grid-cell-ps-1-2 grid-cell-vs-1">
                    <div class="form-control-label bold"
                         translate="CONTRACTS.FORMS.TOKEN.FIELDS.RECIPIENT_AMOUNT.LABEL"></div>
                    <div class="form-control-preview-value" ng-bind="holder.amount|separateNumber"></div>
                </div>
                <div class="clearfix show-ps"><br/></div>
                <div class="grid-cell grid-cell-1-5 grid-cell-ps-1">
                    <div class="form-control-label bold"
                         translate="CONTRACTS.FORMS.TOKEN.FIELDS.FROZEN_UNTIL_SHORT.LABEL"></div>
                    <div class="form-control-preview-value">
                        {{holder.freeze_date ? (holder.freeze_date * 1000 | date : 'yyyy-MM-dd') : '-'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1">
                    <div class="form-control-label">
                        {{'CONTRACTS.FORMS.TOKEN.TOTAL_SUPPLY'|translate}}
                        {{totalSupply.tokens|separateNumber}} {{details.token_short_name}}</div>
                    <div class="form-control-description one-line without-padding" ng-if="!details.future_minting">
                        <span class="form-control-description__text" translate="CONTRACTS.FORMS.CROWD_SALE.CHART_TOKEN_DISTRIBUTED_MESSAGE"></span>
                    </div>
                </div>
            </div>

            <div class="grid-row" ng-if="chartData.length && totalSupply.tokens > 0">
                <div class="grid-cell grid-cell-4-7 grid-cell-ps-1">
                    <div class="chart-container" style="height: 240px"
                         ng-chart
                         ng-chart-data="chartData"
                         ng-chart-options="chartOptions"></div>
                </div>
                <div class="grid-cell grid-cell-3-7 grid-cell-ps-1">
                    <div class="chart-legend">
                        <div class="chart-legend-item" ng-repeat="chartDataItem in chartData">
                            <span class="chart-legend-item_color" style="background-color: {{chartDataItem.color}}"></span>
                            <span class="chart-legend-item_name" ng-attr-title="{{chartDataItem.address}}">{{chartDataItem.name || chartDataItem.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Token verification when Created (not deployed)-->
        <div
                id="verification-not-deployed"
                class="shadow-block__content shadow-block__content_min-tb-padding"
                ng-if="contract.network === 24 ? (contract.state === 'CREATED' || contract.state === 'WAITING_FOR_DEPLOYMENT') : false"
        >
            <span class="form-control-label">
                <div class="form-control-label-inner">
                    <img
                            src="/static/images/polygonscan.svg"
                            width="22px"
                            height="22px"
                            style="margin-right: 0.4em;"
                            alt=""
                    />
                    <div>
                        {{'CONTRACTS.FORMS.TOKEN.FIELDS.VERIFICATION_STATUS.LABEL_MATIC'|translate}}
                    </div>
                </div>
            </span>
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-2 grid-cell-ps-1">
                    <div class="normal-text contract-preview-base-value">
                        <div class="contract-preview-base-value-string">
                            <i
                                    ng-class="{
                            'icon-check_circle': contract.contract_details.verification,
                            'icon-cancel': !contract.contract_details.verification
                            }"
                            ></i>
                            <span
                                    ng-if="contract.contract_details.verification"
                                    translate="YES"
                                    class="uppercase"
                            ></span>
                            <span
                                    ng-if="!contract.contract_details.verification"
                                    translate="NO"
                                    class="uppercase"
                            ></span>
                        </div>
                    </div>
                </div>
            </div><br/>
        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <span class="form-control-label">
                <i class="icon-note-list form-control-label-icon"></i>
                {{'CONTRACTS.FORMS.TOKEN.FIELDS.AUTHIO.LABEL'|translate}}
            </span>
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-2 grid-cell-ps-1">
                    <div class="normal-text contract-preview-base-value">
                        <div class="contract-preview-base-value-string">
                            <i ng-class="{'icon-check_circle': details.authio, 'icon-cancel': !details.authio}"></i>
                            <span ng-if="details.authio" translate="YES" class="uppercase"></span>
                            <span ng-if="!details.authio" translate="NO" class="uppercase"></span>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ps-1">
                    <div class="normal-text" ng-if="details.authio">
                        {{details.authio_email}}
                    </div>
                </div>
            </div><br/>

            <div class="normal-text" ng-if="details.authio" translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.FEEL_FORM_TEXT">
            </div>
        </div>

        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <span class="form-control-label">
                <img
                        src="/static/images/white_label.svg"
                        width="24px" height="24px" alt=""
                        style="margin-right: 0.3em;"
                />
                {{'CONTRACTS.FORMS.TOKEN.FIELDS.WHITE_LABEL.LABEL'|translate}}
            </span>
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-2 grid-cell-ps-1">
                    <div class="normal-text contract-preview-base-value">
                        <div class="contract-preview-base-value-string">
                            <i ng-class="{'icon-check_circle': contract.contract_details.white_label, 'icon-cancel': !contract.contract_details.white_label}"></i>
                            <span ng-if="contract.contract_details.white_label" translate="YES" class="uppercase"></span>
                            <span ng-if="!contract.contract_details.white_label" translate="NO" class="uppercase"></span>
                        </div>
                    </div>
                </div>
            </div><br/>
        </div>

        <!-- Token verification when ACTIVE (deployed)-->
        <div
                id="verification-deployed"
                class="shadow-block__content shadow-block__content_min-tb-padding"
                ng-if="contract.network === 24 && contract.state === 'ACTIVE'"
        >
            <div class="grid-row">
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                        <div class="verification-label-container">
                            <img src="/static/images/polygonscan.svg" width="22px" height="22px" alt=""/>
                            <span
                                    class="verification-label"
                                    translate="CONTRACTS.FORMS.TOKEN.FIELDS.VERIFICATION_STATUS.LABEL_MATIC"
                            ></span>
                        </div>
                        <br/>
                        <div
                                class="verification-status"
                                ng-if="contract.contract_details.verification_status === 'VERIFIED'"
                        >
                            Contract source code verified
                        </div>
                        <div
                                class="verification-status"
                                ng-if="contract.contract_details.verification_status === 'IN_PROCESS'"
                        >
                            Verification request has been sent
                        </div>
                        <div
                                class="verification-desc"
                                ng-if="!contract.contract_details.verification || contract.contract_details.verification_status === 'NOT_VERIFIED'"
                        >
                            Source code verification provides transparency for users interacting with smart contracts.
                            Verification cost is ${{contract.verificationCost.USDT}}.
                        </div>
                    </div>
                    <div
                            class="grid-cell grid-cell-1-2 grid-cell-ls-1 h100p"
                            ng-if="!contract.contract_details.verification || contract.contract_details.verification_status === 'NOT_VERIFIED'"
                    >
                        <form class="verification-form" name="verificationForm">
                            <button
                                    type="button"
                                    class="btn btn-submit"
                                    ng-pop-up="{
                                newPopupContent: true,
                                template: '/templates/popups/confirmations/verification-confirm-pay.html',
                                params: { popup: verificationBuyPopup }
                            }"
                                    ng-disabled="!verificationForm.$valid || verificationBuyRequest"
                            >
                                <span class="lds-ellipsis" ng-if="verificationBuyRequest">
                                    <span class="lds-ellipsis-container">
                                        <span></span><span></span><span></span><span></span>
                                    </span>
                                </span>
                                <span translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.VERIFICATION.ORDER_BUTTON"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="shadow-block"
         ng-if="(contract.stateValue < 3) && (contract.cost.WISH != 0)"
         ng-include="'/templates/common/contracts/promocode-field.html'"></div>
    <div class="main-section-chapter-fieldset"
         ng-include="'/templates/pages/contracts/preview/elements/buttons/' + getNetworkPath(contract.network) + '.html'"></div>
</div>

<div ng-show="showedTab == 'audit'" ng-if="contract.network === 24">
    <div ng-if="!contract.withAuthioForm" class="shadow-block after-tabs">
        <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
            <div class="shadow-block__content__blue-title">
                <i class="icon-note-list shadow-block__content__blue-title__icon"></i>
                <div class="shadow-block__content__blue-title__name">
                    <span class="big-size" translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.TITLE"></span>
                </div>
            </div>
            <div class="shadow-block__content__blue-description text-left">
                <p class="normal-text" translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.AUDITED_DESCRIPTION"></p>
            </div>
        </div>
        <div class="shadow-block__content">
            <p class="normal-text"
               translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.FEEL_FORM_TEXT"></p>
        </div>

        <div class="shadow-block__content">
            <p class="normal-text"
               translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.PAYMENT_DATE"
               translate-values="{'paymentDate': contract.contract_details.authio_date_payment}"></p>
        </div>
        <div class="shadow-block__content">
            <p class="normal-text"
               translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.AUDITED_DATE"
               translate-values="{'auditedDate': contract.contract_details.authio_date_getting}"></p>
        </div>

        <div class="shadow-block__content">
        <span class="form-control-description__text"
              translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.SUPPORT_DESCRIPTION"></span>
        </div>
    </div>

    <form ng-if="contract.withAuthioForm" name="authioForm">
        <div class="shadow-block after-tabs">
            <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
                <div class="shadow-block__content__blue-title">
                    <i class="icon-note-list shadow-block__content__blue-title__icon"></i>
                    <div class="shadow-block__content__blue-title__name">
                        <span class="big-size" translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.TITLE"></span>
                    </div>
                </div>
            </div>

            <div class="shadow-block__content no-border shadow-block__content_min-tb-padding">
                <p class="normal-text" translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.NO_AUDITED_DESCRIPTION"></p>
            </div>
            <div class="shadow-block__content">
                <div class="grid-row">
                    <div class="grid-cell grid-cell-2-5">
                        <a href="https://rocknblock.io" target="_blank" class="authio-logo-link active">
                            <img class="authio-logo" src="/static/images/logos/logo-rnb.svg">
                        </a>
                    </div>

                </div><br/>

                <p class="normal-text" translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.FORM_TEXTS.PART_1"></p>
                <br/>
                <p class="normal-text" translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.FORM_TEXTS.PART_2"></p>
            </div>

        </div>

        <div class="shadow-block">
            <div class="shadow-block__content">
                <div class="form-control no-padding">
                    <div class="form-control-label inline-label"
                         translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.FORM_NOTICE">
                    </div>
                </div>
            </div>

            <div class="shadow-block__content" ng-if="contract.authioPrices">
                <div class="form-control no-padding">
                    <div class="form-control-label inline-label">
                        Branded report fees: {{contract.authioPrices.USDT | separateNumber}} USD&nbsp;&nbsp;&nbsp;
                        <span class="grey-text-color">
                        {{contract.authioPrices.WISH | separateNumber}} WISH
                        <span>/ {{contract.authioPrices.ETH | separateNumber}} ETH</span>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
        <button type="button" class="btn btn-submit"
                ng-pop-up="{
                    newPopupContent: true,
                    template: '/templates/popups/terms-conditions/authio.html',
                    params: {
                        popup: authioBuyPopup
                    }
                }"

                ng-disabled="!authioForm.$valid || authioBuyRequest">
            <span class="lds-ellipsis" ng-if="authioBuyRequest">
                <span class="lds-ellipsis-container">
                    <span></span><span></span><span></span><span></span>
                </span>
            </span>
            <span translate="CONTRACTS.PREVIEW.TOKEN.AUDIT.AUDIT_BUTTON"></span>
        </button>

    </form>
</div>

