<div class="contract-preview-tabs" ng-init="details = contract.contract_details;">
    <div class="contract-preview-one-tab"
         ng-click="goTo('info')"
         ng-class="{'active': showedTab == 'info'}">
        <span>Preview</span>
    </div>
    <div class="contract-preview-one-tab"
         ng-click="goTo('code', 'eth_contract_token')"
         ng-show="details.eth_contract_token.address"
         ng-class="{'active': showedTab == 'code'}">
        <span>Source codes</span>
    </div>
</div>


<div ng-show="showedTab == 'code'">
    <div class="shadow-block after-tabs">
        <div class="shadow-block__content">
            <p class="normal-text">
                <span>Your TOKEN source code
                    <span class="as-link dotted"
                          ng-click="saveAsFile(contract.contract_details.eth_contract_token.source_code, contract.name + '(token)')">
                        <span>here</span>
                    </span>
                </span>
            </p>
            <p class="normal-text">
                <span>Libraries & other files can be found
                    <a href="https://github.com/MyWishPlatform/ico-crowdsale" target="_blank">here</a>
                </span>
            </p>
        </div>
        <div class="shadow-block__content">
            <p class="normal-text">
                If you need to verify contract on Etherscan please contact us by
                <a href="mailto:support@mywish.io">email</a>
                or follow the instruction:
            </p>
        </div>
        <div class="shadow-block__content">
            <ul class="new-instruction-list">
                <li class="new-instruction-list__item">
                    <div class="new-instruction-list__item__text">
                        Open contract address on
                        <a ng-attr-href="{{getEtherscanUrl(contract)}}address/{{contract.contract_details[selectedContract].address|toCheckSum}}#code">etherscan</a>
                    </div>
                </li>
                <li class="new-instruction-list__item">
                    <div class="new-instruction-list__item__text">
                        In Contract Code tab choose "Verify And Publish"
                    </div>
                </li>

                <li class="new-instruction-list__item">
                    <div class="new-instruction-list__item__text">
                        Enter Contract Name:
                        <div class="copy-block">
                            <button class="copy-block__button relative"
                                    clipboard supported="supported"
                                    text="selectedContract === 'eth_contract_crowdsale' ? 'TemplateCrowdsale' : 'MainToken'"
                                    ng-class="{copied: contract.copied['contractName']}"
                                    on-copied="successCodeCopy(contract, 'contractName')"
                                    on-error="failCodeCopy(err)">&nbsp;
                                <i class="icon-content_copy"></i>
                            </button>
                            <div class="copy-block__text">{{selectedContract === 'eth_contract_crowdsale' ? 'TemplateCrowdsale' : 'MainToken'}}</div>
                        </div>
                    </div>
                </li>
                <li class="new-instruction-list__item">
                    <div class="new-instruction-list__item__text">
                        Enter Contract Address:
                        <div class="copy-block">
                            <button class="copy-block__button relative"
                                    clipboard supported="supported"
                                    text="contract.contract_details[selectedContract].address|toCheckSum"
                                    ng-class="{copied: contract.copied['address']}"
                                    on-copied="successCodeCopy(contract, 'address')"
                                    on-error="failCodeCopy(err)">&nbsp;
                                <i class="icon-content_copy"></i>
                            </button>
                            <div class="copy-block__text">{{contract.contract_details[selectedContract].address|toCheckSum}}</div>
                        </div>
                    </div>
                </li>
                <li class="new-instruction-list__item">
                    <div class="new-instruction-list__item__text">
                        Fill out Compiler version:
                        <div class="copy-block">
                            <button class="copy-block__button relative"
                                    clipboard supported="supported"
                                    text="contract.contract_details[selectedContract].compiler_version|compilerVersion"
                                    ng-class="{copied: contract.copied['compiler_version']}"
                                    on-copied="successCodeCopy(contract, 'compiler_version')"
                                    on-error="failCodeCopy(err)">&nbsp;
                                <i class="icon-content_copy"></i>
                            </button>
                            <div class="copy-block__text">{{contract.contract_details[selectedContract].compiler_version|compilerVersion}}</div>
                        </div>
                    </div>
                </li>
                <li class="new-instruction-list__item">
                    <div class="new-instruction-list__item__text">
                        Paste the Solidity Contract code:
                        <div class="copy-block">
                            <button class="copy-block__button relative"
                                    clipboard supported="supported"
                                    text="contract.contract_details[selectedContract].source_code"
                                    ng-class="{copied: contract.copied['source_code']}"
                                    on-copied="successCodeCopy(contract, 'source_code')"
                                    on-error="failCodeCopy(err)">&nbsp;
                                <i class="icon-content_copy"></i>
                            </button>
                            <div class="copy-block__text json-text">{{contract.contract_details[selectedContract].source_code}}</div>
                        </div>
                    </div>
                </li>
                <li class="new-instruction-list__item">
                    <div class="new-instruction-list__item__text">
                        Enter constructor arguments ABI-encoded:
                        <div class="copy-block">
                            <button class="copy-block__button relative"
                                    ng-if="contract.contract_details[selectedContract].constructor_arguments"
                                    clipboard supported="supported"
                                    text="contract.contract_details[selectedContract].constructor_arguments"
                                    ng-class="{copied: contract.copied['arguments']}"
                                    on-copied="successCodeCopy(contract, 'arguments')"
                                    on-error="failCodeCopy(err)">&nbsp;
                                <i class="icon-content_copy"></i>
                            </button>
                            <div class="copy-block__text">{{contract.contract_details[selectedContract].constructor_arguments}}&nbsp;</div>
                        </div>
                    </div>
                </li>
                <li class="new-instruction-list__item">
                    <div class="new-instruction-list__item__text">
                        Others fields are not required. Press "Verify And Publish"
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="showedTab == 'info'">
    <div class="shadow-block after-tabs">
        <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding"
             ng-include="'/templates/common/contracts/preview-title.html'">
        </div>

        <!-- Token contract address -->
        <div class="shadow-block__content shadow-block__content_min-tb-padding" ng-if="details.eth_contract_token.address">
            <div class="form-control-label">Token address</div>
            <br class="show-ls"/>
            <span class="identicon-container">
                <img class="identicon-image" ng-src="{{details.eth_contract_token.address|blockies}}"/>
            </span>
            <div class="contract-wallet-information-wallet">
                <a ng-attr-href="{{getEtherscanUrl(contract)}}token/{{details.eth_contract_token.address|toCheckSum}}"
                   target="_blank"
                   ng-bind="details.eth_contract_token.address|toCheckSum"></a>
                <button class="instruction-for-copy-button relative"
                        clipboard supported="supported"
                        ng-class="{copied: contract.copied['token_address']}"
                        text="details.eth_contract_token.address|toCheckSum"
                        on-copied="successCodeCopy(contract, 'token_address')"
                        on-error="failCodeCopy(err)">
                    <i class="icon-content_copy"></i>
                </button>
            </div>
            <p class="normal-text">
                <small>
                    <span class="as-link dotted"
                          ng-click="goTo('code', 'eth_contract_token');">
                        <span>How to verify on etherscan?</span>
                    </span>
                </small>
            </p>
        </div>


        <!-- Token info -->
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <div class="contract-preview-base-font">
                        <span class="contract-preview-grey-font-color">Token name:</span><br/>
                        {{ contract.contract_details.token_name }}
                    </div>
                </div>
                <div class="clearfix show-ls"><br/></div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <div class="contract-preview-base-font">
                        <span class="contract-preview-grey-font-color">Token symbol:</span><br/>
                        {{ contract.contract_details.token_short_name }}
                    </div>
                </div>
                <div class="clearfix"><br/></div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <div class="contract-preview-base-font">
                        <span class="contract-preview-grey-font-color">Decimals:</span><br/>
                        {{ contract.contract_details.decimals }}
                    </div>
                </div>
                <div class="clearfix show-ls"><br/></div>
                <div class="grid-cell grid-cell-1-2 grid-cell-ls-1">
                    <div class="contract-preview-base-font">
                        <span class="contract-preview-grey-font-color">Type of Token:</span><br/>
                        {{ contract.contract_details.token_type }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Future minting -->
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <span class="form-control-label">
                <i class="icon-feature-minting form-control-label-icon"></i>
                Future Minting
            </span>
            <div class="contract-preview-base-font contract-preview-base-value">
                <div class="contract-preview-base-value-string">
                    <i ng-class="{'icon-check_circle': details.future_minting, 'icon-cancel': !details.future_minting}"></i>
                    <span ng-if="details.future_minting">YES</span>
                    <span ng-if="!details.future_minting">NO</span>
                </div>
            </div>
        </div>

        <!-- Token holder -->
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1">
                    <div class="form-control-label">
                        Token Owner
                    </div>
                    <br class="show-ls"/>
                    <span class="identicon-container">
                            <img class="identicon-image" ng-src="{{details.admin_address|blockies}}"/>
                        </span>
                    <div class="contract-wallet-information-wallet">
                        <a ng-attr-href="{{getEtherscanUrl(contract)}}address/{{details.admin_address}}"
                           target="_blank"
                           ng-bind="details.admin_address|toCheckSum"></a>

                        <button class="instruction-for-copy-button relative"
                                clipboard supported="supported"
                                ng-class="{copied: contract.copied['admin_address']}"
                                text="details.admin_address"
                                on-copied="successCodeCopy(contract, 'admin_address')"
                                on-error="failCodeCopy(err)">
                            <i class="icon-content_copy"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Distribution info -->
        <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding light-color"
             ng-if="details.token_holders.length">
            <div class="shadow-block__content__blue-title">
                <i class="shadow-block__content__blue-title__icon icon-distribution"></i>
                <div class="shadow-block__content__blue-title__name">
                    <span class="big-size">Token distribution</span>
                </div>
            </div>
        </div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding light-color"
             ng-class="{'no-border': !$index}"
             ng-repeat="holder in details.token_holders">
            <div class="form-control-label bold">Address</div>
            <br class="show-ls"/>
            <span class="identicon-container">
                <img class="identicon-image" ng-src="{{holder.address|blockies}}"/>
            </span>
            <div class="contract-wallet-information-wallet">
                <a ng-attr-href="{{getEtherscanUrl(contract)}}address/{{holder.address}}"
                   target="_blank"
                   ng-bind="holder.address|toCheckSum"></a>
                <button class="instruction-for-copy-button relative"
                        clipboard supported="supported"
                        ng-class="{copied: contract.copied['holder_address_' + $index]}"
                        text="holder.address"
                        on-copied="successCodeCopy(contract, 'holder_address_' + $index)"
                        on-error="failCodeCopy(err)">
                    <i class="icon-content_copy"></i>
                </button>
            </div><br/>
            <div class="grid-row">
                <div class="grid-cell grid-cell-2-5 grid-cell-ps-1-2 grid-cell-vs-1">
                    <div class="form-control-label bold">Name</div>
                    <div class="form-control-preview-value">{{holder.name || '-'}}</div>
                </div>
                <div class="clearfix show-vs"><br/></div>
                <div class="grid-cell grid-cell-2-5 grid-cell-ps-1-2 grid-cell-vs-1">
                    <div class="form-control-label bold">Token</div>
                    <div class="form-control-preview-value" ng-bind="holder.amount|separateNumber"></div>
                </div>
                <div class="clearfix show-ps"><br/></div>
                <div class="grid-cell grid-cell-1-5 grid-cell-ps-1">
                    <div class="form-control-label bold">Frozen till</div>
                    <div class="form-control-preview-value">
                        {{holder.freeze_date ? (holder.freeze_date * 1000 | date : 'yyyy-MM-dd') : '-'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow-block__content shadow-block__content_min-tb-padding">
            <div class="grid-row">
                <div class="grid-cell grid-cell-1">
                    <div class="form-control-label">Total supply: {{totalSupply.tokens|separateNumber}} {{details.token_short_name}}</div>
                    <div class="form-control-description one-line without-padding" ng-if="!details.future_minting">
                        <span class="form-control-description__text">Max possible emission of tokens, no more tokens can be minted.</span>
                    </div>
                </div>
            </div>

            <div class="grid-row" ng-if="chartData.length">
                <div class="grid-cell grid-cell-4-7 grid-cell-ps-1">
                    <div class="chart-container" style="height: 240px"
                         ng-chart
                         ng-chart-data="chartData"
                         ng-chart-options="chartOptions"></div>
                </div>
                <div class="grid-cell grid-cell-3-7 grid-cell-ps-1">
                    <div class="chart-legend">
                        <div class="chart-legend-item" ng-repeat="chartDataItem in chartData">
                            <span class="chart-legend-item_color" style="background-color: {{chartDataItem.color}}"></span>
                            <span class="chart-legend-item_name" ng-attr-title="{{chartDataItem.address}}">{{chartDataItem.name || chartDataItem.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shadow-block"
         ng-if="(contract.stateValue < 3) && (contract.cost.WISH != 0)"
         ng-include="'/templates/common/contracts/promocode-field.html'"></div>
    <div class="main-section-chapter-fieldset custom-fieldset"
         ng-include="'/templates/pages/contracts/preview/elements/buttons/' + getNetworkPath(contract.network) + '.html'"></div>
</div>

