<div class="shadow-block">

    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <p class="normal-text">
            <strong>TERMS:</strong><br/><br/>

            "Authio" - Author of "Audit Report" and "Creator Branded Report"<br/>
            "My Wish" - Requester of "Audit Report"<br/>
            "Creator" - A person or entity that has created an ERC20 Token using My Wish contracts and is requesting a
            "Creator Branded Report"<br/>
            "Audit Report" - Original document delivered by "Authio" to "My Wish"<br/>
            "Creator Branded Report" - A document that's contents are otherwise identical to
            "Audit Report" that includes trademarks and/or brand assets specified by "Creator".<br/><br/>

            <strong>CONDITIONS:</strong><br/><br/>

            The Audit Report reflects the understanding of security flaws and vulnerabilities as they are known to Authio,
            and as they relate to the reviewed contracts. The Audit Report makes no statements on the viability
            of a project or the safety of its code. The Audit Report does not represent investment advice and should
            not be interpreted as such for projects or companies associated with My Wish, Creator, or any other entity.<br/><br/>

            The Audit Report's contents represent an audit conducted by Authio at the request of My Wish that took place
            from October 5, 2018 to October 19, 2018. The Creator will receive a Creator Branded Report limited to include
            a company name, company logo, and company website URL as specified by the Creator.<br/><br/>

            Excluding trademarks not owned by Authio, Authio reserves all rights to the contents of all Creator Branded Reports.<br/><br/>

            Any representation of the Audit Report or the Creator Branded Report in contradiction of the above by the
            Creator are subject to public disavowal at the discretion of Authio.<br/><br/>

            Authio reserves the right to deny a request for a Creator Branded Report for any reason.<br/><br/>

            By submitting this form you are agreeing to the Terms and Conditions described above.

        </p>
    </div>
    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1-5">&nbsp;</div>
            <div class="grid-cell grid-cell-3-5">
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1-2">
                        <button class="btn btn-transparent width-100" ng-click="ngPopUp.params.iAgreeTerms(); closeCurrentPopup()">
                            <span>&nbsp;&nbsp;&nbsp;I AGREE&nbsp;&nbsp;&nbsp;</span>
                        </button>
                    </div>
                    <div class="grid-cell grid-cell-1-2">
                        <button class="btn btn-transparent btn-transparent-red width-100"
                                ng-click="ngPopUp.params.iDisAgreeTerms(); closeCurrentPopup()">
                            <span>&nbsp;&nbsp;&nbsp;I DISAGREE&nbsp;&nbsp;&nbsp;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-5">&nbsp;</div>
        </div>
    </div>
</div>
